<template>
    <!-- Page Content -->
    <div class="container">

    </div>
    <!-- /.container -->
</template>

<script>

export default {
  /**
  * The name of the page.
  */
  name: 'app.dashboard'
}
</script>
