﻿@layout WebBlazorApp.Pages.Buy.SideBar
@page "/buy/list/"


<h4>Buying proposal</h4>
<hr />

<div class="post-entry-2 d-flex">
    <div class="thumbnail" style="background-image: url('https://colorlib.com/preview/theme/meranda/images/img_v_1.jpg')"></div>
    <div class="contents">
        <h2><a href="blog-single.html">News Needs to Meet Its Audiences Where They Are</a></h2>
        <p class="mb-3">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Eligendi temporibus praesentium neque, voluptatum quam quibusdam.</p>
        <div class="post-meta">
            <span class="d-block"><a href="#">Dave Rogers</a> in <a href="#">News</a></span>
            <span class="date-read">Jun 14 <span class="mx-1">•</span> 3 min read <span class="icon-star2"></span></span>
        </div>
    </div>
</div>

@code {

}

