﻿@layout WebBlazorApp.Pages.Buy.SideBar
@page "/buy/new/"



@code {

    private EditContext _editContext; // edit context validation purposes
                                      // private ProfileModelView _profileModel = new ProfileModelView(); // Profile model
    IList<Employee> employees = new List<Employee>();

    protected override void OnInitialized()
    {
        employees = new List<Employee>() { new Employee { ID=1, Name="Nanacy", Checked=true},
                                                       new Employee { ID=2, Name="Andrew", Checked=true},
                                                       new Employee { ID=2, Name="Bill", Checked=false}};
        // _editContext = new EditContext(_profileModel); // we bind edit context to profile model
    }

    private void HandleFormSubmit()
    {
        // var isValid = _editContext.Validate();
    }

    public class Employee
    {
        public int ID { get; set; }
        public string Name { get; set; }
        public bool Checked { get; set; }
    }
}
