﻿<template>
  <ol class="breadcrumb">
    <li v-for="(breadcrumb, idx) in breadcrumbList"
          :key="idx"
          :class="!!breadcrumb.link ? '' : 'active'" class="breadcrumb-item">
      <a v-if="!!breadcrumb.link" :href="breadcrumb.link">{{ breadcrumb.name }}</a>
      <span v-else>{{ breadcrumb.name }}</span>
    </li>
  </ol>
</template>

<script>
export default {
  name: 'Breadcrumb',
  data () {
    return {
      breadcrumbList: []
    }
  },
  mounted () { this.updateList() },
  watch: { '$route' () { this.updateList() } },
  methods: {
    /* routeTo (pRouteTo) {
      if (this.breadcrumbList[pRouteTo].link) this.$router.push(this.breadcrumbList[pRouteTo].link)
    }, */
    updateList () { this.breadcrumbList = this.$route.meta.breadcrumb }
  }
}
</script>
