<template>
  <!-- Footer -->
  <footer class="mt-5 py-5 bg-dark">
    <div class="container">
      <p class="m-0 text-center text-white"><a href="/contact/">Copyright &copy; Your Website 2020</a></p>
    </div>
    <!-- /.container -->
  </footer>
</template>

<script>
/* ============
* Footer Layout
* ============
*
*
* Footer part.
*/

export default {
  /**
  * The name of the layout.
  */
  name: 'footer-layout',

  /**
  * The methods that the layout can use.
  */
  methods: {

  },
  components: {
    // Breadcrumbs
  }
}
</script>
