<template>
  <!-- Navigation -->
  <nav class="navbar navbar-expand-lg navbar-light bg-light fixed-top">
    <div class="container">
      <a class="navbar-brand" href="/">VonePlus</a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarResponsive">
        <ul class="navbar-nav mr-auto">
          <li :class="{ 'active': $route.name =='Home' }" class="nav-item">
            <a class="nav-link" href="/">
              Home
            </a>
          </li>
          <li :class="{ 'active': $route.name =='About' }" class="nav-item">
            <a class="nav-link" href="/about/">About</a>
          </li>
          <li :class="{ 'active': $route.name =='Concept' }" class="nav-item">
            <a class="nav-link" href="/concept/">Concept</a>
          </li>
          <li :class="{ 'active': $route.name =='Advantage' }" class="nav-item">
            <a class="nav-link" href="/advantage/">Advantage</a>
          </li>
          <li :class="{ 'active': $route.name =='Relationship' }" class="nav-item">
            <a class="nav-link" href="/relationship/">Relationship</a>
          </li>
          <li :class="{ 'active': $route.name =='Blog.Home' }" class="nav-item">
            <a class="nav-link" href="/blog/">Blogs</a>
          </li>
        </ul>
        <div class="form-inline my-2 my-lg-0">
          <a href="/auth/login/" class="btn btn-success my-2 my-sm-0 mr-2" type="submit">Login</a>
          <a href="/auth/register/" class="btn btn-outline-success my-2 my-sm-0" type="submit">Register</a>
        </div>
      </div>
    </div>
  </nav>
</template>

<script>
/* ============
* Menu Layout
* ============
*
* Used for the register and login pages.
*
* Layouts are used to store a lot of shared code.
* This way the app stays clean.
*/

// import Breadcrumbs from '@/components/Breadcrumbs'

export default {
  /**
  * The name of the layout.
  */
  name: 'menu-layout',

  data: function () {
    return {
      visible: false
    }
  },

  /**
  * The methods that the layout can use.
  */
  methods: {

  },
  computed: {
    auth: function () {
      const auth = this.$store.state.auth
      return auth
    }
  },
  components: {
    // Breadcrumbs
  }
}
</script>
