<template>
  <!-- Navigation -->
  <!--header class="header pos-fixed z-index-10 t-0 wd-100p">
    <div class="header-section shadow-base">
      <nav class="navbar navbar-expand-lg navbar-light bg-white pd-0">
        <div class="container">
          <div class="d-flex align-items-center">
            <a class="navbar-brand navbar-brand-font" href="/">
              vone +
            </a>
            <a href="changelog.html">
              <span class="badge badge-soft-primary ml-2">v1.0</span>
            </a>
          </div>
          <button class="navbar-toggler collapsed" type="button" data-toggle="collapse" data-target="#navbarsExample09" aria-controls="navbarsExample09" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
          <ul class="nav nav-classic nav-sm border-0 ml-5 mr-auto">
            <li class="nav-item">
              <a class="nav-link d-flex active align-items-center px-2 px-sm-3" href="/" Match="aMatch.All">
                Home
              </a>
            </li>
            <li class="nav-item">
              <a class="nav-link d-flex align-items-center px-2 px-sm-3" href="/about/">
                About
              </a>
            </li>
            <li class="nav-item">
              <a class="nav-link d-flex align-items-center px-2 px-sm-3" href="/concept/">
                Concept
              </a>
            </li>
            <li class="nav-item">
              <a class="nav-link d-flex align-items-center px-2 px-sm-3" href="/advantage/">
                Advantage
              </a>
            </li>
            <li class="nav-item">
              <a class="nav-link d-flex align-items-center px-2 px-sm-3" href="/relationship/">
                Relationship
              </a>
            </li>
            <li class="nav-item">
              <a class="nav-link d-flex align-items-center px-2 px-sm-3" href="/blogs/">
                Blogs
              </a>
            </li>
            <li class="nav-item">
              <a class="nav-link d-flex align-items-center px-2 px-sm-3" href="/privacy/">
                Privacy
              </a>
            </li>
          </ul>
          <div class="navbar-right">
            <a class="btn btn-outline-success mr-2" href="/auth/login/">Login</a>
            <a class="btn btn-success" href="/auth/register/">Register</a>
          </div>
        </div>
      </nav>
    </div>
  </header-->
  <header class="header fixed-top z-index-10">
    <div class="header-section shadow-base">
      <nav class="navbar navbar-expand-lg navbar-light bg-white pd-0">
        <div class="container">
          <a class="navbar-brand navbar-brand-font" href="/">
            vone +
          </a>
          <a href="changelog.html">
            <span class="badge badge-soft-primary ml-2">v1.0</span>
          </a>
          <button @click="toggleMenu" class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
          <div :class="{ show : menuCollapsed}" class="collapse navbar-collapse ml-lg-5 ml-sm-0" id="navbarResponsive">
            <ul class="nav nav-classic nav-sm border-0 ml-lg-5 ml-sm-0 mr-auto">
              <li :class="{ 'active': $route.name =='Home' }" class="nav-item">
                <a :class="{ 'active': $route.name =='Home' }" class="nav-link d-flex align-items-center px-2 px-sm-3" href="/">
                  Home
                </a>
              </li>
              <li :class="{ 'active': $route.name =='About' }" class="nav-item">
                <a :class="{ 'active': $route.name =='About' }" class="nav-link d-flex align-items-center px-2 px-sm-3" href="/about/">About</a>
              </li>
              <li :class="{ 'active': $route.name =='Concept' }" class="nav-item">
                <a :class="{ 'active': $route.name =='Concept' }" class="nav-link d-flex align-items-center px-2 px-sm-3" href="/concept/">Concept</a>
              </li>
              <li :class="{ 'active': $route.name =='Advantage' }" class="nav-item">
                <a :class="{ 'active': $route.name =='Advantage' }" class="nav-link d-flex align-items-center px-2 px-sm-3" href="/advantage/">Advantage</a>
              </li>
              <li :class="{ 'active': $route.name =='Relationship' }" class="nav-item">
                <a :class="{ 'active': $route.name =='Relationship' }" class="nav-link d-flex align-items-center px-2 px-sm-3" href="/relationship/">Relationship</a>
              </li>
              <li :class="{ 'active': $route.name =='Blog.Home' }" class="nav-item">
                <a :class="{ 'active': $route.name =='Blog.Home' }" class="nav-link d-flex align-items-center px-2 px-sm-3" href="/blog/">Blogs</a>
              </li>
            </ul>
            <div class="form-inline my-2 my-lg-0">
              <a href="/auth/login/" class="btn btn-success my-2 my-sm-0 mr-2" type="submit">Login</a>
              <a href="/auth/register/" class="btn btn-outline-success my-2 my-sm-0" type="submit">Register</a>
            </div>
          </div>
        </div>
      </nav>
      </div>
  </header>
</template>

<script>
/* ============
* Menu Layout
* ============
*
* Used for the register and login pages.
*
* Layouts are used to store a lot of shared code.
* This way the app stays clean.
*/

// import Breadcrumbs from '@/components/Breadcrumbs'

export default {
  /**
  * The name of the layout.
  */
  name: 'menu-layout',

  /**
  * The data that can be used by the page.
  *
  * @returns {Object} The view-model data.
  */
  data () {
    return {
      menuCollapsed: false
    }
  },

  /**
  * The methods that the layout can use.
  */
  methods: {
    /**
     * Will toggle the menu.
     */
    toggleMenu () {
      this.menuCollapsed = !this.menuCollapsed
    }
  },
  computed: {
    auth: function () {
      const auth = this.$store.state.auth
      return auth
    }
  },
  components: {
    // Breadcrumbs
  }
}
</script>
