﻿<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta http-equiv="Content-Security-Policy" content="default-src 'self'; script-src-elem 'unsafe-inline';">
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <link rel="icon" href="/favicon.ico">
    <title>@ViewData["Title"]</title>
    <% for (index in htmlWebpackPlugin.files.css) { %>
    <link rel="stylesheet" href="~<%= htmlWebpackPlugin.files.css[index] %>" />
    <% } %>

    <!--link rel="stylesheet" href="~/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/theme.min.css" />
    <link rel="stylesheet" href="https://htmlstream.com/front-dashboard/assets/vendor/icon-set/style.css" />
    <link rel="stylesheet" href="~/css/floating-labels.css" />
    <link rel="stylesheet" href="~/css/main.css" />
    <link rel="stylesheet" href="~/css/all.css"-->
</head>
<body>
    <noscript>
        <strong>We're sorry but doesn't work properly without JavaScript enabled. Please enable it to continue.</strong>
    </noscript>
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark fixed-top">
        <div class="container">
            <a class="navbar-brand" href="https://vone.plus/">VonePlus</a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarResponsive">
                <ul class="navbar-nav mr-auto">
                    <li class="nav-item">
                        &nbsp;
                    </li>
                </ul>
                <!--div class="form-inline my-2 my-lg-0">
                    <a href="/login/" class="btn btn-success my-2 my-sm-0 mr-2" type="submit">Login</a>
                    <a href="/register/" class="btn btn-outline-success my-2 my-sm-0" type="submit">Register</a>
                </div-->
            </div>
        </div>
    </nav>
    <div class="container h-100">
        <div class="d-flex justify-content-center h-100">
            <div class="password-container mt-5">
                <input class="password_input" type="password" name="" placeholder="Your secret password">
                <a href="#" class="preview_icon">
                    Change p<i class="fas"></i>
                </a>
            </div>
        </div>
    </div>
    @RenderBody()

    @RenderSection("Scripts", required: false)
    <% for (index in htmlWebpackPlugin.files.js) { %>
    <script src="~<%= htmlWebpackPlugin.files.js[index] %>"></script>
    <% } %>
</body>
</html>
