<template>
  <!-- .container -->
  <side-bar>
      <!-- Card -->
      <h4>Buying proposal</h4>
      <hr />
      <form>
        <div class="row form-group">
          <label class="col-sm-3 col-form-label input-label">Avatar</label>

          <div class="col-sm-9">
            <div class="d-flex align-items-center">
              <!-- Avatar -->
              <label class="avatar avatar-xl avatar-circle avatar-uploader mr-5" for="avatarUploader">
                <img id="avatarImg" class="avatar-img" src="https://htmlstream.com/front-dashboard/assets/img/160x160/img1.jpg" alt="Image Description">

                <input type="file" class="js-file-attach avatar-uploader-input" id="avatarUploader">

                <span class="avatar-uploader-trigger">
                  <i class="tio-edit avatar-uploader-icon shadow-soft"></i>
                </span>
              </label>
              <!-- End Avatar -->

              <button type="button" class="js-file-attach-reset-img btn btn-white">Delete</button>
            </div>
          </div>
        </div>
        <!-- End Form Group -->
        <!-- Form Group -->
        <div class="row form-group">
          <label for="firstNameLabel" class="col-sm-3 col-form-label input-label">Full name <i class="far fa-question-circle text-body ml-1" data-toggle="tooltip" data-placement="top" title="" data-original-title="Displayed on public forums, such as Front."></i></label>

          <div class="col-sm-9">
            <div class="input-group">
              <input type="text" class="form-control" name="firstName" id="firstNameLabel" placeholder="Clarice" aria-label="Clarice" value="Natalie">
              <input type="text" class="form-control" name="lastName" id="lastNameLabel" placeholder="Boone" aria-label="Boone" value="Curtis">
            </div>
          </div>
        </div>
        <!-- End Form Group -->
        <!-- Form Group -->
        <div class="row form-group">
          <label for="emailLabel" class="col-sm-3 col-form-label input-label">Email</label>

          <div class="col-sm-9">
            <input type="email" class="form-control" name="email" id="emailLabel" placeholder="clarice@example.com" aria-label="clarice@example.com" value="natalie@example.com">
          </div>
        </div>
        <!-- End Form Group -->
        <!-- Form Group -->
        <div class="js-add-field row form-group" data-hs-add-field-options="{
                        &quot;template&quot;: &quot;#addPhoneFieldTemplate&quot;,
                        &quot;container&quot;: &quot;#addPhoneFieldContainer&quot;,
                        &quot;defaultCreated&quot;: 0
                      }">
          <label for="phoneLabel" class="col-sm-3 col-form-label input-label">Phone <span class="input-label-secondary">(Optional)</span></label>

          <div class="col-sm-9">
            <div class="input-group align-items-center">
              <input type="text" class="js-masked-input form-control" name="phone" id="phoneLabel" placeholder="+x(xxx)xxx-xx-xx" aria-label="+x(xxx)xxx-xx-xx" value="+1(605)5618929" data-hs-mask-options="{
                               &quot;template&quot;: &quot;+0(000)000-00-00&quot;
                             }" maxlength="16">

              <div class="input-group-append">
                <!-- Select -->
                <select class="js-custom-select custom-select dropdown-toggle select2-hidden-accessible" name="phoneSelect" data-hs-select2-options="{
                                &quot;minimumResultsForSearch&quot;: &quot;Infinity&quot;,
                                &quot;customClass&quot;: &quot;custom-select&quot;,
                                &quot;dropdownAutoWidth&quot;: true,
                                &quot;width&quot;: true
                              }" data-select2-id="1" tabindex="-1" aria-hidden="true">
                  <option value="Mobile" selected="" data-select2-id="3">Mobile</option>
                  <option value="Home" data-select2-id="4">Home</option>
                  <option value="Work" data-select2-id="5">Work</option>
                  <option value="Fax" data-select2-id="6">Fax</option>
                  <option value="Direct" data-select2-id="7">Direct</option>
                </select><span class="select2 select2-container select2-container--default" dir="ltr" data-select2-id="2"><span class="selection"><span class="select2-selection custom-select" role="combobox" aria-haspopup="true" aria-expanded="false" tabindex="0" aria-disabled="false" aria-labelledby="select2-phoneSelect-yx-container"><span class="select2-selection__rendered" id="select2-phoneSelect-yx-container" role="textbox" aria-readonly="true" title="Mobile"><span>Mobile</span></span><span class="select2-selection__arrow" role="presentation"><b role="presentation"></b></span></span></span><span class="dropdown-wrapper" aria-hidden="true"></span></span>
                <!-- End Select -->
              </div>
            </div>

            <!-- Container For Input Field -->
            <div id="addPhoneFieldContainer"></div>

            <a href="javascript:;" class="js-create-field form-link btn btn-xs btn-no-focus btn-ghost-primary">
              <i class="fas fa-plus mr-1"></i>
              Add phone
            </a>
          </div>
        </div>
        <!-- End Form Group -->
        <!-- Add Phone Input Field -->
        <div id="addPhoneFieldTemplate" style="display: none;">
          <div class="input-group input-group-add-field">
            <input type="text" class="js-masked-input form-control" data-name="additionlPhone" placeholder="+x(xxx)xxx-xx-xx" aria-label="+x(xxx)xxx-xx-xx" data-hs-mask-options="{
                             &quot;template&quot;: &quot;+0(000)000-00-00&quot;
                           }" maxlength="16">

            <div class="input-group-append">
              <!-- Select -->
              <select class="js-custom-select-dynamic btn btn-white dropdown-toggle" data-name="additionlPhoneSelect" data-hs-select2-options="{
                              &quot;minimumResultsForSearch&quot;: &quot;Infinity&quot;,
                              &quot;customClass&quot;: &quot;custom-select&quot;,
                              &quot;dropdownAutoWidth&quot;: true,
                              &quot;width&quot;: true
                            }">
                <option value="Mobile" selected="">Mobile</option>
                <option value="Home">Home</option>
                <option value="Work">Work</option>
                <option value="Fax">Fax</option>
                <option value="Direct">Direct</option>
              </select>
              <!-- End Select -->
            </div>

            <a class="js-delete-field input-group-add-field-delete" href="javascript:;">
              <i class="fas fa-times"></i>
            </a>
          </div>
        </div>
        <!-- End Add Phone Input Field -->
        <!-- Form Group -->
        <div class="row form-group">
          <label class="col-sm-3 col-form-label input-label">Gender</label>

          <div class="col-sm-9">
            <div class="input-group input-group-md-down-break">
              <!-- Custom Radio -->
              <div class="form-control">
                <div class="custom-control custom-radio">
                  <input type="radio" class="custom-control-input" name="genderTypeRadio" id="genderTypeRadio1">
                  <label class="custom-control-label" for="genderTypeRadio1">Male</label>
                </div>
              </div>
              <!-- End Custom Radio -->
              <!-- Custom Radio -->
              <div class="form-control">
                <div class="custom-control custom-radio">
                  <input type="radio" class="custom-control-input" name="genderTypeRadio" id="genderTypeRadio2" checked="">
                  <label class="custom-control-label" for="genderTypeRadio2">Female</label>
                </div>
              </div>
              <!-- End Custom Radio -->
              <!-- Custom Radio -->
              <div class="form-control">
                <div class="custom-control custom-radio">
                  <input type="radio" class="custom-control-input" name="genderTypeRadio" id="genderTypeRadio3">
                  <label class="custom-control-label" for="genderTypeRadio3">Other</label>
                </div>
              </div>
              <!-- End Custom Radio -->
            </div>
          </div>
        </div>
        <!-- End Form Group -->
        <!-- Form Group -->
        <div class="row form-group">
          <label class="col-sm-3 col-form-label input-label">BIO</label>

          <div class="col-sm-9">
            <!-- Quill -->
            <div class="quill-custom">
              <div class="ql-toolbar ql-snow"><span class="ql-formats"><button type="button" class="ql-bold"><svg viewBox="0 0 18 18"> <path class="ql-stroke" d="M5,4H9.5A2.5,2.5,0,0,1,12,6.5v0A2.5,2.5,0,0,1,9.5,9H5A0,0,0,0,1,5,9V4A0,0,0,0,1,5,4Z"></path> <path class="ql-stroke" d="M5,9h5.5A2.5,2.5,0,0,1,13,11.5v0A2.5,2.5,0,0,1,10.5,14H5a0,0,0,0,1,0,0V9A0,0,0,0,1,5,9Z"></path> </svg></button><button type="button" class="ql-italic"><svg viewBox="0 0 18 18"> <line class="ql-stroke" x1="7" x2="13" y1="4" y2="4"></line> <line class="ql-stroke" x1="5" x2="11" y1="14" y2="14"></line> <line class="ql-stroke" x1="8" x2="10" y1="14" y2="4"></line> </svg></button><button type="button" class="ql-underline"><svg viewBox="0 0 18 18"> <path class="ql-stroke" d="M5,3V9a4.012,4.012,0,0,0,4,4H9a4.012,4.012,0,0,0,4-4V3"></path> <rect class="ql-fill" height="1" rx="0.5" ry="0.5" width="12" x="3" y="15"></rect> </svg></button><button type="button" class="ql-strike"><svg viewBox="0 0 18 18"> <line class="ql-stroke ql-thin" x1="15.5" x2="2.5" y1="8.5" y2="9.5"></line> <path class="ql-fill" d="M9.007,8C6.542,7.791,6,7.519,6,6.5,6,5.792,7.283,5,9,5c1.571,0,2.765.679,2.969,1.309a1,1,0,0,0,1.9-.617C13.356,4.106,11.354,3,9,3,6.2,3,4,4.538,4,6.5a3.2,3.2,0,0,0,.5,1.843Z"></path> <path class="ql-fill" d="M8.984,10C11.457,10.208,12,10.479,12,11.5c0,0.708-1.283,1.5-3,1.5-1.571,0-2.765-.679-2.969-1.309a1,1,0,1,0-1.9.617C4.644,13.894,6.646,15,9,15c2.8,0,5-1.538,5-3.5a3.2,3.2,0,0,0-.5-1.843Z"></path> </svg></button><button type="button" class="ql-link"><svg viewBox="0 0 18 18"> <line class="ql-stroke" x1="7" x2="11" y1="7" y2="11"></line> <path class="ql-even ql-stroke" d="M8.9,4.577a3.476,3.476,0,0,1,.36,4.679A3.476,3.476,0,0,1,4.577,8.9C3.185,7.5,2.035,6.4,4.217,4.217S7.5,3.185,8.9,4.577Z"></path> <path class="ql-even ql-stroke" d="M13.423,9.1a3.476,3.476,0,0,0-4.679-.36,3.476,3.476,0,0,0,.36,4.679c1.392,1.392,2.5,2.542,4.679.36S14.815,10.5,13.423,9.1Z"></path> </svg></button><button type="button" class="ql-image"><svg viewBox="0 0 18 18"> <rect class="ql-stroke" height="10" width="12" x="3" y="4"></rect> <circle class="ql-fill" cx="6" cy="7" r="1"></circle> <polyline class="ql-even ql-fill" points="5 12 5 11 7 9 8 10 11 7 13 9 13 12 5 12"></polyline> </svg></button><button type="button" class="ql-blockquote"><svg viewBox="0 0 18 18"> <rect class="ql-fill ql-stroke" height="3" width="3" x="4" y="5"></rect> <rect class="ql-fill ql-stroke" height="3" width="3" x="11" y="5"></rect> <path class="ql-even ql-fill ql-stroke" d="M7,8c0,4.031-3,5-3,5"></path> <path class="ql-even ql-fill ql-stroke" d="M14,8c0,4.031-3,5-3,5"></path> </svg></button><button type="button" class="ql-code"><svg viewBox="0 0 18 18"> <polyline class="ql-even ql-stroke" points="5 7 3 9 5 11"></polyline> <polyline class="ql-even ql-stroke" points="13 7 15 9 13 11"></polyline> <line class="ql-stroke" x1="10" x2="8" y1="5" y2="13"></line> </svg></button><button type="button" class="ql-list" value="bullet"><svg viewBox="0 0 18 18"> <line class="ql-stroke" x1="6" x2="15" y1="4" y2="4"></line> <line class="ql-stroke" x1="6" x2="15" y1="9" y2="9"></line> <line class="ql-stroke" x1="6" x2="15" y1="14" y2="14"></line> <line class="ql-stroke" x1="3" x2="3" y1="4" y2="4"></line> <line class="ql-stroke" x1="3" x2="3" y1="9" y2="9"></line> <line class="ql-stroke" x1="3" x2="3" y1="14" y2="14"></line> </svg></button></span></div><div class="js-quill ql-container ql-snow" style="min-height: 15rem;" data-hs-quill-options="{
                           &quot;placeholder&quot;: &quot;Type your message...&quot;,
                            &quot;modules&quot;: {
                              &quot;toolbar&quot;: [
                                [&quot;bold&quot;, &quot;italic&quot;, &quot;underline&quot;, &quot;strike&quot;, &quot;link&quot;, &quot;image&quot;, &quot;blockquote&quot;, &quot;code&quot;, {&quot;list&quot;: &quot;bullet&quot;}]
                              ]
                            }
                           }"><div class="ql-editor" data-gramm="false" contenteditable="true" data-placeholder="Type your message..."><p>Creative mind at Htmlstream</p></div><div class="ql-clipboard" contenteditable="true" tabindex="-1"></div><div class="ql-tooltip ql-hidden"><a class="ql-preview" rel="noopener noreferrer" target="_blank" href="about:blank"></a><input type="text" data-formula="e=mc^2" data-link="https://quilljs.com" data-video="Embed URL"><a class="ql-action"></a><a class="ql-remove"></a></div></div>
            </div>
            <!-- End Quill -->
          </div>
        </div>
        <!-- End Form Group -->
        <!-- Form Group -->
        <div class="row align-items-center">
          <label for="disableAdCheckbox" class="col-sm-3 col-form-label input-label">Disable ads <span class="badge badge-primary text-uppercase ml-1">PRO</span></label>

          <div class="col-sm-9">
            <!-- Custom Checkbox -->
            <div class="custom-control custom-checkbox">
              <input type="checkbox" class="custom-control-input" id="disableAdCheckbox">
              <label class="custom-control-label" for="disableAdCheckbox">With your Pro account, you can disable ads across the site.</label>
            </div>
            <!-- End Custom Checkbox -->
          </div>
        </div>
        <div class="card-footer d-flex justify-content-end">
          <a class="btn btn-white" href="javascript:;">Cancel</a>
          <span class="mx-2"></span>
          <a class="btn btn-primary" href="javascript:;">Save Changes</a>
        </div>
        <!-- End Form Group -->
      </form>
      <!-- End Card -->
      <!-- Card -->
      <!-- End Card -->
      <!-- Card -->
      <div class="card mb-3 mb-lg-5">
        <div class="card-header">
          <h5 class="card-title">Privacy</h5>
        </div>

        <!-- Body -->
        <div class="card-body">
          <form data-select2-id="266">
            <!-- Form Group -->
            <div class="row form-group">
              <div class="col-sm-3">
                <span class="d-block font-size-1 mb-2">Who can see your profile photo? <i class="far fa-question-circle" data-toggle="tooltip" data-placement="top" title="" data-original-title="Your visibility setting only applies to your profile photo. Your header image is always visible to anyone."></i></span>
              </div>

              <div class="col-sm-9">
                <!-- Select -->
                <div class="select2-custom" data-select2-id="265">
                  <select class="js-custom-select select2-hidden-accessible" data-hs-select2-options="{
                                &quot;minimumResultsForSearch&quot;: &quot;Infinity&quot;,
                                &quot;customClass&quot;: &quot;custom-select&quot;
                              }" data-select2-id="260" tabindex="-1" aria-hidden="true">
                    <option value="privacy1" data-option-template="<span class=&quot;media&quot;><i class=&quot;fas fa-globe-americas text-body mt-1 mr-2&quot;></i><span class=&quot;media-body&quot;><span class=&quot;d-block&quot;>Anyone</span><small class=&quot;select2-custom-hide&quot;>Visible to anyone who can view your content. Accessible by installed apps.</small></span></span>" data-select2-id="262">Anyone</option>
                    <option value="privacy2" data-option-template="<span class=&quot;media&quot;><i class=&quot;fas fa-user-lock text-body mt-1 mr-2&quot;></i><span class=&quot;media-body&quot;><span class=&quot;d-block&quot;>Only you</span><small class=&quot;select2-custom-hide&quot;>Only visible to you.</small></span></span>" data-select2-id="263">Only you</option>
                  </select><span class="select2 select2-container select2-container--default select2-container--below" dir="ltr" data-select2-id="261" style="width: 100%;"><span class="selection"><span class="select2-selection custom-select" role="combobox" aria-haspopup="true" aria-expanded="false" tabindex="0" aria-disabled="false" aria-labelledby="select2-0noz-container"><span class="select2-selection__rendered" id="select2-0noz-container" role="textbox" aria-readonly="true" title="Only you"><span class="media"><i class="fas fa-user-lock text-body mt-1 mr-2"></i><span class="media-body"><span class="d-block">Only you</span><small class="select2-custom-hide">Only visible to you.</small></span></span></span><span class="select2-selection__arrow" role="presentation"><b role="presentation"></b></span></span></span><span class="dropdown-wrapper" aria-hidden="true"></span></span>
                </div>
                <!-- End Select -->
              </div>
            </div>
            <!-- End Form Group -->
          </form>
        </div>
        <!-- End Body -->
      </div>
      <!-- End Card -->
      <!-- Card -->
      <div class="card">
        <div class="card-header">
          <h5 class="card-title">Delete your account</h5>
        </div>

        <!-- Body -->
        <div class="card-body">
          <p class="card-text">When you delete your account, you lose access to Front account services, and we permanently delete your personal data. You can cancel the deletion for 14 days.</p>

          <div class="form-group">
            <!-- Custom Checkbox -->
            <div class="custom-control custom-checkbox">
              <input type="checkbox" class="custom-control-input" id="deleteAccountCheckbox">
              <label class="custom-control-label" for="deleteAccountCheckbox">Confirm that I want to delete my account.</label>
            </div>
            <!-- End Custom Checkbox -->
          </div>

          <div class="d-flex justify-content-end">
            <button type="submit" class="btn btn-danger transition-3d-hover">Delete</button>
          </div>
        </div>
        <!-- End Body -->
      </div>
      <!-- End Card -->
  </side-bar>
  <!-- /.container -->
</template>

<script>
// @ is an alias to /src
import SideBar from '@/views/Account/Setting/_Sidebar.vue'

export default {
  /**
  * The name of the page.
  */
  name: 'account.setting.information',

  /**
  * The components that the page can use.
  */
  components: {
    SideBar
  }
}
</script>
