<template>
  <!-- .container -->
  <side-bar>
    <div class="col-lg-9 mb-4">
      <div class="container mt-4">
        <!-- Account page navigation-->
        <nav class="nav nav-borders">
          <a class="nav-link ml-0" href="account-profile.html">Profile</a>
          <a class="nav-link" href="account-billing.html">Billing</a>
          <a class="nav-link" href="account-security.html">Security</a>
          <a class="nav-link active" href="account-notifications.html">Notifications</a>
        </nav>
        <hr class="mt-0 mb-4">
        <!-- Email notifications preferences card-->
        <div class="card card-header-actions mb-4">
          <div class="card-header">
            Email Notifications
            <div class="custom-control custom-switch mt-n2">
              <input class="custom-control-input" id="emailToggleSwitch" type="checkbox" checked="">
              <label class="custom-control-label" for="emailToggleSwitch"></label>
            </div>
          </div>
          <div class="card-body">
            <form>
              <!-- Form Group (default email)-->
              <div class="form-group">
                <label class="small mb-1" for="inputNotificationEmail">Default notification email</label>
                <input class="form-control" id="inputNotificationEmail" type="email" value="name@example.com" disabled="">
              </div>
              <!-- Form Group (email updates checkboxes)-->
              <div class="form-group mb-0">
                <label class="small mb-1">Choose which types of email updates you receive</label>
                <div class="custom-control custom-checkbox">
                  <input class="custom-control-input" id="checkAccountChanges" type="checkbox" checked="">
                  <label class="custom-control-label" for="checkAccountChanges">Changes made to your account</label>
                </div>
                <div class="custom-control custom-checkbox">
                  <input class="custom-control-input" id="checkAccountGroups" type="checkbox" checked="">
                  <label class="custom-control-label" for="checkAccountGroups">Changes are made to groups you're part of</label>
                </div>
                <div class="custom-control custom-checkbox">
                  <input class="custom-control-input" id="checkProductUpdates" type="checkbox" checked="">
                  <label class="custom-control-label" for="checkProductUpdates">Product updates for products you've purchased or starred</label>
                </div>
                <div class="custom-control custom-checkbox">
                  <input class="custom-control-input" id="checkProductNew" type="checkbox" checked="">
                  <label class="custom-control-label" for="checkProductNew">Information on new products and services</label>
                </div>
                <div class="custom-control custom-checkbox">
                  <input class="custom-control-input" id="checkPromotional" type="checkbox">
                  <label class="custom-control-label" for="checkPromotional">Marketing and promotional offers</label>
                </div>
                <div class="custom-control custom-checkbox">
                  <input class="custom-control-input" id="checkSecurity" type="checkbox" checked="" disabled="">
                  <label class="custom-control-label" for="checkSecurity">Security alerts</label>
                </div>
              </div>
            </form>
          </div>
        </div>
        <!-- SMS push notifications card-->
        <div class="card card-header-actions mb-4">
          <div class="card-header">
            Push Notifications
            <div class="custom-control custom-switch mt-n2">
              <input class="custom-control-input" id="smsToggleSwitch" type="checkbox" checked="">
              <label class="custom-control-label" for="smsToggleSwitch"></label>
            </div>
          </div>
          <div class="card-body">
            <form>
              <!-- Form Group (default SMS number)-->
              <div class="form-group">
                <label class="small mb-1" for="inputNotificationSms">Default SMS number</label>
                <input class="form-control" id="inputNotificationSms" type="tel" value="123-456-7890" disabled="">
              </div>
              <!-- Form Group (SMS updates checkboxes)-->
              <div class="form-group mb-0">
                <label class="small mb-1">Choose which types of push notifications you receive</label>
                <div class="custom-control custom-checkbox">
                  <input class="custom-control-input" id="checkSmsComment" type="checkbox" checked="">
                  <label class="custom-control-label" for="checkSmsComment">Someone comments on your post</label>
                </div>
                <div class="custom-control custom-checkbox">
                  <input class="custom-control-input" id="checkSmsShare" type="checkbox">
                  <label class="custom-control-label" for="checkSmsShare">Someone shares your post</label>
                </div>
                <div class="custom-control custom-checkbox">
                  <input class="custom-control-input" id="checkSmsFollow" type="checkbox" checked="">
                  <label class="custom-control-label" for="checkSmsFollow">A user follows your account</label>
                </div>
                <div class="custom-control custom-checkbox">
                  <input class="custom-control-input" id="checkSmsGroup" type="checkbox">
                  <label class="custom-control-label" for="checkSmsGroup">New posts are made in groups you're part of</label>
                </div>
                <div class="custom-control custom-checkbox">
                  <input class="custom-control-input" id="checkSmsPrivateMessage" type="checkbox" checked="">
                  <label class="custom-control-label" for="checkSmsPrivateMessage">You receive a private message</label>
                </div>
              </div>
            </form>
          </div>
        </div>
        <div class="card">
          <div class="card-header">Notification Preferences</div>
          <div class="card-body">
            <form>
              <!-- Form Group (notification preference checkboxes)-->
              <div class="form-group">
                <div class="custom-control custom-checkbox">
                  <input class="custom-control-input" id="checkAutoGroup" type="checkbox" checked="">
                  <label class="custom-control-label" for="checkAutoGroup">Automatically subscribe to group notifications</label>
                </div>
                <div class="custom-control custom-checkbox">
                  <input class="custom-control-input" id="checkAutoProduct" type="checkbox">
                  <label class="custom-control-label" for="checkAutoProduct">Automatically subscribe to new product notifications</label>
                </div>
              </div>
              <!-- Submit button-->
              <button class="btn btn-danger-soft text-danger">Unsubscribe from all notifications</button>
            </form>
          </div>
        </div>
      </div>
    </div>

    <div class="col-lg-9">
      <!-- Card -->
      <div class="card mb-3 mb-lg-5">
        <!-- Header -->
        <div class="card-header">
          <h5 class="card-header-title">My network</h5>

          <a id="toggleAll1" class="js-toggle-state link-underline" href="javascript:;" data-hs-toggle-state-options="{
                   &quot;targetSelector&quot;: &quot;#customSwitch1, #customSwitch2, #customSwitch3, #customSwitch4&quot;
                 }">
            <span class="link-underline-toggle-default">Toggle all</span>
            <span class="link-underline-toggle-toggled">Untoggle all</span>
          </a>
        </div>
        <!-- End Header -->
        <!-- Alert -->
        <div class="alert alert-soft-danger text-center rounded-0 mb-0" role="alert">
          We need permission from your browser to show notifications. <a class="alert-link" href="#">Request permission</a>
        </div>
        <!-- End Alert -->

        <div class="card-body">
          <div class="mb-3">
            <small class="card-subtitle">Send me:</small>
          </div>

          <!-- Checkbox Switch -->
          <label class="toggle-switch d-flex" for="customSwitch1">
            <input type="checkbox" class="toggle-switch-input" id="customSwitch1">
            <span class="toggle-switch-label">
              <span class="toggle-switch-indicator"></span>
            </span>
            <span class="toggle-switch-content">
              <span class="d-block">New for you</span>
              <small class="d-block text-muted">A weekly email featuring shots from designers you follow</small>
            </span>
          </label>
          <!-- End Checkbox Switch -->

          <hr class="my-3">

          <!-- Checkbox Switch -->
          <label class="toggle-switch d-flex" for="customSwitch2">
            <input type="checkbox" class="toggle-switch-input" id="customSwitch2" checked="">
            <span class="toggle-switch-label">
              <span class="toggle-switch-indicator"></span>
            </span>
            <span class="toggle-switch-content">
              <span class="d-block">Account activity <span class="badge badge-success ml-1">New</span></span>
              <small class="d-block text-muted">Get important notifications about you or activity you've missed</small>
            </span>
          </label>
          <!-- End Checkbox Switch -->

          <hr class="my-3">

          <!-- Checkbox Switch -->
          <label class="toggle-switch d-flex" for="customSwitch3">
            <input type="checkbox" class="toggle-switch-input" id="customSwitch3" checked="">
            <span class="toggle-switch-label">
              <span class="toggle-switch-indicator"></span>
            </span>
            <span class="toggle-switch-content">
              <span class="d-block">Meetups near you <span class="badge badge-success ml-1">New</span></span>
              <small class="d-block text-muted">Get an email when a Dribbble Meetup is posted close to my location</small>
            </span>
          </label>
          <!-- End Checkbox Switch -->

          <hr class="my-3">

          <!-- Checkbox Switch -->
          <label class="toggle-switch d-flex" for="customSwitch4">
            <input type="checkbox" class="toggle-switch-input" id="customSwitch4">
            <span class="toggle-switch-label">
              <span class="toggle-switch-indicator"></span>
            </span>
            <span class="toggle-switch-content">
              <span class="d-block">Opportunities</span>
              <small class="d-block text-muted">Get a daily email when new design jobs are posted in your area</small>
            </span>
          </label>
          <!-- End Checkbox Switch -->
        </div>
      </div>
      <!-- End Card -->
      <!-- Card -->
      <div class="card mb-3 mb-lg-5">
        <!-- Header -->
        <div class="card-header">
          <h5 class="card-header-title">Front emails</h5>

          <a id="toggleAll3" class="js-toggle-state link-underline" href="javascript:;" data-hs-toggle-state-options="{
                   &quot;targetSelector&quot;: &quot;#customSwitch5, #customSwitch6, #customSwitch7, #customSwitch8&quot;
                 }">
            <span class="link-underline-toggle-default">Toggle all</span>
            <span class="link-underline-toggle-toggled">Untoggle all</span>
          </a>
        </div>
        <!-- End Header -->

        <div class="card-body">
          <div class="mb-3">
            <small class="card-subtitle">Subscribe me to:</small>
          </div>

          <!-- Checkbox Switch -->
          <label class="toggle-switch d-flex" for="customSwitch5">
            <input type="checkbox" class="toggle-switch-input" id="customSwitch5" checked="">
            <span class="toggle-switch-label">
              <span class="toggle-switch-indicator"></span>
            </span>
            <span class="toggle-switch-content">
              <span class="d-block">Company news</span>
              <small class="d-block text-muted">Get Front news, announcements, and product updates</small>
            </span>
          </label>
          <!-- End Checkbox Switch -->

          <hr class="my-3">

          <!-- Checkbox Switch -->
          <label class="toggle-switch d-flex" for="customSwitch6">
            <input type="checkbox" class="toggle-switch-input" id="customSwitch6">
            <span class="toggle-switch-label">
              <span class="toggle-switch-indicator"></span>
            </span>
            <span class="toggle-switch-content">
              <span class="d-block">Replay <span class="badge badge-success ml-1">New</span></span>
              <small class="d-block text-muted">A weekly email featuring popular shots</small>
            </span>
          </label>
          <!-- End Checkbox Switch -->

          <hr class="my-3">

          <!-- Checkbox Switch -->
          <label class="toggle-switch d-flex" for="customSwitch7">
            <input type="checkbox" class="toggle-switch-input" id="customSwitch7">
            <span class="toggle-switch-label">
              <span class="toggle-switch-indicator"></span>
            </span>
            <span class="toggle-switch-content">
              <span class="d-block">Courtside <span class="badge badge-success ml-1">New</span></span>
              <small class="d-block text-muted">A weekly email featuring the latest stories from our blog</small>
            </span>
          </label>
          <!-- End Checkbox Switch -->

          <hr class="my-3">

          <!-- Checkbox Switch -->
          <label class="toggle-switch d-flex" for="customSwitch8">
            <input type="checkbox" class="toggle-switch-input" id="customSwitch8">
            <span class="toggle-switch-label">
              <span class="toggle-switch-indicator"></span>
            </span>
            <span class="toggle-switch-content">
              <span class="d-block">Weekly jobs</span>
              <small class="d-block text-muted">Weekly digest of design jobs</small>
            </span>
          </label>
          <!-- End Checkbox Switch -->
        </div>
      </div>
      <!-- End Card -->
      <!-- Card -->
      <div class="card mb-3 mb-lg-5">
        <!-- Header -->
        <div class="card-header">
          <h5 class="card-header-title">Usage</h5>

          <a id="toggleAll4" class="js-toggle-state link-underline" href="javascript:;" data-hs-toggle-state-options="{
                   &quot;targetSelector&quot;: &quot;#customSwitch9, #customSwitch10, #customSwitch11&quot;
                 }">
            <span class="link-underline-toggle-default">Toggle all</span>
            <span class="link-underline-toggle-toggled">Untoggle all</span>
          </a>
        </div>
        <!-- End Header -->

        <div class="card-body">
          <div class="mb-3">
            <small class="card-subtitle">Allow others to:</small>
          </div>

          <!-- Checkbox Switch -->
          <label class="toggle-switch d-flex" for="customSwitch9">
            <input type="checkbox" class="toggle-switch-input" id="customSwitch9">
            <span class="toggle-switch-label">
              <span class="toggle-switch-indicator"></span>
            </span>
            <span class="toggle-switch-content">
              <span class="d-block">Encrypt data</span>
              <small class="d-block text-muted">Encrypt all data associated with account</small>
            </span>
          </label>
          <!-- End Checkbox Switch -->

          <hr class="my-3">

          <!-- Checkbox Switch -->
          <label class="toggle-switch d-flex" for="customSwitch10">
            <input type="checkbox" class="toggle-switch-input" id="customSwitch10" checked="">
            <span class="toggle-switch-label">
              <span class="toggle-switch-indicator"></span>
            </span>
            <span class="toggle-switch-content">
              <span class="d-block">Location services</span>
              <small class="d-block text-muted">Allow third-party apps to use current location</small>
            </span>
          </label>
          <!-- End Checkbox Switch -->

          <hr class="my-3">

          <!-- Checkbox Switch -->
          <label class="toggle-switch d-flex" for="customSwitch11">
            <input type="checkbox" class="toggle-switch-input" id="customSwitch11">
            <span class="toggle-switch-label">
              <span class="toggle-switch-indicator"></span>
            </span>
            <span class="toggle-switch-content">
              <span class="d-block">Allow private notes</span>
              <small class="d-block text-muted">Members can send you private notes</small>
            </span>
          </label>
          <!-- End Checkbox Switch -->
        </div>
      </div>
      <!-- End Card -->
      <!-- Toggle Button -->
      <div class="d-sm-flex justify-content-between align-items-center">
        <div class="mb-3 mb-sm-0">
          <small class="card-subtitle">Turn all notifications on or off:</small>
        </div>

        <a class="js-toggle-state btn btn-sm btn-primary" href="javascript:;" data-hs-toggle-state-options="{
                 &quot;targetSelector&quot;: &quot;#customSwitch1, #customSwitch2, #customSwitch3, #customSwitch4, #customSwitch5, #customSwitch6, #customSwitch7, #customSwitch8, #customSwitch9, #customSwitch10, #customSwitch11&quot;,
                 &quot;slaveSelector&quot;: &quot;#toggleAll1, #toggleAll2, #toggleAll3, #toggleAll4&quot;
               }" data-hs-toggle-state-slave="#toggleAll1, #toggleAll2, #toggleAll3, #toggleAll4">
          <span class="btn-toggle-default">
            <i class="fas fa-toggle-off mr-1"></i> Turn OFF
          </span>
          <span class="btn-toggle-toggled">
            <i class="fas fa-toggle-on mr-1"></i> Turn ON
          </span>
        </a>
      </div>
      <!-- End Toggle Button -->
    </div>
  </side-bar>
  <!-- /.container -->
</template>

<script>
// @ is an alias to /src
import SideBar from '@/views/Account/Setting/_Sidebar.vue'

export default {
  /**
  * The name of the page.
  */
  name: 'account.setting.notification',

  /**
  * The components that the page can use.
  */
  components: {
    SideBar
  }
}
</script>
