<template>
  <!-- .container -->
  <side-bar>
    <div class="col-lg-9 mb-4">
      <div class="card mb-4">
        <div class="card-header">Change Password</div>
        <div class="card-body">
          <form>
            <!-- Form Group (current password)-->
            <div class="form-group">
              <label class="small mb-1" for="currentPassword">Current Password</label>
              <input class="form-control" id="currentPassword" type="password" placeholder="Enter current password">
            </div>
            <!-- Form Group (new password)-->
            <div class="form-group">
              <label class="small mb-1" for="newPassword">New Password</label>
              <input class="form-control" id="newPassword" type="password" placeholder="Enter new password">
            </div>
            <!-- Form Group (confirm password)-->
            <div class="form-group">
              <label class="small mb-1" for="confirmPassword">Confirm Password</label>
              <input class="form-control" id="confirmPassword" type="password" placeholder="Confirm new password">
            </div>
            <button class="btn btn-primary" type="button">Save</button>
          </form>
        </div>
      </div>
    </div>
  </side-bar>
  <!-- /.container -->
</template>

<script>
// @ is an alias to /src
import SideBar from '@/views/Account/Setting/_Sidebar.vue'

export default {
  /**
  * The name of the page.
  */
  name: 'account.setting.password',

  /**
  * The components that the page can use.
  */
  components: {
    SideBar
  }
}
</script>
