<template>
  <!-- .container -->
  <side-bar>
    <div class="col-lg-9 mb-4">
      <h2>Section Heading</h2>
      <p>Lorem ipsum dolor sitd amet, consectetur adipisicing elit. Soluta, et temporibus, facere perferendis veniam beatae non debitis, numquam blanditiis necessitatibus vel mollitia dolorum laudantium, voluptate dolores iure maxime ducimus fugit.</p>

      <div class="card-deck card-sm-gutters-2 js-form-group">
        <div class="card border-0 text-center">
          <div class="card-body p-0">
            <div class="custom-control custom-checkbox pd-l-0 mg-r-0 mg-b-10">
              <input type="checkbox" id="buyer_role" v-model="model.role" class="custom-control-input form-selector-modern__input" value="ROLE_BUYER">
              <label class="form-selector-modern__label wd-100p cursor-pointer pd-20 bd-2 rounded-5 border-gray" for="buyer_role">
                <span class="d-block pd-y-0 pd-x-10 mt-n1">
                  <span class="h3 d-inline-block text-primary mb-1">Buyer</span>
                  <small class="d-block d-inline-block text-muted">Allow user to buy property and create buying proposal</small>
                </span>
                <font-awesome-icon v-if="model.role.includes('ROLE_BUYER')" class="custom-check text-primary ht-15 mg-b-3" :icon="['fas', 'check-circle']" />
                <font-awesome-icon v-else class="custom-check tx-gray-400 ht-15 mg-b-3" :icon="['far', 'check-circle']" />
              </label>
            </div>
          </div>
        </div>

        <div class="card border-0 text-center">
          <div class="card-body p-0">
            <div class="custom-control custom-checkbox pd-l-0 mg-r-0 mg-b-10">
              <input type="checkbox" id="tenant_role" v-model="model.role" class="custom-control-input form-selector-modern__input" value="ROLE_TENANT">
              <label class="form-selector-modern__label wd-100p cursor-pointer pd-20 bd-2 rounded-5 border-gray" for="tenant_role">
                <span class="d-block pd-y-0 pd-x-10 mt-n1">
                  <span class="h3 d-inline-block text-primary mb-1">Tenant</span>
                  <small class="d-block d-inline-block text-muted">Allow user to rent property and create renting proposal</small>
                </span>
                <font-awesome-icon v-if="model.role.includes('ROLE_TENANT')" class="custom-check text-primary ht-15 mg-b-3" :icon="['fas', 'check-circle']" />
                <font-awesome-icon v-else class="custom-check tx-gray-400 ht-15 mg-b-3" :icon="['far', 'check-circle']" />
              </label>
            </div>
          </div>
        </div>

        <div class="card border-0 text-center">
          <div class="card-body p-0">
            <div class="custom-control custom-checkbox pd-l-0 mg-r-0 mg-b-10">
              <input type="checkbox" id="seller_role" v-model="model.role" class="custom-control-input form-selector-modern__input" value="ROLE_SELLER">
              <label class="form-selector-modern__label wd-100p cursor-pointer pd-20 bd-2 rounded-5 border-gray" for="seller_role">
                <span class="d-block pd-y-0 pd-x-10 mt-n1">
                  <span class="h3 d-inline-block text-primary mb-1">Seller</span>
                  <small class="d-block d-inline-block text-muted">Allow user to sell property and create property for sale</small>
                </span>
                <font-awesome-icon v-if="model.role.includes('ROLE_SELLER')" class="custom-check text-primary ht-15 mg-b-3" :icon="['fas', 'check-circle']" />
                <font-awesome-icon v-else class="custom-check tx-gray-400 ht-15 mg-b-3" :icon="['far', 'check-circle']" />
              </label>
            </div>
          </div>
        </div>

        <div class="card border-0 text-center">
          <div class="card-body p-0">
            <div class="custom-control custom-checkbox pd-l-0 mg-r-0 mg-b-10">
              <input type="checkbox" id="lessor_role" v-model="model.role" class="custom-control-input form-selector-modern__input" value="ROLE_LESSOR">
              <label class="form-selector-modern__label wd-100p cursor-pointer pd-20 bd-2 rounded-5 border-gray" for="lessor_role">
                <span class="d-block pd-y-0 pd-x-10 mt-n1">
                  <span class="h3 d-inline-block text-primary mb-1">Lessor</span>
                  <small class="d-block d-inline-block text-muted">Allow user to lease property and create property for rent</small>
                </span>
                <font-awesome-icon v-if="model.role.includes('ROLE_LESSOR')" class="custom-check text-primary ht-15 mg-b-3" :icon="['fas', 'check-circle']" />
                <font-awesome-icon v-else class="custom-check tx-gray-400 ht-15 mg-b-3" :icon="['far', 'check-circle']" />
              </label>
            </div>
          </div>
        </div>
        <span class="error"></span>
      </div>
      <hr />
    </div>
  </side-bar>
  <!-- /.container -->
</template>

<script>
// @ is an alias to /src
import SideBar from '@/views/Account/Setting/_Sidebar.vue'

export default {
  /**
  * The name of the page.
  */
  name: 'account.setting.role',

  /**
  * The data that can be used by the page.
  *
  * @returns {Object} The view-model data.
  */
  data () {
    return {
      model: {
        role: []
      }
    }
  },

  /**
  * The components that the page can use.
  */
  components: {
    SideBar
  }
}
</script>
