﻿<!--script src="~/lib/jquery/dist/jquery.js"></!script>
<script src="~/lib/jquery-validation/dist/jquery.validate.min.js"></script>
<script src="~/lib/jquery-validation-unobtrusive/jquery.validate.unobtrusive.min.js"></script>
<script src="~/js/script.js"></script-->
<script src="~/weblib.polyfills.min.js"></script>
