﻿@page "/careers/"
<!-- Hero Section -->
<section class="mg-md-t-70">
    <div class="container">
        <div class="w-md-80 w-lg-60 tx-center mx-md-auto mb-9">
            <div class="mb-5">
                <h1>Work with us</h1>
                <p>Work hard with highly motivated team of talented people and great teammates to launch perfectly crafted products you'll love.</p>
            </div>
            <a class="btn btn-primary btn-wide transition-3d-hover" href="#openRolesSection">See Job Openings</a>
        </div>

        <!-- Gallery Section -->
        <div class="row mx-n2">
            <div class="col-6 col-md px-2 mb-3">
                <div class="ht-250 bg-img-hero" style="background-image: url(/images/img/img17.jpg);"></div>
            </div>
            <div class="col-md-3 d-none d-md-block px-2 mb-3">
                <div class="ht-250 bg-img-hero" style="background-image: url(/images/img/img6.jpg);"></div>
            </div>
            <div class="col-6 col-md px-2 mb-3">
                <div class="ht-250 bg-img-hero" style="background-image: url(/images/img/img14.jpg);"></div>
            </div>

            <div class="w-100"></div>

            <div class="col-6 col-md px-2 mb-3 mb-md-0">
                <div class="ht-250 bg-img-hero" style="background-image: url(/images/img/img25.jpg);"></div>
            </div>
            <div class="col-md-4 d-none d-md-block px-2 mb-3 mb-md-0">
                <div class="ht-250 bg-img-hero" style="background-image: url(/images/img/img16.jpg);"></div>
            </div>
            <div class="col-6 col-md px-2">
                <div class="ht-250 bg-img-hero" style="background-image: url(/images/img/img12.jpg);"></div>
            </div>
        </div>
        <!-- End Gallery Section -->
    </div>
</section>
<!-- Info Section -->
<div class="container space-2 space-lg-3">
    <!-- Title -->
    <div class="w-md-80 w-lg-50 text-center mx-md-auto mb-5 mb-md-9">
        <span class="d-block small font-weight-bold text-cap mb-2">Our values</span>
        <h2>What it's like to work here</h2>
    </div>
    <!-- End Title -->

    <div class="w-md-75 mx-md-auto">
        <div class="row">
            <div class="col-lg-6">
                <p>Front is an independent, profitable organisation creating premium thmes to power the future of websites. No matter where you look, the world has never needed real media serving real communities as much as it does today.</p>

                <p>Because we're a fully-remote team — we hire people from all over the world!</p>
            </div>

            <div class="col-lg-6">
                <p>Our destiny is in our own hands, because we've been profitable since we started. No shareholders, no board of directors with outside interests, no old VC guys in the background pulling strings. We generate revenue from customers who pay us, so we have unlimited runway to keep building the things we want to build.</p>

                <p>The vast majority of our work gets done on Github, with Slack as the main channel for communication. We do weekly meetings via Zoom which are used to discuss progress and plan what's coming next.</p>
            </div>
        </div>
    </div>
</div>
<!-- End Info Section -->
<!-- Gallery Section -->
<div class="clearfix mx-3 mx-md-11">
    <img class="img-fluid rounded" src="https://streamlabs.nyc3.cdn.digitaloceanspaces.com/assets/img/1920x800/img2.jpg" alt="Image Description">
</div>
<!-- End Gallery Section -->
<!-- Jobs Section -->
<div id="openRolesSection" class="container space-2 space-lg-3">
    <!-- Title -->
    <div class="w-md-80 w-lg-50 text-center mx-md-auto mb-5 mb-md-9">
        <span class="d-block small font-weight-bold text-cap mb-2">Open positions</span>
        <h2>Current job openings</h2>
    </div>
    <!-- End Title -->
    <!-- Filters -->
    <div class="border-bottom pb-5 mb-9">
        <div class="row align-items-center">
            <div class="col-sm-auto mb-3 mb-sm-0">
                <!-- Select -->
                <select class="custom-select custom-select-sm">
                    <option selected="" disabled="">Location</option>
                    <option value="locationAll">All</option>
                    <option value="location1">London</option>
                    <option value="location2">New York</option>
                    <option value="location6">Singapore</option>
                    <option value="location3">Beijing</option>
                    <option value="location4">Hong Kong</option>
                    <option value="location5">Berlin</option>
                    <option value="location6">Sydney</option>
                    <option value="location6">San Francisco</option>
                </select>
                <!-- End Select -->
            </div>

            <div class="col-sm text-sm-right">
                <span class="text-dark font-weight-bold">19</span>
                open positions
            </div>
        </div>
    </div>
    <!-- End Filters -->
    <!-- Title -->
    <div class="row justify-content-lg-between align-items-lg-center mt-7 mb-3">
        <div class="col-sm-auto">
            <h3 class="h4">Technology</h3>
        </div>
        <div class="col-sm text-sm-right">
            <small>6 openings</small>
        </div>
    </div>
    <!-- End Title -->
    <!-- Card -->
    <a class="card card-frame py-3 px-4 mb-2" href="/careers/5/">
        <div class="row align-items-sm-center">
            <span class="col-sm-6 text-dark">
                Android Engineering
            </span>
            <span class="col-6 col-sm-3 text-body">
                Hong Kong
            </span>
            <span class="col-6 col-sm-3 text-right">
                Apply <i class="fas fa-angle-right fa-sm ml-1"></i>
            </span>
        </div>
    </a>
    <!-- End Card -->
    <!-- Card -->
    <a class="card card-frame py-3 px-4 mb-2" href="/careers/5/">
        <div class="row align-items-sm-center">
            <span class="col-sm-6 text-dark">
                Cloud System Engineer
            </span>
            <span class="col-6 col-sm-3 text-body">
                Sydney
            </span>
            <span class="col-6 col-sm-3 text-right">
                Apply <i class="fas fa-angle-right fa-sm ml-1"></i>
            </span>
        </div>
    </a>
    <!-- End Card -->
    <!-- Card -->
    <a class="card card-frame py-3 px-4 mb-2" href="/careers/5/">
        <div class="row align-items-sm-center">
            <span class="col-sm-6 text-dark">
                Database Administrator
            </span>
            <span class="col-6 col-sm-3 text-body">
                Sydney
            </span>
            <span class="col-6 col-sm-3 text-right">
                Apply <i class="fas fa-angle-right fa-sm ml-1"></i>
            </span>
        </div>
    </a>
    <!-- End Card -->
    <!-- Card -->
    <a class="card card-frame py-3 px-4 mb-2" href="/careers/5/">
        <div class="row align-items-sm-center">
            <span class="col-sm-6 text-dark">
                Engineering Lead
            </span>
            <span class="col-6 col-sm-3 text-body">
                Beijing
            </span>
            <span class="col-6 col-sm-3 text-right">
                Apply <i class="fas fa-angle-right fa-sm ml-1"></i>
            </span>
        </div>
    </a>
    <!-- End Card -->
    <!-- Card -->
    <a class="card card-frame py-3 px-4 mb-2" href="/careers/5/">
        <div class="row align-items-sm-center">
            <span class="col-sm-6 text-dark">
                IT Operations Engineer
            </span>
            <span class="col-6 col-sm-3 text-body">
                San Francisco
            </span>
            <span class="col-6 col-sm-3 text-right">
                Apply <i class="fas fa-angle-right fa-sm ml-1"></i>
            </span>
        </div>
    </a>
    <!-- End Card -->
    <!-- Card -->
    <a class="card card-frame py-3 px-4 mb-2" href="/careers/5/">
        <div class="row align-items-sm-center">
            <span class="col-sm-6 text-dark">
                Senior Analyst, Data Analytics
            </span>
            <span class="col-6 col-sm-3 text-body">
                London
            </span>
            <span class="col-6 col-sm-3 text-right">
                Apply <i class="fas fa-angle-right fa-sm ml-1"></i>
            </span>
        </div>
    </a>
    <!-- End Card -->
    <!-- Title -->
    <div class="row justify-content-lg-between align-items-lg-center mt-7 mb-3">
        <div class="col-sm-auto">
            <h3 class="h4">Business strategy</h3>
        </div>
        <div class="col-sm text-sm-right">
            <small>2 openings</small>
        </div>
    </div>
    <!-- End Title -->
    <!-- Card -->
    <a class="card card-frame py-3 px-4 mb-2" href="/careers/5/">
        <div class="row align-items-sm-center">
            <span class="col-sm-6 text-dark">
                Business Strategy Manager
            </span>
            <span class="col-6 col-sm-3 text-body">
                London
            </span>
            <span class="col-6 col-sm-3 text-right">
                Apply <i class="fas fa-angle-right fa-sm ml-1"></i>
            </span>
        </div>
    </a>
    <!-- End Card -->
    <!-- Card -->
    <a class="card card-frame py-3 px-4 mb-2" href="/careers/5/">
        <div class="row align-items-sm-center">
            <span class="col-sm-6 text-dark">
                Business Strategy Senior Associate
            </span>
            <span class="col-6 col-sm-3 text-body">
                London
            </span>
            <span class="col-6 col-sm-3 text-right">
                Apply <i class="fas fa-angle-right fa-sm ml-1"></i>
            </span>
        </div>
    </a>
    <!-- End Card -->
    <!-- Title -->
    <div class="row justify-content-lg-between align-items-lg-center mt-7 mb-3">
        <div class="col-sm-auto">
            <h3 class="h4">Design</h3>
        </div>
        <div class="col-sm text-sm-right">
            <small>2 openings</small>
        </div>
    </div>
    <!-- End Title -->
    <!-- Card -->
    <a class="card card-frame py-3 px-4 mb-2" href="/careers/5/">
        <div class="row align-items-sm-center">
            <span class="col-sm-6 text-dark">
                Product Designer
            </span>
            <span class="col-6 col-sm-3 text-body">
                San Francisco
            </span>
            <span class="col-6 col-sm-3 text-right">
                Apply <i class="fas fa-angle-right fa-sm ml-1"></i>
            </span>
        </div>
    </a>
    <!-- End Card -->
    <!-- Card -->
    <a class="card card-frame py-3 px-4 mb-2" href="/careers/5/">
        <div class="row align-items-sm-center">
            <span class="col-sm-6 text-dark">
                Senior UX Researcher
            </span>
            <span class="col-6 col-sm-3 text-body">
                New York
            </span>
            <span class="col-6 col-sm-3 text-right">
                Apply <i class="fas fa-angle-right fa-sm ml-1"></i>
            </span>
        </div>
    </a>
    <!-- End Card -->
    <!-- Title -->
    <div class="row justify-content-lg-between align-items-lg-center mt-7 mb-3">
        <div class="col-sm-auto">
            <h3 class="h4">Sales</h3>
        </div>
        <div class="col-sm text-sm-right">
            <small>9 openings</small>
        </div>
    </div>
    <!-- End Title -->
    <!-- Card -->
    <a class="card card-frame py-3 px-4 mb-2" href="/careers/5/">
        <div class="row align-items-sm-center">
            <span class="col-sm-6 text-dark">
                Account Executive - Enterprise
            </span>
            <span class="col-6 col-sm-3 text-body">
                San Francisco
            </span>
            <span class="col-6 col-sm-3 text-right">
                Apply <i class="fas fa-angle-right fa-sm ml-1"></i>
            </span>
        </div>
    </a>
    <!-- End Card -->
    <!-- Card -->
    <a class="card card-frame py-3 px-4 mb-2" href="/careers/5/">
        <div class="row align-items-sm-center">
            <span class="col-sm-6 text-dark">
                Account Executive - Enterprise
            </span>
            <span class="col-6 col-sm-3 text-body">
                New York
            </span>
            <span class="col-6 col-sm-3 text-right">
                Apply <i class="fas fa-angle-right fa-sm ml-1"></i>
            </span>
        </div>
    </a>
    <!-- End Card -->
    <!-- Card -->
    <a class="card card-frame py-3 px-4 mb-2" href="/careers/5/">
        <div class="row align-items-sm-center">
            <span class="col-sm-6 text-dark">
                Account Executive - Growth
            </span>
            <span class="col-6 col-sm-3 text-body">
                Singapore
            </span>
            <span class="col-6 col-sm-3 text-right">
                Apply <i class="fas fa-angle-right fa-sm ml-1"></i>
            </span>
        </div>
    </a>
    <!-- End Card -->
    <!-- Card -->
    <a class="card card-frame py-3 px-4 mb-2" href="/careers/5/">
        <div class="row align-items-sm-center">
            <span class="col-sm-6 text-dark">
                Account Executive - Mid Market
            </span>
            <span class="col-6 col-sm-3 text-body">
                Berlin
            </span>
            <span class="col-6 col-sm-3 text-right">
                Apply <i class="fas fa-angle-right fa-sm ml-1"></i>
            </span>
        </div>
    </a>
    <!-- End Card -->
    <!-- Card -->
    <a class="card card-frame py-3 px-4 mb-2" href="/careers/5/">
        <div class="row align-items-sm-center">
            <span class="col-sm-6 text-dark">
                Sales Manager
            </span>
            <span class="col-6 col-sm-3 text-body">
                Berlin
            </span>
            <span class="col-6 col-sm-3 text-right">
                Apply <i class="fas fa-angle-right fa-sm ml-1"></i>
            </span>
        </div>
    </a>
    <!-- End Card -->
    <!-- Card -->
    <a class="card card-frame py-3 px-4 mb-2" href="/careers/5/">
        <div class="row align-items-sm-center">
            <span class="col-sm-6 text-dark">
                Solutions Consultant
            </span>
            <span class="col-6 col-sm-3 text-body">
                Berlin
            </span>
            <span class="col-6 col-sm-3 text-right">
                Apply <i class="fas fa-angle-right fa-sm ml-1"></i>
            </span>
        </div>
    </a>
    <!-- End Card -->
    <!-- Card -->
    <a class="card card-frame py-3 px-4 mb-2" href="/careers/5/">
        <div class="row align-items-sm-center">
            <span class="col-sm-6 text-dark">
                Business Development Representative
            </span>
            <span class="col-6 col-sm-3 text-body">
                Beijing
            </span>
            <span class="col-6 col-sm-3 text-right">
                Apply <i class="fas fa-angle-right fa-sm ml-1"></i>
            </span>
        </div>
    </a>
    <!-- End Card -->
    <!-- Card -->
    <a class="card card-frame py-3 px-4 mb-2" href="/careers/5/">
        <div class="row align-items-sm-center">
            <span class="col-sm-6 text-dark">
                Manager, Sales Department
            </span>
            <span class="col-6 col-sm-3 text-body">
                Hong Kong
            </span>
            <span class="col-6 col-sm-3 text-right">
                Apply <i class="fas fa-angle-right fa-sm ml-1"></i>
            </span>
        </div>
    </a>
    <!-- End Card -->
    <!-- Card -->
    <a class="card card-frame py-3 px-4 mb-2" href="/careers/5/">
        <div class="row align-items-sm-center">
            <span class="col-sm-6 text-dark">
                Sales Development Representative
            </span>
            <span class="col-6 col-sm-3 text-body">
                London
            </span>
            <span class="col-6 col-sm-3 text-right">
                Apply <i class="fas fa-angle-right fa-sm ml-1"></i>
            </span>
        </div>
    </a>
    <!-- End Card -->

    <div class="text-center mt-5">
        <p>Can't find a position that suits you? <a class="font-weight-bold text-nowrap" href="contacts-agency.html">Contact us <i class="fas fa-angle-right fa-sm ml-1"></i></a></p>
    </div>
</div>
<!-- End Jobs Section -->
