﻿@page "/careers/{Id:int}"
<!-- Hero Section -->
<section class="mg-md-t-70">
    <div class="container">
        <div class="w-lg-80 mx-auto">
            <!-- Jobs Link -->
            <div class="mb-5">
                <a class="font-weight-bold" href="/careers">
                    <i class="fas fa-angle-left fa-sm mr-1"></i>
                    Back to Listings
                </a>
            </div>
            <!-- End Jobs Link -->

            <div class="card space-bottom-2 p-4 p-md-7">
                <!-- Title -->
                <div class="row justify-content-sm-between align-items-sm-center mb-5">
                    <div class="col-sm mb-3 mb-sm-0">
                        <h1 class="h2">Backend Engineer</h1>
                        <p class="mb-0">London, UK - Business Strategy - Full-Time</p>
                    </div>

                    <div class="col-sm-auto text-sm-right">
                        <a class="js-go-to position-static btn btn-primary transition-3d-hover" href="javascript:;" data-hs-go-to-options="{
                  &quot;targetSelector&quot;: &quot;#applyForJob&quot;,
                  &quot;compensationSelector&quot;: &quot;#logoAndNav&quot;,
                  &quot;offsetTop&quot;: 0,
                  &quot;position&quot;: null,
                  &quot;animationIn&quot;: false,
                  &quot;animationOut&quot;: false
                 }">
                            Apply Now
                        </a>
                    </div>
                </div>
                <!-- End Title -->

                <div class="mb-5">
                    <p>Front is building an artificial intelligence platform to transform the modern workforce. Our Ai platform allows team members to access information and streamline processes. We are integrated with a who's who of apps including Google Drive, Box, Salesforce, Zenefits, Office 365, Tableau, DOMO and 40+ others. We support new ideas, collaboration, and the ownership of our product throughout the organization.</p>

                    <p>Front engineers enjoy the opportunity and benefits of working at an early-stage artificial intelligence startup, but in an environment much more akin to a later stage company given the experience of the founding team. The culture at Front encourages innovation, independent problem solving, and collaboration as we continue to mature our product in the ever-changing work of AI.</p>

                    <p>Front is funded by the EQUITY.com incubator. As part of our dedication to the St. Louis community, Front is partnered with Create a Loop, a nonprofit focused on teaching kids computer science.</p>
                </div>

                <div class="mb-5">
                    <h2 class="h4">We have:</h2>

                    <ul>
                        <li>Employer-paid health care</li>
                        <li>Casual and diverse workplace</li>
                        <li>Free snacks</li>
                        <li>Unlimited Vacation policy</li>
                        <li>Stock options</li>
                    </ul>
                </div>

                <div class="mb-5">
                    <h3 class="h4">Requirements:</h3>

                    <ul>
                        <li>Energized to join a startup</li>
                        <li>Excited to mentor more junior developers</li>
                        <li>Good at problem selection, problem solving, and course correcting</li>
                        <li>Focused on best practices</li>
                        <li>Highly pragmatic and collaborative</li>
                    </ul>
                </div>

                <div class="mb-5">
                    <h3 class="h4">You have:</h3>

                    <ul>
                        <li>3+ years of work experience</li>
                        <li>Proficient in Python or PHP</li>
                        <li>Understanding of OOP principles and practices</li>
                        <li>MySQL database design skills</li>
                        <li>Version control and Git workflow</li>
                    </ul>
                </div>

                <div class="mb-5">
                    <h3 class="h4">Extra awesome:</h3>

                    <ul>
                        <li>Experience building REST APIs</li>
                        <li>Experience with Microservices</li>
                        <li>Deployment and CI (AWS, Kubernetes, Docker, Jenkins)</li>
                        <li>JavaScript, React.js</li>
                        <li>Solr, Elasticsearch</li>
                        <li>NLP</li>
                        <li>Machine Learning</li>
                        <li>Neural Networks</li>
                    </ul>
                </div>

                <div class="mb-5">
                    <p>Demonstrate your initiative, intuition and results from whatever you've been working on in the past. Tell us what APIs you love. Tell us what makes you tick. Show us what you've been up to and we will do the same!</p>
                </div>

                <div class="border-top text-center pt-9 mb-5 mb-md-9">
                    <h2>Apply for this Job</h2>
                </div>

                <!-- Apply Form -->
                <form id="applyForJob" class="js-validate" novalidate="novalidate">
                    <div class="row">
                        <div class="col-md-6 mb-3 mb-md-5">
                            <!-- Input -->
                            <div class="js-form-message">
                                <label class="input-label" for="fullNameLabel">Full name</label>
                                <div class="input-group">
                                    <input type="text" class="form-control" name="firstName" id="fullNameLabel" placeholder="First Name" aria-label="First Name" required="" data-msg="Please enter your frist name.">
                                </div>
                            </div>
                            <!-- End Input -->
                        </div>

                        <div class="col-md-6 mb-3 mb-md-5">
                            <!-- Input -->
                            <div class="js-form-message">
                                <label class="input-label" for="lastNameLabel">Last name</label>
                                <div class="input-group">
                                    <input type="text" class="form-control" name="lastName" id="lastNameLabel" placeholder="Last Name" aria-label="Last Name" required="" data-msg="Please enter your last name.">
                                </div>
                            </div>
                            <!-- End Input -->
                        </div>

                        <div class="col-md-6 mb-3 mb-md-5">
                            <!-- Input -->
                            <div class="js-form-message">
                                <label class="input-label" for="emailAddressLabel">Email</label>
                                <div class="input-group">
                                    <input type="email" class="form-control" name="emailAddress" id="emailAddressLabel" placeholder="Email" aria-label="Email" required="" data-msg="Please enter a valid email address.">
                                </div>
                            </div>
                            <!-- End Input -->
                        </div>

                        <div class="col-md-6 mb-3 mb-md-5">
                            <!-- Input -->
                            <div class="js-form-message">
                                <label class="input-label" for="urlLabel">URL <span class="text-muted font-weight-normal ml-1">(optional)</span></label>
                                <div class="input-group">
                                    <input type="text" class="form-control" name="URL" id="urlLabel" placeholder="Linkedin" aria-label="Linkedin">
                                </div>
                            </div>
                            <!-- End Input -->
                        </div>
                    </div>

                    <div class="mb-3 mb-md-5">
                        <!-- Input -->
                        <label class="input-label">Resume/CV and Cover Letter</label>
                        <div id="resumeAttach" class="js-dropzone dz-dropzone dz-dropzone-boxed dz-clickable">
                            <div class="dz-message p-2">
                                <span class="d-block mb-1">Browse your files</span>
                                <small class="d-block text-muted">Maximum file size is 1MB</small>
                            </div>
                        </div>
                        <!-- End Input -->
                    </div>

                    <div class="mb-3 mb-md-5">
                        <!-- Input -->
                        <div class="js-form-message">
                            <label class="input-label">In a few words...</label>
                            <div class="input-group">
                                <textarea class="form-control" rows="6" name="answer" placeholder="How'd you hear about Front?" aria-label="How'd you hear about Front?" required="" data-msg="Please enter an answer."></textarea>
                            </div>
                        </div>
                        <!-- End Input -->
                    </div>

                    <div class="text-center">
                        <button type="submit" class="btn btn-primary transition-3d-hover">Submit Application</button>
                    </div>
                </form>
                <!-- End Apply Form -->
            </div>
        </div>
    </div>
</section>

<!-- End Jobs Section -->
@code {
    [Parameter]
    public int Id { get; set; }
}