<template>
  <section class="mg-t-70">
    <div class="container">
      <bread-crumbs />
      <div class="row justify-content-lg-between">
        <div class="col-lg-8">
          <!-- Blog -->
          <article class="row mg-b-40">
            <div class="col-md-5">
              <img class="card-img" src="https://gostreamlabs.com/front/assets/img/400x500/img7.jpg" alt="Image Description">
            </div>
            <div class="col-md-7">
              <div class="card-body d-flex flex-column h-100 px-0">
                <span class="d-block mb-2">
                  <a class="font-weight-bold" href="#">Business</a>
                </span>
                <h3><a class="text-inherit" href="single-article.html">Front becomes an official Instagram Marketing Partner</a></h3>
                <p>Great news we're eager to share.</p>
                <div class="media align-items-center mt-auto">
                  <a class="avatar avatar-sm avatar-circle mr-3" href="blog-profile.html">
                    <img class="avatar-img" src="https://gostreamlabs.com/front/assets/img/100x100/img3.jpg" alt="Image Description">
                  </a>
                  <div class="media-body">
                    <span class="text-dark">
                      <a class="d-inline-block text-inherit font-weight-bold" href="blog-profile.html">Aaron Larsson</a>
                    </span>
                    <small class="d-block">Feb 15, 2020</small>
                  </div>
                </div>
              </div>
            </div>
          </article>
          <!-- End Blog -->
          <!-- Blog -->
          <article class="row mg-b-40">
            <div class="col-md-5">
              <img class="card-img" src="https://gostreamlabs.com/front/assets/img/400x500/img5.jpg" alt="Image Description">
            </div>
            <div class="col-md-7">
              <div class="card-body d-flex flex-column h-100 px-0">
                <span class="d-block mb-2">
                  <a class="font-weight-bold" href="#">Announcements</a>
                </span>
                <h3><a class="text-inherit" href="single-article.html">Announcing a free plan for small teams</a></h3>
                <p>At Wake, our mission has always been focused on bringing openness.</p>
                <div class="media align-items-center mt-auto">
                  <a class="avatar avatar-sm avatar-circle mr-3" href="blog-profile.html">
                    <img class="avatar-img" src="https://gostreamlabs.com/front/assets/img/100x100/img11.jpg" alt="Image Description">
                  </a>
                  <div class="media-body">
                    <span class="text-dark">
                      <a class="d-inline-block text-inherit font-weight-bold" href="blog-profile.html">Hanna Wolfe</a>
                    </span>
                    <small class="d-block">Feb 4, 2020</small>
                  </div>
                </div>
              </div>
            </div>
          </article>
          <!-- End Blog -->
          <!-- Blog -->
          <article class="row mg-b-40">
            <div class="col-md-5">
              <img class="card-img" src="https://gostreamlabs.com/front/assets/img/400x500/img4.jpg" alt="Image Description">
            </div>
            <div class="col-md-7">
              <div class="card-body d-flex flex-column h-100 px-0">
                <span class="d-block mb-2">
                  <a class="font-weight-bold" href="#">Business</a>
                </span>
                <h3><a class="text-inherit" href="single-article.html">Enjoy $1,000 worth of perks with Front for Business</a></h3>
                <p>There are many reasons people choose to join Front for Business.</p>
                <div class="media align-items-center mt-auto">
                  <a class="avatar avatar-sm avatar-circle mr-3" href="blog-profile.html">
                    <img class="avatar-img" src="https://gostreamlabs.com/front/assets/img/100x100/img1.jpg" alt="Image Description">
                  </a>
                  <div class="media-body">
                    <span class="text-dark">
                      <a class="d-inline-block text-inherit font-weight-bold" href="blog-profile.html">Andrea Gard</a>
                    </span>
                    <small class="d-block">Jan 27, 2020</small>
                  </div>
                </div>
              </div>
            </div>
          </article>
          <!-- End Blog -->
          <!-- Blog -->
          <article class="row mg-b-40">
            <div class="col-md-5">
              <img class="card-img" src="https://gostreamlabs.com/front/assets/img/400x500/img8.jpg" alt="Image Description">
            </div>
            <div class="col-md-7">
              <div class="card-body d-flex flex-column h-100 px-0">
                <span class="d-block mb-2">
                  <a class="font-weight-bold" href="#">Business</a>
                </span>
                <h3><a class="text-inherit" href="single-article.html">What CFR (Conversations, Feedback, Recognition) really is about</a></h3>
                <p>For a lot of people these days, Measure What Matters.</p>
                <div class="media align-items-center mt-auto">
                  <a class="avatar avatar-sm avatar-circle mr-3" href="blog-profile.html">
                    <img class="avatar-img" src="https://gostreamlabs.com/front/assets/img/100x100/img3.jpg" alt="Image Description">
                  </a>
                  <div class="media-body">
                    <span class="text-dark">
                      <a class="d-inline-block text-inherit font-weight-bold" href="blog-profile.html">Aaron Larsson</a>
                    </span>
                    <small class="d-block">Jan 21, 2020</small>
                  </div>
                </div>
              </div>
            </div>
          </article>
          <!-- End Blog -->
          <!-- Blog -->
          <article class="row mg-b-40">
            <div class="col-md-5">
              <img class="card-img" src="https://gostreamlabs.com/front/assets/img/400x500/img6.jpg" alt="Image Description">
            </div>
            <div class="col-md-7">
              <div class="card-body d-flex flex-column h-100 px-0">
                <span class="d-block mb-2">
                  <a class="font-weight-bold" href="#">Community</a>
                </span>
                <h3><a class="text-inherit" href="single-article.html">Do millennials care about saving?</a></h3>
                <p>Over the last few years, numerous studies have appeared to confirm a troubling pattern – millennials don't save, they don't care about their financial futures.</p>
                <div class="media align-items-center mt-auto">
                  <a class="avatar avatar-sm avatar-circle mr-3" href="blog-profile.html">
                    <img class="avatar-img" src="https://gostreamlabs.com/front/assets/img/100x100/img11.jpg" alt="Image Description">
                  </a>
                  <div class="media-body">
                    <span class="text-dark">
                      <a class="d-inline-block text-inherit font-weight-bold" href="blog-profile.html">Hanna Wolfe</a>
                    </span>
                    <small class="d-block">Jan 15, 2020</small>
                  </div>
                </div>
              </div>
            </div>
          </article>
          <!-- End Blog -->
          <!-- Blog -->
          <div class="card text-white bg-secondary my-5 py-4 text-center">
            <div class="card-body">
              <p class="text-white m-0">This call to action card is a great place to showcase some important information or display a clever tagline!</p>
            </div>
          </div>
          <!-- End Blog -->
          <!-- Blog -->
          <article class="row mg-b-40">
            <div class="col-md-5">
              <!--img class="card-img" src="https://gostreamlabs.com/front/assets/img/400x500/img21.jpg" alt="Image Description"-->
              <app-image :width="500"
                         :height="400"
                         class="card-img"
                         background-color="#8ea4bf"
                         lazy-src="https://gostreamlabs.com/front/assets/img/400x500/img21.jpg"
                         lazy-srcset="https://gostreamlabs.com/front/assets/img/400x500/img21.jpg 2x"
                         alt="" />
            </div>
            <div class="col-md-7">
              <div class="card-body d-flex flex-column h-100 px-0">
                <span class="d-block mb-2">
                  <a class="font-weight-bold" href="#">Business</a>
                </span>
                <h3><a class="text-inherit" href="single-article.html">Front accounts - let's work together</a></h3>
                <p>Are you an accountant? Are you a company formation advisor? Would you like to partner with one of the world's most popular and fastest-growing Fintech startups?</p>
                <div class="media align-items-center mt-auto">
                  <a class="avatar avatar-sm avatar-circle mr-3" href="blog-profile.html">
                    <img class="avatar-img" src="https://gostreamlabs.com/front/assets/img/100x100/img11.jpg" alt="Image Description">
                  </a>
                  <div class="media-body">
                    <span class="text-dark">
                      <a class="d-inline-block text-inherit font-weight-bold" href="blog-profile.html">Hanna Wolfe</a>
                    </span>
                    <small class="d-block">Jan 06, 2020</small>
                  </div>
                </div>
              </div>
            </div>
          </article>
          <!-- End Blog -->
          <!-- Blog -->
          <article class="row mg-b-40">
            <div class="col-md-5">
              <!--img class="card-img" src="https://gostreamlabs.com/front/assets/img/400x500/img3.jpg" alt="Image Description"-->
              <app-image :width="500"
                         :height="400"
                         class="card-img"
                         background-color="#8ea4bf"
                         lazy-src="https://gostreamlabs.com/front/assets/img/400x500/img3.jpg"
                         lazy-srcset="https://gostreamlabs.com/front/assets/img/400x500/img3.jpg 2x"
                         alt="" />
            </div>
            <div class="col-md-7">
              <div class="card-body d-flex flex-column h-100 px-0">
                <span class="d-block mb-2">
                  <a class="font-weight-bold" href="#">Community</a>
                </span>
                <h3><a class="text-inherit" href="single-article.html">Let's revolutionise global payments. Together</a></h3>
                <p>Front is changing the way money moves around the world.</p>
                <div class="media align-items-center mt-auto">
                  <a class="avatar avatar-sm avatar-circle mr-3" href="blog-profile.html">
                    <img class="avatar-img" src="https://gostreamlabs.com/front/assets/img/100x100/img1.jpg" alt="Image Description">
                  </a>
                  <div class="media-body">
                    <span class="text-dark">
                      <a class="d-inline-block text-inherit font-weight-bold" href="blog-profile.html">Andrea Gard</a>
                    </span>
                    <small class="d-block">Jan 06, 2020</small>
                  </div>
                </div>
              </div>
            </div>
          </article>
          <!-- End Blog -->
          <!-- Sticky Block End Point -->
          <div id="stickyBlockEndPoint"></div>
        </div>

        <div class="col-lg-3 sidebar-item">
          <div class="make-me-sticky">
            <div class="mb-7">
              <div class="mb-3">
                <h3>Newsletter</h3>
              </div>

              <!-- Form -->
              <form class="js-validate mb-2" novalidate="novalidate">
                <label class="sr-only" for="subscribeSr">Subscribe</label>
                <div class="input-group input-group-flush mb-3">
                  <input type="email" class="form-control form-control-sm" name="email" id="subscribeSr" placeholder="Your email" aria-label="Your email" required="" data-msg="Please enter a valid email address.">
                </div>
                <button type="submit" class="btn btn-sm btn-primary btn-block">Subscribe</button>
              </form>
              <!-- End Form -->

              <p class="small">Get special offers on the latest developments from Front.</p>
            </div>

            <div class="mb-7">
              <div class="mb-3">
                <h3>Productivity</h3>
              </div>

              <!-- Blog -->
              <article class="mb-3">
                <a class="card card-frame p-3" href="#">
                  <div class="media align-items-center">
                    <div class="media-body mr-2">
                      <h4 class="h6 mb-0">Here's how to dodge distractions</h4>
                      <span class="d-block font-size-1 text-body">Feb 08, 2020</span>
                    </div>
                    <i class="fas fa-angle-right"></i>
                  </div>
                </a>
              </article>
              <!-- End Blog -->
              <!-- Blog -->
              <article class="mb-3">
                <a class="card card-frame p-3" href="#">
                  <div class="media align-items-center">
                    <div class="media-body mr-2">
                      <h4 class="h6 mb-0">Ideas to stay productive</h4>
                      <span class="d-block font-size-1 text-body">Feb 09, 2020</span>
                    </div>
                    <i class="fas fa-angle-right"></i>
                  </div>
                </a>
              </article>
              <!-- End Blog -->
              <!-- Blog -->
              <article class="mb-3">
                <a class="card card-frame p-3" href="#">
                  <div class="media align-items-center">
                    <div class="media-body mr-2">
                      <h4 class="h6 mb-0">Classic design principles</h4>
                      <span class="d-block font-size-1 text-body">Feb 10, 2020</span>
                    </div>
                    <i class="fas fa-angle-right"></i>
                  </div>
                </a>
              </article>
              <!-- End Blog -->
            </div>

          <!-- Sticky Block Start Point -->
          <div id="stickyBlockStartPoint"></div>

          <div class="js-sticky-block">
            <div class="mb-7">
              <div class="mb-3">
                <h3>Front culture</h3>
              </div>

              <!-- Blog -->
              <article class="mb-5">
                <div class="media align-items-center text-inherit">
                  <div class="avatar avatar-lg mr-3">
                    <img class="avatar-img" src="https://gostreamlabs.com/front/assets/img/320x320/img1.jpg" alt="Image Description">
                  </div>
                  <div class="media-body">
                    <h4 class="h6 mb-0"><a class="text-inherit" href="#">Announcing a free plan for small teams</a></h4>
                  </div>
                </div>
              </article>
              <!-- End Blog -->
              <!-- Blog -->
              <article class="mb-5">
                <div class="media align-items-center text-inherit">
                  <div class="avatar avatar-lg mr-3">
                    <img class="avatar-img" src="https://gostreamlabs.com/front/assets/img/320x320/img10.jpg" alt="Image Description">
                  </div>
                  <div class="media-body">
                    <h4 class="h6 mb-0"><a class="text-inherit" href="#">Mapping the first family tree for Front office</a></h4>
                  </div>
                </div>
              </article>
              <!-- End Blog -->
              <!-- Blog -->
              <article class="mb-5">
                <div class="media align-items-center text-inherit">
                  <div class="avatar avatar-lg mr-3">
                    <img class="avatar-img" src="https://gostreamlabs.com/front/assets/img/320x320/img9.jpg" alt="Image Description">
                  </div>
                  <div class="media-body">
                    <h4 class="h6 mb-0"><a class="text-inherit" href="#">Felline eyeing first major Classic win in 2018</a></h4>
                  </div>
                </div>
              </article>
              <!-- End Blog -->
            </div>

            <div class="mb-7">
              <div class="mb-3">
                <h3>Tags</h3>
              </div>

              <a class="btn btn-sm btn-secondary mb-1 mr-1" href="#">Business</a>
              <a class="btn btn-sm btn-secondary mb-1 mr-1" href="#">Adventure</a>
              <a class="btn btn-sm btn-secondary mb-1 mr-1" href="#">Community</a>
              <a class="btn btn-sm btn-secondary mb-1 mr-1" href="#">Announcements</a>
              <a class="btn btn-sm btn-secondary mb-1 mr-1" href="#">Tutorials</a>
              <a class="btn btn-sm btn-secondary mb-1 mr-1" href="#">Resources</a>
              <a class="btn btn-sm btn-secondary mb-1 mr-1" href="#">Classic</a>
              <a class="btn btn-sm btn-secondary mb-1 mr-1" href="#">Photography</a>
              <a class="btn btn-sm btn-secondary mb-1 mr-1" href="#">Interview</a>
            </div>
          </div>
          </div>
        </div>
      </div>

      <!-- Pagination -->
      <nav aria-label="Page navigation">
        <ul class="pagination mb-0">
          <li class="page-item active"><a class="page-link" href="#">1</a></li>
          <li class="page-item"><a class="page-link" href="#">2</a></li>
          <li class="page-item disabled"><a class="page-link" href="#">...</a></li>
          <li class="page-item"><a class="page-link" href="#">5</a></li>
          <li class="page-item">
            <a class="page-link" href="#" aria-label="Next">
              <span class="d-none d-sm-inline-block mr-1">Next</span>
              <span aria-hidden="true">»</span>
            </a>
          </li>
        </ul>
      </nav>
      <!-- End Pagination -->
    </div>
  </section>
</template>

<script>

export default {
  /**
  * The name of the page.
  */
  name: 'blog.home'
}
</script>
