<template>
  <side-bar>
    <!-- Main Content -->
    <div class="col-lg-9 mb-4">
      <!-- .card -->
      <div class="card card-fluid">
        <h6 class="card-header"> Public Profile </h6><!-- .card-body -->
        <div class="card-body">
          <!--message-alert :alert="getMessage" /-->
          <!-- form -->
          <ValidationObserver ref="form" v-slot="{ passes }">
            <form @submit.prevent="passes(onSubmit)">
              <div class="form-row">
                  <div class="form-group col-md-12">
                    <ValidationProvider vid="Title" name="Title" v-slot="{ errors }">
                      <label for="model.title" class="control-label">Title</label>
                      <input id="model.title" v-model="model.title" type="text" placeholder="title" class="form-control" />
                      <span>{{ errors[0] }}</span>
                    </ValidationProvider>
                  </div>
                <div class="form-group col-md-6">
                    <ValidationProvider vid="Category" name="Category" v-slot="{ errors }">
                      <label for="model.category" class="control-label">Category</label>
                      <input id="model.category" v-model="model.category" type="text" placeholder="category" class="form-control" />
                      <span>{{ errors[0] }}</span>
                    </ValidationProvider>
                </div>
                  <div class="form-group col-md-6">
                    <ValidationProvider vid="ImagePreviewUrl" name="ImagePreviewUrl" v-slot="{ errors }">
                      <label for="model.imagePreviewUrl" class="control-label">Image preview</label>
                      <input id="model.imagePreviewUrl" v-model="model.imagePreviewUrl" type="text" placeholder="image preview url" class="form-control" />
                      <span>{{ errors[0] }}</span>
                    </ValidationProvider>
                </div>
              </div>
              <hr />
              <div class="form-row">
                <div class=" form-group col-md-12">
                    <ValidationProvider vid="Body" name="size" v-slot="{ errors }">
                      <label for="model.body" class="control-label">Body</label>
                      <quill-editor id="body" class="group_Body" v-model="model.body" />
                      <span>{{ errors[0] }}</span>
                    </ValidationProvider>
                </div>
              </div>
              <hr />

              <div class="form-group">
                <button type="submit" class="btn btn-primary">Create</button>
              </div>
            </form>
          </ValidationObserver>

        </div><!-- /.card-body -->
      </div><!-- /.card -->
      <!-- .card -->
    </div>
    <!-- /.Main Content -->
  </side-bar>
</template>

<script>
// @ is an alias to /src
import SideBar from '@/views/Blog/_Sidebar.vue'
export default {
  /**
  * The name of the page.
  */
  name: 'blog.new',
  /**
  * The data that can be used by the page.
  *
  * @returns {Object} The view-model data.
  */
  data () {
    return {
      content: '',
      model: {
        title: null,
        tags: null,
        body: null,
        imagePreviewUrl: ''
      },
      isLoading: false
    }
  },

  /**
  * The methods the page can use.
  */
  methods: {
    /**
    * Will log the user in.
    *
    * @param {Object} user The user to be logged in.
    */
    onSubmit: function (model) {
      this.isLoading = true
      // Transformer.send(model)
      this.$http.post('/api/blog/new', this.model).then(response => {
        // we clear the loading
        this.isLoading = false
        if (!response.success) {
          this.$refs.form.setErrors(response.data.content)
          // this.$refs.form.setErrors(res.errors);
        }
      }, response => {
        // get failed
        this.response = ''
        this.isLoading = false
      })
    }
  },
  /**
  * The components that the page can use.
  */
  components: {
    SideBar
  }

}
</script>
