﻿<template>
    <!-- Page Content -->
  <section class="mg-t-70">
    <div class="container">

      <bread-crumbs />

      <div class="row justify-content-lg-between">

        <!-- Post Content Column -->
        <div class="col-lg-8">
          <div class="w-lg-100">
            <div class="mb-4">
              <h1 class="h2">Announcing a free plan for small teams</h1>
            </div>

            <!-- Author -->
            <div class="border-top border-bottom py-4 mb-5">
              <div class="row align-items-md-center">
                <div class="col-md-7 mb-5 mb-md-0">
                  <div class="media align-items-center">
                    <div class="avatar avatar-circle">
                      <img class="avatar-img" src="https://gostreamlabs.com/front/assets/img/100x100/img11.jpg" alt="Image Description">
                    </div>
                    <div class="media-body font-size-1 ml-3">
                      <span class="h6"><a href="blog-profile.html">Hanna Wolfe</a> <button type="button" class="btn btn-xs btn-soft-primary font-weight-bold transition-3d-hover py-1 px-2 ml-1">Follow</button></span>
                      <span class="d-block text-muted">July 15, 2018</span>
                    </div>
                  </div>
                </div>
                <div class="col-md-5">
                  <div class="d-flex justify-content-md-end align-items-center">
                    <span class="d-block small font-weight-bold text-cap mr-2">Share:</span>

                    <a class="btn btn-xs btn-icon btn-soft-secondary rounded-circle ml-2" href="#">
                      <i class="fab fa-facebook-f"></i>
                    </a>
                    <a class="btn btn-xs btn-icon btn-soft-secondary rounded-circle ml-2" href="#">
                      <i class="fab fa-twitter"></i>
                    </a>
                    <a class="btn btn-xs btn-icon btn-soft-secondary rounded-circle ml-2" href="#">
                      <i class="fab fa-instagram"></i>
                    </a>
                    <a class="btn btn-xs btn-icon btn-soft-secondary rounded-circle ml-2" href="#">
                      <i class="fab fa-telegram"></i>
                    </a>
                  </div>
                </div>
              </div>
            </div>
            <!-- End Author -->

            <p>At Front, our mission has always been focused on bringing openness and transparency to the design process. We've always believed that by providing a space where designers can share ongoing work not only empowers them to make better products, it also helps them grow. We're proud to be a part of creating a more open culture and to continue building a product that supports this vision.</p>
          </div>

          <div class="my-4 my-sm-8">
            <img class="img-fluid rounded" src="https://gostreamlabs.com/front/assets/img/1920x800/img9.jpg" alt="Image Description">
          </div>

          <div class="w-lg-60 mx-lg-auto">
            <p>As we've grown, we've seen how Front has helped companies such as Spotify, Microsoft, Airbnb, Facebook, and Intercom bring their designers closer together to create amazing things. We've also learned that when the culture of sharing is brought in earlier, the better teams adapt and communicate with one another.</p>

            <p>That's why we are excited to share that we now have a <a href="#">free version of Front</a>, which will allow individual designers, startups and other small teams a chance to create a culture of openness early on.</p>

            <blockquote class="bg-soft-primary border-0 rounded text-center text-dark font-size-2 font-weight-bold text-lh-lg p-5 my-5">
              "I love Front! I love the ease of use, I love the fact that I have total creative freedom..."
              <span class="d-block text-muted font-size-1 mt-2">- Adrian Teh</span>
            </blockquote>

            <h3>Bringing the culture of sharing to everyone</h3>

            <p>We know the power of sharing is real, and we want to create an opportunity for everyone to try Front and explore how transformative open communication can be. Now you can have a team of one or two designers and unlimited spectators (think PMs, management, marketing, etc.) share work and explore the design process earlier.</p>

            <ul class="list-article">
              <li>Front allows us to collaborate in real time and is a really great way for leadership on the team to stay up-to-date with what everybody is working on," <a href="#">said</a> Stewart Scott-Curran, Intercom's Director of Brand Design.</li>
              <li>Front opened a new way of sharing. It's a persistent way for everyone to see and absorb each other's work," said David Scott, Creative Director at <a href="#">Eventbrite</a>.</li>
            </ul>
          </div>

          <div class="my-4 my-sm-8">
            <img class="img-fluid rounded" src="https://gostreamlabs.com/front/assets/img/1920x800/img10.jpg" alt="Image Description">
          </div>

          <div class="w-lg-60 mx-lg-auto">
            <p>Small teams and individual designers need a space where they can watch the design process unfold, both for themselves and for the people they work with – no matter if it's a fellow designer, product manager, developer or client. Front allows you to invite more people into the process, creating a central place for conversation around design. As those teams grow, transparency and collaboration becomes integrated in how they communicate and work together.</p>

            <div class="card bg-img-hero bg-navy text-white text-center p-4 my-4" style="background-image: url(../../assets/svg/components/abstract-shapes-1.svg);">
              <h4 class="text-white mb-3">Like what you're reading? Subscribe to our top stories.</h4>

              <!-- Form -->
              <form class="js-validate w-md-75 mx-md-auto" novalidate="novalidate">
                <div class="js-form-message">
                  <div class="d-flex align-items-center">
                    <label class="sr-only" for="subscribeSrArticle">Subscribe</label>
                    <div class="input-group">
                      <input type="email" class="form-control" id="subscribeSrArticle" placeholder="Your email" aria-label="Your email">
                    </div>
                    <button type="submit" class="btn btn-light ml-3">Submit</button>
                  </div>
                </div>
              </form>
              <!-- End Form -->
            </div>

            <p>We will continue to update <a href="#">Front</a>; if you have any questions or suggestions, please contact us!</p>

            <p>Follow us on <a href="#">Medium</a>, <a href="#">Twitter</a>, <a href="#">Facebook</a>, <a href="#">YouTube</a>, and <a href="#">Dribbble</a>.</p>

            <!-- Badges -->
            <div class="mt-5">
              <a class="btn btn-xs btn-soft-secondary mb-1" href="#">Ecommerce</a>
              <a class="btn btn-xs btn-soft-secondary mb-1" href="#">Website</a>
              <a class="btn btn-xs btn-soft-secondary mb-1" href="#">Bootstrap</a>
              <a class="btn btn-xs btn-soft-secondary mb-1" href="#">Startup</a>
              <a class="btn btn-xs btn-soft-secondary mb-1" href="#">Free</a>
            </div>
            <!-- End Badges -->
            <!-- Share -->
            <div class="row justify-content-sm-between align-items-sm-center mt-5">
              <div class="col-sm-6 mb-2 mb-sm-0">
                <div class="d-flex align-items-center">
                  <span class="d-block small font-weight-bold text-cap mr-2">Share:</span>

                  <a class="btn btn-xs btn-icon btn-ghost-secondary rounded-circle mr-2" href="#">
                    <i class="fab fa-facebook-f"></i>
                  </a>
                  <a class="btn btn-xs btn-icon btn-ghost-secondary rounded-circle mr-2" href="#">
                    <i class="fab fa-twitter"></i>
                  </a>
                  <a class="btn btn-xs btn-icon btn-ghost-secondary rounded-circle mr-2" href="#">
                    <i class="fab fa-instagram"></i>
                  </a>
                  <a class="btn btn-xs btn-icon btn-ghost-secondary rounded-circle mr-2" href="#">
                    <i class="fab fa-telegram"></i>
                  </a>
                </div>
              </div>

              <div class="col-sm-6 text-sm-right">
                <a class="btn btn-xs btn-icon btn-soft-secondary rounded-circle mr-2" href="#" data-toggle="tooltip" data-placement="top" title="" data-original-title="Bookmark story">
                  <i class="far fa-bookmark"></i>
                </a>
                <a class="btn btn-xs btn-icon btn-soft-secondary rounded-circle" href="#" data-toggle="tooltip" data-placement="top" title="" data-original-title="Report story">
                  <i class="far fa-flag"></i>
                </a>
              </div>
            </div>
            <!-- End Share -->
            <!-- Author -->
            <div class="media align-items-center border-top border-bottom py-5 my-8">
              <div class="avatar avatar-circle avatar-xl">
                <img class="avatar-img" src="https://gostreamlabs.com/front/assets/img/100x100/img11.jpg" alt="Image Description">
              </div>
              <div class="media-body ml-3">
                <small class="d-block small font-weight-bold text-cap">Written by</small>
                <h3 class="mb-0"><a href="blog-profile.html">Hanna Wolfe</a> <button type="button" class="btn btn-xs btn-soft-primary font-weight-bold transition-3d-hover py-1 px-2 ml-1">Follow</button></h3>
                <p class="mb-0">I create advanced website builders made exclusively for web developers.</p>
              </div>
            </div>
            <!-- End Author -->

            <div class="pt-2 mb-11">
              <div class="mb-4">
                <h3>3 Comments</h3>
              </div>

              <ul class="list-unstyled">
                <!-- Comment -->
                <li class="mb-5">
                  <div class="media align-items-center mb-2">
                    <div class="avatar avatar-circle mr-3">
                      <img class="avatar-img" src="https://gostreamlabs.com/front/assets/img/100x100/img3.jpg" alt="Image Description">
                    </div>
                    <div class="media-body">
                      <div class="d-flex justify-content-between align-items-center">
                        <span class="h5 mb-0">Dave Austin</span>
                        <small class="text-muted">1 day ago</small>
                      </div>
                    </div>
                  </div>

                  <p>As a Special Education teacher this resonates so well with me. Fighting with gen ed teachers to flatten for the students with learning disabilities. It also confirms some things for me in my writing.</p>

                  <a class="font-weight-bold" href="#">Reply</a>

                  <ul class="list-unstyled mt-5">
                    <!-- Comment -->
                    <li class="mb-5">
                      <div class="border-left border-3 pl-4">
                        <div class="media align-items-center mb-2">
                          <div class="avatar avatar-circle mr-3">
                            <img class="avatar-img" src="https://gostreamlabs.com/front/assets/img/100x100/img11.jpg" alt="Image Description">
                          </div>
                          <div class="media-body">
                            <div class="d-flex justify-content-between align-items-center">
                              <span class="h5 mb-0">Hanna Wolfe</span>
                              <small class="text-muted">1 day ago</small>
                            </div>
                          </div>
                        </div>

                        <p>Love it Dave! We're all about keeping it up.</p>

                        <a class="font-weight-bold" href="#">Reply</a>
                      </div>
                    </li>
                    <!-- End Comment -->
                  </ul>
                </li>
                <!-- End Comment -->
                <!-- Comment -->
                <li class="mb-5">
                  <div class="media align-items-center mb-2">
                    <div class="avatar avatar-circle mr-3">
                      <img class="avatar-img" src="https://gostreamlabs.com/front/assets/img/100x100/img1.jpg" alt="Image Description">
                    </div>
                    <div class="media-body">
                      <div class="d-flex justify-content-between align-items-center">
                        <span class="h5 mb-0">Christina Kray</span>
                        <small class="text-muted">2 days ago</small>
                      </div>
                    </div>
                  </div>
                  <p>dzdfzfezfefezfe .</p>
                  <a class="font-weight-bold" href="#">Reply</a>
                </li>
                <!-- End Comment -->
              </ul>
            </div>

            <div class="mb-5">
              <h3>Post a comment</h3>
            </div>

            <!-- Form -->
            <form class="js-validate" novalidate="novalidate">
              <div class="form-row">
                <div class="col-sm-6 mb-sm-3">
                  <div class="js-form-message form-group">
                    <label class="input-label">Name</label>
                    <input type="text" class="form-control" name="name" id="inputName" placeholder="Name" aria-label="Name" required="" data-msg="Please enter your name.">
                  </div>
                </div>

                <div class="col-sm-6 mb-sm-3">
                  <div class="js-form-message form-group">
                    <label class="input-label">Email</label>
                    <input type="email" class="form-control" name="emailAddress" id="emailAddress" placeholder="Email address" aria-label="Email address" required="" data-msg="Please enter a valid email address.">
                  </div>
                </div>

                <div class="col-12 mb-sm-3">
                  <div class="js-form-message form-group">
                    <label class="input-label">Comment</label>
                    <textarea class="form-control" rows="7" id="descriptionTextarea" placeholder="Comment" required="" data-msg="Please enter your message."></textarea>
                  </div>
                </div>
              </div>

              <div class="d-flex justify-content-center">
                <button type="submit" class="btn btn-primary btn-wide transition-3d-hover">Submit</button>
              </div>
            </form>
            <!-- End Form -->
          </div>
        </div>

        <!-- Sidebar Widgets Column -->
        <div class="col-lg-3">
          <div class="mb-7">
            <div class="mb-3">
              <h3>Newsletter</h3>
            </div>

            <!-- Form -->
            <form class="js-validate mb-2" novalidate="novalidate">
              <label class="sr-only" for="subscribeSr">Subscribe</label>
              <div class="input-group input-group-flush mb-3">
                <input type="email" class="form-control form-control-sm" name="email" id="subscribeSr" placeholder="Your email" aria-label="Your email" required="" data-msg="Please enter a valid email address.">
              </div>
              <button type="submit" class="btn btn-sm btn-primary btn-block">Subscribe</button>
            </form>
            <!-- End Form -->

            <p class="small">Get special offers on the latest developments from Front.</p>
          </div>

          <div class="mb-7">
            <div class="mb-3">
              <h3>Productivity</h3>
            </div>

            <!-- Blog -->
            <article class="mb-3">
              <a class="card card-frame p-3" href="#">
                <div class="media align-items-center">
                  <div class="media-body mr-2">
                    <h4 class="h6 mb-0">Here's how to dodge distractions</h4>
                    <span class="d-block font-size-1 text-body">Feb 08, 2020</span>
                  </div>
                  <i class="fas fa-angle-right"></i>
                </div>
              </a>
            </article>
            <!-- End Blog -->
            <!-- Blog -->
            <article class="mb-3">
              <a class="card card-frame p-3" href="#">
                <div class="media align-items-center">
                  <div class="media-body mr-2">
                    <h4 class="h6 mb-0">Ideas to stay productive</h4>
                    <span class="d-block font-size-1 text-body">Feb 09, 2020</span>
                  </div>
                  <i class="fas fa-angle-right"></i>
                </div>
              </a>
            </article>
            <!-- End Blog -->
            <!-- Blog -->
            <article class="mb-3">
              <a class="card card-frame p-3" href="#">
                <div class="media align-items-center">
                  <div class="media-body mr-2">
                    <h4 class="h6 mb-0">Classic design principles</h4>
                    <span class="d-block font-size-1 text-body">Feb 10, 2020</span>
                  </div>
                  <i class="fas fa-angle-right"></i>
                </div>
              </a>
            </article>
            <!-- End Blog -->
          </div>

          <!-- Sticky Block Start Point -->
          <div id="stickyBlockStartPoint"></div>

          <div class="js-sticky-block" data-hs-sticky-block-options="{
                 &quot;parentSelector&quot;: &quot;#stickyBlockStartPoint&quot;,
                 &quot;breakpoint&quot;: &quot;lg&quot;,
                 &quot;startPoint&quot;: &quot;#stickyBlockStartPoint&quot;,
                 &quot;endPoint&quot;: &quot;#stickyBlockEndPoint&quot;,
                 &quot;stickyOffsetTop&quot;: 40,
                 &quot;stickyOffsetBottom&quot;: 20
               }">
            <div class="mb-7">
              <div class="mb-3">
                <h3>Front culture</h3>
              </div>

              <!-- Blog -->
              <article class="mb-5">
                <div class="media align-items-center text-inherit">
                  <div class="avatar avatar-lg mr-3">
                    <img class="avatar-img" src="https://gostreamlabs.com/front/assets/img/320x320/img1.jpg" alt="Image Description">
                  </div>
                  <div class="media-body">
                    <h4 class="h6 mb-0"><a class="text-inherit" href="#">Announcing a free plan for small teams</a></h4>
                  </div>
                </div>
              </article>
              <!-- End Blog -->
              <!-- Blog -->
              <article class="mb-5">
                <div class="media align-items-center text-inherit">
                  <div class="avatar avatar-lg mr-3">
                    <img class="avatar-img" src="https://gostreamlabs.com/front/assets/img/320x320/img10.jpg" alt="Image Description">
                  </div>
                  <div class="media-body">
                    <h4 class="h6 mb-0"><a class="text-inherit" href="#">Mapping the first family tree for Front office</a></h4>
                  </div>
                </div>
              </article>
              <!-- End Blog -->
              <!-- Blog -->
              <article class="mb-5">
                <div class="media align-items-center text-inherit">
                  <div class="avatar avatar-lg mr-3">
                    <img class="avatar-img" src="https://gostreamlabs.com/front/assets/img/320x320/img9.jpg" alt="Image Description">
                  </div>
                  <div class="media-body">
                    <h4 class="h6 mb-0"><a class="text-inherit" href="#">Felline eyeing first major Classic win in 2018</a></h4>
                  </div>
                </div>
              </article>
              <!-- End Blog -->
            </div>

            <div class="mb-7">
              <div class="mb-3">
                <h3>Tags</h3>
              </div>

              <a class="btn btn-xs btn-soft-secondary mb-1" href="#">Business</a>
              <a class="btn btn-xs btn-soft-secondary mb-1" href="#">Adventure</a>
              <a class="btn btn-xs btn-soft-secondary mb-1" href="#">Community</a>
              <a class="btn btn-xs btn-soft-secondary mb-1" href="#">Announcements</a>
              <a class="btn btn-xs btn-soft-secondary mb-1" href="#">Tutorials</a>
              <a class="btn btn-xs btn-soft-secondary mb-1" href="#">Resources</a>
              <a class="btn btn-xs btn-soft-secondary mb-1" href="#">Classic</a>
              <a class="btn btn-xs btn-soft-secondary mb-1" href="#">Photography</a>
              <a class="btn btn-xs btn-soft-secondary mb-1" href="#">Interview</a>
            </div>
          </div>
        </div>

      </div>
      <!-- /.row -->

    </div>
    <!-- /.container -->
    </section>
</template>

<script>

export default {
  /**
  * The name of the page.
  */
  name: 'blog.show'

}
</script>
