﻿<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">

	<title><%= htmlWebpackPlugin.options.title %></title>

</head>

<body>

  <div id="root"></div>
  @RenderBody()
  @RenderSection("Scripts", required: false)
   <script src="~/weblib.polyfills.min.js"></script>
</body>

</html>