﻿@page "/auth/complete_buy/"

<nav aria-label="breadcrumb" role="navigation" class="">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col">
                <ol class="breadcrumb">
                    <li class="breadcrumb-item">
                        <a href="/">
                            Home
                        </a>
                    </li>
                    <li class="breadcrumb-item active">
                        <a href="/auth/complete_buy/">
                            Complete buying proposal
                        </a>
                    </li>
                </ol>
            </div>
            <!--end of col-->
        </div>
        <!--end of row-->
    </div>
    <!--end of container-->
</nav>
<section>
    <!-- .container -->
    <div class="container">
        <!-- .row -->
        <div class="row justify-content-center">
            <!-- .col-md-6 -->
            <div class="col-12 col-md-10 mb-1 order-md-2">
                <div class="card card-fluid">
                    <h6 class="card-header"> Profile role </h6>
                    <div class="card-body">
                        <div class="container">

                            <div class="pt-2 section-block text-center text-sm-left">
                                <h4>Profile buying proposal</h4>
                                <hr />
                                <form>
                                    <div class="form-row">
                                        <div class="col-md-12">
                                            <div class="form-group">
                                                <label asp-for="Property.Id" class="control-label">Location</label>
                                                <input asp-for="Property.Location" class="form-control" />
                                                <span asp-validation-for="Property.Id" class="text-danger"></span>
                                            </div>
                                        </div>
                                        <div class="col-md-6">
                                            <div class="form-group">
                                                <label asp-for="Property.Id" class="control-label">Adress</label>
                                                <input asp-for="Property.Location" class="form-control" />
                                                <span asp-validation-for="Property.Id" class="text-danger"></span>
                                            </div>
                                        </div>
                                        <div class="col-md-6">
                                            <div class="form-group">
                                                <label asp-for="Property.Id" class="control-label">Postal code</label>
                                                <input asp-for="Property.Location" class="form-control" />
                                                <span asp-validation-for="Property.Id" class="text-danger"></span>
                                            </div>
                                        </div>
                                    </div>
                                    <hr />
                                    <div class="form-row">
                                        <div class="col-md-6">
                                            <div class="form-group">
                                                <label asp-for="Property.Adress" class="control-label">Type of property</label>
                                                <input asp-for="Property.Adress" class="form-control" />
                                                <span asp-validation-for="Property.Type" class="text-danger"></span>
                                            </div>
                                        </div>
                                        <div class="col-md-6">
                                            <div class="form-group">
                                                <label asp-for="Property.Adress" class="control-label">Size of property</label>
                                                <input asp-for="Property.Adress" class="form-control" />
                                                <span asp-validation-for="Property.Type" class="text-danger"></span>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="form-row">
                                        <div class="col-md-4">
                                            <div class="form-group">
                                                <label asp-for="Property.Adress" class="control-label">Price of property</label>
                                                <input asp-for="Property.Adress" class="form-control" />
                                                <span asp-validation-for="Property.Type" class="text-danger"></span>
                                            </div>
                                        </div>
                                        <div class="col-md-4">
                                            <div class="form-group">
                                                <label asp-for="Property.Adress" class="control-label">Bedrooms</label>
                                                <input asp-for="Property.Adress" class="form-control" />
                                                <span asp-validation-for="Property.Type" class="text-danger"></span>
                                            </div>
                                        </div>
                                        <div class="col-md-4">
                                            <div class="form-group">
                                                <label asp-for="Property.Adress" class="control-label">Bathrooms</label>
                                                <input asp-for="Property.Adress" class="form-control" />
                                                <span asp-validation-for="Property.Type" class="text-danger"></span>
                                            </div>
                                        </div>
                                    </div>
                                    <hr />
                                    <div class="form-row">
                                        <div class="col-md-12">
                                            <div class="form-group">
                                                <label asp-for="Property.Adress" class="control-label">Description</label>
                                                <textarea class="form-control" id="exampleFormControlTextarea1" rows="3"></textarea>
                                                <span asp-validation-for="Property.Type" class="text-danger"></span>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="form-row">
                                        <div class="col-md-4">
                                            <div class="form-check">
                                                <input type="checkbox" class="form-check-input" id="exampleCheck1">
                                                <label class="form-check-label" for="exampleCheck1">Check me out</label>
                                            </div>
                                        </div>
                                        <div class="col-md-4">
                                            <div class="form-check">
                                                <input type="checkbox" class="form-check-input" id="exampleCheck1">
                                                <label class="form-check-label" for="exampleCheck1">Check me out</label>
                                            </div>
                                        </div>
                                        <div class="col-md-4">
                                            <div class="form-check">
                                                <input type="checkbox" class="form-check-input" id="exampleCheck1">
                                                <label class="form-check-label" for="exampleCheck1">Check me out</label>
                                            </div>
                                        </div>
                                    </div>


                                    <!--div class="form-row">
                                        <div class="form-group">
                                            <label asp-for="Property.Adress" class="control-label">Status of property</label>
                                            <input asp-for="Property.Adress" class="form-control" />
                                            <span asp-validation-for="Property.Type" class="text-danger"></span>
                                        </div>
                                    </div-->

                                    <div class="form-group">
                                        <label for="exampleInputEmail1">Email address</label>
                                        <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Enter email">
                                        <small id="emailHelp" class="form-text text-muted">We'll never share your email with anyone else.</small>
                                    </div>
                                    <!--<InputFile id="uploadFiles" multiple OnChange="HandleFileSelected" />
                                    @if (selectedFiles != null)
                                    {
                                        foreach (var file in selectedFiles)
                                        {
                                            var isLoading = file.Data.Position > 0;
                                            <div class="file-row">
                                                <div>
                                                    <h2>@file.Name</h2>
                                                    Size: <strong>@file.Size bytes</strong>;
                                                    Last modified: <strong>@file.LastModified.ToShortDateString()</strong>;
                                                    Type: <strong>@file.Type</strong>
                                                    Relative Path: <strong>@file.RelativePath</strong>
                                                </div>
                                            </div>
                                        }
                                    }-->
                                    <div class="form-group">
                                        <input type="submit" value="Create" class="btn btn-primary" />
                                    </div>
                                </form>
                            </div><!-- /.section-block -->

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- /.row -->
</section>

@code {

}


