﻿@page "/auth/complete_rrole/"

<nav aria-label="breadcrumb" role="navigation" class="">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col">
                <ol class="breadcrumb">
                    <li class="breadcrumb-item">
                        <a href="/">
                            Home
                        </a>
                    </li>
                    <li class="breadcrumb-item active">
                        <a href="/auth/complete_information/">
                            Complete roles
                        </a>
                    </li>
                </ol>
            </div>
            <!--end of col-->
        </div>
        <!--end of row-->
    </div>
    <!--end of container-->
</nav>
<section>
    <!-- .container -->
    <div class="container">
        <!-- .row -->
        <div class="row justify-content-center">
            <!-- .col-md-6 -->
            <div class="col-12 col-md-10 mb-1 order-md-2">
                <div class="card card-fluid">
                    <h6 class="card-header"> Profile role </h6>
                    <div class="card-body">
                        <div class="container">

                            <div class="pt-2 section-block text-center text-sm-left">
                                <h4>Profile Role</h4>
                                <hr />



                                <div class="visual-picker visual-picker-lg has-peek">
                                    <!-- visual-picker input -->
                                    <input type="checkbox" id="vpr01" name="vprLG"> <!-- .visual-picker-figure -->
                                    <label class="visual-picker-figure" for="vpr01">
                                        <!-- .visual-picker-content -->
                                        <span class="visual-picker-content"><span class="h3 d-block">Free</span> <span>100GB Disk Space / 2GB Bandwidth</span></span> <!-- /.visual-picker-content -->
                                    </label> <!-- /.visual-picker-figure -->
                                    <!-- .visual-picker-peek -->
                                    <span class="visual-picker-peek">Started</span>
                                </div><!-- /.visual-picker -->
                                <div class="visual-picker visual-picker-lg has-peek">
                                    <!-- visual-picker input -->
                                    <input type="checkbox" id="vpr02" name="vprLG"> <!-- .visual-picker-figure -->
                                    <label class="visual-picker-figure" for="vpr02">
                                        <!-- .visual-picker-content -->
                                        <span class="visual-picker-content"><span class="h3 d-block">Free</span> <span>100GB Disk Space / 2GB Bandwidth</span></span> <!-- /.visual-picker-content -->
                                    </label> <!-- /.visual-picker-figure -->
                                    <!-- .visual-picker-peek -->
                                    <span class="visual-picker-peek">Started</span>
                                </div><!-- /.visual-picker -->
                                <!-- .visual-picker -->
                                <div class="visual-picker visual-picker-lg has-peek">
                                    <!-- visual-picker input -->
                                    <input type="checkbox" id="vpr03" name="vprLG" checked> <!-- .visual-picker-figure -->
                                    <label class="visual-picker-figure" for="vpr03">
                                        <span class="visual-picker-content"><span class="h3 d-block">$49</span> <span>500GB Disk Space / 8GB Bandwidth</span></span> <!-- /.visual-picker-content -->
                                    </label>
                                    <span class="visual-picker-peek">Professional</span>
                                </div>
                                <div class="visual-picker visual-picker-lg has-peek">
                                    <input type="checkbox" id="vpr04" name="vprLG">
                                    <label class="visual-picker-figure" for="vpr04">
                                        <!-- .visual-picker-content -->
                                        <span class="visual-picker-content"><span class="h3 d-block">$99</span> <span>Unlimited Disk Space / Unlimited Bandwidth</span></span> <!-- /.visual-picker-content -->
                                    </label> <!-- /.visual-picker-figure -->
                                    <!-- .visual-picker-peek -->
                                    <span class="visual-picker-peek">Bussiness</span>
                                </div><!-- /.visual-picker -->
                                <!--EditForm EditContext="@_editContext" OnSubmit="@HandleFormSubmit">
        <FluentValidator TValidator="EditAccountPasswordValidator" />



        <div class="row">
            <div class="col-md-3">
                <div class="item">
                    <InputCheckbox @bind-Value="@_profileModel.RoleToCheck" id="answer_1" type="checkbox" />
                    <label for="answer_1">
                        <img src="http://www.ansonika.com/steps/img/seo_icon_1.svg" alt="">
                        <strong>Buyer</strong>
                        Allow user to buy property and create buying proposal
                    </label>
                </div>
            </div>
            <div class="col-md-3">
                <div class="item">
                    <input @bind="@_profileModel.Role" id="answer_2" type="checkbox" name="RoleToCheck" value="tenant" />
                    <label for="answer_2">
                        <img src="http://www.ansonika.com/steps/img/web_development_icon_1.svg" alt="">
                        <strong>Tenant</strong>
                        Allow user to rent property and create renting proposal
                    </label>
                </div>
            </div>
            <div class="col-md-3">
                <div class="item">
                    <input id="answer_3" type="checkbox" name="RoleToCheck" value="Design">
                    <label for="answer_3">
                        <img src="http://www.ansonika.com/steps/img/design_icon_1.svg" alt="" />
                        <strong>Seller</strong>
                        Allow user to sell property and create property for sale
                    </label>
                </div>
            </div>
            <div class="col-md-3">
                <div class="item">
                    <input id="answer_4" type="checkbox" name="RoleToCheck" value="Design">
                    <label for="answer_4">
                        <img src="http://www.ansonika.com/steps/img/design_icon_1.svg" alt="">
                        <strong>Lessor</strong>
                        Allow user to lease property and create property for rent
                    </label>
                </div>
            </div>
        </div>

        <hr />

        <div class="form-group">
            <button type="submit" class="btn btn-primary">Update Password</button>
        </div>
    </EditForm-->
                                <!-- /form -->
                            </div><!-- /.section-block -->

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- /.row -->
</section>



<div class="row">
    <div class="col-md-6">

    </div>
</div>


@code{


}