﻿.breadcrumb {
    display: flex;
    flex-wrap: wrap;
    padding: 1rem 0;
    margin-bottom: 1rem;
    list-style: none;
    background-color: transparent;
    border-radius: 0.25rem;
}

.breadcrumb {
    font-size: .875em;
}

.breadcrumb:last-child {
    margin-bottom: 0;
}

.breadcrumb-item + .breadcrumb-item:before {
    content: '>';
    font-weight: 600;
    font-size: 11px;
    -webkit-transform: scaleX(0.7);
    transform: scaleX(0.7);
    bottom: 1px;
    position: relative;
}

