﻿.btn.loading::after {
    border-bottom-color: #fff;
    border-left-color: #fff;
}

@keyframes loading {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}

.loading {
    color: transparent !important;
    min-height: .8rem;
    pointer-events: none;
    position: relative;
}

.loading::after {
    animation: loading .5s infinite linear;
    border: .1rem solid #5755d9;
    border-radius: 50%;
    border-right-color: transparent;
    border-top-color: transparent;
    content: "";
    display: block;
    height: 1.8rem;
    left: 50%;
    margin-left: -.8rem;
    margin-top: -.8rem;
    position: absolute;
    top: 50%;
    width: 1.8rem;
    z-index: 1;
}

button:active{
  outline: 0 none;
  position: relative;
  top: 1px;
}

button:focus{
  outline: none!important;
}
