input.invalid>.checkbox-wrapper {
  border-radius: 3px 3px 0 0;
  padding-bottom: 20px;
  border: #ee4036 1px solid;
}

input.invalid,
input[type=text].invalid,
input[type=password].invalid,
input[type=email].invalid,
select.invalid {
    border-radius: 3px 3px 0 0;
    border-color: #DC3545;
}

div.validation-message {
  display: block!important;
}

div.validation-message {
  font-size: 11px;
  font-size: .6875rem;
  display: block;
  color: #fff;
  background-color: #ee4036;
  padding: 5px;
  border-radius: 0 0 3px 3px
}
