﻿.menu-bar {
    display: -webkit-box;
    display: -moz-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -webkit-flex-direction: row;
    -ms-flex-direction: row;
    flex-direction: row;
    position: relative;
    color: #85858e
}

.menu-bar ul{
    margin: 0;
    padding: 0;
    list-style: none;
    border-radius: 3px;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px
}

.menu-bar ul li a .arrow {
    position: relative;
    display: -webkit-inline-box;
    display: -webkit-inline-flex;
    display: -ms-inline-flexbox;
    display: inline-flex;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    padding-left: 15px;
    width: 23px
}

.menu-bar ul li a .arrow:before {
    font-size: 16px;
    font-family: FontAwesome;
    height: auto;
    content: "\f104";
    font-weight: 300;
    text-shadow: none;
    position: relative;
    top: 2px;
    -webkit-transform: rotate(-90deg);
    -ms-transform: rotate(-90deg);
    transform: rotate(-90deg);
    -webkit-transition: all .12s ease;
    transition: all .12s ease
}

.menu-bar ul li {
    line-height: 24px
}

.menu-bar ul li .sub-menu {
    padding: 0;
    left: 50%;
    top: 0;
    visibility: hidden;
    opacity: 0;
    min-width: calc(100% + 4px);
    padding: 18px 25px;
    background: #fff;
    z-index: 1;
    position: absolute;
    -webkit-box-shadow: 0 0 16px 0 rgba(0, 0, 0, .08);
    box-shadow: 0 0 16px 0 rgba(0, 0, 0, .08);
    -webkit-transform: translate3d(15px, 0, 0);
    transform: translate3d(15px, 0, 0);
    -ms-transform: translate(15px, 0);
    -webkit-transition: all .15s ease-in;
    transition: all .15s ease-in
}

.menu-bar ul li .sub-menu li a {
    min-width: 50px;
    width: 100%;
    padding: 4px 0;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    display: block
}

.menu-bar ul li:hover > .sub-menu {
    visibility: visible;
    opacity: 1;
    -webkit-transform: translate3d(34%, 0, 0);
    transform: translate3d(34%, 0, 0);
    -ms-transform: translate(34%, 0)
}

.menu-bar > ul {
    display: -webkit-box;
    display: -moz-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-flow: row nowrap;
    flex-flow: row nowrap
}

.menu-bar > ul > li {
    -webkit-box-flex: 1;
    -ms-flex: 1 0 auto;
    flex: 1 0 auto;
    display: -webkit-inline-box;
    display: -webkit-inline-flex;
    display: -ms-inline-flexbox;
    display: inline-flex;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    padding: 0;
    position: relative
}

.menu-bar > ul > li:first-child > a {
    padding-left: 0
}

.menu-bar > ul > li:last-child > a {
    padding-right: 0
}

.menu-bar > ul > li > a {
    padding: 0 20px
}

.menu-bar > ul > li > ul {
    display: none;
    opacity: 0;
    list-style: none;
    border: 0;
    top: -7px;
    left: -4px;
    min-width: calc(100% + 4px);
    padding: 0 25px;
    padding-top: 60px;
    padding-bottom: 18px;
    background: #fff;
    z-index: 1;
    position: absolute;
    -webkit-box-shadow: 0 0 16px 0 rgba(0, 0, 0, .08);
    box-shadow: 0 0 16px 0 rgba(0, 0, 0, .08)
}

.menu-bar > ul > li.open > ul {
    display: block
}

.menu-bar > ul > li.open > ul:before {
    content: '';
    position: absolute;
    height: 1px;
    top: 52px;
    width: calc(100% - 50px);
    background-color: rgba(0, 0, 0, .07)
}

.menu-bar > ul > li.open > ul > li {
    padding-left: 0;
    -webkit-transform: translate3d(0, -10px, 0);
    transform: translate3d(0, -10px, 0);
    -ms-transform: translate(0, -10px);
    opacity: 0;
    transition: all .18s ease;
    border-bottom: none
}

.menu-bar > ul > li.open > ul > li > a {
    min-width: 50px;
    width: 100%;
    padding: 4px 0;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    display: -moz-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
    -ms-flex-pack: justify;
    justify-content: space-between
}

.menu-bar > ul > li.open > ul > li > a > .arrow:before {
    -webkit-transform: rotate(180deg);
    -ms-transform: rotate(180deg);
    transform: rotate(180deg)
}

.menu-bar > ul > li.open > ul > li:last-child > a {
    padding-bottom: 0
}

.menu-bar > ul > li.open > a {
    -webkit-transform: translate3d(0, -10px, 0);
    transform: translate3d(0, -10px, 0);
    -ms-transform: translate(0, -10px);
    opacity: 0;
    transition: all .18s ease !important
}

.menu-bar > ul > li.opening > ul {
    opacity: 1
}

.menu-bar > ul > li.opening > ul > li {
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
    -ms-transform: translate(0, 0);
    opacity: 1
}

.menu-bar > ul > li.opening > a {
    position: relative;
    z-index: 10;
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
    -ms-transform: translate(0, 0);
    opacity: 1
}
