
*,
:after,
:before {
    box-sizing: border-box;
    border: 0 solid #d2d6dc
}




.bg-green-100 {
    background-color: #def7ec
}

.bg-blue-50 {
    background-color: #ebf5ff
}

.bg-blue-100 {
    background-color: #e1effe
}

.bg-blue-500 {
    background-color: #3f83f8
}





.focus\:bg-gray-100:focus {
    background-color: #f4f5f7
}

.focus\:bg-gray-200:focus {
    background-color: #e5e7eb
}

.focus\:bg-blue-100:focus {
    background-color: #e1effe
}

.border-transparent {
    border-color: transparent
}

.border-gray-200 {
    border-color: #e5e7eb
}

.border-orange-500 {
    border-color: #ff5a1f
}

.border-yellow-500 {
    border-color: #c27803
}

.border-green-600 {
    border-color: #057a55
}

.border-blue-500 {
    border-color: #3f83f8
}

.focus\:border-gray-300:focus,
.hover\:border-gray-300:hover {
    border-color: #d2d6dc
}

.focus\:border-blue-700:focus {
    border-color: #1a56db
}


.border {
    border-width: 1px
}

.border-b-2 {
    border-bottom-width: 2px
}

.border-l-4 {
    border-left-width: 4px
}

.border-r {
    border-right-width: 1px
}

.border-b {
    border-bottom-width: 1px
}

.block {
    display: block
}

.inline-block {
    display: inline-block
}

.flex {
    display: flex
}

.inline-flex {
    display: inline-flex
}

.table {
    display: table
}

.hidden {
    display: none
}

.flex-col {
    flex-direction: column
}





.h-16 {
    height: 4rem
}

.h-screen {
    height: 100vh
}



.m-auto {
    margin: auto
}

.mx-4 {
    margin-left: 1rem;
    margin-right: 1rem
}

.my-12 {
    margin-top: 3rem;
    margin-bottom: 3rem
}

.mx-auto {
    margin-left: auto;
    margin-right: auto
}

.ml-0 {
    margin-left: 0
}

.mt-1 {
    margin-top: .25rem
}

.mr-1 {
    margin-right: .25rem
}

.ml-1 {
    margin-left: .25rem
}

.mb-2 {
    margin-bottom: .5rem
}

.ml-2 {
    margin-left: .5rem
}

.mt-4 {
    margin-top: 1rem
}

.mb-4 {
    margin-bottom: 1rem
}

.ml-4 {
    margin-left: 1rem
}

.ml-6 {
    margin-left: 1.5rem
}

.mt-8 {
    margin-top: 2rem
}

.mb-8 {
    margin-bottom: 2rem
}

.ml-8 {
    margin-left: 2rem
}

.mt-12 {
    margin-top: 3rem
}

.mt-16 {
    margin-top: 6rem
}

.max-w-5xl {
    max-width: 64rem
}

.overflow-y-auto {
    overflow-y: auto
}

.p-2 {
    padding: .5rem
}

.p-4 {
    padding: 1rem
}

.px-1 {
    padding-left: .25rem;
    padding-right: .25rem
}

.py-2 {
    padding-top: .5rem;
    padding-bottom: .5rem
}

.py-3 {
    padding-top: .75rem;
    padding-bottom: .75rem
}

.px-3 {
    padding-left: .75rem;
    padding-right: .75rem
}

.py-4 {
    padding-top: 1rem;
    padding-bottom: 1rem
}

.static {
    position: static
}

.fixed {
    position: fixed
}

.relative {
    position: relative
}

.top-0 {
    top: 0
}

.bottom-0 {
    bottom: 0
}




.hover\:text-black:hover {
    color: #000
}

.hover\:text-gray-500:hover {
    color: #6b7280
}

.hover\:text-gray-700:hover {
    color: #374151
}

.hover\:text-gray-800:hover {
    color: #252f3f
}

.hover\:text-gray-900:hover {
    color: #161e2e
}

.focus\:text-gray-500:focus {
    color: #6b7280
}

.focus\:text-gray-700:focus {
    color: #374151
}

.focus\:text-gray-800:focus {
    color: #252f3f
}

.focus\:text-blue-800:focus {
    color: #1e429f
}

.text-xs {
    font-size: .75rem
}


.w-32 {
    width: 8rem
}

.w-64 {
    width: 16rem
}

.w-auto {
    width: auto
}

.z-10 {
    z-index: 10
}




@media (min-width:768px) {
    .md\:block {
        display: block
    }

    .md\:flex {
        display: flex
    }

    .md\:hidden {
        display: none
    }

    .md\:flex-row {
        flex-direction: row
    }

    .md\:items-center {
        align-items: center
    }

    .md\:justify-between {
        justify-content: space-between
    }

    .md\:flex-grow-0 {
        flex-grow: 0
    }

    .md\:order-1 {
        order: 1
    }

    .md\:order-2 {
        order: 2
    }

    .md\:float-left {
        float: left
    }

    .md\:mx-0 {
        margin-left: 0;
        margin-right: 0
    }

    .md\:-my-px {
        margin-top: -1px;
        margin-bottom: -1px
    }

    .md\:mt-0 {
        margin-top: 0
    }

    .md\:mr-4 {
        margin-right: 1rem
    }

    .md\:ml-4 {
        margin-left: 1rem
    }

    .md\:ml-64 {
        margin-left: 16rem
    }

    .md\:px-0 {
        padding-left: 0;
        padding-right: 0
    }

    .md\:px-6 {
        padding-left: 1.5rem;
        padding-right: 1.5rem
    }

    .md\:pl-0 {
        padding-left: 0
    }

    .md\:w-1\/2 {
        width: 50%
    }
}
