﻿.or-separator {
    margin: 20px 0px
}

.or-separator > div {
    flex: 1;
    height: 1px;
    background-color: rgba(0,0,0,.1);
}

.or-separator i {
    padding: 3px;
    font-size: 18px;
    color: #6f6f6f
}
