.user-avatar-floated {
    margin-top: -50%;
    box-shadow: 0 0 0 2px #fff;
    z-index: 2
}

    .user-avatar-floated.user-avatar-xl {
        box-shadow: 0 0 0 3px #fff
    }

    .user-avatar-floated.user-avatar-xxl {
        box-shadow: 0 0 0 4px #fff
    }

.avatar-group {
    display: inline-block
}

    .avatar-group .user-avatar {
        box-shadow: 0 0 0 2px #fff
    }

        .avatar-group .user-avatar:focus,
        .avatar-group .user-avatar:hover {
            z-index: 2
        }

        .avatar-group .user-avatar + .user-avatar {
            display: inline-block;
            margin-left: -.5em
        }

.avatar-group-animated .user-avatar:first-child {
    -webkit-animation: avatarAnimatedStart 1s;
    animation: avatarAnimatedStart 1s
}

.avatar-group-animated .user-avatar:nth-child(2) {
    -webkit-animation: avatarAnimated .75s;
    animation: avatarAnimated .75s
}

.avatar-group-animated .user-avatar:nth-child(3) {
    -webkit-animation: avatarAnimated 1s;
    animation: avatarAnimated 1s
}

.avatar-group-animated .user-avatar:nth-child(4) {
    -webkit-animation: avatarAnimated 1.25s;
    animation: avatarAnimated 1.25s
}

.avatar-group-animated .user-avatar:nth-child(5) {
    -webkit-animation: avatarAnimated 1.5s;
    animation: avatarAnimated 1.5s
}

.avatar-group-animated .tile {
    -webkit-animation: avatarAnimatedEnd 1.5s;
    animation: avatarAnimatedEnd 1.5s
}

@-webkit-keyframes avatarAnimatedStart {
    0% {
        opacity: 0
    }

    to {
        opacity: 1
    }
}

@keyframes avatarAnimatedStart {
    0% {
        opacity: 0
    }

    to {
        opacity: 1
    }
}

@-webkit-keyframes avatarAnimated {
    0% {
        opacity: 0;
        transform: translateX(-100%)
    }

    25% {
        opacity: 0;
        transform: translateX(-75%)
    }

    to {
        opacity: 1;
        transform: translateX(0)
    }
}

@keyframes avatarAnimated {
    0% {
        opacity: 0;
        transform: translateX(-100%)
    }

    25% {
        opacity: 0;
        transform: translateX(-75%)
    }

    to {
        opacity: 1;
        transform: translateX(0)
    }
}

@-webkit-keyframes avatarAnimatedEnd {
    0% {
        opacity: 0;
        transform: translateX(100%)
    }

    25% {
        opacity: 0;
        transform: translateX(75%)
    }

    to {
        opacity: 1;
        transform: translateX(0)
    }
}

@keyframes avatarAnimatedEnd {
    0% {
        opacity: 0;
        transform: translateX(100%)
    }

    25% {
        opacity: 0;
        transform: translateX(75%)
    }

    to {
        opacity: 1;
        transform: translateX(0)
    }
}

.avatar-badge {
    position: absolute;
    right: 1px;
    bottom: 0;
    display: block;
    width: 8px;
    height: 8px;
    line-height: 1;
    text-align: center;
    font-size: 8px;
    color: #fff;
    background-color: #a6abbd;
    border-radius: 8px;
    box-shadow: 0 0 0 2px #fff;
    z-index: 2
}

    .avatar-badge.has-indicator {
        width: 10px;
        height: 10px
    }

    .avatar-badge.online {
        background-color: #00a28a
    }

    .avatar-badge.idle {
        background-color: #ec935e
    }

    .avatar-badge.busy {
        background-color: #ea6759
    }

    .avatar-badge.offline {
        color: #a6abbd;
        background-color: #a6abbd
    }

    .avatar-badge .fa {
        line-height: 10px
    }

.mention {
    padding: 0 .125rem;
    font-size: 87.5%;
    font-weight: 500;
    background-color: rgba(52, 108, 176, .08);
    border-radius: .25rem;
    word-break: break-word
}

.mention,
a.mention {
    color: #346cb0
}

    a.mention:hover {
        color: #285489;
        text-decoration: none
    }

.hashtag {
    font-weight: 500
}

.event {
    padding: .25rem .5rem;
    border-radius: 0;
    background-color: rgba(246, 247, 249, .08);
    border: solid #f6f7f9;
    border-width: 0 0 0 3px
}

a.event:focus,
a.event:hover {
    background-color: rgba(246, 247, 249, .12);
    text-decoration: none
}

.event.event-primary {
    color: #2e609c;
    background-color: rgba(52, 108, 176, .08);
    border-color: #346cb0
}

a.event.event-primary:focus,
a.event.event-primary:hover {
    background-color: rgba(52, 108, 176, .12)
}

.event.event-secondary {
    color: #e7e9ef;
    background-color: rgba(246, 247, 249, .08);
    border-color: #f6f7f9
}

a.event.event-secondary:focus,
a.event.event-secondary:hover {
    background-color: rgba(246, 247, 249, .12)
}

.event.event-success {
    color: #008974;
    background-color: rgba(0, 162, 138, .08);
    border-color: #00a28a
}

a.event.event-success:focus,
a.event.event-success:hover {
    background-color: rgba(0, 162, 138, .12)
}

.event.event-info {
    color: #01678f;
    background-color: rgba(1, 121, 168, .08);
    border-color: #0179a8
}

a.event.event-info:focus,
a.event.event-info:hover {
    background-color: rgba(1, 121, 168, .12)
}

.event.event-warning {
    color: #f6ba54;
    background-color: rgba(247, 196, 108, .08);
    border-color: #f7c46c
}

a.event.event-warning:focus,
a.event.event-warning:hover {
    background-color: rgba(247, 196, 108, .12)
}

.event.event-danger {
    color: #af5a98;
    background-color: rgba(183, 107, 163, .08);
    border-color: #b76ba3
}

a.event.event-danger:focus,
a.event.event-danger:hover {
    background-color: rgba(183, 107, 163, .12)
}

.event.event-light {
    color: #e7e9ef;
    background-color: rgba(246, 247, 249, .08);
    border-color: #f6f7f9
}

a.event.event-light:focus,
a.event.event-light:hover {
    background-color: rgba(246, 247, 249, .12)
}

.event.event-dark {
    color: #171721;
    background-color: rgba(34, 34, 48, .08);
    border-color: #222230
}

a.event.event-dark:focus,
a.event.event-dark:hover {
    background-color: rgba(34, 34, 48, .12)
}

.event-blue {
    color: #01678f;
    background-color: rgba(1, 121, 168, .08);
    border-color: #0179a8
}

a.event-blue:focus,
a.event-blue:hover {
    background-color: rgba(1, 121, 168, .12)
}

.event-indigo {
    color: #2e609c;
    background-color: rgba(52, 108, 176, .08);
    border-color: #346cb0
}

a.event-indigo:focus,
a.event-indigo:hover {
    background-color: rgba(52, 108, 176, .12)
}

.event-purple {
    color: #54427a;
    background-color: rgba(95, 75, 139, .08);
    border-color: #5f4b8b
}

a.event-purple:focus,
a.event-purple:hover {
    background-color: rgba(95, 75, 139, .12)
}

.event-pink {
    color: #af5a98;
    background-color: rgba(183, 107, 163, .08);
    border-color: #b76ba3
}

a.event-pink:focus,
a.event-pink:hover {
    background-color: rgba(183, 107, 163, .12)
}

.event-red {
    color: #e75242;
    background-color: rgba(234, 103, 89, .08);
    border-color: #ea6759
}

a.event-red:focus,
a.event-red:hover {
    background-color: rgba(234, 103, 89, .12)
}

.event-orange {
    color: #e98447;
    background-color: rgba(236, 147, 94, .08);
    border-color: #ec935e
}

a.event-orange:focus,
a.event-orange:hover {
    background-color: rgba(236, 147, 94, .12)
}

.event-yellow {
    color: #f6ba54;
    background-color: rgba(247, 196, 108, .08);
    border-color: #f7c46c
}

a.event-yellow:focus,
a.event-yellow:hover {
    background-color: rgba(247, 196, 108, .12)
}

.event-green {
    color: #99be85;
    background-color: rgba(167, 199, 150, .08);
    border-color: #a7c796
}

a.event-green:focus,
a.event-green:hover {
    background-color: rgba(167, 199, 150, .12)
}

.event-teal {
    color: #008974;
    background-color: rgba(0, 162, 138, .08);
    border-color: #00a28a
}

a.event-teal:focus,
a.event-teal:hover {
    background-color: rgba(0, 162, 138, .12)
}

.event-cyan {
    color: #30768d;
    background-color: rgba(54, 134, 160, .08);
    border-color: #3686a0
}

a.event-cyan:focus,
a.event-cyan:hover {
    background-color: rgba(54, 134, 160, .12)
}

.event-white {
    color: #f2f2f2;
    background-color: hsla(0, 0%, 100%, .08);
    border-color: #fff
}




.hamburger-sm .hamburger-inner {
    transform: scale(.8)
}

.hamburger.focus,
.hamburger:focus,
.hamburger:hover {
    background-color: hsla(0, 0%, 100%, .05);
    outline: 0
}

.hamburger:active {
    background-color: rgba(20, 20, 31, .05)
}

.hamburger-box {
    width: 1.25rem;
    height: 1.25rem;
    display: inline-block;
    position: relative
}

.hamburger-inner {
    display: block;
    top: 50%;
    margin-top: -1px
}




.visual-picker {
    position: relative;
    display: inline-block;
    margin-bottom: 1rem
}

.visual-picker-sm .visual-picker-figure {
    width: 4rem;
    height: 4rem
}

    .visual-picker-sm .visual-picker-figure:after {
        content: ""
    }

.visual-picker-lg .visual-picker-figure {
    width: 12rem;
    height: 12rem
}

    .visual-picker-lg .visual-picker-figure:after {
        top: 1rem;
        right: 1rem;
        font-size: 1.25rem
    }

.visual-picker-fluid,
.visual-picker-fluid .visual-picker-figure {
    width: 100%
}

.visual-picker.has-peek {
    padding-bottom: 1.5rem
}

    .visual-picker.has-peek .visual-picker-figure {
        margin-bottom: .5em
    }

.visual-picker:focus .visual-picker-figure,
.visual-picker:hover .visual-picker-figure {
    box-shadow: inset 0 0 0 2px #346cb0, 0 0 0 1px rgba(20, 20, 31, .05), 0 1px 3px 0 rgba(20, 20, 31, .15)
}

.visual-picker input[type=checkbox],
.visual-picker input[type=radio] {
    width: 1px;
    height: 1px;
    border: 0;
    clip: rect(0 0 0 0);
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute
}

    .visual-picker input[type=checkbox]:checked ~ .visual-picker-figure,
    .visual-picker input[type=radio]:checked ~ .visual-picker-figure {
        box-shadow: inset 0 0 0 2px #346cb0, 0 0 0 1px rgba(20, 20, 31, .05), 0 1px 3px 0 rgba(20, 20, 31, .15)
    }

        .visual-picker input[type=checkbox]:checked ~ .visual-picker-figure:after,
        .visual-picker input[type=radio]:checked ~ .visual-picker-figure:after {
            opacity: 1
        }

    .visual-picker input[type=checkbox]:focus ~ .visual-picker-figure,
    .visual-picker input[type=radio]:focus ~ .visual-picker-figure {
        box-shadow: inset 0 0 0 2px #346cb0, 0 0 0 1px rgba(20, 20, 31, .05), 0 1px 3px 0 rgba(20, 20, 31, .15)
    }

.visual-picker-figure {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 8rem;
    height: 8rem;
    color: #363642;
    background-color: #fff;
    border-radius: .25rem;
    cursor: pointer;
    box-shadow: 0 0 0 1px rgba(20, 20, 31, .05), 0 1px 3px 0 rgba(20, 20, 31, .15);
    transition: box-shadow .2s
}

    .visual-picker-figure:after {
        font-family: Font Awesome\ 5 Free;
        content: "\f058";
        position: absolute;
        top: .5rem;
        right: .5rem;
        -moz-osx-font-smoothing: grayscale;
        -webkit-font-smoothing: antialiased;
        display: inline-block;
        font-style: normal;
        font-weight: 900;
        font-size: 1rem;
        font-variant: normal;
        color: #346cb0;
        text-rendering: auto;
        line-height: 1;
        opacity: 0;
        transition: opacity .2s
    }

.visual-picker-content {
    display: block;
    padding: 0 .5rem;
    font-size: .75rem;
    text-align: center
}

.visual-picker-peek {
    position: absolute;
    left: 0;
    right: 0;
    display: block;
    text-align: center;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap
}

a.visual-picker {
    color: #363642
}

    a.visual-picker:focus,
    a.visual-picker:hover {
        outline: 0;
        color: #363642;
        text-decoration: none
    }

.publisher {
    display: flex;
    width: 100%
}

    .publisher .publisher-label,
    .publisher .publisher-tools {
        display: none
    }

    .publisher.focus {
        display: flex;
        flex-direction: column
    }

        .publisher.focus .publisher-input,
        .publisher.focus .publisher-label,
        .publisher.focus .publisher-tools {
            display: block
        }

        .publisher.focus .publisher-input {
            margin-bottom: .5em;
            padding-right: 0;
            width: 100%
        }

            .publisher.focus .publisher-input .form-control {
                height: auto
            }

    .publisher .btn-link {
        color: #888c9b
    }

        .publisher .btn-link:focus,
        .publisher .btn-link:hover {
            color: #222230
        }

    .publisher .user-avatar {
        width: 2.25rem;
        height: 2.25rem
    }

@media (min-width:768px) {
    .publisher .user-avatar {
        width: 2.25rem;
        height: 2.25rem
    }
}

.publisher-input {
    padding-right: 12px;
    width: 100%
}

    .publisher-input .form-control {
        height: 2.25rem;
        resize: none
    }

@media (min-width:768px) {
    .publisher-input .form-control {
        height: 2.25rem
    }
}

.publisher-actions {
    display: flex
}



.card-metric {
    text-align: center;
    background-color: #fff;
    border: none;
    border-radius: .25rem;
    box-shadow: 0 0 0 1px rgba(20, 20, 31, .05), 0 1px 3px 0 rgba(20, 20, 31, .15)
}

.list-group-messages.list-group-bordered .list-group-item {
    border-color: rgba(34, 34, 48, .075)
}

.list-group-messages .list-group-item {
    padding-top: 1.25rem;
    padding-bottom: 1.25rem;
    background-color: transparent
}

.list-group-messages .list-group-item-body,
.list-group-messages .list-group-item-figure {
    align-self: flex-start
}

.list-group-messages .unread .list-group-item-subtitle,
.list-group-messages .unread .list-group-item-title {
    font-weight: 600
}

.list-group-messages .read .list-group-item-subtitle,
.list-group-messages .read .list-group-item-title {
    color: #888c9b
}

.message {
    display: flex;
    flex-direction: column;
    height: 100%
}

.message-header {
    position: relative;
    padding: .5rem .5rem .5rem .25rem;
    display: flex;
    align-items: center;
    height: 3.5rem;
    background-color: #fff;
    box-shadow: 0 1px 0 0 rgba(20, 20, 31, .075);
    z-index: 5
}

@media (min-width:768px) {
    .message-header {
        padding: .5rem
    }
}

.message-header-actions {
    margin-left: auto;
    min-width: 92px;
    text-align: right
}

.message-title {
    margin: 0 .5rem;
    font-size: 1rem;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden
}

.message-body {
    padding: 0;
    flex: 1;
    overflow-y: auto
}

@media (min-width:576px) {
    .message-body {
        padding: 1.5rem 1rem
    }
}

@media (min-width:992px) {
    .message-body {
        padding-right: 2rem;
        padding-left: 2rem
    }
}

.message-publisher {
    position: relative;
    padding: .5rem;
    background-color: #fff;
    box-shadow: 0 -1px 0 0 rgba(20, 20, 31, .075);
    z-index: 1
}

    .message-publisher .input-group {
        border: 0;
        background-color: transparent;
        box-shadow: none
    }

        .message-publisher .input-group.focus {
            box-shadow: none
        }
