﻿img {
    max-width: 100%;
}

    img:not(.tns-lazy-img), .lazyload img {
        height: auto;
    }

.autoHeight img {
    width: 100%;
}

.img {
    font-size: 100px;
    font-weight: 100;
    color: #fff;
    text-align: center;
}

    .img a {
        display: block;
        padding: 22% 0;
        color: inherit;
        text-decoration: none;
    }

.visually-hidden {
    position: fixed;
    left: -10000px;
    opacity: 0;
}




.nav-toggle-handle {
    position: fixed;
    transition: left 0.25s;
    left: 0;
    top: 0;
    z-index: 100;
    padding: 10px;
    color: #fff;
    background-color: #af23ff;
    cursor: pointer;
}

    .nav-toggle-handle:before {
        display: none;
        padding-right: 5px;
        content: '◄';
        font-size: 0.8em;
    }

    .nav-toggle-handle:after {
        padding-left: 5px;
        content: '►';
        font-size: 0.8em;
    }


.customize-tools {
    position: relative;
}


.thumbnails li {
    width: 50px;
}

.thumbnails img {
    vertical-align: bottom;
    height: auto;
    max-height: 50px;
}

.controls {
    text-align: center;
}

    .controls li {
        display: block;
        position: absolute;
        top: 50%;
        height: 60px;
        line-height: 60px;
        margin-top: -30px;
        padding: 0 15px;
        cursor: pointer;
        transition: background 0.3s;
    }

        .controls li img {
            display: inline-block;
            vertical-align: middle;
        }

    .controls .prev {
        left: 0;
    }

    .controls .next {
        right: 0;
    }

    .controls li:hover {
        background: #f2f2f2;
    }
