<template>
  <side-bar>
    <!-- Main Content -->
    <div class="mb-4">
        <h4>Featured</h4>
        <hr />
          <ValidationObserver ref="form" v-slot="{ passes }">
            <form @submit.prevent="passes(onSubmit)">
              <div class="form-row">
                <div class="form-group col-md-12">
                  <ValidationProvider vid="Location" name="Title" v-slot="{ errors }">
                    <label for="model.location" class="control-label">Location</label>
                    <multiselect v-model="selected" :options="options" />
                    <span>{{ errors[0] }}</span>
                  </ValidationProvider>
                </div>
                <div class="form-group col-md-6">
                  <ValidationProvider vid="Title" name="Title" v-slot="{ errors }">
                    <label for="model.Id" class="control-label">Urgency of proposal</label>
                    <input for="model.Location" type="text" placeholder="Urgency" class="form-control" />
                    <span>{{ errors[0] }}</span>
                  </ValidationProvider>
                </div>
                <div class="form-group col-md-6">
                  <ValidationProvider vid="Title" name="Title" v-slot="{ errors }">
                    <label for="model.Id" class="control-label">Age of property</label>
                    <input for="model.Location" type="text" placeholder="Age of property" class="form-control" />
                    <span>{{ errors[0] }}</span>
                  </ValidationProvider>
                </div>
              </div>
              <hr />
              <div class="form-row">
                <div class="form-group col-md-4">
                  <ValidationProvider vid="Title" name="Title" v-slot="{ errors }">
                    <label for="model.Id" class="control-label">Size of property</label>
                    <input for="model.Location" type="text" placeholder="Size of property" class="form-control" />
                    <span>{{ errors[0] }}</span>
                  </ValidationProvider>
                </div>
                <div class="form-group col-md-4">
                  <ValidationProvider vid="Bedrooms" name="Title" v-slot="{ errors }">
                    <label for="model.bedrooms" class="control-label">Bedrooms</label>
                    <input for="model.bedrooms" type="text" placeholder="Bedrooms" class="form-control" />
                    <span>{{ errors[0] }}</span>
                  </ValidationProvider>
                </div>
                <div class="form-group col-md-4">
                  <ValidationProvider vid="Title" name="Title" v-slot="{ errors }">
                    <label for="model.bathrooms" class="control-label">Bathrooms</label>
                    <input for="model.bathrooms" type="text" placeholder="Bathrooms" class="form-control" />
                    <span>{{ errors[0] }}</span>
                  </ValidationProvider>
                </div>
              </div>
              <div class="form-row">
                <div class="form-group col-md-6">
                  <ValidationProvider vid="Title" name="Title" v-slot="{ errors }">
                    <label for="model.priceMinimum" class="control-label">Price minimum</label>
                    <input for="model.priceMinimum" type="text" placeholder="Price minimum" class="form-control" />
                    <span>{{ errors[0] }}</span>
                  </ValidationProvider>
                </div>
                <div class="col-md-6">
                  <div class="form-group">
                    <ValidationProvider vid="Title" name="Title" v-slot="{ errors }">
                      <label for="model.priceMaximum" class="control-label">Price maximum</label>
                      <input for="model.priceMaximum" type="text" placeholder="Price maximum" class="form-control" />
                      <span>{{ errors[0] }}</span>
                    </ValidationProvider>
                  </div>
                </div>
              </div>
              <hr />

              <div class="form-group">
                <ValidationProvider vid="Characteristics" name="Characteristics" v-slot="{ errors }">
                  <label>Characteristics</label>
                  <div class="form-row">
                    <div class="col-md-4">
                      <div class="form-check">
                        <input type="checkbox" class="form-check-input" id="exampleCheck1">
                        <label class="form-check-label" for="exampleCheck1">Check me out</label>
                      </div>
                    </div>
                    <div class="col-md-4">
                      <div class="form-check">
                        <input type="checkbox" class="form-check-input" id="exampleCheck2">
                        <label class="form-check-label" for="exampleCheck2">Check me out</label>
                      </div>
                    </div>
                    <div class="col-md-4">
                      <div class="form-check">
                        <input type="checkbox" class="form-check-input" id="exampleCheck3">
                        <label class="form-check-label" for="exampleCheck3">Check me out</label>
                      </div>
                    </div>
                  </div>
                  <span>{{ errors[0] }}</span>
                </ValidationProvider>
              </div>
              <hr />
              <div class="form-group">
                <button type="submit" class="btn btn-primary">Save changes</button>
              </div>
            </form>
          </ValidationObserver>
          <!-- /form -->
        </div>
    <!-- /.Main Content -->
  </side-bar>
</template>

<script>
// @ is an alias to /src
import SideBar from '@/views/Sell/_Sidebar.vue'
export default {
  data () {
    return {
      selected: null,
      options: ['list', 'of', 'options'],
      model: {
        // location: [],
        urgency: '',
        ageOfProperty: '',
        size: null,
        categoryOfProperty: 'for_sale'
        /* priceMinimum: null,
        priceMaximum: null,
        bedrooms: '',
        bathrooms: '',
        typeOfProperties: [] */
      }
    }
  },
  /**
  * The name of the page.
  */
  name: 'sell.new',

  /**
  * The methods the page can use.
  */
  methods: {
    /**
    * Will log the user in.
    *
    * @param {Object} user The user to be logged in.
    */
    onSubmit: function (model) {
      this.isLoading = true
      // Transformer.send(model)
      this.$http.post('/api/sell/new', this.model).then(response => {
        // we clear the loading
        this.isLoading = false
        if (!response.success) {
          this.$refs.form.setErrors(response.data.content)
          // this.$refs.form.setErrors(res.errors);
        }
      }, response => {
        // get failed
        this.response = ''
        this.isLoading = false
      })
    }
  },
  /**
  * The components that the page can use.
  */
  components: {
    SideBar
  }

}
</script>
