﻿@inject AuthenticationStateProvider AuthState
@inject BlazorServerAuthStateCache Cache

<header class="header pos-fixed z-index-10 t-0 wd-100p">
    <div class="header-section shadow-base">
        <nav class="navbar navbar-expand-lg navbar-light bg-white pd-0">
            <div class="container">
                <div class="d-flex align-items-center">
                    <a class="navbar-brand navbar-brand-font" href="/">
                        vone +
                    </a>
                    <a href="changelog.html">
                        <span class="badge badge-soft-primary ml-2">v1.0</span>
                    </a>
                </div>
                <button class="navbar-toggler collapsed" type="button" data-toggle="collapse" data-target="#navbarsExample09" aria-controls="navbarsExample09" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <!-- Nav Links -->
                <ul class="nav nav-classic nav-sm border-0 ml-5 mr-auto">
                    <li class="nav-item">
                        <NavLink class="nav-link d-flex align-items-center px-2 px-sm-3" href="/" Match="NavLinkMatch.All">
                            Home
                        </NavLink>
                    </li>
                    <li class="nav-item">
                        <NavLink class="nav-link d-flex align-items-center px-2 px-sm-3" href="/about/">
                            About
                        </NavLink>
                    </li>
                    <li class="nav-item">
                        <NavLink class="nav-link d-flex align-items-center px-2 px-sm-3" href="/concept/">
                            Concept
                        </NavLink>
                    </li>
                    <li class="nav-item">
                        <NavLink class="nav-link d-flex align-items-center px-2 px-sm-3" href="/advantage/">
                            Advantage
                        </NavLink>
                    </li>
                    <li class="nav-item">
                        <NavLink class="nav-link d-flex align-items-center px-2 px-sm-3" href="/relationship/">
                            Relationship
                        </NavLink>
                    </li>
                    <li class="nav-item">
                        <NavLink class="nav-link d-flex align-items-center px-2 px-sm-3" href="/blogs/">
                            Blogs
                        </NavLink>
                    </li>
                    <li class="nav-item">
                        <NavLink class="nav-link d-flex align-items-center px-2 px-sm-3" href="/privacy/">
                            Privacy
                        </NavLink>
                    </li>
                </ul>
                <div class="navbar-right">
                    <NavLink class="btn btn-outline-success mr-2" href="/auth/login/">Login</NavLink>
                    <NavLink class="btn btn-success" href="/auth/register/">Register</NavLink>
                </div>
                <!--div class="navbar-collapse collapse" id="navbarsExample09" style="">
                    <ul class="navbar-nav mr-auto">
                        <li class="nav-item active">
                            <a class="nav-link" href="#">Home <span class="sr-only">(current)</span></a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="#">Link</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link disabled" href="#" tabindex="-1" aria-disabled="true">Disabled</a>
                        </li>
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle" href="#" id="dropdown09" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Dropdown</a>
                            <div class="dropdown-menu" aria-labelledby="dropdown09">
                                <a class="dropdown-item" href="#">Action</a>
                                <a class="dropdown-item" href="#">Another action</a>
                                <a class="dropdown-item" href="#">Something else here</a>
                            </div>
                        </li>
                    </ul>
                    <form class="form-inline my-2 my-md-0">
                        <input class="form-control" type="text" placeholder="Search" aria-label="Search">
                    </form>
                </div-->
            </div>
        </nav>
    </div>
</header>

<!--nav class="navbar navbar-expand-lg navbar-dark bg-dark fixed-top">
    <div class="container">
        <a class="navbar-brand" href="/">VonePlus</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarResponsive">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item">
                    <NavLink class="nav-link d-flex align-items-center px-2 px-sm-3" href="/" Match="NavLinkMatch.All">
                        Home
                    </NavLink>
                </li>
                <li class="nav-item">
                    <NavLink class="nav-link d-flex align-items-center px-2 px-sm-3" href="/about/">
                        About
                    </NavLink>
                </li>
                <li class="nav-item">
                    <NavLink class="nav-link d-flex align-items-center px-2 px-sm-3" href="/concept/">
                        Concept
                    </NavLink>
                </li>
                <li class="nav-item">
                    <NavLink class="nav-link d-flex align-items-center px-2 px-sm-3" href="/advantage/">
                        Advantage
                    </NavLink>
                </li>
                <li class="nav-item">
                    <NavLink class="nav-link d-flex align-items-center px-2 px-sm-3" href="/relationship/">
                        Relationship
                    </NavLink>
                </li>
                <li class="nav-item">
                    <NavLink class="nav-link d-flex align-items-center px-2 px-sm-3" href="/blog/">
                        Blogs
                    </NavLink>
                </li>
                <li class="nav-item">
                    <NavLink class="nav-link d-flex align-items-center px-2 px-sm-3" href="/privacy/">
                        Privacy
                    </NavLink>
                </li>
            </ul>
            <div class="form-inline my-2 my-lg-0">
                <AuthorizeView>
                    <Authorized>
                        <span>Hello, @Username!</span>
                    </Authorized>
                    <NotAuthorized>
                        <a href="/login/" class="btn btn-success my-2 my-sm-0 mr-2" type="submit">Login</a>
                        <a href="/register/" class="btn btn-outline-success my-2 my-sm-0" type="submit">Register</a>
                    </NotAuthorized>
                </AuthorizeView>

            </div>
        </div>
    </div>
</nav-->

@code {
    private bool collapseNavMenu = true;
    private string Username = "";

    private string NavMenuCssClass => collapseNavMenu ? "collapse" : null;

    protected override async Task OnInitializedAsync()
    {

        var state = await AuthState.GetAuthenticationStateAsync();

        Username = state.User.Claims
            .Where(c => c.Type.Equals("name"))
            .Select(c => c.Value)
            .FirstOrDefault() ?? string.Empty;

        await base.OnInitializedAsync();
    }

    private void ToggleNavMenu()
    {
        collapseNavMenu = !collapseNavMenu;
    }
}
