﻿<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="robots" content="noindex">
    <meta name="googlebot" content="noindex">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width,initial-scale=1.0">
    <link rel="icon" href="<%= BASE_URL %>favicon.ico">
    <title>@ViewData["Title"]</title>
    <% for (index in htmlWebpackPlugin.files.css) { %>
    <link rel="stylesheet" href="~<%= htmlWebpackPlugin.files.css[index] %>" />
    <% } %>
</head>
<body>
    <noscript>
        <strong>We're sorry but doesn't work properly without JavaScript enabled. Please enable it to continue.</strong>
    </noscript>
    @RenderBody()
    <% for (index in htmlWebpackPlugin.files.js) { %>
    <script src="~<%= htmlWebpackPlugin.files.js[index] %>" asp-append-version="true" data-turbolinks-track="reload" data-turbolinks-suppress-warning=""></script>
    <% } %>
    @RenderSection("Scripts", required: false)
</body>
</html>