﻿@page "/help/"
 
<nav aria-label="breadcrumb" role="navigation" class="">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col">
                <ol class="breadcrumb">
                    <li class="breadcrumb-item">
                        <a href="/">
                            Home
                        </a>
                    </li>
                    <li class="breadcrumb-item active">
                        <a href="/privacy/">
                            Privacy policy
                        </a>
                    </li>
                </ol>
            </div>
            <!--end of col-->
        </div>
        <!--end of row-->
    </div>
    <!--end of container-->
</nav>
<section>
    <div class="bg-light">
        <div class="container">
            <div class="row justify-content-md-between">
                <div class="col-md-6 space-2 space-top-lg-5 space-bottom-lg-3">
                    <div class="mb-5">
                        <h1>How can we help?</h1>
                    </div>

                    <!-- Input -->
                    <form class="input-group input-group-merge mb-3">
                        <div class="input-group-prepend">
                            <span class="input-group-text" id="askQuestions">
                                <i class="fas fa-search"></i>
                            </span>
                        </div>
                        <input type="search" class="form-control" placeholder="Search the knowledge base..." aria-label="Search the knowledge base..." aria-describedby="askQuestions">
                    </form>
                    <!-- End Input -->
                    <!-- Text/Links -->
                    <p class="font-size-1 text-dark">
                        Popular help topics:
                        <a class="font-weight-bold" href="#">pricing,</a>
                        <a class="font-weight-bold ml-1" href="#">upgrade,</a>
                        <a class="font-weight-bold ml-1" href="#">hosting,</a>
                        <a class="font-weight-bold ml-1" href="#">membership</a>
                    </p>
                    <!-- End Text/Links -->
                </div>

                <div class="col-md-5 align-self-md-end d-none d-md-inline-block">
                    <!-- SVG Icon -->
                    <figure class="mb-n3">
                        <img class="img-fluid" src="https://streamlabs.nyc3.cdn.digitaloceanspaces.com/assets/svg/illustrations/knowledgebase-community-1.svg" alt="Image Description">
                    </figure>
                    <!-- End SVG Icon -->
                </div>
            </div>
        </div>
    </div>
</section>
<section>
    <div class="container">
        <div class="border-bottom space-2 space-lg-3">
            <div class="row">
                <div class="col-lg-6 mb-3 mb-lg-5">
                    <a class="card card-frame h-100" href="listing.html">
                        <div class="card-body">
                            <!-- Icon Block -->
                            <div class="media d-block d-sm-flex">
                                <figure class="w-100 max-w-8rem mb-2 mb-sm-0 mr-sm-4">
                                    <img class="img-fluid" src="https://streamlabs.nyc3.cdn.digitaloceanspaces.com/assets/svg/icons/icon-1.svg" alt="SVG">
                                </figure>
                                <div class="media-body">
                                    <h2 class="h3">Getting started</h2>
                                    <p class="font-size-1 text-body">Welcome to Front! We're so glad you're here. Let's get started!</p>

                                    <div class="media">
                                        <!-- Contributors List -->
                                        <div class="avatar-group mr-2">
                                            <div class="avatar avatar-xs avatar-circle">
                                                <img class="avatar-img" src="https://streamlabs.nyc3.cdn.digitaloceanspaces.com/assets/img/100x100/img1.jpg" alt="Image Description">
                                            </div>
                                            <div class="avatar avatar-xs avatar-circle">
                                                <img class="avatar-img" src="https://streamlabs.nyc3.cdn.digitaloceanspaces.com/assets/img/100x100/img8.jpg" alt="Image Description">
                                            </div>
                                        </div>
                                        <!-- End Contributors List -->

                                        <div class="media-body">
                                            <!-- Article Authors -->
                                            <small class="d-block text-dark">1 article in this collection</small>
                                            <small class="d-block text-dark">
                                                <span class="text-muted">Written by</span>
                                                Luisa Woodfine
                                                <span class="text-muted">and</span>
                                                Neil Galavan
                                            </small>
                                            <!-- End Article Authors -->
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <!-- End Icon Block -->
                        </div>
                    </a>
                </div>

                <div class="col-lg-6 mb-3 mb-lg-5">
                    <a class="card card-frame h-100" href="listing.html">
                        <div class="card-body">
                            <!-- Icon Block -->
                            <div class="media d-block d-sm-flex">
                                <figure class="w-100 max-w-8rem mb-2 mb-sm-0 mr-sm-4">
                                    <img class="img-fluid" src="https://streamlabs.nyc3.cdn.digitaloceanspaces.com/assets/svg/icons/icon-46.svg" alt="SVG">
                                </figure>
                                <div class="media-body">
                                    <h3>Account</h3>
                                    <p class="font-size-1 text-body">Adjust your profile and preferences to make Front work just for you!</p>

                                    <div class="media">
                                        <!-- Contributors List -->
                                        <div class="avatar-group mr-2">
                                            <div class="avatar avatar-xs avatar-circle">
                                                <img class="avatar-img" src="https://streamlabs.nyc3.cdn.digitaloceanspaces.com/assets/img/100x100/img2.jpg" alt="Image Description">
                                            </div>
                                            <div class="avatar avatar-xs avatar-circle">
                                                <img class="avatar-img" src="https://streamlabs.nyc3.cdn.digitaloceanspaces.com/assets/img/100x100/img8.jpg" alt="Image Description">
                                            </div>
                                        </div>
                                        <!-- End Contributors List -->

                                        <div class="media-body">
                                            <!-- Article Authors -->
                                            <small class="d-block text-dark">2 article in this collection</small>
                                            <small class="d-block text-dark">
                                                <span class="text-muted">Written by</span>
                                                Fiona Burke, Luisa Woodfine
                                                <span class="text-muted">and</span>
                                                Neil Galavan
                                            </small>
                                            <!-- End Article Authors -->
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <!-- End Icon Block -->
                        </div>
                    </a>
                </div>
            </div>

            <div class="row">
                <div class="col-lg-6 mb-3 mb-lg-5">
                    <a class="card card-frame h-100" href="listing.html">
                        <div class="card-body">
                            <!-- Icon Block -->
                            <div class="media d-block d-sm-flex">
                                <figure class="w-100 max-w-8rem mb-2 mb-sm-0 mr-sm-4">
                                    <img class="img-fluid" src="https://streamlabs.nyc3.cdn.digitaloceanspaces.com/assets/svg/icons/icon-47.svg" alt="SVG">
                                </figure>
                                <div class="media-body">
                                    <h3>Data security</h3>
                                    <p class="font-size-1 text-body">Detailed information on how our customer data is securely stored.</p>

                                    <div class="media">
                                        <!-- Contributors List -->
                                        <div class="avatar-group mr-2">
                                            <div class="avatar avatar-xs avatar-circle">
                                                <img class="avatar-img" src="https://streamlabs.nyc3.cdn.digitaloceanspaces.com/assets/img/100x100/img10.jpg" alt="Image Description">
                                            </div>
                                            <div class="avatar avatar-xs avatar-circle">
                                                <img class="avatar-img" src="https://streamlabs.nyc3.cdn.digitaloceanspaces.com/assets/img/100x100/img4.jpg" alt="Image Description">
                                            </div>
                                        </div>
                                        <!-- End Contributors List -->

                                        <div class="media-body">
                                            <!-- Article Authors -->
                                            <small class="d-block text-dark">5 article in this collection</small>
                                            <small class="d-block text-dark">
                                                <span class="text-muted">Written by</span>
                                                Fiona Burke, Luisa Woodfine, Neil Galavan
                                                <span class="text-muted">and</span>
                                                Monica Garcia
                                            </small>
                                            <!-- End Article Authors -->
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <!-- End Icon Block -->
                        </div>
                    </a>
                </div>

                <div class="col-lg-6 mb-3 mb-lg-5">
                    <a class="card card-frame h-100" href="listing.html">
                        <div class="card-body">
                            <!-- Icon Block -->
                            <div class="media d-block d-sm-flex">
                                <figure class="w-100 max-w-8rem mb-2 mb-sm-0 mr-sm-4">
                                    <img class="img-fluid" src="https://streamlabs.nyc3.cdn.digitaloceanspaces.com/assets/svg/icons/icon-52.svg" alt="SVG">
                                </figure>
                                <div class="media-body">
                                    <h3>Market</h3>
                                    <p class="font-size-1 text-body">Some further explanation on when Front can and cannot be used.</p>

                                    <div class="media">
                                        <!-- Contributors List -->
                                        <div class="avatar-group mr-2">
                                            <div class="avatar avatar-xs avatar-circle">
                                                <img class="avatar-img" src="https://streamlabs.nyc3.cdn.digitaloceanspaces.com/assets/img/100x100/img9.jpg" alt="Image Description">
                                            </div>
                                        </div>
                                        <!-- End Contributors List -->

                                        <div class="media-body">
                                            <!-- Article Authors -->
                                            <small class="d-block text-dark">3 article in this collection</small>
                                            <small class="d-block text-dark">
                                                <span class="text-muted">Written by</span>
                                                Luisa Woodfine
                                            </small>
                                            <!-- End Article Authors -->
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <!-- End Icon Block -->
                        </div>
                    </a>
                </div>
            </div>

            <div class="row">
                <div class="col-lg-6 mb-3 mb-lg-5">
                    <a class="card card-frame h-100" href="listing.html">
                        <div class="card-body">
                            <!-- Icon Block -->
                            <div class="media d-block d-sm-flex">
                                <figure class="w-100 max-w-8rem mb-2 mb-sm-0 mr-sm-4">
                                    <img class="img-fluid" src="https://streamlabs.nyc3.cdn.digitaloceanspaces.com/assets/svg/icons/icon-39.svg" alt="SVG">
                                </figure>
                                <div class="media-body">
                                    <h3>Subscription</h3>
                                    <p class="font-size-1 text-body">Assistance on how and when you might use the subscription product.</p>

                                    <div class="media">
                                        <!-- Contributors List -->
                                        <div class="avatar-group mr-2">
                                            <div class="avatar avatar-xs avatar-circle">
                                                <img class="avatar-img" src="https://streamlabs.nyc3.cdn.digitaloceanspaces.com/assets/img/100x100/img10.jpg" alt="Image Description">
                                            </div>
                                            <div class="avatar avatar-xs avatar-circle">
                                                <img class="avatar-img" src="https://streamlabs.nyc3.cdn.digitaloceanspaces.com/assets/img/100x100/img9.jpg" alt="Image Description">
                                            </div>
                                        </div>
                                        <!-- End Contributors List -->

                                        <div class="media-body">
                                            <!-- Article Authors -->
                                            <small class="d-block text-dark">2 article in this collection</small>
                                            <small class="d-block text-dark">
                                                <span class="text-muted">Written by</span>
                                                Fiona Burke, Luisa Woodfine
                                                <span class="text-muted">and</span>
                                                Neil Galavan
                                            </small>
                                            <!-- End Article Authors -->
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <!-- End Icon Block -->
                        </div>
                    </a>
                </div>

                <div class="col-lg-6 mb-3 mb-lg-5">
                    <a class="card card-frame h-100" href="listing.html">
                        <div class="card-body">
                            <!-- Icon Block -->
                            <div class="media d-block d-sm-flex">
                                <figure class="w-100 max-w-8rem mb-2 mb-sm-0 mr-sm-4">
                                    <img class="img-fluid" src="https://streamlabs.nyc3.cdn.digitaloceanspaces.com/assets/svg/icons/icon-24.svg" alt="SVG">
                                </figure>
                                <div class="media-body">
                                    <h3>Tips, tricks &amp; more</h3>
                                    <p class="font-size-1 text-body">Tips and tools for beginners and experts alike.</p>

                                    <div class="media">
                                        <!-- Contributors List -->
                                        <div class="avatar-group mr-2">
                                            <div class="avatar avatar-xs avatar-circle">
                                                <img class="avatar-img" src="https://streamlabs.nyc3.cdn.digitaloceanspaces.com/assets/img/100x100/img2.jpg" alt="Image Description">
                                            </div>
                                            <div class="avatar avatar-xs avatar-circle">
                                                <img class="avatar-img" src="https://streamlabs.nyc3.cdn.digitaloceanspaces.com/assets/img/100x100/img4.jpg" alt="Image Description">
                                            </div>
                                        </div>
                                        <!-- End Contributors List -->

                                        <div class="media-body">
                                            <!-- Article Authors -->
                                            <small class="d-block text-dark">1 article in this collection</small>
                                            <small class="d-block text-dark">
                                                <span class="text-muted">Written by</span>
                                                Luisa Woodfine
                                                <span class="text-muted">and</span>
                                                Monica Garcia
                                            </small>
                                            <!-- End Article Authors -->
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <!-- End Icon Block -->
                        </div>
                    </a>
                </div>
            </div>

            <div class="text-center mt-3 mt-md-9">
                <a class="btn btn-primary transition-3d-hover" href="#">See all Topics</a>
            </div>
        </div>
    </div>
</section>
<section>
    <div class="container space-2 space-lg-3">
        <div class="row">
            <div class="col-md-4 mb-5 mb-md-0">
                <!-- SVG Icon -->
                <figure class="w-100 max-w-8rem mb-4">
                    <img class="img-fluid" src="https://streamlabs.nyc3.cdn.digitaloceanspaces.com/assets/svg/icons/icon-21.svg" alt="SVG">
                </figure>
                <!-- End SVG Icon -->

                <div class="mb-4">
                    <h3>Featured articles</h3>
                </div>

                <ul class="list-unstyled list-article">
                    <li><a class="link-underline" href="article-description.html">What is Front?</a></li>
                    <li><a class="link-underline" href="article-description.html">Getting started for workspace creators</a></li>
                    <li><a class="link-underline" href="article-description.html">Edit your profile</a></li>
                    <li><a class="link-underline" href="article-description.html">View and download invoices</a></li>
                    <li><a class="font-weight-bold" href="#">See all</a></li>
                </ul>
            </div>

            <div class="col-md-4 mb-5 mb-md-0">
                <!-- SVG Icon -->
                <figure class="w-100 max-w-8rem mb-4">
                    <img class="img-fluid" src="https://streamlabs.nyc3.cdn.digitaloceanspaces.com/assets/svg/icons/icon-2.svg" alt="SVG">
                </figure>
                <!-- End SVG Icon -->

                <div class="mb-4">
                    <h3>Most helpful articles</h3>
                </div>

                <ul class="list-unstyled list-article">
                    <li><a class="link-underline" href="article-description.html">Working in Front</a></li>
                    <li><a class="link-underline" href="article-description.html">Delete a page</a></li>
                    <li><a class="link-underline" href="article-description.html">Add an app to your workspace</a></li>
                    <li><a class="link-underline" href="article-description.html">What is Item Support?</a></li>
                    <li><a class="font-weight-bold" href="#">See all</a></li>
                </ul>
            </div>

            <div class="col-md-4">
                <!-- SVG Icon -->
                <figure class="w-100 max-w-8rem mb-4">
                    <img class="img-fluid" src="https://streamlabs.nyc3.cdn.digitaloceanspaces.com/assets/svg/icons/icon-4.svg" alt="SVG">
                </figure>
                <!-- End SVG Icon -->

                <div class="mb-4">
                    <h3>Popular forum topics</h3>
                </div>

                <ul class="list-unstyled list-article">
                    <li><a class="link-underline" href="article-description.html">Getting started for new members</a></li>
                    <li><a class="link-underline" href="article-description.html">Invite new members to your workspace</a></li>
                    <li><a class="link-underline" href="article-description.html">Bundled Plugins</a></li>
                    <li><a class="font-weight-bold" href="#">See all</a></li>
                </ul>
            </div>
        </div>
    </div>
</section>