﻿@page "/buy/{Id:int}"
@page "/rent/{Id:int}"

@inject HttpClient Http

<section class="bg-white space-sm">
    <div class="container">
        <div class="row justify-content-between">
            <div class="col">
                <div class="media align-items-center">
                    <img alt="Image" src="assets/img/graphic-product-pipeline-thumb.jpg" class="avatar avatar-lg avatar-square rounded" />
                    <div class="media-body">
                        <h1 class="mb-0">Pipeline UX Overhaul</h1>
                        <h2 class="lead mb-2">Redevelopment of all facets of user experience</h2>
                        <div class="d-flex align-items-center">
                            <span class="badge badge-success mr-3">On Track</span>
                            <ul class="list-inline text-small d-inline-block">
                                <li class="list-inline-item"><i class="icon-user mr-1"></i> 4</li>
                                <li class="list-inline-item"><i class="icon-message mr-1"></i> 19</li>
                                <li class="list-inline-item"><i class="icon-attachment mr-1"></i> 12</li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
            <!--end of col-->
            <div class="col-auto">
                <button class="btn btn-outline-secondary">
                    <i class="socicon-github mr-1"></i> Repository
                    <span class="badge badge-secondary">+5</span>
                </button>
                <button class="btn btn-outline-secondary"><i class="icon-download mr-1"></i> Download</button>
            </div>
            <!--end of col-->
        </div>
        <!--end of row-->
    </div>
    <!--end of container-->
</section>
<!--end of section-->
<section class="bg-white space-sm flush-with-above">
    <div class="container">
        <div class="row mb-3">
            <div class="col">
                <div class="progress">
                    <div class="progress-bar bg-success opacity-50" role="progressbar" style="width: 25%" aria-valuenow="15" aria-valuemin="0" aria-valuemax="100"></div>
                    <div class="progress-bar bg-success" role="progressbar" style="width: 25%" aria-valuenow="30" aria-valuemin="0" aria-valuemax="100"></div>
                </div>
            </div>
            <!--end of col-->
        </div>
        <!--end of row-->
        <div class="row text-center">
            <div class="col opacity-50">
                <span>Branding</span>
                <br>
                <small class="text-muted"><i class="icon-check mr-1"></i>Completed: 24th March</small>
            </div>
            <!--end of col-->
            <div class="col">
                <span>Prototypes</span>
                <br>
                <small class="text-muted"><i class="icon-calendar mr-1"></i>Due: 3rd April</small>
            </div>
            <!--end of col-->
            <div class="col">
                <span>Development</span>
                <br>
                <small class="text-muted"><i class="icon-calendar mr-1"></i>Due: 19th April</small>
            </div>
            <!--end of col-->
            <div class="col">
                <span>Delivery</span>
                <br>
                <small class="text-muted"><i class="icon-calendar mr-1"></i>Due: 31st April</small>
            </div>
            <!--end of col-->
        </div>
        <!--end of row-->
    </div>
    <!--end of container-->
</section>
<!--end of section-->
<section class="space-sm">
    <div class="container">
        <div class="row justify-content-between">
            <div class="col-12 col-md-8">
                <div class="alert alert-primary d-flex justify-content-between align-items-center" role="alert">
                    <span>
                        <i class="icon-bell mr-2"></i>The client is awaiting a progress report
                    </span>
                    <button class="btn btn-primary">Prepare Now</button>
                </div>
                <hr>
                <div class="card">
                    <div class="card-header bg-secondary">
                        <button class="btn btn-secondary" type="button" data-target="#comment-reply" data-toggle="collapse" aria-expanded="false" aria-controls="comment-reply">Post a reply</button>
                    </div>
                    <div class="collapse" id="comment-reply">
                        <form class="card-body">
                            <div class="form-group">
                                <textarea class="form-control from-control-lg" id="comment-reply-text" name="comment-reply" rows="4" placeholder="Type your reply here"></textarea>
                            </div>
                            <div class="mb-2">
                                <div class="custom-control custom-checkbox">
                                    <input type="checkbox" class="custom-control-input" name="notify-reply" id="check-notify">
                                    <label class="custom-control-label text-small" for="check-notify">Notify me when someone replies</label>
                                </div>
                            </div>
                            <div class="d-flex align-items-center">
                                <button type="submit" class="btn btn-success mr-3">Submit reply</button>
                                <a href="#comment-reply" class="text-small text-muted" data-toggle="collapse" aria-expanded="true" aria-controls="comment-reply">Cancel</a>
                            </div>
                        </form>
                    </div>
                    <ul class="list-group list-group-flush list-group-comments">

                        <li class="list-group-item py-4">
                            <div class="media">
                                <img alt="Image" src="assets/img/avatar-female-2.jpg" class="avatar avatar-sm" />
                                <div class="media-body">
                                    <div class="mb-2">
                                        <span class="h6 mb-0">Kelly Fraiser</span>
                                        <span class="text-muted">Making awesome products</span>
                                    </div>
                                    <p>
                                        Neque porro quisquam est, qui dolorem ipsum quia dolor sit amet, consectetur, adipisci velit, sed quia non numquam eius modi tempora incidunt ut labore et dolore magnam aliquam quaerat voluptatem.
                                    </p>

                                    <div class="alert alert-warning" role="alert">
                                        <div>
                                            <i class="icon-attachment mr-1"></i>
                                            <a href="#">pipeline_initial_prototypes.sketch</a>
                                        </div>
                                        <small>Sketch Document, 462kb</small>
                                    </div>

                                    <div class="d-flex align-items-center">
                                        <div class="mr-2">
                                            <button class="btn btn-sm btn-outline-primary">Reply</button>
                                            <button class="btn btn-sm btn-outline-primary"><i class="icon-thumbs-up"></i>&nbsp;(2)</button>
                                        </div>
                                        <small class="text-muted">1st Dec 2017 • 10:15am</small>
                                    </div>
                                </div>
                            </div>

                        </li>

                        <li class="list-group-item py-4">
                            <div class="media">
                                <img alt="Image" src="assets/img/avatar-male-6.jpg" class="avatar avatar-sm" />
                                <div class="media-body">
                                    <div class="mb-2">
                                        <span class="h6 mb-0">Tim Lester</span>
                                        <span class="text-muted">Interface Designe Squanch</span>
                                    </div>
                                    <p>
                                        Nemo enim ipsam voluptatem quia voluptas sit aspernatur aut odit aut fugit, sed quia consequuntur magni dolores eos qui ratione voluptatem sequi nesciunt.
                                    </p>

                                    <div class="d-flex align-items-center">
                                        <div class="mr-2">
                                            <button class="btn btn-sm btn-outline-primary">Reply</button>
                                            <button class="btn btn-sm btn-outline-primary">
                                                <i class="icon-thumbs-up"></i>
                                            </button>
                                        </div>
                                        <small class="text-muted">1st Dec 2017 • 10:15am</small>
                                    </div>
                                </div>
                            </div>

                            <div class="media">
                                <img alt="Image" src="assets/img/avatar-female-5.jpg" class="avatar avatar-sm" />
                                <div class="media-body">
                                    <div class="mb-2">
                                        <span class="h6 mb-0">Carly Pemberton</span>
                                        <span class="text-muted">Freelance Product Engineer</span>
                                    </div>
                                    <p>
                                        Omnis voluptas assumenda est, omnis dolor repellendus. Temporibus autem quibusdam et aut officiis debitis aut rerum necessitatibus
                                    </p>
                                    <div class="d-flex align-items-center">
                                        <div class="mr-2">
                                            <button class="btn btn-sm btn-outline-primary">Reply</button>
                                            <button class="btn btn-sm btn-outline-primary"><i class="icon-thumbs-up"></i>(4)</button>
                                        </div>
                                        <small class="text-muted">1st Dec 2017 • 10:15am</small>
                                    </div>
                                </div>
                            </div>

                            <div class="media">
                                <img alt="Image" src="assets/img/graphic-product-paydar-thumb.jpg" class="avatar avatar-sm" />
                                <div class="media-body">
                                    <div class="mb-2">
                                        <span class="h6 mb-0">Luke Carol</span>
                                        <span class="text-muted">Product Designer</span>
                                    </div>
                                    <p>
                                        Adipisci velit, sed quia non numquam eius modi tempora
                                    </p>
                                    <div class="d-flex align-items-center">
                                        <div class="mr-2">
                                            <button class="btn btn-sm btn-outline-primary">Reply</button>
                                            <button class="btn btn-sm btn-outline-primary">
                                                <i class="icon-thumbs-up"></i>
                                            </button>
                                        </div>
                                        <small class="text-muted">1st Dec 2017 • 10:15am</small>
                                    </div>
                                </div>
                            </div>

                        </li>

                        <li class="list-group-item bg-secondary d-flex justify-content-center py-5">
                            <div class="d-flex align-items-center">
                                <i class="icon-progress-two h1 text-success mb-0 mr-3"></i>
                                <div>
                                    <span>Project progressed to Prototypes</span>
                                    <small class="d-block text-muted">by Pip Thompson on 3rd April 2018</small>
                                </div>
                            </div>
                        </li>

                        <li class="list-group-item py-4">
                            <div class="media">
                                <img alt="Image" src="assets/img/avatar-male-3.jpg" class="avatar avatar-sm" />
                                <div class="media-body">
                                    <div class="mb-2">
                                        <span class="h6 mb-0">Pip Thompson</span>
                                        <span class="text-muted">Development at Kin</span>
                                    </div>
                                    <p>
                                        Natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto
                                    </p>

                                    <div class="alert alert-warning" role="alert">
                                        <div>
                                            <i class="icon-attachment mr-1"></i>
                                            <a href="#">Pipeline-Branding-Package-Final.zip</a>
                                        </div>
                                        <small>Archive, 1.2mb</small>
                                    </div>

                                    <div class="d-flex align-items-center">
                                        <div class="mr-2">
                                            <button class="btn btn-sm btn-outline-primary">Reply</button>
                                            <button class="btn btn-sm btn-outline-primary"><i class="icon-thumbs-up"></i>&nbsp;(1)</button>
                                        </div>
                                        <small class="text-muted">1st Dec 2017 • 10:15am</small>
                                    </div>
                                </div>
                            </div>

                        </li>

                        <li class="list-group-item py-4">
                            <div class="media">
                                <img alt="Image" src="assets/img/avatar-male-1.jpg" class="avatar avatar-sm" />
                                <div class="media-body">
                                    <div class="mb-2">
                                        <span class="h6 mb-0">Daniel Cameron</span>
                                        <span class="text-muted">Industrial Designer at Kin</span>
                                    </div>
                                    <p>
                                        Nam HTML tempore, cum soluta nobis est eligendi optio cumque nihil impedit quo minus id quod maxime placeat facere possimus, omnis voluptas assumenda est
                                    </p>

                                    <div class="d-flex align-items-center">
                                        <div class="mr-2">
                                            <button class="btn btn-sm btn-outline-primary">Reply</button>
                                            <button class="btn btn-sm btn-outline-primary"><i class="icon-thumbs-up"></i>&nbsp;(1)</button>
                                        </div>
                                        <small class="text-muted">1st Dec 2017 • 10:15am</small>
                                    </div>
                                </div>
                            </div>

                        </li>

                        <li class="list-group-item bg-secondary d-flex justify-content-center py-5">
                            <div class="d-flex align-items-center">
                                <i class="icon-progress-one h1 text-success mb-0 mr-3"></i>
                                <div>
                                    <span>Project progressed to Branding</span>
                                    <small class="d-block text-muted">by Daniel Cameron on 24th March 2018</small>
                                </div>
                            </div>
                        </li>
                    </ul>
                </div>
            </div>
            <!--end of col-->
            <div class="col-12 col-md-4">
                <div class="card">
                    <ul class="list-group list-group-flush">
                        <li class="list-group-item">
                            <div class="d-flex justify-content-between">
                                <div><i class="icon-text-document mr-1"></i> Created</div>
                                <span>17/11/2017</span>
                            </div>
                        </li>
                        <li class="list-group-item">
                            <div class="d-flex justify-content-between">
                                <div><i class="icon-edit mr-1"></i> Last updated</div>
                                <span>23/12/2017</span>
                            </div>
                        </li>
                        <li class="list-group-item">
                            <div class="d-flex justify-content-between">
                                <div><i class="icon-thumbs-up mr-1"></i> Likes</div>
                                <span>214</span>
                            </div>
                        </li>
                        <li class="list-group-item">
                            <div class="d-flex justify-content-between">
                                <div><i class="icon-share mr-1"></i> Shares</div>
                                <span>52</span>
                            </div>
                        </li>
                    </ul>
                </div>
                <div class="card">
                    <div class="card-header d-flex justify-content-between">
                        <div>
                            <span class="h6">Project Members</span>
                        </div>
                        <a href="#">View all &rsaquo;</a>
                    </div>
                    <div class="card-body">
                        <ul class="list-unstyled list-spacing-sm">

                            <li>
                                <a class="media" href="#">
                                    <img alt="Image" src="assets/img/avatar-male-1.jpg" class="avatar avatar-sm mr-3" />
                                    <div class="media-body">
                                        <span class="h6 mb-0">Daniel Cameron</span>
                                        <span class="text-muted">Product Designer</span>
                                    </div>
                                </a>
                            </li>

                            <li>
                                <a class="media" href="#">
                                    <img alt="Image" src="assets/img/avatar-female-1.jpg" class="avatar avatar-sm mr-3" />
                                    <div class="media-body">
                                        <span class="h6 mb-0">Caitlyn Halsy</span>
                                        <span class="text-muted">Marketing Professional</span>
                                    </div>
                                </a>
                            </li>

                            <li>
                                <a class="media" href="#">
                                    <img alt="Image" src="assets/img/avatar-male-2.jpg" class="avatar avatar-sm mr-3" />
                                    <div class="media-body">
                                        <span class="h6 mb-0">Toby Marsh</span>
                                        <span class="text-muted">Developer</span>
                                    </div>
                                </a>
                            </li>

                            <li>
                                <a class="media" href="#">
                                    <img alt="Image" src="assets/img/avatar-female-2.jpg" class="avatar avatar-sm mr-3" />
                                    <div class="media-body">
                                        <span class="h6 mb-0">Lucille Freebody</span>
                                        <span class="text-muted">Graphic Designer</span>
                                    </div>
                                </a>
                            </li>

                        </ul>
                    </div>
                </div>
                <!-- end card -->
            </div>
            <!--end of col-->
        </div>
        <!--end of row-->
    </div>
    <!--end of container-->
</section>
<!--end of section-->


@code {
    [Parameter]
    public int Id { get; set; }

    /*private ProposalModelView _proposal;
    private bool _loading = true;
    private bool _found = true;

    protected override async Task OnInitializedAsync()
    {
        await GetProposal(Id);
    }

    public async Task GetProposal(int _id)
    {
        try
        {
            _proposal = await Http.GetFromJsonAsync<ProposalModelView>($"api/proposals/{_id}");
        }
        catch (Exception e)
        {
            _found = false;
        }

        _loading = false;
    }*/

}
