﻿@page "/"
@namespace WebBlazorApp.Pages
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
@{
    Layout = null;
}

@model _HostAuthModel

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>WebBlazorApp</title>
    <base href="/app" />
    <link rel="stylesheet" href="css/bootstrap/bootstrap.min.css" />
    <!--link href="css/site.css" rel="stylesheet" /-->

    <!-- Font -->
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:400,600&display=swap" rel="stylesheet">

    <!-- CSS Implementing Plugins -->
    <!--link rel="stylesheet" href="https://gostreamlabs.com/front/assets/vendor/font-awesome/css/all.min.css">
    <link rel="stylesheet" href="https://gostreamlabs.com/front/assets/hs-mega-menu/dist/hs-mega-menu.min.css">
    <link rel="stylesheet" href="https://gostreamlabs.com/front/assets/vendor/select2/dist/css/select2.min.css"-->

    <!-- CSS Front Template -->
    <!--link rel="stylesheet" href="https://gostreamlabs.com/front/assets/css/theme.css">
    <link rel="stylesheet" href="https://uselooper.com/assets/stylesheets/theme.min.css">
    <link rel="stylesheet" href="~/css/main.css">
    <link rel="stylesheet" href="~/css/bracket.css"-->
</head>
<body>
    <app>
        <component type="typeof(App)" render-mode="ServerPrerendered" />
    </app>

    <div id="blazor-error-ui">
        <environment include="Staging,Production">
            An error has occurred. This application may no longer respond until reloaded.
        </environment>
        <environment include="Development">
            An unhandled exception has occurred. See browser dev tools for details.
        </environment>
        <a href="" class="reload">Reload</a>
        <a class="dismiss">🗙</a>
    </div>

    <script src="_framework/blazor.server.js"></script>
</body>
</html>
