<template>
  <div class="main-container">
    <menu-layout />
    <slot></slot>
  </div>
</template>

<script>
/* ============
* Default Layout
* ============
*
* Used for the home and account pages.
*
* Layouts are used to store a lot of shared code.
* This way the app stays clean.
*/
import MenuLayout from '@/components/Menu'

export default {
  /**
  * The name of the layout.
  */
  name: 'default_layout',

  /**
  * The data that can be used by the page.
  *
  * @returns {Object} The view-model data.
  */
  data () {
    return {
      menuCollapsed: false
    }
  },

  props: {
    context: {
      type: String,
      default: 'default'
    }
  },

  /**
  * The methods that the layout can use.
  */
  methods: {
    /**
    * Will log the user out.
    */
    logout () {
      // this.$store.dispatch('auth/logout');
    },

    /**
    * Will toggle the menu.
    */
    toggleMenu () {
      this.menuCollapsed = !this.menuCollapsed
    }
  },

  /**
  * The components the page can use.
  */
  components: {
    MenuLayout
  }
}
</script>
