﻿// <Button>
@import "Extend/Bootstrap";
// </Button>

// <SeparatorForm>
@import "Extend/Separator";
// </SeparatorForm>

// <BlazoredModal>
@import "Extend/BlazoredModal.css";
// </BlazoredModal>

// <TinySlider>
@import "Extend/TinySlider.css";
// </SeparatorForm>

// <Property>
@import "Extend/potenzaglobalsolutions.css";
// </SeparatorForm>

// <SeparatorForm>
@import "Extend/Stripe.css";
// </SeparatorForm>

// <SeparatorForm>
@import "Extend/DropDownAccount";
// </SeparatorForm>

// </SeparatorForm>
@import "Extend/ModalStyles.css";
// </SeparatorForm>

// <SeparatorForm>
// a checker????
@import "Extend/DropDownAccount2";
// </SeparatorForm>

// </SeparatorForm>
@import"Extend/ThemeMin";
// </SeparatorForm>

// <Loading>
@import "Extend/Loading";
// </Loading>

// <MenuBar>
@import "Extend/MenuBar";
// </MenuBar>

// <PhpStan>
@import "Extend/PhpStan";
// </PhpStan>

// <Utilities>
@import "Extend/Utilities";
// </Utilities>

// <Breadcrumbs>
@import "Extend/Breadcrumbs";
// </Breadcrumbs>

// <Breadcrumbs>
@import "Extend/BlogDetails";
// </Breadcrumbs>

// <FloatingLabels>
@import "Extend/FloatingLabels";
// </FloatingLabels>

// <FormError>
@import "Extend/FormError";
// </FormError>

// <Button>
@import "Extend/Button";
// </Button>

#blazor-error-ui {
    background: lightyellow;
    bottom: 0;
    box-shadow: 0 -1px 2px rgba(0, 0, 0, 0.2);
    display: none;
    left: 0;
    padding: 0.6rem 1.25rem 0.7rem 1.25rem;
    position: fixed;
    width: 100%;
    z-index: 1000;
}

#blazor-error-ui .dismiss {
    cursor: pointer;
    position: absolute;
    right: 0.75rem;
    top: 0.5rem;
}


.form-label-group > .icons {
    position: absolute;
    top: 13px;
    right: 8px;
    font-size: 15px;
    color: #777777;
}

.form-group > .icons {
    position: absolute;
    top: 36px;
    right: 15px;
    font-size: 15px;
    color: #777777;
}

@media only screen and (min-width: 1260px) {
    .description_tooltip {
        width: 17em;
        position: absolute;
        top: 0;
        right: 100%;
        margin-right: 24px;
        padding: 20px 20px;
        font-size: 15px;
        font-weight: 300;
        line-height: 25px;
        color: #919191;
        background: white;
        border: 1px solid rgba(0, 0, 0, 0.075);
        margin-top: -1px;
        border-radius: 4px;
        opacity: 1;
        text-align: center;
    }

    .description_tooltip:after {
        content: "";
        display: block;
        width: 16px;
        height: 16px;
        border: 1px solid transparent;
        background: white;
        border-top-color: rgba(0, 0, 0, 0.075);
        border-right-color: rgba(0, 0, 0, 0.075);
        position: absolute;
        top: 16px;
        right: -9px;
        -webkit-transform: rotate(45deg);
        transform: rotate(45deg);
    }

    .description_tooltip.left {
        top: -45px;
    }

    .description_tooltip.right {
        right: auto;
        margin-right: 0;
        left: 100%;
        margin-left: 24px;
    }

    .description_tooltip.right:after {
        border-right-color: transparent;
        border-left-color: rgba(0, 0, 0, 0.075);
        -webkit-transform: rotate(-45deg);
        transform: rotate(-45deg);
        right: auto;
        left: -9px;
    }
}

.card-deck-lg {
    display: block
}

@media (min-width:992px) {
    .card-deck-lg {
        display: flex;
        flex-flow: row wrap;
        margin-right: -10px;
        margin-left: -10px
    }

    .card-deck-lg .card {
        display: flex;
        flex: 1 0 0%;
        flex-direction: column;
        margin-right: 10px;
        margin-left: 10px;
        margin-bottom: 10px
    }
}

