﻿@{
    ViewData["Title"] = "Login Page";
}
@model LoginViewModel

<section class="form-signin">
    <div class="mb-4">
        <h1 class="h3 mt-5 mb-3 font-weight-normal">Login</h1>
        <p>Login to your pages account. If you have a social media account, log into it for this process.</p>
    </div>

    <partial name="_ValidationSummary" />

    @if (Model.EnableLocalLogin)
    {

<form asp-route="Login">
    <input type="hidden" asp-for="ReturnUrl" />

    <div class="form-label-group">
        <input class="form-control" placeholder="Email" asp-for="Email" autocomplete="off" autofocus />
        <label asp-for="Email"></label>
        <span asp-validation-for="Email"></span>
    </div>

    <div class="form-label-group input-group-merge">
        <input type="password" class="form-control" placeholder="Password" asp-for="Password" autocomplete="off" />
        <label asp-for="Password"></label>
        <div id="changePassTarget" class="input-group-append">
            <a class="input-group-text" href="javascript:;">
                forgot password ?
            </a>
        </div>
        <span asp-validation-for="Password"></span>
    </div>

    @if (Model.AllowRememberLogin)
    {
        <div class="d-flex">
            <div class="form-group mr-auto">
                <div class="form-check">
                    <input class="form-check-input" asp-for="RememberLogin" />
                    <label class="form-check-label" asp-for="RememberLogin">
                        Remember me
                    </label>
                </div>
            </div>
            <a href="/recover_password/">Forgot password ? </a>
        </div>
    }
    <button class="btn btn-lg btn-primary btn-block" name="button" value="login">Login</button>
    <!--button class="btn btn-secondary" name="button" value="cancel">Cancel</button-->
</form>
        <div class="mt-4 text-center">Don't have an account? <a href="/register/">Create One</a></div>
        <hr />
        <div class="d-flex flex-wrap align-items-center">
            <span class="d-inline-block mr-2">Or connect with</span>

            @if (Model.VisibleExternalProviders.Any())
            {
                <ul class="dt-list dt-list-sm dt-list-cm-0 ml-auto">
                    @foreach (var provider in Model.VisibleExternalProviders)
                    {
                        <li class="dt-list__item">
                            <a class="btn btn-outline-primary dt-fab-btn size-30" asp-controller="External" asp-action="Challenge" asp-route-scheme="@provider.AuthenticationScheme" asp-route-returnUrl="@Model.ReturnUrl">
                                <!--i class="icon icon-facebook icon-xl"></i-->
                                @if (provider.DisplayName.Equals("Facebook"))
                                {
                                    <i class="fab fa-facebook"></i>
                                }

                                @if (provider.DisplayName.Equals("Twitter"))
                                {
                                    <i class="fab fa-twitter"></i>
                                }

                                @if (provider.DisplayName.Equals("Google"))
                                {
                                    <i class="fab fa-google"></i>
                                }

                            </a>
                        </li>
                    }
                </ul>
            }
        </div>
    }

    @if (!Model.EnableLocalLogin && !Model.VisibleExternalProviders.Any())
    {
        <div class="alert alert-warning">
            <strong>Invalid login request</strong>
            There are no login schemes configured for this request.
        </div>
    }
    <p class="mt-5 mb-3 text-muted text-center">&copy; 2017-2020</p>
</section>


@section Scripts {
    @{ await Html.RenderPartialAsync("_ValidationScriptsPartial"); }
}
