﻿
@{
    ViewData["Title"] = "Forgot password confirmation";
}

<div class="alert alert-success mx-auto" role="alert">
    <h4 class="alert-heading">Well done!</h4>
    <p>@ViewData["Title"].</p>
    <hr>
    <p class="mb-0">Please check your email to reset your password.</p>
</div>