﻿@{
    ViewData["Title"] = "Home Page";
}

@model ForgotPasswordInputModel

<section class="form-signin">
    <form asp-controller="Account" asp-action="RecoverPassword" method="post">
        <div class="mb-4">
            <!--img class="mb-4" src="/docs/4.5/assets/brand/bootstrap-solid.svg" alt="" width="72" height="72"-->
            <h1 class="h3 mt-5 mb-3 font-weight-normal">Recover password</h1>
            <p>Recover your password account. If you have a facebook account, log into it for this process.</p>
        </div>

        <div class="form-label-group">
            <input asp-for="Email" class="form-control" placeholder="Email" />
            <label for="password">Password</label>
            <span asp-validation-for="Email"></span>
        </div>

        <button class="btn btn-lg btn-primary btn-block" type="submit">Recover password</button>
    </form>
    <div class="mt-4 text-center">
        Do you have an account? <a href="/login/">Login in</a>
    </div>
    <hr />
    <div class="d-flex flex-wrap align-items-center">
        <span class="d-inline-block mr-2">Or connect with</span>
        <ul class="dt-list dt-list-sm dt-list-cm-0 ml-auto">
            <li class="dt-list__item">
                <a class="btn btn-outline-primary dt-fab-btn size-30" href="/External/Challenge?scheme=Facebook">
                    <i class="fab fa-facebook"></i>
                </a>
            </li>
            <li class="dt-list__item">
                <a class="btn btn-outline-primary dt-fab-btn size-30" href="/External/Challenge?scheme=Google">
                    <i class="fab fa-google"></i>
                </a>
            </li>
            <li class="dt-list__item">
                <a class="btn btn-outline-primary dt-fab-btn size-30" href="/External/Challenge?scheme=Twitter">
                    <i class="fab fa-twitter"></i>
                </a>
            </li>
        </ul>
    </div>
    <p class="mt-5 mb-3 text-muted text-center">&copy; 2017-2020</p>
</section>

