﻿@{
    ViewData["Title"] = "Register Page";
}

@model RegisterViewModel

<section class="form-signin">
    <form asp-action="Register">
        <div class="mb-4">
            <h1 class="h3 mt-5 mb-3 font-weight-normal">Register</h1>
            <p>Create a pages account. If you have a facebook account, log into it for this process.</p>
        </div>
        <input type="hidden" asp-for="ReturnUrl" />
        <div class="form-row">
            <div class="col-md-6">
                <div class="form-label-group">
                    <input asp-for="FirstName" class="form-control" placeholder="FirstName" />
                    <label for="firstName">FirstName</label>
                    <span asp-validation-for="FirstName"></span>
                </div>
            </div>
            <div class="col-md-6">
                <div class="form-label-group">
                    <input asp-for="LastName" class="form-control" placeholder="LastName" />
                    <label for="lastName">LastName</label>
                    <span asp-validation-for="LastName"></span>
                </div>
            </div>
        </div>

        <div class="form-label-group">
            <input asp-for="Email" class="form-control" placeholder="Email" />
            <label for="email">Email</label>
            <span asp-validation-for="Email"></span>
        </div>

        <div class="form-label-group">
            <input asp-for="Password" class="form-control" placeholder="Password" />
            <label for="password">Password</label>
            <span asp-validation-for="Password"></span>
        </div>

        <div class="checkbox mb-3">
            <label>
                <input type="checkbox" asp-for="TermsAndConditions" /> I agree to the <a href="#">term and conditions</a>
            </label>
            <span asp-validation-for="TermsAndConditions"></span>

        </div>
        <button class="btn btn-lg btn-primary btn-block" type="submit">Register</button>
    </form>
    <div class="mt-4 text-center">
        Do you have an account? <a href="/login/">Login in</a>
    </div>
    <hr />
    <div class="d-flex flex-wrap align-items-center">
        <span class="d-inline-block mr-2">Or connect with</span>
        <ul class="dt-list dt-list-sm dt-list-cm-0 ml-auto">
            <li class="dt-list__item">
                <a class="btn btn-outline-primary dt-fab-btn size-30" href="/External/Challenge?scheme=Facebook">
                    <i class="fab fa-facebook"></i>
                </a>
            </li>
            <li class="dt-list__item">
                <a class="btn btn-outline-primary dt-fab-btn size-30" href="/External/Challenge?scheme=Google">
                    <i class="fab fa-google"></i>
                </a>
            </li>
            <li class="dt-list__item">
                <a class="btn btn-outline-primary dt-fab-btn size-30" href="/External/Challenge?scheme=Twitter">
                    <i class="fab fa-twitter"></i>
                </a>
            </li>
        </ul>
    </div>
    <p class="mt-5 mb-3 text-muted text-center">&copy; 2017-2020</p>
</section>

@section Scripts {
    @{ await Html.RenderPartialAsync("_ValidationScriptsPartial"); }
}

