//**********************************************************//
*
*   General
*
//**********************************************************//
@font-face
  font-family: BrandonText;
  src: url(https://cdn.otstatic.com/common/font/Brandon/Brandon_txt_reg-webfont.woff2) format("woff2"), url(https://cdn.otstatic.com/common/font/Brandon/Brandon_txt_reg-webfont.woff) format("woff");

@font-face
  font-family: BrandonText;
  src: url(https://cdn.otstatic.com/common/font/Brandon/Brandon_txt_med-webfont.woff2) format("woff2"), url(https://cdn.otstatic.com/common/font/Brandon/Brandon_txt_med-webfont.woff) format("woff");
  font-weight: 500;

@font-face
  font-family: BrandonText;
  src: url(https://cdn.otstatic.com/common/font/Brandon/Brandon_txt_bld-webfont.woff2) format("woff2"), url(https://cdn.otstatic.com/common/font/Brandon/Brandon_txt_bld-webfont.woff) format("woff");
  font-weight: 700;

.collapsed > .text-when > .when-opened,
  display: none;

\:not(.collapsed) > .text-when > .when-closed
  display: none;

.list-group-item
  align-items: stretch;
  border-width: 1px 0;
  border-color: transparent;
  outline: 0;

ul, li
  margin: 0;
  padding: 0;
  list-style: none;

hr
  margin-top: 1rem;
  margin-bottom: 1rem;
  border: 0;
  border-top: 1px solid rgba(34, 34, 48, .1);

h1, h2, h3, h4, h5, h6,
.h1, .h2, .h3, .h4, .h5, .h6
  margin-bottom: 0.5rem;
  font-family: inherit;
  font-weight: 500;
  line-height: 1.1;
  color: inherit;

h1, .h1
  font-size: 2.5rem;

h2, .h2
  font-size: 2rem;

h3, .h3
  font-size: 1.75rem;

h4, .h4
  font-size: 1.5rem;

h5, .h5
  font-size: 1.25rem;

h6, .h6
  font-size: 1rem;



.cursor-pointer
  cursor: pointer;

body
  font-family: BrandonText, Helvetica Neue, Helvetica, Arial, sans-serif;
  font-weight: 400;
  font-style: normal;
  padding: 0;
  margin: 0;
  font-size: 1rem;
  line-height: 1.5;
  position: relative;
  //background: #f7f7f7;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

//**********************************************************//
*
*   Custom radio button
*
//**********************************************************//
.form-selector-modern__input:checked ~ .form-selector-modern__label
  border-color: #007bff !important;

.form-selector-modern__label
  border: 2px solid #e3e6f0;

.custom-control
  position: relative;
  display: block;
  min-height: 1.5rem;
  padding-left: 1.5rem


.custom-control-input
  position: absolute;
  z-index: -1;
  width: 1rem;
  height: 1.25rem;
  opacity: 0

.custom-control-input
  left: 0;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden


.custom-check
  position: absolute;
  top: 1.5rem;
  left: 1rem;
  display: inline-block;
  font-style: normal;
  font-weight: 900;
  font-size: 1rem;
//**********************************************************//
*
*   Buuble
*
//**********************************************************//

@media only screen and (min-width: 1260px)
	.description_tooltip
		width: 17em;
		position: absolute;
		top: 0;
		right: 100%;
		margin-right: 24px;
		padding: 20px 20px;
		font-size: 15px;
		font-weight: 300;
		line-height: 25px;
		color: #919191;
		background: white;
		box-shadow: 0 0 0 1px rgba(20, 20, 31, .05), 0 1px 3px 0 rgba(20, 20, 31, .15);
		margin-top: -1px;
		border-radius: 4px;
		opacity: 1;
		text-align: center;
	
	.description_tooltip:after
		content: "";
		display: block;
		width: 16px;
		height: 16px;
		border: 1px solid transparent;
		background: white;
		border-top-color: rgba(0, 0, 0, 0.075);
		border-right-color: rgba(0, 0, 0, 0.075);
		position: absolute;
		top: 16px;
		right: -9px;
		-webkit-transform: rotate(45deg);
		transform: rotate(45deg);
	
	.description_tooltip.left
		/*top: -45px;*/
	
	.description_tooltip.right
		right: auto;
		margin-right: 0;
		left: 100%;
		margin-left: 24px;
	
	.description_tooltip.right:after
		border-right-color: transparent;
		border-left-color: rgba(0, 0, 0, 0.075);
		-webkit-transform: rotate(-45deg);
		transform: rotate(-45deg);
		right: auto;
		left: -9px;

//**********************************************************//
*
*   PlaceHolder
*
//**********************************************************//

.ph-item
	position: relative;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-ms-flex-wrap: wrap;
	flex-wrap: wrap;
	overflow: hidden;


.ph-item,
.ph-item *,
.ph-item :after,
.ph-item :before
	-webkit-box-sizing: border-box;
	box-sizing: border-box

.ph-item:before
	content: " ";
	position: absolute;
	top: 0;
	right: 0;
	bottom: 0;
	left: 50%;
	z-index: 1;
	width: 500%;
	margin-left: -250%;
	-webkit-animation: phAnimation 3s linear infinite;
	animation: phAnimation 3s linear infinite;
	background: -webkit-gradient(linear, left top, right top, color-stop(46%, hsla(0, 0%, 100%, 0)), color-stop(50%, hsla(0, 0%, 100%, .35)), color-stop(54%, hsla(0, 0%, 100%, 0))) 50% 50%;
	background: linear-gradient(90deg, hsla(0, 0%, 100%, 0) 46%, hsla(0, 0%, 100%, .35) 50%, hsla(0, 0%, 100%, 0) 54%) 50% 50%

.ph-item>*
	-webkit-box-flex: 1;
	-ms-flex: 1 1 auto;
	flex: 1 1 auto;
	-webkit-box-orient: vertical;
	-webkit-box-direction: normal;
	-ms-flex-flow: column;
	flex-flow: column;
	padding-right: 15px;
	padding-left: 15px

.ph-item>*,
.ph-row
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex

.ph-row
	-ms-flex-wrap: wrap;
	flex-wrap: wrap;
	margin-bottom: 7.5px

.ph-row div
	height: 10px;
	margin-bottom: 7.5px;
	background-color: #ced4da

.ph-row .big,
.ph-row.big div
	height: 20px;
	margin-bottom: 15px

.ph-row .empty
	background-color: hsla(0, 0%, 100%, 0)

.ph-col-2
	-webkit-box-flex: 0;
	-ms-flex: 0 0 16.66667%;
	flex: 0 0 16.66667%

.ph-col-4
	-webkit-box-flex: 0;
	-ms-flex: 0 0 33.33333%;
	flex: 0 0 33.33333%

.ph-col-6
	-webkit-box-flex: 0;
	-ms-flex: 0 0 50%;
	flex: 0 0 50%

.ph-col-8
	-webkit-box-flex: 0;
	-ms-flex: 0 0 66.66667%;
	flex: 0 0 66.66667%

.ph-col-10
	-webkit-box-flex: 0;
	-ms-flex: 0 0 83.33333%;
	flex: 0 0 83.33333%

.ph-col-12
	-webkit-box-flex: 0;
	-ms-flex: 0 0 100%;
	flex: 0 0 100%

.ph-avatar
	position: relative;
	width: 100%;
	background-color: #ced4da;
	border-radius: 50%;
	overflow: hidden

.ph-avatar:before
	content: " ";
	display: block;
	padding-top: 100%

.ph-picture
	width: 100%;
	height: 120px;
	background-color: #ced4da;
	margin-bottom: 15px

@-webkit-keyframes phAnimation
	0%
		-webkit-transform: translate3d(-30%, 0, 0);
		transform: translate3d(-30%, 0, 0)
	
	to
		-webkit-transform: translate3d(30%, 0, 0);
		transform: translate3d(30%, 0, 0)
	

@keyframes phAnimation
	0%
		-webkit-transform: translate3d(-30%, 0, 0);
		transform: translate3d(-30%, 0, 0)
	
	to
		-webkit-transform: translate3d(30%, 0, 0);
		transform: translate3d(30%, 0, 0)

//**********************************************************//
*
*   Button
*
//**********************************************************//

.btn.loading::after
    border-bottom-color: #fff;
    border-left-color: #fff

@keyframes loading
    0%
        transform: rotate(0)

    100%
        transform: rotate(360deg)

.loading
    color: transparent !important;
    min-height: .8rem;
    pointer-events: none;
    position: relative

.loading::after
    animation: loading .5s infinite linear;
    border: .1rem solid #5755d9;
    border-radius: 50%;
    border-right-color: transparent;
    border-top-color: transparent;
    content: "";
    display: block;
    height: 1.8rem;
    left: 50%;
    margin-left: -.8rem;
    margin-top: -.8rem;
    position: absolute;
    top: 50%;
    width: 1.8rem;
    z-index: 1

//**********************************************************//
*
*   sidebar menu
*
//**********************************************************//

.nav-tabs .nav-item.show .nav-link,.nav-tabs .nav-link.active
    color: #222230;
    background-color: transparent;
    border-color: #346cb0

.nav-link
    outline: 0;
    color: #888c9b

.active > .nav-link,.nav-link.active
        color: #346cb0

.nav-tabs .nav-link
    padding: 1rem;
    border-width: 0 0 3px

.nav-tabs .nav-link:focus,.nav-tabs .nav-link:hover
        color: #222230

.nav-tabs.flex-column .nav-link
    border-width: 0 0 0 3px;
    border-radius: 0

//**********************************************************//
*
*   sub menu
*
//**********************************************************//

.menu-bar
    display: -webkit-box;
    display: -moz-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -webkit-flex-direction: row;
    -ms-flex-direction: row;
    flex-direction: row;
    position: relative;
    color: #85858e

.menu-bar ul
    margin: 0;
    padding: 0;
    list-style: none;
    border-radius: 3px;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px

.menu-bar ul li a .arrow
    position: relative;
    display: -webkit-inline-box;
    display: -webkit-inline-flex;
    display: -ms-inline-flexbox;
    display: inline-flex;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    padding-left: 15px;
    width: 23px

.menu-bar ul li a .arrow:before
    font-size: 16px;
    font-family: FontAwesome;
    height: auto;
    content: "\f104";
    font-weight: 300;
    text-shadow: none;
    position: relative;
    top: 2px;
    -webkit-transform: rotate(-90deg);
    -ms-transform: rotate(-90deg);
    transform: rotate(-90deg);
    -webkit-transition: all .12s ease;
    transition: all .12s ease

.menu-bar ul li
    line-height: 24px

.menu-bar ul li .sub-menu
    padding: 0;
    left: 50%;
    top: 0;
    visibility: hidden;
    opacity: 0;
    min-width: calc(100% + 4px);
    padding: 18px 25px;
    background: #fff;
    z-index: 1;
    position: absolute;
    -webkit-box-shadow: 0 0 16px 0 rgba(0, 0, 0, .08);
    box-shadow: 0 0 16px 0 rgba(0, 0, 0, .08);
    -webkit-transform: translate3d(15px, 0, 0);
    transform: translate3d(15px, 0, 0);
    -ms-transform: translate(15px, 0);
    -webkit-transition: all .15s ease-in;
    transition: all .15s ease-in

.menu-bar ul li .sub-menu li a
    min-width: 50px;
    width: 100%;
    padding: 4px 0;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    display: block

.menu-bar ul li:hover > .sub-menu
    visibility: visible;
    opacity: 1;
    -webkit-transform: translate3d(34%, 0, 0);
    transform: translate3d(34%, 0, 0);
    -ms-transform: translate(34%, 0)

.menu-bar > ul
    display: -webkit-box;
    display: -moz-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-flow: row nowrap;
    flex-flow: row nowrap

.menu-bar > ul > li
    -webkit-box-flex: 1;
    -ms-flex: 1 0 auto;
    flex: 1 0 auto;
    display: -webkit-inline-box;
    display: -webkit-inline-flex;
    display: -ms-inline-flexbox;
    display: inline-flex;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    padding: 0;
    position: relative

.menu-bar > ul > li:first-child > a
    padding-left: 0

.menu-bar > ul > li:last-child > a
    padding-right: 0

.menu-bar > ul > li > a
    padding: 0 20px

.menu-bar > ul > li > ul
    display: none;
    opacity: 0;
    list-style: none;
    border: 0;
    top: -7px;
    left: -4px;
    min-width: calc(100% + 4px);
    padding: 0 25px;
    padding-top: 60px;
    padding-bottom: 18px;
    background: #fff;
    z-index: 1;
    position: absolute;
    -webkit-box-shadow: 0 0 16px 0 rgba(0, 0, 0, .08);
    box-shadow: 0 0 16px 0 rgba(0, 0, 0, .08)

.menu-bar > ul > li.open > ul
    display: block

.menu-bar > ul > li.open > ul:before
    content: '';
    position: absolute;
    height: 1px;
    top: 52px;
    width: calc(100% - 50px);
    background-color: rgba(0, 0, 0, .07)
                
.menu-bar > ul > li.open > ul > li
    padding-left: 0;
    -webkit-transform: translate3d(0, -10px, 0);
    transform: translate3d(0, -10px, 0);
    -ms-transform: translate(0, -10px);
    opacity: 0;
    transition: all .18s ease;
    border-bottom: none

.menu-bar > ul > li.open > ul > li > a
    min-width: 50px;
    width: 100%;
    padding: 4px 0;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    display: -moz-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
    -ms-flex-pack: justify;
    justify-content: space-between


.menu-bar > ul > li.open > ul > li > a > .arrow:before
    -webkit-transform: rotate(180deg);
    -ms-transform: rotate(180deg);
    transform: rotate(180deg)

.menu-bar > ul > li.open > ul > li:last-child > a
    padding-bottom: 0

.menu-bar > ul > li.open > a
    -webkit-transform: translate3d(0, -10px, 0);
    transform: translate3d(0, -10px, 0);
    -ms-transform: translate(0, -10px);
    opacity: 0;
    transition: all .18s ease !important

.menu-bar > ul > li.opening > ul
    opacity: 1

.menu-bar > ul > li.opening > ul > li
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
    -ms-transform: translate(0, 0);
    opacity: 1

.menu-bar > ul > li.opening > a
    position: relative;
    z-index: 10;
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
    -ms-transform: translate(0, 0);
    opacity: 1



//**********************************************************//
*
*   floating label
*
//**********************************************************//

\:root
    --input-padding-x: 0.75rem;
    --input-padding-y: 0.75rem;
    
.form-label-group
    position: relative;

.form-label-group > input,.form-label-group > label
    padding: var(--input-padding-y) var(--input-padding-x);
    height: auto;
    
.form-label-group > label
    position: absolute;
    top: 0;
    left: 0;
    display: block;
    width: 100%;
    margin-bottom: 0;
    /* Override default `<label>` margin */
    line-height: 1.5;
    color: #495057;
    border: 1px solid transparent;
    border-radius: 0.25rem;
    -webkit-transition: all 0.1s ease-in-out;
    transition: all 0.1s ease-in-out;
    
.form-label-group input::-webkit-input-placeholder
    color: transparent;

.form-label-group input:-ms-input-placeholder
    color: transparent;

.form-label-group input::-ms-input-placeholder
    color: transparent;

.form-label-group input::-moz-placeholder
    color: transparent;
    
.form-label-group input::placeholder
    color: transparent;
    
.form-label-group input:not(:placeholder-shown)
    padding-top: calc(var(--input-padding-y) + var(--input-padding-y) * (2 / 3));
    padding-bottom: calc(var(--input-padding-y) / 3);
    
.form-label-group input:not(:placeholder-shown) ~ label
    padding-top: calc(var(--input-padding-y) / 3);
    padding-bottom: calc(var(--input-padding-y) / 3);
    font-size: 12px;
    color: #777;

//**********************************************************//
*
*   form error
*
//**********************************************************//
.checkbox-wrapper
  padding: 5px;
div.has-error>.checkbox-wrapper
  border-radius: 3px 3px 0 0;
  padding-bottom: 20px;
  border: #ee4036 1px solid;

div.has-error>span.error
  display: block!important;

div.has-error>input[type=text],
div.has-error>input[type=password],
div.has-error>input[type=email],
div.has-error>select,
div.has-error>div.multiselect>div.multiselect__tags
  border-radius: 3px 3px 0 0;
  border-color: #DC3545;

div.has-error>span.error
  font-size: 11px;
  font-size: .6875rem;
  display: block;
  color: #fff;
  background-color: #ee4036;
  padding: 5px;
  border-radius: 0 0 3px 3px


