//**********************************************************//
*
*   General
*
//**********************************************************//
@font-face
  font-family: BrandonText;
  src: url(https://cdn.otstatic.com/common/font/Brandon/Brandon_txt_reg-webfont.woff2) format("woff2"), url(https://cdn.otstatic.com/common/font/Brandon/Brandon_txt_reg-webfont.woff) format("woff");

@font-face
  font-family: BrandonText;
  src: url(https://cdn.otstatic.com/common/font/Brandon/Brandon_txt_med-webfont.woff2) format("woff2"), url(https://cdn.otstatic.com/common/font/Brandon/Brandon_txt_med-webfont.woff) format("woff");
  font-weight: 500;

@font-face
  font-family: BrandonText;
  src: url(https://cdn.otstatic.com/common/font/Brandon/Brandon_txt_bld-webfont.woff2) format("woff2"), url(https://cdn.otstatic.com/common/font/Brandon/Brandon_txt_bld-webfont.woff) format("woff");
  font-weight: 700;

.collapsed > .text-when > .when-opened,
  display: none;

\:not(.collapsed) > .text-when > .when-closed
  display: none;

.list-group-item
  align-items: stretch;
  border-width: 1px 0;
  border-color: transparent;
  outline: 0;

ul, li
  margin: 0;
  padding: 0;
  list-style: none;

hr
  margin-top: 1rem;
  margin-bottom: 1rem;
  border: 0;
  border-top: 1px solid rgba(34, 34, 48, .1);

h1, h2, h3, h4, h5, h6,
.h1, .h2, .h3, .h4, .h5, .h6
  margin-bottom: 0.5rem;
  font-family: inherit;
  font-weight: 500;
  line-height: 1.1;
  color: inherit;

h1, .h1
  font-size: 2.5rem;

h2, .h2
  font-size: 2rem;

h3, .h3
  font-size: 1.75rem;

h4, .h4
  font-size: 1.5rem;

h5, .h5
  font-size: 1.25rem;

h6, .h6
  font-size: 1rem;

.sidebar-item
  top: 0;
  left: 0;

.make-me-sticky
  position: -webkit-sticky;
  position: sticky;
  top: 65px;

.cursor-pointer
  cursor: pointer;

.z-index-2
  z-index: 2;

.AppImage
  max-width: 100%;
  max-height: 100%;
  width: auto;
  height: auto;
  vertical-align: middle;

body
  font-family: BrandonText, Helvetica Neue, Helvetica, Arial, sans-serif;
  font-weight: 400;
  font-style: normal;
  padding: 0;
  margin: 0;
  font-size: 1rem;
  line-height: 1.5;
  position: relative;
  //background: #f7f7f7;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;


//**********************************************************//
*
*   navbar menu
*
//**********************************************************//


/* Classic */
.nav-classic
  border-bottom: 0.0625rem solid #e7eaf3;

.nav-classic .nav-link
  color: #677788;
  border-width: 0 0 0.1875rem 0;
  border-style: solid;
  border-color: transparent;
  padding: 1rem 1.5rem;
  margin-bottom: -0.125rem;
  border-radius: 0;
  transition: 0.3s;

.nav-classic .nav-link:hover
  color: #377dff;

.nav-classic .nav-link.active
  color: #377dff;
  border-bottom-color: #377dff;

//**********************************************************//
*
*   breadcrumb
*
//**********************************************************//

.breadcrumb
    display: flex;
    flex-wrap: wrap;
    padding: 1rem 0;
    margin-bottom: 1rem;
    list-style: none;
    background-color: transparent;
    border-radius: 0.25rem;

.breadcrumb
    font-size: .875em;

.breadcrumb:last-child
    margin-bottom: 0;

.breadcrumb-item + .breadcrumb-item:before
    content: '>';
    font-weight: 600;
    font-size: 11px;
    -webkit-transform: scaleX(0.7);
    transform: scaleX(0.7);
    bottom: -2px;
    position: relative;