@import url('https://fonts.googleapis.com/css2?family=MuseoModerno:wght@800;900&display=swap');

@media (min-width:768px) {
    body {
        font-size: .875rem
    }
}
a:hover {
    text-decoration: none;
}
.navbar-brand-font {
    font-size: 35px;
    font-family: 'MuseoModerno', cursive;
}
.rounded {
    border-radius: 3px !important;
}
/* ---------------------------------------------- */
/* ############### 6.0 Animation ################ */
/* ---------------------------------------------- */
.transition-3d-hover {
    -webkit-transition: all .2s ease-in-out;
    transition: all .2s ease-in-out;
}
/* ---------------------------------------------- */
/* ############### 6.1 Background ############### */
/* ---------------------------------------------- */
.gradient-y-overlay-sm-dark::before {
    background-image: linear-gradient(to bottom, rgba(30, 32, 34, .3) 0, rgba(33, 50, 91, .2) 100%);
    background-repeat: repeat-x
}
.bg-transparent {
    background-color: transparent !important
}
.bg-img-hero {
    background-size: cover;
    background-repeat: no-repeat;
}
.bg-navy {
    background-color: #21325b !important;
}
.bg-white {
    background-color: #fff !important;
}
/* ------------------------------------------ */
/* ############### 6.2 Border ############### */
/* ------------------------------------------ */
.bd {
    border: 1px solid rgba(0, 0, 0, 0.15);
}

.bd-0 {
    border-width: 0;
}

.bd-t {
    border-top: 1px solid rgba(0, 0, 0, 0.15);
}

.bd-r {
    border-right: 1px solid rgba(0, 0, 0, 0.15);
}

.bd-b {
    border-bottom: 1px solid rgba(0, 0, 0, 0.15);
}

.bd-gray-200 {
    border-color: #e9ecef;
}

/* ---------------------------------------- */
/* ############### 6.6 Misc ############### */
/* ---------------------------------------- */
.shadow-base {
    /*box-shadow: 0px 1px 3px 0px rgba(0, 0, 0, 0.21);*/
    box-shadow: 0 1px 10px rgba(140, 152, 164, .125);
}
.overflow-y-auto {
    overflow-y: auto;
}

.d-block {
    display: block !important;
}
@media (min-width: 768px) {
    .d-md-flex {
        display: flex !important;
    }
}
.justify-content-start {
    justify-content: flex-start !important;
}
@media (min-width: 576px) {
    .justify-content-sm-center {
        justify-content: center !important;
    }
}
/* ---------------------------------------------- */
/* ############### 6.9 Typography ############### */
/* ---------------------------------------------- */
.tx-10 {
    font-size: 10px;
}
.tx-20 {
    font-size: 20px;
}
.tx-gray-400 {
    color: #ced4da;
}
.tx-bold {
    font-weight: 700;
}
.tx-uppercase {
    text-transform: uppercase;
}
.hover-gray-900 {
    color: #212529;
}
.hover-gray-900:hover, .hover-gray-900:focus {
    color: #6b7280;
}
.tx-center {
    text-align: center;
}
.tx-white {
    color: #fff;
}
/* ----------------------------------------- */
/* ############# spacing ############ */
/* ----------------------------------------- */
.pd-0 {
    padding: 0px;
}
.mg-t-54 {
    margin-top: 54px;
}
.mg-t-90 {
    margin-top: 90px;
}
.mg-y-50 {
    margin-top: 50px;
    margin-bottom: 50px;
}
.mg-y-100 {
    margin-top: 100px;
    margin-bottom: 100px;
}
.mg-b-50 {
    margin-bottom: 50px;
}
.mg-b-80 {
    margin-bottom: 80px;
}
.mg-r-1 {
    margin-right: 1px;
}
.mg-x-15 {
    margin-left: 15px;
    margin-right: 15px;
}
.mg-x-auto {
    margin: auto;
}
.mx-wd-150 {
    max-width: 150px;
}
.mx-wd-90 {
    max-width: 90px;
}
.mx-wd-45 {
    max-width: 45px;
}
.mx-wd-20 {
    max-width: 20px;
}
@media (min-width: 768px) {
    .mg-md-t-70 {
        margin-top: 70px;
    }
    .mg-md-l-250 {
        margin-left: 250px;
    }
    .mg-md-x-auto {
        margin-left: auto;
        margin-right: auto;
    }
    .mg-md-x-65 {
        margin-left: 65px;
        margin-right: 65px;
    }
    .mx-wd-md-110 {
        max-width: 110px;
    }
    pd-md-y-100 {
        padding-top: 100px;
        padding-bottom: 100px;
    }
}

@media (min-width: 992px) {
    .pd-lg-0 {
        padding: 0px;
    }

    .pd-lg-t-70 {
        padding-top: 70px;
    }
    .pd-lg-t-50 {
        padding-top: 50px;
    }
}
.pd-y-100 {
    padding-top: 100px;
    padding-bottom: 100px;
}
.flex-wrap {
    flex-wrap: wrap !important;
}
.flex-row {
    flex-direction: row !important;
}
.d-none {
    display: none !important;
}
.align-items-center {
    align-items: center !important;
}
.align-items-start {
    align-items: flex-start !important;
}
.align-items-stretch {
    align-items: stretch !important;
}
.justify-content-center {
    justify-content: center !important;
}

@media (min-width: 768px) {
    .justify-content-md-between {
        justify-content: space-between !important;
    }
    .d-md-flex {
        display: flex;
    }
}
@media (min-width: 992px) {
    .d-lg-flex {
        display: flex !important;
    }
}
    /* ------------------------------------------ */
    /* ############### 6.10 Width ############### */
    /* ------------------------------------------ */
    @media (min-width: 992px) {
        .wd-lg-60p {
            width: 60%;
        }

        .wd-lg-50p {
            width: 50%;
        }

        .wd-lg-250 {
            width: 250px;
        }
    }

    @media (min-width: 768px) {
        .wd-md-80p {
            width: 80%;
        }

        .wd-md-400 {
            width: 400px;
        }
    }

    .wd-100p {
        width: 100%;
    }
    /* ------------------------------------------ */
    /* ############### 6.3 Height ############### */
    /* ------------------------------------------ */
    @media (min-width: 992px) {
        .ht-lg-180 {
            height: 180px;
        }

        .ht-lg-380 {
            height: 380px;
        }
    }

    .ht-40 {
        height: 40px;
    }

    .ht-250 {
        height: 250px;
    }
    /* -------------------------------------------- */
    /* ############### 6.8 Position ############### */
    /* -------------------------------------------- */
    .z-index-10 {
        z-index: 10;
    }

    .pos-absolute {
        position: absolute;
    }

    .pos-relative {
        position: relative;
    }

    .pos-fixed {
        position: fixed;
    }

    .z-index-10 {
        z-index: 10;
    }

    .t-0 {
        top: 0px;
    }

    .b-0 {
        bottom: 0px;
    }

    /* ------------------------------------------ */
    /* ############### 6.12 Avatar ############### */
    /* ------------------------------------------ */
    .avatar {
        position: relative;
        display: inline-block;
        width: 3.125rem;
        height: 3.125rem;
        border-radius: .3125rem
    }

    .avatar-img {
        max-width: 100%;
        height: 100%;
        -o-object-fit: cover;
        object-fit: cover;
        border-radius: .3125rem
    }
