<template>
  <!-- Page Content -->
  <div class="container">

    <!-- Page Heading/Breadcrumbs -->
    <h1 class="mt-4 mb-3">
      Sidebar Page
      <small>Subheading</small>
    </h1>

    <ol class="breadcrumb">
      <li class="breadcrumb-item">
        <a href="index.html">Home</a>
      </li>
      <li class="breadcrumb-item active">About</li>
    </ol>

    <!-- Content Row -->
    <div class="row">
      <!-- Sidebar Column -->
      <div class="col-lg-3 mb-4">
        <div class="list-group">
          <a href="/account/setting/information/" :class="{ 'active': $route.name =='Account.Setting.Information' }" class="list-group-item">Information</a>
          <a href="/account/setting/password/" :class="{ 'active': $route.name =='Account.Setting.Password' }" class="list-group-item">Password</a>
          <a href="/account/setting/twofactor/" :class="{ 'active': $route.name =='Account.Setting.TwoFactor' }" class="list-group-item">Two Factor</a>
          <a href="/account/setting/role/" :class="{ 'active': $route.name =='Account.Setting.Role' }" class="list-group-item">Role</a>
          <a href="/account/setting/language/" :class="{ 'active': $route.name =='Account.Setting.Language' }" class="list-group-item">Language</a>
          <a href="/account/setting/notification/" :class="{ 'active': $route.name =='Account.Setting.Notification' }" class="list-group-item">Notification</a>
          <a href="/account/setting/billing/" :class="{ 'active': $route.name =='Account.Setting.Billing' }" class="list-group-item">Billing</a>
        </div>
      </div>
      <!-- Content Column -->
      <slot></slot>
    </div>
    <!-- /.row -->

  </div>
  <!-- /.container -->
</template>

<script>
export default {
  name: 'Sidebar'
}
</script>
