﻿<template>
  <div class="content container-fluid mg-t-70">
    <bread-crumbs />
    <!-- Step Form -->
    <form class="js-step-form py-md-5">
      <div class="row justify-content-lg-center">
        <div class="col-lg-8">
          <!-- Step -->
          <ul id="addUserStepFormProgress" class="step step-sm step-icon-sm step step-inline step-item-between mb-3 mb-md-5">
            <li class="step-item active">
              <a class="step-content-wrapper" href="javascript:;">
                <span class="step-icon step-icon-soft-dark">1</span>
                <div class="step-content">
                  <span class="step-title">Profile</span>
                </div>
              </a>
            </li>

            <li class="step-item">
              <a class="step-content-wrapper" href="javascript:;">
                <span class="step-icon step-icon-soft-dark">2</span>
                <div class="step-content">
                  <span class="step-title">Billing address</span>
                </div>
              </a>
            </li>

            <li class="step-item">
              <a class="step-content-wrapper" href="javascript:;" data-hs-step-form-next-options="{
                      &quot;targetSelector&quot;: &quot;#addUserStepConfirmation&quot;
                    }">
                <span class="step-icon step-icon-soft-dark">3</span>
                <div class="step-content">
                  <span class="step-title">Confirmation</span>
                </div>
              </a>
            </li>
          </ul>
          <!-- End Step -->
          <!-- Content Step Form -->
          <div id="addUserStepFormContent">
            <!-- Card -->
            <div id="addUserStepProfile" class="card card-lg active" style="">
              <!-- Body -->
              <div class="card-body">
                <!-- Form Group -->
                <div class="form-check">
                  <input class="form-check-input" type="checkbox" value="" id="defaultCheck1">
                  <label class="form-check-label" for="defaultCheck1">
                    Default checkbox
                  </label>
                </div>
                <div class="form-check">
                  <input class="form-check-input" type="checkbox" value="" id="defaultCheck2">
                  <label class="form-check-label" for="defaultCheck2">
                    Disabled checkbox
                  </label>
                </div>
                <div class="form-check">
                  <input class="form-check-input" type="checkbox" value="" id="defaultCheck3">
                  <label class="form-check-label" for="defaultCheck3">
                    Disabled checkbox
                  </label>
                </div>
                <div class="form-check">
                  <input class="form-check-input" type="checkbox" value="" id="defaultCheck4">
                  <label class="form-check-label" for="defaultCheck4">
                    Disabled checkbox
                  </label>
                </div>
                <!-- End Form Group -->
              </div>
              <!-- End Body -->
              <!-- Footer -->
              <div class="card-footer d-flex justify-content-end align-items-center">
                <button type="button" class="btn btn-primary">
                  Next <i class="tio-chevron-right"></i>
                </button>
              </div>
              <!-- End Footer -->
            </div>
            <!-- End Card -->

          </div>
          <!-- End Content Step Form -->
          <!-- Message Body -->
          <div id="successMessageContent" style="display:none;">
            <div class="text-center">
              <img class="img-fluid mb-3" src="https://htmlstream.com/front-dashboard/assets/svg/illustrations/hi-five.svg" alt="Image Description" style="max-width: 15rem;">

              <div class="mb-4">
                <h2>Successful!</h2>
                <p>New <span class="font-weight-bold text-dark">Ella Lauda</span> user has been successfully created.</p>
              </div>

              <div class="d-flex justify-content-center">
                <a class="btn btn-white mr-3" href="users.html">
                  <i class="tio-chevron-left ml-1"></i> Back to users
                </a>
                <a class="btn btn-primary" href="users-add-user.html">
                  <i class="tio-user-add mr-1"></i> Add new user
                </a>
              </div>
            </div>
          </div>
          <!-- End Message Body -->
        </div>
      </div>
      <!-- End Row -->
    </form>
    <!-- End Step Form -->
  </div>
  <!-- /.container -->
</template>

<script>
// @ is an alias to /src
// import SideBar from '@/views/Account/Complete/_Sidebar.vue'

export default {
  /**
  * The name of the page.
  */
  name: 'account.complete.role',

  methods: {
    /**
    * Will log the user in.
    *
    * @param {Object} user The user to be logged in.
    */
    onSubmit: function (model) {
      this.isLoading = true
      // Transformer.send(model)
      this.$http.post('/api/account/role', this.model).then(response => {
        // we clear the loading
        this.isLoading = false
        if (!response.success) {
          this.$refs.form.setErrors(response.data.content)
        }
      }, response => {
        // get failed
        this.response = ''
        this.isLoading = false
      })
    }
  },

  /**
  * The components that the page can use.
  */
  components: {
    // SideBar
  }
}
</script>
