<template>
  <!-- .container -->
    <div class="content container-fluid mg-t-70">
      <bread-crumbs />
      <!-- Step Form -->
      <form class="js-step-form py-md-5">
        <div class="row justify-content-lg-center">
          <div class="col-lg-8">
            <!-- Step -->
            <ul id="addUserStepFormProgress" class="step step-sm step-icon-sm step step-inline step-item-between mb-3 mb-md-5">
              <li class="step-item active">
                <a class="step-content-wrapper" href="javascript:;">
                  <span class="step-icon step-icon-soft-dark">1</span>
                  <div class="step-content">
                    <span class="step-title">Profile</span>
                  </div>
                </a>
              </li>

              <li class="step-item">
                <a class="step-content-wrapper" href="javascript:;">
                  <span class="step-icon step-icon-soft-dark">2</span>
                  <div class="step-content">
                    <span class="step-title">Billing address</span>
                  </div>
                </a>
              </li>

              <li class="step-item">
                <a class="step-content-wrapper" href="javascript:;">
                  <span class="step-icon step-icon-soft-dark">3</span>
                  <div class="step-content">
                    <span class="step-title">Confirmation</span>
                  </div>
                </a>
              </li>
            </ul>
            <!-- End Step -->
            <!-- Content Step Form -->

            <div id="addUserStepFormContent">
              <!-- Card -->
              <div id="addUserStepConfirmation" class="card card-lg active" style="">
                <!-- Profile Cover -->
                <div class="profile-cover">
                  <div class="profile-cover-img-wrapper">
                    <img class="profile-cover-img" src="https://htmlstream.com/front-dashboard/assets/img/1920x400/img1.jpg" alt="Image Description">
                  </div>
                </div>
                <!-- End Profile Cover -->
                <!-- Avatar -->
                <div class="avatar avatar-xxl avatar-circle avatar-border-lg profile-cover-avatar">
                  <img class="avatar-img" src="https://htmlstream.com/front-dashboard/assets/img/160x160/img9.jpg" alt="Image Description">
                </div>
                <!-- End Avatar -->
                <!-- Body -->
                <div class="card-body">
                  <dl class="row">
                    <dt class="col-sm-6 text-sm-right">Full name:</dt>
                    <dd class="col-sm-6">Ella Lauda</dd>

                    <dt class="col-sm-6 text-sm-right">Email:</dt>
                    <dd class="col-sm-6">ella@example.com</dd>

                    <dt class="col-sm-6 text-sm-right">Phone:</dt>
                    <dd class="col-sm-6">+1 (609) 972-22-22</dd>

                    <dt class="col-sm-6 text-sm-right">Organization:</dt>
                    <dd class="col-sm-6">Htmlstream</dd>

                    <dt class="col-sm-6 text-sm-right">Department:</dt>
                    <dd class="col-sm-6">-</dd>

                    <dt class="col-sm-6 text-sm-right">Account type:</dt>
                    <dd class="col-sm-6">Individual</dd>

                    <dt class="col-sm-6 text-sm-right">Country:</dt>
                    <dd class="col-sm-6"><img class="avatar avatar-xss avatar-circle mr-1" src="https://htmlstream.com/front-dashboard/assets/vendor/flag-icon-css/flags/1x1/gb.svg" alt="Great Britain Flag"> United Kingdom</dd>

                    <dt class="col-sm-6 text-sm-right">City:</dt>
                    <dd class="col-sm-6">London</dd>

                    <dt class="col-sm-6 text-sm-right">State:</dt>
                    <dd class="col-sm-6">-</dd>

                    <dt class="col-sm-6 text-sm-right">Address line 1:</dt>
                    <dd class="col-sm-6">45 Roker Terrace, Latheronwheel</dd>

                    <dt class="col-sm-6 text-sm-right">Address line 2:</dt>
                    <dd class="col-sm-6">-</dd>

                    <dt class="col-sm-6 text-sm-right">Zip code:</dt>
                    <dd class="col-sm-6">KW5 8NW</dd>
                  </dl>
                  <!-- End Row -->
                </div>
                <!-- End Body -->
                <!-- Footer -->
                <div class="card-footer d-sm-flex align-items-sm-center">
                  <button type="button" class="btn btn-ghost-secondary mb-2 mb-sm-0">
                    <i class="tio-chevron-left"></i> Previous step
                  </button>

                  <div class="ml-auto">
                    <button type="button" class="btn btn-white mr-2">Save in drafts</button>
                    <button id="addUserFinishBtn" type="button" class="btn btn-primary">Add user</button>
                  </div>
                </div>
                <!-- End Footer -->
              </div>
              <!-- End Card -->

            </div>
            <!-- End Content Step Form -->
            <!-- Message Body -->
            <div id="successMessageContent" style="display:none;">
              <div class="text-center">
                <img class="img-fluid mb-3" src="https://htmlstream.com/front-dashboard/assets/svg/illustrations/hi-five.svg" alt="Image Description" style="max-width: 15rem;">

                <div class="mb-4">
                  <h2>Successful!</h2>
                  <p>New <span class="font-weight-bold text-dark">Ella Lauda</span> user has been successfully created.</p>
                </div>

                <div class="d-flex justify-content-center">
                  <a class="btn btn-white mr-3" href="users.html">
                    <i class="tio-chevron-left ml-1"></i> Back to users
                  </a>
                  <a class="btn btn-primary" href="users-add-user.html">
                    <i class="tio-user-add mr-1"></i> Add new user
                  </a>
                </div>
              </div>
            </div>
            <!-- End Message Body -->
          </div>
        </div>
        <!-- End Row -->
      </form>
      <!-- End Step Form -->
    </div>
  <!-- /.container -->
</template>

<script>

export default {
  /**
  * The name of the page.
  */
  name: 'account.complete.information',

  methods: {
    /**
    * Will log the user in.
    *
    * @param {Object} user The user to be logged in.
    */
    onSubmit: function (model) {
      this.isLoading = true
      // Transformer.send(model)
      this.$http.post('/api/account/information', this.model).then(response => {
        // we clear the loading
        this.isLoading = false
        if (!response.success) {
          this.$refs.form.setErrors(response.data.content)
        }
      }, response => {
        // get failed
        this.response = ''
        this.isLoading = false
      })
    }
  }
}
</script>
