<template>
  <side-bar>
    <!-- Main Content -->
    <div class="col-lg-9 mb-4">
      <h2>Section Heading</h2>
      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Soluta, et temporibus, facere perferendis veniam beatae non debitis, numquam blanditiis necessitatibus vel mollitia dolorum laudantium, voluptate dolores iure maxime ducimus fugit.</p>
    </div>
    <!-- /.Main Content -->
  </side-bar>
</template>

<script>
// @ is an alias to /src
import SideBar from '@/views/Rent/_Sidebar.vue'
export default {
  /**
  * The name of the page.
  */
  name: 'rent.edit',
  /**
  * The components that the page can use.
  */
  components: {
    SideBar
  }

}
</script>
