<template>
  <v-layout>
    <router-view></router-view>
  </v-layout>
</template>

<script>
// @ is an alias to /src
import VLayout from '@/layouts/Dashboard.vue'

export default {
  /**
  * The name of the page.
  */
  name: 'rent.index',

  /**
  * The components that the page can use.
  */
  components: {
    VLayout
  }
}
</script>
