<template>
  <!-- Page Content -->
  <div class="container">

    <!-- Page Heading/Breadcrumbs -->
    <h1 class="mt-4 mb-3">
      Sidebar Page
      <small>Subheading</small>
    </h1>

    <ol class="breadcrumb">
      <li class="breadcrumb-item">
        <a href="index.html">Home</a>
      </li>
      <li class="breadcrumb-item active">About</li>
    </ol>

    <!-- Content Row -->
    <div class="row">
      <!-- Sidebar Column -->
      <div class="col-lg-3 mb-4">
        <div class="list-group">
          <a href="/property/new/" :class="{ 'active': $route.name =='Property.New' }" class="list-group-item">New property</a>
          <a href="/property/list/" :class="{ 'active': $route.name =='Property.List' }" class="list-group-item">List properties</a>
        </div>
      </div>
      <!-- Content Column -->
      <slot></slot>
    </div>
    <!-- /.row -->

  </div>
  <!-- /.container -->
</template>

<script>
export default {
  name: 'Sidebar'
}
</script>
