<template>
  <side-bar>
    <!-- Main Content -->
    <div class="col-lg-9 mb-4">
      <div class="card">
        <h5 class="card-header">Featured</h5>
        <div class="card-body">
          <ValidationObserver ref="form" v-slot="{ passes }">
            <form @submit.prevent="passes(onSubmit)">
              <div class="form-row">
                <div class="col-md-12">
                  <div class="form-group">
                    <ValidationProvider vid="Location" name="Location" v-slot="{ errors }">
                      <label for="model.location" class="control-label">Location</label>
                      <input id="model.location" v-model="model.location" type="text" class="form-control" />
                      <span>{{ errors[0] }}</span>
                    </ValidationProvider>
                  </div>
                </div>
                <div class="col-md-6">
                  <div class="form-group">
                    <ValidationProvider vid="Street" name="street" v-slot="{ errors }">
                      <label for="model.street" class="control-label">Street</label>
                      <input id="model.street" v-model="model.street" type="text" class="form-control" />
                      <span>{{ errors[0] }}</span>
                    </ValidationProvider>
                  </div>
                </div>
                <div class="col-md-6">
                  <div class="form-group">
                    <ValidationProvider vid="PostalCode" name="postalCode" v-slot="{ errors }">
                      <label for="model.postalCode" class="control-label">Postal code</label>
                      <input id="model.postalCode" v-model="model.postalCode" type="text" class="form-control" />
                      <span>{{ errors[0] }}</span>
                    </ValidationProvider>
                  </div>
                </div>
              </div>
              <hr />
              <div class="form-row">
                <div class="col-md-6">
                  <div class="form-group">
                    <ValidationProvider vid="Type" name="type" v-slot="{ errors }">
                      <label for="model.type" class="control-label">Type</label>
                      <input id="model.type" v-model="model.type" type="text" class="form-control" />
                      <span>{{ errors[0] }}</span>
                    </ValidationProvider>
                  </div>
                </div>
                <div class="col-md-6">
                  <div class="form-group">
                    <ValidationProvider vid="Size" name="size" v-slot="{ errors }">
                      <label for="model.size" class="control-label">Size</label>
                      <input id="model.size" v-model="model.size" type="text" class="form-control" />
                      <span>{{ errors[0] }}</span>
                    </ValidationProvider>
                  </div>
                </div>
              </div>
              <div class="form-row">
                <div class="col-md-4">
                  <div class="form-group">
                    <ValidationProvider vid="Price" name="price" v-slot="{ errors }">
                      <label for="model.price" class="control-label">Price</label>
                      <input id="model.price" v-model="model.price" type="text" class="form-control" />
                      <span>{{ errors[0] }}</span>
                    </ValidationProvider>
                  </div>
                </div>
                <div class="col-md-4">
                  <div class="form-group">
                    <ValidationProvider vid="Bedrooms" name="bedrooms" v-slot="{ errors }">
                      <label for="model.bedrooms" class="control-label">Bedrooms</label>
                      <input id="model.bedrooms" v-model="model.bedrooms" type="text" class="form-control" />
                      <span>{{ errors[0] }}</span>
                    </ValidationProvider>
                  </div>
                </div>
                <div class="col-md-4">
                  <div class="form-group">
                    <ValidationProvider vid="Bathrooms" name="bathrooms" v-slot="{ errors }">
                      <label for="model.bathrooms" class="control-label">Bathrooms</label>
                      <input id="model.bathrooms" v-model="model.bathrooms" type="text" class="form-control" />
                      <span>{{ errors[0] }}</span>
                    </ValidationProvider>
                  </div>
                </div>
              </div>
              <hr />
              <div class="form-row">
                <div class="col-md-12">
                  <div class="form-group">
                    <ValidationProvider vid="Description" name="description" v-slot="{ errors }">
                      <label for="model.description" class="control-label">Description</label>
                      <input id="model.description" v-model="model.description" type="text" class="form-control" />
                      <span>{{ errors[0] }}</span>
                    </ValidationProvider>
                  </div>
                </div>
              </div>

              <div class="form-row">
                <div class="col-md-4">
                  <div class="form-check">
                    <input type="checkbox" class="form-check-input" id="exampleCheck1">
                    <label class="form-check-label" for="exampleCheck1">Check me out</label>
                  </div>
                </div>
                <div class="col-md-4">
                  <div class="form-check">
                    <input type="checkbox" class="form-check-input" id="exampleCheck1">
                    <label class="form-check-label" for="exampleCheck1">Check me out</label>
                  </div>
                </div>
                <div class="col-md-4">
                  <div class="form-check">
                    <input type="checkbox" class="form-check-input" id="exampleCheck1">
                    <label class="form-check-label" for="exampleCheck1">Check me out</label>
                  </div>
                </div>
              </div>

              <div class="form-group">
                <button type="submit" class="btn btn-primary">Create</button>
              </div>
            </form>
          </ValidationObserver>
        </div>
      </div>
    </div>
    <!-- /.Main Content -->
  </side-bar>
</template>

<script>
// @ is an alias to /src
import SideBar from '@/views/Property/_Sidebar.vue'

export default {
  /**
  * The name of the page.
  */
  name: 'property.new',

  /**
  * The data that can be used by the page.
  *
  * @returns {Object} The view-model data.
  */
  data () {
    return {
      model: {
        postalCode: '',
        street: '',
        location: [],
        size: '0',
        price: '0',
        saleType: '',
        type: '',
        bedrooms: '',
        bathrooms: '',
        characteristics: '[]',
        description: ''
      },
      propertyTypes: [],
      isLoading: false,
      cities: []
    }
  },

  /**
  * The methods the page can use.
  */
  methods: {
    /**
    * Will log the user in.
    *
    * @param {Object} user The user to be logged in.
    */
    onSubmit: function (model) {
      this.isLoading = true
      // Transformer.send(model)
      this.$http.post('/api/property/new', this.model).then(response => {
        // we clear the loading
        this.isLoading = false
        if (!response.success) {
          this.$refs.form.setErrors(response.data.content)
          // this.$refs.form.setErrors(res.errors);
        }
      }, response => {
        // get failed
        this.response = ''
        this.isLoading = false
      })
    }
  },
  /**
  * The components that the page can use.
  */
  components: {
    SideBar
  }

}
</script>
