<template>

    <div class="wrapper">
      <!--=================================
    Property details -->
      <section class="space-pt">
        <div class="container">
          <div class="row">
            <div class="col-lg-4 mb-5 mb-lg-0 order-lg-2">
              <div class="sticky-top">
                <div class="mb-4">
                  <h3>Stunning 2 bedroom home in village</h3>
                  <span class="d-block mb-3"><i class="fas fa-map-marker-alt fa-xs pr-2"></i>Virginia drive temple hills</span>
                  <span class="price font-xll text-primary d-block">$1500000</span>
                  <span class="sub-price font-lg text-dark d-block"><b>$6,500/Sqft </b> </span>
                  <ul class="property-detail-meta list-unstyled ">
                    <li><a href="#"> <i class="fas fa-star text-warning pr-2"></i>3.9/5 </a></li>
                    <li class="share-box">
                      <a href="#"> <i class="fas fa-share-alt"></i> </a>
                      <ul class="list-unstyled share-box-social">
                        <li> <a href="#"><i class="fab fa-facebook-f"></i></a> </li>
                        <li> <a href="#"><i class="fab fa-twitter"></i></a> </li>
                        <li> <a href="#"><i class="fab fa-linkedin"></i></a> </li>
                        <li> <a href="#"><i class="fab fa-instagram"></i></a> </li>
                        <li> <a href="#"><i class="fab fa-pinterest"></i></a> </li>
                      </ul>
                    </li>
                    <li><a href="#"> <i class="fas fa-heart"></i> </a></li>
                    <li><a href="#"> <i class="fas fa-exchange-alt"></i> </a></li>
                    <li><a href="#"> <i class="fas fa-print"></i> </a></li>
                  </ul>
                </div>
                <div class="agent-contact">
                  <div class="d-flex align-items-center p-4 border border-bottom-0">
                    <div class="agent-contact-avatar mr-3">
                      <img class="img-fluid rounded-circle avatar avatar-xl" src="images/avatar/01.jpg" alt="">
                    </div>
                    <div class="agent-contact-name">
                      <h6>Joana williams</h6>
                      <a href="#">Company Agent</a>
                      <span class="d-block"><i class="fas fa-phone-volume pr-2 mt-2"></i>(123) 345-6789</span>
                    </div>
                  </div>
                  <div class="d-flex">
                    <a href="#" class="btn btn-dark col b-radius-none">View listings</a>
                    <a href="#" class="btn btn-primary col ml-0 b-radius-none">Request info</a>
                  </div>
                </div>
              </div>
            </div>
            <div class="col-lg-8 order-lg-1">
              <div class="property-detail-img popup-gallery">
                <div class="owl-carousel" data-animateOut="fadeOut" data-nav-arrow="true" data-items="1" data-md-items="1" data-sm-items="1" data-xs-items="1" data-xx-items="1" data-space="0">
                  <div class="item">
                    <a class="portfolio-img" href="images/property/big-img-01.jpg"><img class="img-fluid" src="images/property/big-img-01.jpg" alt=""></a>
                  </div>
                  <div class="item">
                    <a class="portfolio-img" href="images/property/big-img-02.jpg"><img class="img-fluid" src="images/property/big-img-02.jpg" alt=""></a>
                  </div>
                </div>
              </div>
              <div class="property-info mt-5">
                <div class="row">
                  <div class="col-sm-3 mb-3 mb-sm-0">
                    <h5>Property details</h5>
                  </div>
                  <div class="col-sm-9">
                    <div class="row mb-3">
                      <div class="col-sm-6">
                        <ul class="property-list list-unstyled">
                          <li><b>Property ID:</b> RV151</li>
                          <li><b>Price:</b> $484,400</li>
                          <li><b>Property Size:</b> 1466 Sq Ft</li>
                          <li><b>Bedrooms:</b> 4</li>
                          <li><b>Bathrooms:</b> 2</li>
                        </ul>
                      </div>
                      <div class="col-sm-6">
                        <ul class="property-list list-unstyled">
                          <li><b>Garage:</b> 1</li>
                          <li><b>Garage Size:</b> 458 SqFt</li>
                          <li><b>Year Built:</b> 2019-01-09</li>
                          <li><b>Property Type:</b> Full  Family Home</li>
                          <li><b>Property Status:</b> For rent</li>
                        </ul>
                      </div>
                    </div>
                    <h6 class="text-primary mb-3 mb-sm-0">Additional details</h6>
                    <div class="row">
                      <div class="col-sm-6">
                        <ul class="property-list list-unstyled mb-0">
                          <li><b>Deposit:</b> 30%</li>
                          <li><b>Pool Size:</b> 457 Sqft</li>
                          <li><b>Last remodel year:</b> 1956</li>
                        </ul>
                      </div>
                      <div class="col-sm-6">
                        <ul class="property-list list-unstyled mb-0">
                          <li><b>Amenities:</b> Clubhouse</li>
                          <li><b>Additional Rooms:</b> Guest Bat</li>
                          <li><b>Equipment:</b> Grill - Gas - light</li>
                        </ul>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <hr class="mt-4 mb-4 mb-sm-5 mt-sm-5">
              <div class="property-description">
                <div class="row">
                  <div class="col-sm-3 mb-3 mb-sm-0">
                    <h5>Description</h5>
                  </div>
                  <div class="col-sm-9">
                    <p>The home features private entry copper-clad door leading to salon with marble floors. Stunning great room has soaring 45 foot ceilings with glass windows, polished concrete floors, exposed brick & sculptural steel beams. The chef's kitchen has honed granite counters, high-end S/S appliances, French cabinets & gas range.</p>
                    <p>Floor-to-ceiling windows accentuate the panoramic vistas that sweep across the Golden Gate Bridge, the downtown skyline, the artfully lit Bay Bridge and beyond. The floor plan features two bedroom suites, kitchen, living/dining room, two view terraces and ample storage space. </p>
                  </div>
                </div>
              </div>
              <hr class="mt-4 mb-4 mb-sm-5 mt-sm-5">
              <div class="property-features">
                <div class="row">
                  <div class="col-sm-3 mb-3 mb-sm-0">
                    <h5>Features</h5>
                  </div>
                  <div class="col-sm-9">
                    <div class="row">
                      <div class="col-sm-6">
                        <ul class="property-list-style-2 list-unstyled mb-0">
                          <li>TV Cable</li>
                          <li>Air Conditioning</li>
                          <li>Barbeque</li>
                          <li>Gym</li>
                          <li>Swimming Pool</li>
                          <li>Laundry</li>
                          <li>Microwave</li>
                          <li>Outdoor Shower</li>
                        </ul>
                      </div>
                      <div class="col-sm-6">
                        <ul class="property-list-style-2 list-unstyled mb-0">
                          <li>Lawn</li>
                          <li>Refrigerator</li>
                          <li>Sauna</li>
                          <li>Washer</li>
                          <li>Dryer</li>
                          <li>WiFi</li>
                          <li>Window Coverings</li>
                        </ul>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <hr class="mt-4 mb-4 mb-sm-5 mt-sm-5">
              <div class="property-address">
                <div class="row">
                  <div class="col-sm-3 mb-3 mb-sm-0">
                    <h5>Address</h5>
                  </div>
                  <div class="col-sm-9">
                    <div class="row">
                      <div class="col-sm-6">
                        <ul class="property-list list-unstyled mb-0">
                          <li><b>Address:</b> Virginia drive temple hills</li>
                          <li><b>State/County:</b> San francisco</li>
                          <li><b>Area:</b> Embarcadero</li>
                        </ul>
                      </div>
                      <div class="col-sm-6">
                        <ul class="property-list list-unstyled mb-0">
                          <li><b>City:</b> San francisco</li>
                          <li><b>Zip:</b> 4848494</li>
                          <li><b>Country:</b> United States</li>
                        </ul>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <hr class="mt-4 mb-4 mb-sm-5 mt-sm-5">
              <div class="property-floor-plans">
                <div class="row">
                  <div class="col-sm-3 mb-3 mb-sm-0">
                    <h5>Floor plans</h5>
                  </div>
                  <div class="col-sm-9">
                    <div class="accordion-style-2" id="accordion">
                      <div class="card">
                        <div class="card-header" id="headingOne">
                          <h5 class="accordion-title mb-0">
                            <button class="btn btn-link d-flex ml-auto align-items-center" data-toggle="collapse" data-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">First Floor <i class="fas fa-chevron-down fa-xs"></i></button>
                          </h5>
                        </div>
                        <div id="collapseOne" class="collapse show accordion-content" aria-labelledby="headingOne" data-parent="#accordion">
                          <div class="card-body">
                            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Cupiditate labore amet nulla a nobis iste consequuntur laudantium natus corporis, eveniet quo quidem perferendis sint illo autem, aut incidunt enim libero.</p>
                            <img class="img-fluid" src="images/property/floor-plans-01.jpg" alt="">
                          </div>
                        </div>
                      </div>
                      <div class="card">
                        <div class="card-header" id="headingTwo">
                          <h5 class="accordion-title mb-0">
                            <button class="btn btn-link d-flex ml-auto align-items-center collapsed" data-toggle="collapse" data-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                              Second Floor <i class="fas fa-chevron-down fa-xs"></i>
                            </button>
                          </h5>
                        </div>
                        <div id="collapseTwo" class="collapse accordion-content" aria-labelledby="headingTwo" data-parent="#accordion">
                          <div class="card-body">
                            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Sit rem esse qui voluptatem tempore nobis nihil, ex, odit vel exercitationem aperiam provident consectetur. Ea, eos, blanditiis! Rem quia, doloremque numquam.</p>
                            <img class="img-fluid" src="images/property/floor-plans-01.jpg" alt="">
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <hr class="mt-4 mb-4 mb-sm-5 mt-sm-5">
              <div class="property-video">
                <div class="row">
                  <div class="col-sm-3 mb-3 mb-sm-0">
                    <h5>Property video</h5>
                  </div>
                  <div class="col-sm-9">
                    <div class="embed-responsive embed-responsive-16by9">
                      <iframe width="560" height="315" src="https://www.youtube.com/embed/kacyaEXqVhs" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                    </div>
                  </div>
                </div>
              </div>
              <hr class="mt-4 mb-4 mb-sm-5 mt-sm-5">
              <div class="property-walk-score">
                <div class="row">
                  <div class="col-sm-3 mb-3 mb-sm-0">
                    <h5>WalkScore</h5>
                  </div>
                  <div class="col-sm-9">
                    <div class="walk-score-info d-sm-flex">
                      <div class="mb-2 mb-sm-0">
                        <img src="images/property/walk-score.png" alt="">
                        <p class="mb-0 d-block mt-2">walkscore96 / Walker's Paradise</p>
                      </div>
                      <a class="btn btn-primary btn-sm ml-auto" href="#">More details here</a>
                    </div>
                  </div>
                </div>
              </div>
              <hr class="mt-4 mb-4 mb-sm-5 mt-sm-5">
              <div class="property-nearby">
                <div class="row">
                  <div class="col-sm-3 mb-3 mb-sm-0">
                    <h5>What's nearby</h5>
                  </div>
                  <div class="col-sm-9">
                    <div class="nearby-info mb-4">
                      <span class="nearby-title mb-2 d-block text-info">
                        <i class="fas fa-graduation-cap mr-2"></i><b>Education</b>
                      </span>
                      <div class="nearby-list">
                        <ul class="property-list list-unstyled mb-0">
                          <li class="d-flex">
                            <span class="mr-1"><b>Case Western Reserve University</b> (2.10 km)</span>
                            <ul class="list-unstyled list-inline ml-auto">
                              <li class="list-inline-item m-0 text-warning"><i class="fas fa-star fa-xs"></i></li>
                              <li class="list-inline-item m-0 text-warning"><i class="fas fa-star fa-xs"></i></li>
                              <li class="list-inline-item m-0 text-warning"><i class="fas fa-star fa-xs"></i></li>
                              <li class="list-inline-item m-0 text-warning"><i class="fas fa-star fa-xs"></i></li>
                              <li class="list-inline-item m-0 text-warning"><i class="fas fa-star-half-alt fa-xs"></i></li>
                            </ul>
                          </li>
                          <li class="d-flex">
                            <span class="mr-1"><b>Georgia Institute of Technology</b> (1.42 km)</span>
                            <ul class="list-unstyled list-inline ml-auto">
                              <li class="list-inline-item m-0 text-warning"><i class="fas fa-star fa-xs"></i></li>
                              <li class="list-inline-item m-0 text-warning"><i class="fas fa-star fa-xs"></i></li>
                              <li class="list-inline-item m-0 text-warning"><i class="fas fa-star fa-xs"></i></li>
                              <li class="list-inline-item m-0 text-warning"><i class="fas fa-star-half-alt fa-xs"></i></li>
                              <li class="list-inline-item m-0 text-warning"><i class="far fa-star fa-xs"></i></li>
                            </ul>
                          </li>
                          <li class="d-flex">
                            <span class="mr-1"><b>Harvey Mudd College</b> (1.64 km)</span>
                            <ul class="list-unstyled list-inline ml-auto">
                              <li class="list-inline-item m-0 text-warning"><i class="fas fa-star fa-xs"></i></li>
                              <li class="list-inline-item m-0 text-warning"><i class="fas fa-star fa-xs"></i></li>
                              <li class="list-inline-item m-0 text-warning"><i class="fas fa-star-half-alt fa-xs"></i></li>
                              <li class="list-inline-item m-0 text-warning"><i class="far fa-star fa-xs"></i></li>
                              <li class="list-inline-item m-0 text-warning"><i class="far fa-star fa-xs"></i></li>
                            </ul>
                          </li>
                        </ul>
                      </div>
                    </div>
                    <div class="nearby-info mb-4">
                      <span class="nearby-title mb-2 d-block text-success">
                        <i class="fas fa-user-md mr-2"></i><b>Health & Medical</b>
                      </span>
                      <div class="nearby-list">
                        <ul class="property-list list-unstyled mb-0">
                          <li class="d-flex">
                            <span class="mr-1"><b>Hopedale Community Hospital</b> (2.04 km)</span>
                            <ul class="list-unstyled list-inline ml-auto">
                              <li class="list-inline-item m-0 text-warning"><i class="fas fa-star fa-xs"></i></li>
                              <li class="list-inline-item m-0 text-warning"><i class="fas fa-star fa-xs"></i></li>
                              <li class="list-inline-item m-0 text-warning"><i class="fas fa-star fa-xs"></i></li>
                              <li class="list-inline-item m-0 text-warning"><i class="fas fa-star fa-xs"></i></li>
                              <li class="list-inline-item m-0 text-warning"><i class="fas fa-star-half-alt fa-xs"></i></li>
                            </ul>
                          </li>
                          <li class="d-flex">
                            <span class="mr-1"><b>North Star Medical Clinic</b> (1.45 km)</span>
                            <ul class="list-unstyled list-inline ml-auto">
                              <li class="list-inline-item m-0 text-warning"><i class="fas fa-star fa-xs"></i></li>
                              <li class="list-inline-item m-0 text-warning"><i class="fas fa-star fa-xs"></i></li>
                              <li class="list-inline-item m-0 text-warning"><i class="fas fa-star fa-xs"></i></li>
                              <li class="list-inline-item m-0 text-warning"><i class="fas fa-star-half-alt fa-xs"></i></li>
                              <li class="list-inline-item m-0 text-warning"><i class="far fa-star fa-xs"></i></li>
                            </ul>
                          </li>
                          <li class="d-flex">
                            <span class="mr-1"><b>Maple Valley General Hospital</b> (2.64 km)</span>
                            <ul class="list-unstyled list-inline ml-auto">
                              <li class="list-inline-item m-0 text-warning"><i class="fas fa-star fa-xs"></i></li>
                              <li class="list-inline-item m-0 text-warning"><i class="fas fa-star fa-xs"></i></li>
                              <li class="list-inline-item m-0 text-warning"><i class="fas fa-star-half-alt fa-xs"></i></li>
                              <li class="list-inline-item m-0 text-warning"><i class="far fa-star fa-xs"></i></li>
                              <li class="list-inline-item m-0 text-warning"><i class="far fa-star fa-xs"></i></li>
                            </ul>
                          </li>
                        </ul>
                      </div>
                    </div>
                    <div class="nearby-info">
                      <span class="nearby-title mb-2 d-block text-danger">
                        <i class="fas fa-bus-alt mr-2"></i><b>Transportation</b>
                      </span>
                      <div class="nearby-list">
                        <ul class="property-list list-unstyled mb-0">
                          <li class="d-flex">
                            <span class="mr-1"><b>Central bus depot </b> (2.04 km)</span>
                            <ul class="list-unstyled list-inline ml-auto">
                              <li class="list-inline-item m-0 text-warning"><i class="fas fa-star fa-xs"></i></li>
                              <li class="list-inline-item m-0 text-warning"><i class="fas fa-star fa-xs"></i></li>
                              <li class="list-inline-item m-0 text-warning"><i class="fas fa-star fa-xs"></i></li>
                              <li class="list-inline-item m-0 text-warning"><i class="fas fa-star fa-xs"></i></li>
                              <li class="list-inline-item m-0 text-warning"><i class="fas fa-star-half-alt fa-xs"></i></li>
                            </ul>
                          </li>
                          <li class="d-flex">
                            <span class="mr-1"><b>Travello & Bus Charter Express</b> (2.54 km)</span>
                            <ul class="list-unstyled list-inline ml-auto">
                              <li class="list-inline-item m-0 text-warning"><i class="fas fa-star fa-xs"></i></li>
                              <li class="list-inline-item m-0 text-warning"><i class="fas fa-star fa-xs"></i></li>
                              <li class="list-inline-item m-0 text-warning"><i class="fas fa-star fa-xs"></i></li>
                              <li class="list-inline-item m-0 text-warning"><i class="fas fa-star-half-alt fa-xs"></i></li>
                              <li class="list-inline-item m-0 text-warning"><i class="far fa-star fa-xs"></i></li>
                            </ul>
                          </li>
                          <li class="d-flex">
                            <span class="mr-1"><b>Charing Cross & Paddington Shipping</b> (2.64 km)</span>
                            <ul class="list-unstyled list-inline ml-auto">
                              <li class="list-inline-item m-0 text-warning"><i class="fas fa-star fa-xs"></i></li>
                              <li class="list-inline-item m-0 text-warning"><i class="fas fa-star fa-xs"></i></li>
                              <li class="list-inline-item m-0 text-warning"><i class="fas fa-star-half-alt fa-xs"></i></li>
                              <li class="list-inline-item m-0 text-warning"><i class="far fa-star fa-xs"></i></li>
                              <li class="list-inline-item m-0 text-warning"><i class="far fa-star fa-xs"></i></li>
                            </ul>
                          </li>
                        </ul>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <hr class="mt-4 mb-4 mb-sm-5 mt-sm-5">
              <div class="property-schedule">
                <div class="row">
                  <div class="col-sm-3 mb-3 mb-sm-0">
                    <h5>Schedule a tour</h5>
                  </div>
                  <div class="col-sm-9">
                    <div class="form-row">
                      <div class="form-group col-sm-6 datetimepickers">
                        <div class="input-group date" id="datetimepicker-01" data-target-input="nearest">
                          <input type="text" class="form-control datetimepicker-input" placeholder="Date" data-target="#datetimepicker-01">
                          <div class="input-group-append" data-target="#datetimepicker-01" data-toggle="datetimepicker">
                            <div class="input-group-text"><i class="far fa-calendar-alt"></i></div>
                          </div>
                        </div>
                      </div>
                      <div class="form-group col-sm-6 datetimepickers">
                        <div class="input-group date" id="datetimepicker-03" data-target-input="nearest">
                          <input type="text" class="form-control datetimepicker-input" placeholder="Time" data-target="#datetimepicker-03" />
                          <div class="input-group-append" data-target="#datetimepicker-03" data-toggle="datetimepicker">
                            <div class="input-group-text"><i class="far fa-clock"></i></div>
                          </div>
                        </div>
                      </div>
                      <div class="form-group col-sm-12">
                        <input type="text" class="form-control" placeholder="Name">
                      </div>
                      <div class="form-group col-sm-12">
                        <input type="email" class="form-control" placeholder="Email">
                      </div>
                      <div class="form-group col-sm-12">
                        <input type="Text" class="form-control" placeholder="Phone">
                      </div>
                      <div class="form-group col-sm-12">
                        <textarea class="form-control" rows="4" placeholder="Message"></textarea>
                      </div>
                      <div class="form-group col-sm-12">
                        <button type="submit" class="btn btn-primary">Submit</button>
                      </div>
                      <div class="col-sm-6"></div>
                    </div>
                  </div>
                </div>
              </div>

            </div>
          </div>
        </div>
      </section>
    </div>
</template>

<script>

export default {
  /**
  * The name of the page.
  */
  name: 'property.show'
}
</script>
