﻿@page "/blog/"
@page "/blog/page/{Id:int}/"

<div class="container space-2 space-lg-3">
    <div class="row justify-content-lg-between">
        <div class="col-lg-8">
            <!-- Blog -->
            <article class="row mb-7">
                <div class="col-md-5">
                    <img class="card-img" src="https://gostreamlabs.com/front/assets/img/400x500/img7.jpg" alt="Image Description">
                </div>
                <div class="col-md-7">
                    <div class="card-body d-flex flex-column h-100 px-0">
                        <span class="d-block mb-2">
                            <a class="font-weight-bold" href="#">Business</a>
                        </span>
                        <h3><a class="text-inherit" href="single-article.html">Front becomes an official Instagram Marketing Partner</a></h3>
                        <p>Great news we're eager to share.</p>
                        <div class="media align-items-center mt-auto">
                            <a class="avatar avatar-sm avatar-circle mr-3" href="blog-profile.html">
                                <img class="avatar-img" src="https://gostreamlabs.com/front/assets/img/100x100/img3.jpg" alt="Image Description">
                            </a>
                            <div class="media-body">
                                <span class="text-dark">
                                    <a class="d-inline-block text-inherit font-weight-bold" href="blog-profile.html">Aaron Larsson</a>
                                </span>
                                <small class="d-block">Feb 15, 2020</small>
                            </div>
                        </div>
                    </div>
                </div>
            </article>
            <!-- End Blog -->
            <!-- Blog -->
            <article class="row mb-7">
                <div class="col-md-5">
                    <img class="card-img" src="https://gostreamlabs.com/front/assets/img/400x500/img5.jpg" alt="Image Description">
                </div>
                <div class="col-md-7">
                    <div class="card-body d-flex flex-column h-100 px-0">
                        <span class="d-block mb-2">
                            <a class="font-weight-bold" href="#">Announcements</a>
                        </span>
                        <h3><a class="text-inherit" href="single-article.html">Announcing a free plan for small teams</a></h3>
                        <p>At Wake, our mission has always been focused on bringing openness.</p>
                        <div class="media align-items-center mt-auto">
                            <a class="avatar avatar-sm avatar-circle mr-3" href="blog-profile.html">
                                <img class="avatar-img" src="https://gostreamlabs.com/front/assets/img/100x100/img11.jpg" alt="Image Description">
                            </a>
                            <div class="media-body">
                                <span class="text-dark">
                                    <a class="d-inline-block text-inherit font-weight-bold" href="blog-profile.html">Hanna Wolfe</a>
                                </span>
                                <small class="d-block">Feb 4, 2020</small>
                            </div>
                        </div>
                    </div>
                </div>
            </article>
            <!-- End Blog -->
            <!-- Blog -->
            <article class="row mb-7">
                <div class="col-md-5">
                    <img class="card-img" src="https://gostreamlabs.com/front/assets/img/400x500/img4.jpg" alt="Image Description">
                </div>
                <div class="col-md-7">
                    <div class="card-body d-flex flex-column h-100 px-0">
                        <span class="d-block mb-2">
                            <a class="font-weight-bold" href="#">Business</a>
                        </span>
                        <h3><a class="text-inherit" href="single-article.html">Enjoy $1,000 worth of perks with Front for Business</a></h3>
                        <p>There are many reasons people choose to join Front for Business.</p>
                        <div class="media align-items-center mt-auto">
                            <a class="avatar avatar-sm avatar-circle mr-3" href="blog-profile.html">
                                <img class="avatar-img" src="https://gostreamlabs.com/front/assets/img/100x100/img1.jpg" alt="Image Description">
                            </a>
                            <div class="media-body">
                                <span class="text-dark">
                                    <a class="d-inline-block text-inherit font-weight-bold" href="blog-profile.html">Andrea Gard</a>
                                </span>
                                <small class="d-block">Jan 27, 2020</small>
                            </div>
                        </div>
                    </div>
                </div>
            </article>
            <!-- End Blog -->
            <!-- Blog -->
            <article class="row mb-7">
                <div class="col-md-5">
                    <img class="card-img" src="https://gostreamlabs.com/front/assets/img/400x500/img8.jpg" alt="Image Description">
                </div>
                <div class="col-md-7">
                    <div class="card-body d-flex flex-column h-100 px-0">
                        <span class="d-block mb-2">
                            <a class="font-weight-bold" href="#">Business</a>
                        </span>
                        <h3><a class="text-inherit" href="single-article.html">What CFR (Conversations, Feedback, Recognition) really is about</a></h3>
                        <p>For a lot of people these days, Measure What Matters.</p>
                        <div class="media align-items-center mt-auto">
                            <a class="avatar avatar-sm avatar-circle mr-3" href="blog-profile.html">
                                <img class="avatar-img" src="https://gostreamlabs.com/front/assets/img/100x100/img3.jpg" alt="Image Description">
                            </a>
                            <div class="media-body">
                                <span class="text-dark">
                                    <a class="d-inline-block text-inherit font-weight-bold" href="blog-profile.html">Aaron Larsson</a>
                                </span>
                                <small class="d-block">Jan 21, 2020</small>
                            </div>
                        </div>
                    </div>
                </div>
            </article>
            <!-- End Blog -->
            <!-- Blog -->
            <article class="row mb-7">
                <div class="col-md-5">
                    <img class="card-img" src="https://gostreamlabs.com/front/assets/img/400x500/img6.jpg" alt="Image Description">
                </div>
                <div class="col-md-7">
                    <div class="card-body d-flex flex-column h-100 px-0">
                        <span class="d-block mb-2">
                            <a class="font-weight-bold" href="#">Community</a>
                        </span>
                        <h3><a class="text-inherit" href="single-article.html">Do millennials care about saving?</a></h3>
                        <p>Over the last few years, numerous studies have appeared to confirm a troubling pattern – millennials don't save, they don't care about their financial futures.</p>
                        <div class="media align-items-center mt-auto">
                            <a class="avatar avatar-sm avatar-circle mr-3" href="blog-profile.html">
                                <img class="avatar-img" src="https://gostreamlabs.com/front/assets/img/100x100/img11.jpg" alt="Image Description">
                            </a>
                            <div class="media-body">
                                <span class="text-dark">
                                    <a class="d-inline-block text-inherit font-weight-bold" href="blog-profile.html">Hanna Wolfe</a>
                                </span>
                                <small class="d-block">Jan 15, 2020</small>
                            </div>
                        </div>
                    </div>
                </div>
            </article>
            <!-- End Blog -->
            <!-- Blog -->
            <article>
                <a class="card align-items-start flex-wrap flex-row h-380rem gradient-x-overlay-sm-navy bg-img-hero rounded-pseudo transition-3d-hover mb-7" href="blog-profile.html" style="background-image: url(https://gostreamlabs.com/front/assets/img/900x450/img1.jpg);">
                    <div class="card-header border-0 bg-transparent w-100">
                        <div class="media align-items-center">
                            <span class="avatar avatar-sm avatar-circle mr-3">
                                <img class="avatar-img" src="https://gostreamlabs.com/front/assets/img/100x100/img3.jpg" alt="Image Description">
                            </span>
                            <div class="media-body">
                                <span class="d-inline-block text-white font-weight-bold">Aaron Larsson</span>
                                <small class="d-block text-white-70">Jan 09, 2020</small>
                            </div>
                        </div>
                    </div>

                    <div class="card-footer border-0 bg-transparent mt-auto">
                        <h3 class="h2 text-white">Facebook is creating a news section in Watch to feature breaking news</h3>
                        <p class="text-white-70 mb-0">Facebook launched the Watch platform in August</p>
                    </div>
                </a>
            </article>
            <!-- End Blog -->
            <!-- Blog -->
            <article class="row mb-7">
                <div class="col-md-5">
                    <img class="card-img" src="https://gostreamlabs.com/front/assets/img/400x500/img21.jpg" alt="Image Description">
                </div>
                <div class="col-md-7">
                    <div class="card-body d-flex flex-column h-100 px-0">
                        <span class="d-block mb-2">
                            <a class="font-weight-bold" href="#">Business</a>
                        </span>
                        <h3><a class="text-inherit" href="single-article.html">Front accounts - let's work together</a></h3>
                        <p>Are you an accountant? Are you a company formation advisor? Would you like to partner with one of the world's most popular and fastest-growing Fintech startups?</p>
                        <div class="media align-items-center mt-auto">
                            <a class="avatar avatar-sm avatar-circle mr-3" href="blog-profile.html">
                                <img class="avatar-img" src="https://gostreamlabs.com/front/assets/img/100x100/img11.jpg" alt="Image Description">
                            </a>
                            <div class="media-body">
                                <span class="text-dark">
                                    <a class="d-inline-block text-inherit font-weight-bold" href="blog-profile.html">Hanna Wolfe</a>
                                </span>
                                <small class="d-block">Jan 06, 2020</small>
                            </div>
                        </div>
                    </div>
                </div>
            </article>
            <!-- End Blog -->
            <!-- Blog -->
            <article class="row mb-7">
                <div class="col-md-5">
                    <img class="card-img" src="https://gostreamlabs.com/front/assets/img/400x500/img3.jpg" alt="Image Description">
                </div>
                <div class="col-md-7">
                    <div class="card-body d-flex flex-column h-100 px-0">
                        <span class="d-block mb-2">
                            <a class="font-weight-bold" href="#">Community</a>
                        </span>
                        <h3><a class="text-inherit" href="single-article.html">Let's revolutionise global payments. Together</a></h3>
                        <p>Front is changing the way money moves around the world.</p>
                        <div class="media align-items-center mt-auto">
                            <a class="avatar avatar-sm avatar-circle mr-3" href="blog-profile.html">
                                <img class="avatar-img" src="https://gostreamlabs.com/front/assets/img/100x100/img1.jpg" alt="Image Description">
                            </a>
                            <div class="media-body">
                                <span class="text-dark">
                                    <a class="d-inline-block text-inherit font-weight-bold" href="blog-profile.html">Andrea Gard</a>
                                </span>
                                <small class="d-block">Jan 06, 2020</small>
                            </div>
                        </div>
                    </div>
                </div>
            </article>
            <!-- End Blog -->
            <!-- Sticky Block End Point -->
            <div id="stickyBlockEndPoint"></div>
        </div>

        <div class="col-lg-3">
            <div class="mb-7">
                <div class="mb-3">
                    <h3>Newsletter</h3>
                </div>

                <!-- Form -->
                <form class="js-validate mb-2" novalidate="novalidate">
                    <label class="sr-only" for="subscribeSr">Subscribe</label>
                    <div class="input-group input-group-flush mb-3">
                        <input type="email" class="form-control form-control-sm" name="email" id="subscribeSr" placeholder="Your email" aria-label="Your email" required="" data-msg="Please enter a valid email address.">
                    </div>
                    <button type="submit" class="btn btn-sm btn-primary btn-block">Subscribe</button>
                </form>
                <!-- End Form -->

                <p class="small">Get special offers on the latest developments from Front.</p>
            </div>

            <div class="mb-7">
                <div class="mb-3">
                    <h3>Productivity</h3>
                </div>

                <!-- Blog -->
                <article class="mb-3">
                    <a class="card card-frame p-3" href="#">
                        <div class="media align-items-center">
                            <div class="media-body mr-2">
                                <h4 class="h6 mb-0">Here's how to dodge distractions</h4>
                                <span class="d-block font-size-1 text-body">Feb 08, 2020</span>
                            </div>
                            <i class="fas fa-angle-right"></i>
                        </div>
                    </a>
                </article>
                <!-- End Blog -->
                <!-- Blog -->
                <article class="mb-3">
                    <a class="card card-frame p-3" href="#">
                        <div class="media align-items-center">
                            <div class="media-body mr-2">
                                <h4 class="h6 mb-0">Ideas to stay productive</h4>
                                <span class="d-block font-size-1 text-body">Feb 09, 2020</span>
                            </div>
                            <i class="fas fa-angle-right"></i>
                        </div>
                    </a>
                </article>
                <!-- End Blog -->
                <!-- Blog -->
                <article class="mb-3">
                    <a class="card card-frame p-3" href="#">
                        <div class="media align-items-center">
                            <div class="media-body mr-2">
                                <h4 class="h6 mb-0">Classic design principles</h4>
                                <span class="d-block font-size-1 text-body">Feb 10, 2020</span>
                            </div>
                            <i class="fas fa-angle-right"></i>
                        </div>
                    </a>
                </article>
                <!-- End Blog -->
            </div>

            <!-- Sticky Block Start Point -->
            <div id="stickyBlockStartPoint"></div>

            <div class="js-sticky-block" data-hs-sticky-block-options="{
                 &quot;parentSelector&quot;: &quot;#stickyBlockStartPoint&quot;,
                 &quot;breakpoint&quot;: &quot;lg&quot;,
                 &quot;startPoint&quot;: &quot;#stickyBlockStartPoint&quot;,
                 &quot;endPoint&quot;: &quot;#stickyBlockEndPoint&quot;,
                 &quot;stickyOffsetTop&quot;: 40,
                 &quot;stickyOffsetBottom&quot;: 20
               }">
                <div class="mb-7">
                    <div class="mb-3">
                        <h3>Front culture</h3>
                    </div>

                    <!-- Blog -->
                    <article class="mb-5">
                        <div class="media align-items-center text-inherit">
                            <div class="avatar avatar-lg mr-3">
                                <img class="avatar-img" src="https://gostreamlabs.com/front/assets/img/320x320/img1.jpg" alt="Image Description">
                            </div>
                            <div class="media-body">
                                <h4 class="h6 mb-0"><a class="text-inherit" href="#">Announcing a free plan for small teams</a></h4>
                            </div>
                        </div>
                    </article>
                    <!-- End Blog -->
                    <!-- Blog -->
                    <article class="mb-5">
                        <div class="media align-items-center text-inherit">
                            <div class="avatar avatar-lg mr-3">
                                <img class="avatar-img" src="https://gostreamlabs.com/front/assets/img/320x320/img10.jpg" alt="Image Description">
                            </div>
                            <div class="media-body">
                                <h4 class="h6 mb-0"><a class="text-inherit" href="#">Mapping the first family tree for Front office</a></h4>
                            </div>
                        </div>
                    </article>
                    <!-- End Blog -->
                    <!-- Blog -->
                    <article class="mb-5">
                        <div class="media align-items-center text-inherit">
                            <div class="avatar avatar-lg mr-3">
                                <img class="avatar-img" src="https://gostreamlabs.com/front/assets/img/320x320/img9.jpg" alt="Image Description">
                            </div>
                            <div class="media-body">
                                <h4 class="h6 mb-0"><a class="text-inherit" href="#">Felline eyeing first major Classic win in 2018</a></h4>
                            </div>
                        </div>
                    </article>
                    <!-- End Blog -->
                </div>

                <div class="mb-7">
                    <div class="mb-3">
                        <h3>Tags</h3>
                    </div>

                    <a class="btn btn-xs btn-soft-secondary mb-1" href="#">Business</a>
                    <a class="btn btn-xs btn-soft-secondary mb-1" href="#">Adventure</a>
                    <a class="btn btn-xs btn-soft-secondary mb-1" href="#">Community</a>
                    <a class="btn btn-xs btn-soft-secondary mb-1" href="#">Announcements</a>
                    <a class="btn btn-xs btn-soft-secondary mb-1" href="#">Tutorials</a>
                    <a class="btn btn-xs btn-soft-secondary mb-1" href="#">Resources</a>
                    <a class="btn btn-xs btn-soft-secondary mb-1" href="#">Classic</a>
                    <a class="btn btn-xs btn-soft-secondary mb-1" href="#">Photography</a>
                    <a class="btn btn-xs btn-soft-secondary mb-1" href="#">Interview</a>
                </div>
            </div>
        </div>
    </div>

    <!-- Pagination -->
    <nav aria-label="Page navigation">
        <ul class="pagination mb-0">
            <li class="page-item active"><a class="page-link" href="#">1</a></li>
            <li class="page-item"><a class="page-link" href="#">2</a></li>
            <li class="page-item disabled"><a class="page-link" href="#">...</a></li>
            <li class="page-item"><a class="page-link" href="#">5</a></li>
            <li class="page-item">
                <a class="page-link" href="#" aria-label="Next">
                    <span class="d-none d-sm-inline-block mr-1">Next</span>
                    <span aria-hidden="true">»</span>
                </a>
            </li>
        </ul>
    </nav>
    <!-- End Pagination -->
</div>

<section class="mg-md-t-70">
    <div class="container">
        <div class="row">
            @for (var i = 1; i <= 6; i++)
            {
<a href="/blog" class="tx-decoration col-12 col-md-4 d-flex">
    <div class="card mb-4">
        <img class="card-img-top" src="https://s3.eu-central-1.amazonaws.com/bootstrapbaymisc/blog/24_days_bootstrap/bologna-1.jpg" alt="Bologna">
        <div class="card-img-overlay card-inverse">
            <span class="badge badge-light">Primary</span>
        </div>
        <div class="card-body">
            <div class="text-muted d-flex justify-content-between bg-transparent border-top-0 mb-2">
                <small class="cat">
                    <i class="far fa-clock text-info"></i> 30 minutes
                    <i class="fas fa-users text-info"></i> 4 portions
                </small>
                <small class="stats">
                    <i class="far fa-eye"></i> 1347
                    <i class="far fa-comment"></i> 12
                </small>
            </div>
            <h4 class="card-title">Pasta with Prosciutto</h4>



            <!--h6 class="card-subtitle mb-2 text-muted">Emilia-Romagna Region, Italy</h6-->
            <p class="card-text tx-gray-600">It is the seventh most populous city in Italy, at the heart of a metropolitan area of about one million people. </p>
            <div class="d-flex justify-content-between align-items-center">
                <div class="media">
                    <div class="avatar avatar-xs avatar-circle mr-2">
                        <img class="avatar-img" style="width:30px;" src="https://streamlabs.nyc3.cdn.digitaloceanspaces.com/assets/img/100x100/img1.jpg" alt="Image Description">
                    </div>

                    <div class="media-body">
                        <small class="d-block">
                            <span class="text-muted">Written by</span>
                            <span class="text-dark">Luisa Woodfine</span>
                        </small>
                        <small class="d-block text-body">
                            Updated over a week ago
                        </small>
                    </div>
                </div>
                <!--span href="#" class="card-link">Author</span-->
                <span href="#" class="card-link">B</span>
            </div>
        </div>
    </div>
</a>}
        </div>
        <div class="text-center">
            <a href="/blogs/" class="btn btn-primary" type="submit">Continue to checkout</a>
        </div>
    </div>
</section>

<div class="container">
    <div class="row mb-3">
        <div class="col-sm-6 col-lg-4 mb-3 mb-sm-8">
            <!-- Blog Card -->
            <article class="card h-100">
                <div class="card-img-top position-relative">
                    <img class="card-img-top" src="https://streamlabs.nyc3.cdn.digitaloceanspaces.com/assets/img/500x280/img7.jpg" alt="Image Description">
                    <figure class="ie-curved-y position-absolute right-0 bottom-0 left-0 mb-n1">
                        <svg xmlns="http://www.w3.org/2000/svg" x="0px" y="0px" viewBox="0 0 1920 100.1">
                            <path fill="#fff" d="M0,0c0,0,934.4,93.4,1920,0v100.1H0L0,0z"></path>
                        </svg>
                    </figure>
                </div>

                <div class="card-body">
                    <h3><a class="text-inherit" href="single-article.html">Drone Company PrecisionHawk Names New CEO</a></h3>
                    <p>Drone company PrecisionHawk has survived 10 years in the industry.</p>
                </div>

                <div class="card-footer border-0 pt-0">
                    <div class="media align-items-center">
                        <div class="avatar-group">
                            <a class="avatar avatar-xs avatar-circle" href="#" data-toggle="tooltip" data-placement="top" title="" data-original-title="Aaron Larsson">
                                <img class="avatar-img" src="https://streamlabs.nyc3.cdn.digitaloceanspaces.com/assets/img/100x100/img3.jpg" alt="Image Description">
                            </a>
                            <a class="avatar avatar-xs avatar-circle" href="#" data-toggle="tooltip" data-placement="top" title="" data-original-title="Hanna Wolfe">
                                <img class="avatar-img" src="https://streamlabs.nyc3.cdn.digitaloceanspaces.com/assets/img/100x100/img11.jpg" alt="Image Description">
                            </a>
                        </div>
                        <div class="media-body d-flex justify-content-end text-muted font-size-1 ml-2">
                            July 15
                        </div>
                    </div>
                </div>
            </article>
            <!-- End Blog Card -->
        </div>

        <div class="col-sm-6 col-lg-4 mb-3 mb-sm-8">
            <!-- Blog Card -->
            <article class="card h-100">
                <div class="card-img-top position-relative">
                    <img class="card-img-top" src="https://streamlabs.nyc3.cdn.digitaloceanspaces.com/assets/img/500x280/img8.jpg" alt="Image Description">
                    <figure class="ie-curved-y position-absolute right-0 bottom-0 left-0 mb-n1">
                        <svg xmlns="http://www.w3.org/2000/svg" x="0px" y="0px" viewBox="0 0 1920 100.1">
                            <path fill="#fff" d="M0,0c0,0,934.4,93.4,1920,0v100.1H0L0,0z"></path>
                        </svg>
                    </figure>
                </div>

                <div class="card-body">
                    <h3><a class="text-inherit" href="single-article.html">Should Product Owners think like entrepreneurs?</a></h3>
                    <p>Front is a financial technology company. We build products. We do it fast and we do it well.</p>
                </div>

                <div class="card-footer border-0 pt-0">
                    <div class="media align-items-center">
                        <div class="avatar-group">
                            <a class="avatar avatar-xs avatar-circle" href="#" data-toggle="tooltip" data-placement="top" title="" data-original-title="Emily Milda">
                                <img class="avatar-img" src="https://streamlabs.nyc3.cdn.digitaloceanspaces.com/assets/img/100x100/img2.jpg" alt="Image Description">
                            </a>
                            <a class="avatar avatar-xs avatar-circle" href="#" data-toggle="tooltip" data-placement="top" title="" data-original-title="John O'nolan">
                                <img class="avatar-img" src="https://streamlabs.nyc3.cdn.digitaloceanspaces.com/assets/img/100x100/img4.jpg" alt="Image Description">
                            </a>
                        </div>
                        <div class="media-body d-flex justify-content-end text-muted font-size-1 ml-2">
                            July 15
                        </div>
                    </div>
                </div>
            </article>
            <!-- End Blog Card -->
        </div>

        <div class="col-sm-6 col-lg-4 mb-3 mb-sm-8">
            <!-- Blog Card -->
            <article class="card h-100">
                <div class="card-img-top position-relative">
                    <img class="card-img-top" src="https://streamlabs.nyc3.cdn.digitaloceanspaces.com/assets/img/500x280/img2.jpg" alt="Image Description">
                    <figure class="ie-curved-y position-absolute right-0 bottom-0 left-0 mb-n1">
                        <svg xmlns="http://www.w3.org/2000/svg" x="0px" y="0px" viewBox="0 0 1920 100.1">
                            <path fill="#fff" d="M0,0c0,0,934.4,93.4,1920,0v100.1H0L0,0z"></path>
                        </svg>
                    </figure>
                </div>

                <div class="card-body">
                    <h3><a class="text-inherit" href="single-article.html">What is KYC and why do we need it</a></h3>
                    <p>You've read about our app, it came up on your news feed and your mate sent you an invite to sign up.</p>
                </div>

                <div class="card-footer border-0 pt-0">
                    <div class="media align-items-center">
                        <div class="avatar-group">
                            <a class="avatar avatar-xs avatar-circle" href="#" data-toggle="tooltip" data-placement="top" title="" data-original-title="Emily Milda">
                                <img class="avatar-img" src="https://streamlabs.nyc3.cdn.digitaloceanspaces.com/assets/img/100x100/img2.jpg" alt="Image Description">
                            </a>
                        </div>
                        <div class="media-body d-flex justify-content-end text-muted font-size-1 ml-2">
                            July 15
                        </div>
                    </div>
                </div>
            </article>
            <!-- End Blog Card -->
        </div>
    </div>
</div>

<!-- Page Heading/Breadcrumbs -->
<h1 class="mt-4 mb-3">
    Portfolio 3
    <small>Subheading</small>
</h1>

<ol class="breadcrumb">
    <li class="breadcrumb-item">
        <a href="index.html">Home</a>
    </li>
    <li class="breadcrumb-item active">Portfolio 3</li>
</ol>

<div class="row">
    @for (var i = 1; i <= 6; i++)
    {
        <div class="col-lg-4 col-sm-6 portfolio-item mb-5">
            <div class="card h-100">
                <a href="/blog/1/"><img class="card-img-top" src="http://placehold.it/700x400" alt=""></a>
                <div class="card-body">
                    <h4 class="card-title">
                        <a href="/blog/1/">Project One</a>
                    </h4>
                    <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Amet numquam aspernatur eum quasi sapiente nesciunt? Voluptatibus sit, repellat sequi itaque deserunt, dolores in, nesciunt, illum tempora ex quae? Nihil, dolorem!</p>
                </div>
            </div>
        </div>
    }
</div>

<!-- Pagination -->
<ul class="pagination justify-content-center">
    <li class="page-item">
        <a class="page-link" href="#" aria-label="Previous">
            <span aria-hidden="true">«</span>
            <span class="sr-only">Previous</span>
        </a>
    </li>
    <li class="page-item">
        <a class="page-link" href="#">1</a>
    </li>
    <li class="page-item">
        <a class="page-link" href="#">2</a>
    </li>
    <li class="page-item">
        <a class="page-link" href="#">3</a>
    </li>
    <li class="page-item">
        <a class="page-link" href="#" aria-label="Next">
            <span aria-hidden="true">»</span>
            <span class="sr-only">Next</span>
        </a>
    </li>
</ul>

@code {
    [Parameter]
    public int Id { get; set; }

}
