﻿<template>
    <section>
      <!-- Hero Section -->
      <div class="pos-relative">
        <div class="container space-top-3 pd-lg-t-30 pd-md-b-30 pos-relative z-index-2">
          <div class="w-md-80 w-lg-60 text-center mx-md-auto mb-9">
            <div class="mb-5">
              <h1>Work with us</h1>
              <p>Work hard with highly motivated team of talented people and great teammates to launch perfectly crafted products you'll love.</p>
            </div>
            <a class="btn btn-primary btn-wide transition-3d-hover" href="#openRolesSection">See Job Openings</a>
          </div>
          <div class="row mx-n2">
            <div class="col-6 col-md px-2 mb-3">
              <div class="ht-250 bg-img-hero" :style="{'background-image': 'url(' + require('@/assets/images/img/img17.jpg') + ')'}"></div>
            </div>
            <div class="col-md-3 d-none d-md-block px-2 mb-3">
              <div class="ht-250 bg-img-hero" :style="{'background-image': 'url(' + require('@/assets/images/img/img6.jpg') + ')'}"></div>
            </div>
            <div class="col-6 col-md px-2 mb-3">
              <div class="ht-250 bg-img-hero" :style="{'background-image': 'url(' + require('@/assets/images/img/img14.jpg') + ')'}"></div>
            </div>

            <div class="w-100"></div>

            <div class="col-6 col-md px-2 mb-3 mb-md-0">
              <div class="ht-250 bg-img-hero" :style="{'background-image': 'url(' + require('@/assets/images/img/img25.jpg') + ')'}"></div>
            </div>
            <div class="col-md-4 d-none d-md-block px-2 mb-3 mb-md-0">
              <div class="ht-250 bg-img-hero" :style="{'background-image': 'url(' + require('@/assets/images/img/img16.jpg') + ')'}"></div>
            </div>
            <div class="col-6 col-md px-2">
              <div class="ht-250 bg-img-hero" :style="{'background-image': 'url(' + require('@/assets/images/img/img12.jpg') + ')'}"></div>
            </div>
          </div>

        </div>

        <div class="position-absolute top-0 right-0 left-0 w-100 h-100 bg-img-hero mt-n11" :style="{'background-image': 'url(' + require('@/assets/images/svg/abstract-shapes-12.svg') + ')'}"></div>

        <!-- SVG Shape -->
        <figure class="position-absolute bottom-0 right-0 left-0 mb-11">
          <svg preserveAspectRatio="none" xmlns="http://www.w3.org/2000/svg" x="0px" y="0px" viewBox="0 0 1921 273">
            <polygon fill="#fff" points="0,273 1921,273 1921,0 " />
          </svg>
        </figure>
        <!-- End SVG Shape -->
      </div>
      <!-- End Hero Section -->
      <!-- Features Section -->
      <div class="container">
        <div class="border-bottom space-2 space-lg-3">
          <!-- Title -->
          <div class="w-md-80 w-lg-50 text-center mx-md-auto mb-5 mb-md-9">
            <span class="d-block small font-weight-bold text-cap mb-2">Company values</span>
            <h2>The Front culture</h2>
          </div>
          <!-- End Title -->

          <div class="row">
            <div class="col-sm-6 col-md-4 mb-3 mb-sm-7">
              <!-- Icon Blocks -->
              <div class="media">
                <span class="mr-3">&mdash;</span>
                <div class="media-body">
                  <h2 class="h4">Hit heavy, stay small</h2>
                  <p>Tight-knit, dynamic teams work with more agility, communication, and freedom than large-scale companies.</p>
                </div>
              </div>
              <!-- End Icon Blocks -->
            </div>

            <div class="col-sm-6 col-md-4 mb-3 mb-sm-7">
              <!-- Icon Blocks -->
              <div class="media">
                <span class="mr-3">&mdash;</span>
                <div class="media-body">
                  <h3 class="h4">Ambition by the boatload</h3>
                  <p>We love people who aim for greatness. They inspire and excite their teammates, raising the bar for all of us.</p>
                </div>
              </div>
              <!-- End Icon Blocks -->
            </div>

            <div class="col-sm-6 col-md-4 mb-3 mb-sm-7">
              <!-- Icon Blocks -->
              <div class="media">
                <span class="mr-3">&mdash;</span>
                <div class="media-body">
                  <h4>Open communication</h4>
                  <p>We're big fans of transparency for many reasons, but the abridged version is: it makes easier.</p>
                </div>
              </div>
              <!-- End Icon Blocks -->
            </div>

            <div class="col-sm-6 col-md-4 mb-3 mb-sm-0">
              <!-- Icon Blocks -->
              <div class="media">
                <span class="mr-3">&mdash;</span>
                <div class="media-body">
                  <h4>Autonomy and attitude</h4>
                  <p>We're a team of self-starters who take serious pride in our work – and it shows.</p>
                </div>
              </div>
              <!-- End Icon Blocks -->
            </div>

            <div class="col-sm-6 col-md-4 mb-3 mb-sm-0">
              <!-- Icon Blocks -->
              <div class="media">
                <span class="mr-3">&mdash;</span>
                <div class="media-body">
                  <h4>Support and win</h4>
                  <p>When we empower others to succeed, we all win. (And we're not talking about participation trophies.)</p>
                </div>
              </div>
              <!-- End Icon Blocks -->
            </div>

            <div class="col-sm-6 col-md-4">
              <!-- Icon Blocks -->
              <div class="media">
                <span class="mr-3">&mdash;</span>
                <div class="media-body">
                  <h4>Teamwork makes the dream work</h4>
                  <p>We work together to bring our passions and expertise to make Teachable the best it can be.</p>
                </div>
              </div>
              <!-- End Icon Blocks -->
            </div>
          </div>
        </div>
      </div>
      <!-- End Features Section -->
      <!-- Info Section -->
      <div class="container space-2 space-lg-3">
        <!-- Title -->
        <div class="w-md-80 w-lg-50 text-center mx-md-auto mb-5 mb-md-9">
          <span class="d-block small font-weight-bold text-cap mb-2">Our values</span>
          <h2>What it's like to work here</h2>
        </div>
        <!-- End Title -->

        <div class="w-md-75 mx-md-auto">
          <div class="row">
            <div class="col-lg-6">
              <p>Front is an independent, profitable organisation creating premium thmes to power the future of websites. No matter where you look, the world has never needed real media serving real communities as much as it does today.</p>

              <p>Because we're a fully-remote team — we hire people from all over the world!</p>
            </div>

            <div class="col-lg-6">
              <p>Our destiny is in our own hands, because we've been profitable since we started. No shareholders, no board of directors with outside interests, no old VC guys in the background pulling strings. We generate revenue from customers who pay us, so we have unlimited runway to keep building the things we want to build.</p>

              <p>The vast majority of our work gets done on Github, with Slack as the main channel for communication. We do weekly meetings via Zoom which are used to discuss progress and plan what's coming next.</p>
            </div>
          </div>
        </div>
      </div>
      <!-- End Info Section -->
      <!-- Gallery Section -->
      <div class="clearfix mx-3 mx-md-11">
        <img class="img-fluid rounded" src="@/assets/images/img/img2_big.jpg" alt="Image Description">
      </div>
      <!-- End Gallery Section -->
      <!-- Jobs Section -->
      <div id="openRolesSection" class="container space-2 space-lg-3">
        <!-- Title -->
        <div class="w-md-80 w-lg-50 text-center mx-md-auto mb-5 mb-md-9">
          <span class="d-block small font-weight-bold text-cap mb-2">Open positions</span>
          <h2>Current job openings</h2>
        </div>
        <!-- End Title -->
        <!-- Filters -->
        <div class="border-bottom pb-5 mb-9">
          <div class="row align-items-center">
            <div class="col-sm-auto mb-3 mb-sm-0">
              <!-- Select -->
              <select class="custom-select custom-select-sm">
                <option selected disabled>Location</option>
                <option value="locationAll">All</option>
                <option value="location1">London</option>
                <option value="location2">New York</option>
                <option value="location6">Singapore</option>
                <option value="location3">Beijing</option>
                <option value="location4">Hong Kong</option>
                <option value="location5">Berlin</option>
                <option value="location6">Sydney</option>
                <option value="location6">San Francisco</option>
              </select>
              <!-- End Select -->
            </div>

            <div class="col-sm text-sm-right">
              <span class="text-dark font-weight-bold">19</span>
              open positions
            </div>
          </div>
        </div>
        <!-- End Filters -->
        <!-- Title -->
        <div class="row justify-content-lg-between align-items-lg-center mt-7 mb-3">
          <div class="col-sm-auto">
            <h3 class="h4">Technology</h3>
          </div>
          <div class="col-sm text-sm-right">
            <small>6 openings</small>
          </div>
        </div>
        <!-- End Title -->
        <!-- Card -->
        <a class="card card-frame py-3 px-4 mb-2" href="/careers/description/">
          <div class="row align-items-sm-center">
            <span class="col-sm-6 text-dark">
              Android Engineering
            </span>
            <span class="col-6 col-sm-3 text-body">
              Hong Kong
            </span>
            <span class="col-6 col-sm-3 text-right">
              Apply <i class="fas fa-angle-right fa-sm ml-1"></i>
            </span>
          </div>
        </a>
        <!-- End Card -->
        <!-- Card -->
        <a class="card card-frame py-3 px-4 mb-2" href="/careers/description/">
          <div class="row align-items-sm-center">
            <span class="col-sm-6 text-dark">
              Cloud System Engineer
            </span>
            <span class="col-6 col-sm-3 text-body">
              Sydney
            </span>
            <span class="col-6 col-sm-3 text-right">
              Apply <i class="fas fa-angle-right fa-sm ml-1"></i>
            </span>
          </div>
        </a>
        <!-- End Card -->
        <!-- Card -->
        <a class="card card-frame py-3 px-4 mb-2" href="/careers/description/">
          <div class="row align-items-sm-center">
            <span class="col-sm-6 text-dark">
              Database Administrator
            </span>
            <span class="col-6 col-sm-3 text-body">
              Sydney
            </span>
            <span class="col-6 col-sm-3 text-right">
              Apply <i class="fas fa-angle-right fa-sm ml-1"></i>
            </span>
          </div>
        </a>
        <!-- End Card -->
        <!-- Card -->
        <a class="card card-frame py-3 px-4 mb-2" href="/careers/description/">
          <div class="row align-items-sm-center">
            <span class="col-sm-6 text-dark">
              Engineering Lead
            </span>
            <span class="col-6 col-sm-3 text-body">
              Beijing
            </span>
            <span class="col-6 col-sm-3 text-right">
              Apply <i class="fas fa-angle-right fa-sm ml-1"></i>
            </span>
          </div>
        </a>
        <!-- End Card -->
        <!-- Card -->
        <a class="card card-frame py-3 px-4 mb-2" href="/careers/description/">
          <div class="row align-items-sm-center">
            <span class="col-sm-6 text-dark">
              IT Operations Engineer
            </span>
            <span class="col-6 col-sm-3 text-body">
              San Francisco
            </span>
            <span class="col-6 col-sm-3 text-right">
              Apply <i class="fas fa-angle-right fa-sm ml-1"></i>
            </span>
          </div>
        </a>
        <!-- End Card -->
        <!-- Card -->
        <a class="card card-frame py-3 px-4 mb-2" href="/careers/description/">
          <div class="row align-items-sm-center">
            <span class="col-sm-6 text-dark">
              Senior Analyst, Data Analytics
            </span>
            <span class="col-6 col-sm-3 text-body">
              London
            </span>
            <span class="col-6 col-sm-3 text-right">
              Apply <i class="fas fa-angle-right fa-sm ml-1"></i>
            </span>
          </div>
        </a>
        <!-- End Card -->
        <!-- Title -->
        <div class="row justify-content-lg-between align-items-lg-center mt-7 mb-3">
          <div class="col-sm-auto">
            <h3 class="h4">Business strategy</h3>
          </div>
          <div class="col-sm text-sm-right">
            <small>2 openings</small>
          </div>
        </div>
        <!-- End Title -->
        <!-- Card -->
        <a class="card card-frame py-3 px-4 mb-2" href="/careers/description/">
          <div class="row align-items-sm-center">
            <span class="col-sm-6 text-dark">
              Business Strategy Manager
            </span>
            <span class="col-6 col-sm-3 text-body">
              London
            </span>
            <span class="col-6 col-sm-3 text-right">
              Apply <i class="fas fa-angle-right fa-sm ml-1"></i>
            </span>
          </div>
        </a>
        <!-- End Card -->
        <!-- Card -->
        <a class="card card-frame py-3 px-4 mb-2" href="/careers/description/">
          <div class="row align-items-sm-center">
            <span class="col-sm-6 text-dark">
              Business Strategy Senior Associate
            </span>
            <span class="col-6 col-sm-3 text-body">
              London
            </span>
            <span class="col-6 col-sm-3 text-right">
              Apply <i class="fas fa-angle-right fa-sm ml-1"></i>
            </span>
          </div>
        </a>
        <!-- End Card -->
        <!-- Title -->
        <div class="row justify-content-lg-between align-items-lg-center mt-7 mb-3">
          <div class="col-sm-auto">
            <h3 class="h4">Design</h3>
          </div>
          <div class="col-sm text-sm-right">
            <small>2 openings</small>
          </div>
        </div>
        <!-- End Title -->
        <!-- Card -->
        <a class="card card-frame py-3 px-4 mb-2" href="/careers/description/">
          <div class="row align-items-sm-center">
            <span class="col-sm-6 text-dark">
              Product Designer
            </span>
            <span class="col-6 col-sm-3 text-body">
              San Francisco
            </span>
            <span class="col-6 col-sm-3 text-right">
              Apply <i class="fas fa-angle-right fa-sm ml-1"></i>
            </span>
          </div>
        </a>
        <!-- End Card -->
        <!-- Card -->
        <a class="card card-frame py-3 px-4 mb-2" href="/careers/description/">
          <div class="row align-items-sm-center">
            <span class="col-sm-6 text-dark">
              Senior UX Researcher
            </span>
            <span class="col-6 col-sm-3 text-body">
              New York
            </span>
            <span class="col-6 col-sm-3 text-right">
              Apply <i class="fas fa-angle-right fa-sm ml-1"></i>
            </span>
          </div>
        </a>
        <!-- End Card -->
        <!-- Title -->
        <div class="row justify-content-lg-between align-items-lg-center mt-7 mb-3">
          <div class="col-sm-auto">
            <h3 class="h4">Sales</h3>
          </div>
          <div class="col-sm text-sm-right">
            <small>9 openings</small>
          </div>
        </div>
        <!-- End Title -->
        <!-- Card -->
        <a class="card card-frame py-3 px-4 mb-2" href="/careers/description/">
          <div class="row align-items-sm-center">
            <span class="col-sm-6 text-dark">
              Account Executive - Enterprise
            </span>
            <span class="col-6 col-sm-3 text-body">
              San Francisco
            </span>
            <span class="col-6 col-sm-3 text-right">
              Apply <i class="fas fa-angle-right fa-sm ml-1"></i>
            </span>
          </div>
        </a>
        <!-- End Card -->
        <!-- Card -->
        <a class="card card-frame py-3 px-4 mb-2" href="/careers/description/">
          <div class="row align-items-sm-center">
            <span class="col-sm-6 text-dark">
              Account Executive - Enterprise
            </span>
            <span class="col-6 col-sm-3 text-body">
              New York
            </span>
            <span class="col-6 col-sm-3 text-right">
              Apply <i class="fas fa-angle-right fa-sm ml-1"></i>
            </span>
          </div>
        </a>
        <!-- End Card -->
        <!-- Card -->
        <a class="card card-frame py-3 px-4 mb-2" href="/careers/description/">
          <div class="row align-items-sm-center">
            <span class="col-sm-6 text-dark">
              Account Executive - Growth
            </span>
            <span class="col-6 col-sm-3 text-body">
              Singapore
            </span>
            <span class="col-6 col-sm-3 text-right">
              Apply <i class="fas fa-angle-right fa-sm ml-1"></i>
            </span>
          </div>
        </a>
        <!-- End Card -->
        <!-- Card -->
        <a class="card card-frame py-3 px-4 mb-2" href="/careers/description/">
          <div class="row align-items-sm-center">
            <span class="col-sm-6 text-dark">
              Account Executive - Mid Market
            </span>
            <span class="col-6 col-sm-3 text-body">
              Berlin
            </span>
            <span class="col-6 col-sm-3 text-right">
              Apply <i class="fas fa-angle-right fa-sm ml-1"></i>
            </span>
          </div>
        </a>
        <!-- End Card -->
        <!-- Card -->
        <a class="card card-frame py-3 px-4 mb-2" href="/careers/description/">
          <div class="row align-items-sm-center">
            <span class="col-sm-6 text-dark">
              Sales Manager
            </span>
            <span class="col-6 col-sm-3 text-body">
              Berlin
            </span>
            <span class="col-6 col-sm-3 text-right">
              Apply <i class="fas fa-angle-right fa-sm ml-1"></i>
            </span>
          </div>
        </a>
        <!-- End Card -->
        <!-- Card -->
        <a class="card card-frame py-3 px-4 mb-2" href="/careers/description/">
          <div class="row align-items-sm-center">
            <span class="col-sm-6 text-dark">
              Solutions Consultant
            </span>
            <span class="col-6 col-sm-3 text-body">
              Berlin
            </span>
            <span class="col-6 col-sm-3 text-right">
              Apply <i class="fas fa-angle-right fa-sm ml-1"></i>
            </span>
          </div>
        </a>
        <!-- End Card -->
        <!-- Card -->
        <a class="card card-frame py-3 px-4 mb-2" href="/careers/description/">
          <div class="row align-items-sm-center">
            <span class="col-sm-6 text-dark">
              Business Development Representative
            </span>
            <span class="col-6 col-sm-3 text-body">
              Beijing
            </span>
            <span class="col-6 col-sm-3 text-right">
              Apply <i class="fas fa-angle-right fa-sm ml-1"></i>
            </span>
          </div>
        </a>
        <!-- End Card -->
        <!-- Card -->
        <a class="card card-frame py-3 px-4 mb-2" href="/careers/description/">
          <div class="row align-items-sm-center">
            <span class="col-sm-6 text-dark">
              Manager, Sales Department
            </span>
            <span class="col-6 col-sm-3 text-body">
              Hong Kong
            </span>
            <span class="col-6 col-sm-3 text-right">
              Apply <i class="fas fa-angle-right fa-sm ml-1"></i>
            </span>
          </div>
        </a>
        <!-- End Card -->
        <!-- Card -->
        <a class="card card-frame py-3 px-4 mb-2" href="/careers/description/">
          <div class="row align-items-sm-center">
            <span class="col-sm-6 text-dark">
              Sales Development Representative
            </span>
            <span class="col-6 col-sm-3 text-body">
              London
            </span>
            <span class="col-6 col-sm-3 text-right">
              Apply <i class="fas fa-angle-right fa-sm ml-1"></i>
            </span>
          </div>
        </a>
        <!-- End Card -->

        <div class="text-center mt-5">
          <p>Can't find a position that suits you? <a class="font-weight-bold text-nowrap" href="/contact/">Contact us <i class="fas fa-angle-right fa-sm ml-1"></i></a></p>
        </div>
      </div>
      <!-- End Jobs Section -->
    </section>
</template>

<script>
// @ is an alias to /src
export default {
  /**
  * The name of the page.
  */
  name: 'career.home'
}
</script>
