<template>
  <v-layout>
    <section class="mg-t-70">
      <!-- @@attribute [Authorize(Roles = "finance") .container -->
      <div class="container">
      <bread-crumbs />
        <!-- .row -->
        <div class="row align-items-center">
          <!-- .col-md-6 -->
          <div class="col-12 col-md-6 order-md-2">
            <img class="img-fluid mb-4 mb-md-0" src="@/assets/images/svg/solution.svg" alt="">
          </div><!-- /.col-md-6 -->
          <!-- .col-md-6 -->
          <div class="col-12 col-md-6 text-center text-sm-left">
            <div class="col-fix ml-auto tx-center text-sm-left">
              <h1 class="mb-4"> We live to <strong>empower businesses</strong> and push for innovations  </h1>
              <p class="lead text-muted mb-5">
                Especially with tools that serve people in the most helpful way.
                Being creative, innovative , different are our mottos
              </p>
            </div>
          </div>
        </div><!-- /.row -->
      </div><!-- /.container -->
    </section>
    <section class="py-5">
      <div class="container">
        <!-- Title -->
        <div class="wd-md-400 wd-lg-50p tx-center mg-md-x-auto mb-5 mb-md-9">
          <span class="d-block small font-weight-bold tx-uppercase mb-2">Company values</span>
          <h2>The Front culture</h2>
        </div>
        <!-- End Title -->

        <div class="row">
          <div class="col-sm-6 col-md-4 mb-3 mb-sm-7">
            <!-- Icon Blocks -->
            <div class="media">
              <span class="mr-3">—</span>
              <div class="media-body">
                <h2 class="h4">Hit heavy, stay small</h2>
                <p>Tight-knit, dynamic teams work with more agility, communication, and freedom than large-scale companies.</p>
              </div>
            </div>
            <!-- End Icon Blocks -->
          </div>

          <div class="col-sm-6 col-md-4 mb-3 mb-sm-7">
            <!-- Icon Blocks -->
            <div class="media">
              <span class="mr-3">—</span>
              <div class="media-body">
                <h3 class="h4">Ambition by the boatload</h3>
                <p>We love people who aim for greatness. They inspire and excite their teammates, raising the bar for all of us.</p>
              </div>
            </div>
            <!-- End Icon Blocks -->
          </div>

          <div class="col-sm-6 col-md-4 mb-3 mb-sm-7">
            <!-- Icon Blocks -->
            <div class="media">
              <span class="mr-3">—</span>
              <div class="media-body">
                <h4>Open communication</h4>
                <p>We're big fans of transparency for many reasons, but the abridged version is: it makes easier.</p>
              </div>
            </div>
            <!-- End Icon Blocks -->
          </div>

          <div class="col-sm-6 col-md-4 mb-3 mb-sm-0">
            <!-- Icon Blocks -->
            <div class="media">
              <span class="mr-3">—</span>
              <div class="media-body">
                <h4>Autonomy and attitude</h4>
                <p>We're a team of self-starters who take serious pride in our work – and it shows.</p>
              </div>
            </div>
            <!-- End Icon Blocks -->
          </div>

          <div class="col-sm-6 col-md-4 mb-3 mb-sm-0">
            <!-- Icon Blocks -->
            <div class="media">
              <span class="mr-3">—</span>
              <div class="media-body">
                <h4>Support and win</h4>
                <p>When we empower others to succeed, we all win. (And we're not talking about participation trophies.)</p>
              </div>
            </div>
            <!-- End Icon Blocks -->
          </div>

          <div class="col-sm-6 col-md-4">
            <!-- Icon Blocks -->
            <div class="media">
              <span class="mr-3">—</span>
              <div class="media-body">
                <h4>Teamwork makes the dream work</h4>
                <p>We work together to bring our passions and expertise to make Teachable the best it can be.</p>
              </div>
            </div>
            <!-- End Icon Blocks -->
          </div>
        </div>
      </div>
    </section>
    <section class="mb-5">
      <div class="container">
        <div class="w-lg-80 text-center mx-lg-auto">
          <div class="mb-5 mb-md-11">
            <p class="lead">Front is a web company that builds websites. Businesses of every size—from new startups to public companies—use our theme to build  and manage their businesses online.</p>
          </div>
        </div>

        <!-- Gallery Section -->
        <div class="row mx-n2">
          <div class="col-6 col-md px-2 mb-3">
            <div class="ht-250 bg-img-hero" :style="{'background-image': 'url(' + require('@/assets/images/img/img17.jpg') + ')'}"></div>
          </div>
          <div class="col-md-3 d-none d-md-block px-2 mb-3">
            <div class="ht-250 bg-img-hero" :style="{'background-image': 'url(' + require('@/assets/images/img/img6.jpg') + ')'}"></div>
          </div>
          <div class="col-6 col-md px-2 mb-3">
            <div class="ht-250 bg-img-hero" :style="{'background-image': 'url(' + require('@/assets/images/img/img14.jpg') + ')'}"></div>
          </div>

          <div class="w-100"></div>

          <div class="col-6 col-md px-2 mb-3 mb-md-0">
            <div class="ht-250 bg-img-hero" :style="{'background-image': 'url(' + require('@/assets/images/img/img25.jpg') + ')'}"></div>
          </div>
          <div class="col-md-4 d-none d-md-block px-2 mb-3 mb-md-0">
            <div class="ht-250 bg-img-hero" :style="{'background-image': 'url(' + require('@/assets/images/img/img16.jpg') + ')'}"></div>
          </div>
          <div class="col-6 col-md px-2">
            <div class="ht-250 bg-img-hero" :style="{'background-image': 'url(' + require('@/assets/images/img/img12.jpg') + ')'}"></div>
          </div>
        </div>
        <!-- End Gallery Section -->
      </div>
    </section>
    <section class="py-3">
      <div class="container">
        <!-- Title -->
        <div class="w-md-80 w-lg-60 tx-center mx-md-auto mb-5 mb-md-9">
          <span class="d-block small font-weight-bold text-cap mb-2">Our team</span>
          <h2>Creative mind by people like you</h2>
        </div>
        <!-- End Title -->

        <div class="row mx-n2 mb-5">
          <div class="col-sm-6 col-lg-3 px-2 mb-3">
            <!-- Team -->
            <div class="card h-100 transition-3d-hover">
              <div class="card-body">
                <div class="avatar avatar-lg avatar-circle mb-4">
                  <img class="avatar-img" src="@/assets/images/img/img1.jpg" alt="Image Description">
                </div>

                <span class="d-block small font-weight-bold text-cap mb-1">Founder / CEO</span>
                <h4 class="text-lh-sm">Christina Kray</h4>
                <p class="font-size-1">I am an ambitious workaholic, but apart from that, pretty simple person.</p>
              </div>

              <div class="card-footer border-0 pt-0">
                <!-- Social Networks -->
                <ul class="list-inline mb-0">
                  <li class="list-inline-item">
                    <a class="btn btn-xs btn-icon btn-soft-secondary rounded" href="#">
                      <i class="fab fa-facebook-f"></i>
                    </a>
                  </li>
                  <li class="list-inline-item">
                    <a class="btn btn-xs btn-icon btn-soft-secondary rounded" href="#">
                      <i class="fab fa-google"></i>
                    </a>
                  </li>
                  <li class="list-inline-item">
                    <a class="btn btn-xs btn-icon btn-soft-secondary rounded" href="#">
                      <i class="fab fa-twitter"></i>
                    </a>
                  </li>
                </ul>
                <!-- End Social Networks -->
              </div>
            </div>
            <!-- End Team -->
          </div>

          <div class="col-sm-6 col-lg-3 px-2 mb-3">
            <!-- Team -->
            <div class="card h-100 transition-3d-hover">
              <div class="card-body">
                <div class="avatar avatar-lg avatar-circle mb-4">
                  <img class="avatar-img" src="@/assets/images/img/img3.jpg" alt="Image Description">
                </div>

                <span class="d-block small font-weight-bold text-cap mb-1">Project Manager</span>
                <h4 class="text-lh-sm">Jeff Fisher</h4>
                <p class="font-size-1">I am an ambitious workaholic, but apart from that, pretty simple person.</p>
              </div>

              <div class="card-footer border-0 pt-0">
                <!-- Social Networks -->
                <ul class="list-inline mb-0">
                  <li class="list-inline-item">
                    <a class="btn btn-xs btn-icon btn-soft-secondary rounded" href="#">
                      <i class="fab fa-facebook-f"></i>
                    </a>
                  </li>
                  <li class="list-inline-item">
                    <a class="btn btn-xs btn-icon btn-soft-secondary rounded" href="#">
                      <i class="fab fa-google"></i>
                    </a>
                  </li>
                  <li class="list-inline-item">
                    <a class="btn btn-xs btn-icon btn-soft-secondary rounded" href="#">
                      <i class="fab fa-twitter"></i>
                    </a>
                  </li>
                </ul>
                <!-- End Social Networks -->
              </div>
            </div>
            <!-- End Team -->
          </div>

          <div class="col-sm-6 col-lg-3 px-2 mb-3">
            <!-- Team -->
            <div class="card h-100 transition-3d-hover">
              <div class="card-body">
                <div class="avatar avatar-lg avatar-circle mb-4">
                  <img class="avatar-img" src="@/assets/images/img/img11.jpg" alt="Image Description">
                </div>

                <span class="d-block small font-weight-bold text-cap mb-1">Product Designer</span>
                <h4 class="text-lh-sm">Amy Forren</h4>
                <p class="font-size-1">I am an ambitious workaholic, but apart from that, pretty simple person.</p>
              </div>

              <div class="card-footer border-0 pt-0">
                <!-- Social Networks -->
                <ul class="list-inline mb-0">
                  <li class="list-inline-item">
                    <a class="btn btn-xs btn-icon btn-soft-secondary rounded" href="#">
                      <i class="fab fa-facebook-f"></i>
                    </a>
                  </li>
                  <li class="list-inline-item">
                    <a class="btn btn-xs btn-icon btn-soft-secondary rounded" href="#">
                      <i class="fab fa-google"></i>
                    </a>
                  </li>
                  <li class="list-inline-item">
                    <a class="btn btn-xs btn-icon btn-soft-secondary rounded" href="#">
                      <i class="fab fa-twitter"></i>
                    </a>
                  </li>
                </ul>
                <!-- End Social Networks -->
              </div>
            </div>
            <!-- End Team -->
          </div>

          <div class="col-sm-6 col-lg-3 px-2 mb-3">
            <!-- Team -->
            <div class="card h-100 transition-3d-hover">
              <div class="card-body">
                <div class="avatar avatar-lg avatar-circle mb-4">
                  <img class="avatar-img" src="@/assets/images/img/img12.jpg" alt="Image Description">
                </div>

                <span class="d-block small font-weight-bold text-cap mb-1">Want a new challenge?</span>
                <h4 class="text-lh-sm">Join us</h4>
                <p class="font-size-1">Browse through our job opportunities and become a member of the family!</p>
              </div>

              <div class="card-footer border-0 pt-0">
                <a class="btn btn-xs btn-soft-secondary" href="#">View Open Jobs</a>
              </div>
            </div>
            <!-- End Team -->
          </div>
        </div>

        <!-- Info -->
        <div class="text-center">
          <div class="d-inline-block font-size-1 border bg-white text-center rounded-pill py-3 px-4">
            Wanna work with us? <a class="font-weight-bold ml-3" href="/careers/">We are hiring <span class="fas fa-angle-right fa-sm ml-1"></span></a>
          </div>
        </div>
        <!-- End Info -->
      </div>
    </section>
    <section class="pb-5">
      <div class="container">
        <div class="row justify-content-center">
          <div class="col-12 col-md-10 col-lg-7 text-center">

            <!-- Heading -->
            <h2 class="font-weight-bold">
              Built for teams of all kinds.
            </h2>

            <!-- Text -->
            <p class="font-size-lg text-muted mb-7 mb-md-9">
              No matter what you're working on, who you're with, or how many of you there are, Landkit can help.
            </p>

          </div>
        </div> <!-- / .row -->
        <div class="form-row">
          <div class="col-12 col-lg-6 d-lg-flex pb-1 mb-4">

            <!-- Card -->
            <div class="card shadow-light-lg overflow-hidden">
              <div class="row">
                <div class="col-md-4 position-relative">

                  <!-- Image -->
                  <img src="@/assets/images/illustration-8.png" class="h-75 position-absolute right-0 mt-7 mr-n4" alt="...">

                </div>
                <div class="col-md-8">

                  <!-- Body -->
                  <div class="card-body py-7 py-md-9 text-center">

                    <!-- Heading -->
                    <h4 class="font-weight-bold">
                      Unlimited Team Size
                    </h4>

                    <!-- Text -->
                    <p class="text-muted mb-0">
                      Landkit works well for a scrappy team of 3 or scales to the enterprise level needs of Forture 500 companies.
                    </p>

                  </div>

                </div>
              </div> <!-- / .row -->
            </div>

          </div>
          <div class="col-12 col-lg-6 d-lg-flex pb-1 mb-4">

            <!-- Card -->
            <div class="card shadow-light-lg overflow-hidden text-center aos-init aos-animate" data-aos="fade-up">
              <div class="row">
                <div class="col-md-8">

                  <!-- Body -->
                  <div class="card-body py-7 py-md-9">

                    <!-- Heading -->
                    <h4 class="font-weight-bold">
                      Emoji Responses
                    </h4>

                    <!-- Text -->
                    <p class="text-muted mb-0">
                      Instead of bombarding team members with huge messages, simply reply with an emoji to express your reply.
                    </p>

                  </div>

                </div>
                <div class="col-md-4">

                  <!-- Image -->
                  <img src="@/assets/images/illustration-6.png" class="h-75 position-absolute left-0 mt-7" alt="...">

                </div>
              </div> <!-- / .row -->
            </div>

          </div>
        </div> <!-- / .row -->
        <div class="row">
          <div class="col-12">

            <!-- Card -->
            <div class="card shadow-light-lg overflow-hidden text-center text-lg-left aos-init aos-animate" data-aos="fade-up">
              <div class="row">
                <div class="col-md-4 position-relative">

                  <!-- Image -->
                  <img src="@/assets/images/illustration-2.png" class="h-75 position-absolute right-0 mt-6" alt="...">

                </div>
                <div class="col-md-8">

                  <!-- Body -->
                  <div class="card-body py-7 py-md-9">

                    <!-- Heading -->
                    <h4 class="font-weight-bold">
                      Building a community.
                    </h4>

                    <!-- Text -->
                    <p class="text-muted mb-0">
                      Landkit is focused on helping foster a community. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Proin quis diam tempus tortor egestas blandit. Aliquam erat volutpat. Phasellus rhoncus pretium molestie. Nulla facilisi. Etiam sollicitudin lectus ac nisi tincidunt porttitor. Phasellus eros metus, gravida eu mi ac, gravida convallis ipsum.
                    </p>

                  </div>

                </div>
              </div> <!-- / .row -->
            </div>

          </div>
        </div> <!-- / .row -->
      </div> <!-- / .container -->
    </section>
    <section class="pb-5">
      <div class="container">
        <div class="row align-items-center">
          <div class="col-12 col-md-5 col-lg-6 order-md-2">

            <!-- Image -->
            <img src="@/assets/images/illustration-8.png" alt="..." class="img-fluid mb-6 mb-md-0">

          </div>
          <div class="col-12 col-md-7 col-lg-6 order-md-1">

            <!-- Heading -->
            <h2>
              Stay focused on your business. <br>
              <span class="text-primary">Let us handle the design</span>.
            </h2>

            <!-- Text -->
            <p class="font-size-lg text-gray-700 mb-6">
              You have a business to run. Stop worring about cross-browser bugs, designing new pages, keeping your components up to date. Let us do that for you.
            </p>

            <!-- Stats -->
            <div class="d-flex">
              <div class="pr-5">
                <h3 class="mb-0">
                  <span data-toggle="countup" data-from="0" data-to="100" data-aos="" data-aos-id="countup:in" class="aos-init aos-animate counted">100</span>%
                </h3>
                <p class="text-gray-700 mb-0">
                  Satisfaction
                </p>
              </div>
              <div class="border-left border-gray-300"></div>
              <div class="px-5">
                <h3 class="mb-0">
                  <span data-toggle="countup" data-from="0" data-to="24" data-aos="" data-aos-id="countup:in" class="aos-init aos-animate counted">24</span>/
                  <span data-toggle="countup" data-from="0" data-to="7" data-aos="" data-aos-id="countup:in" class="aos-init aos-animate counted">7</span>
                </h3>
                <p class="text-gray-700 mb-0">
                  Support
                </p>
              </div>
              <div class="border-left border-gray-300"></div>
              <div class="pl-5">
                <h3 class="mb-0">
                  <span data-toggle="countup" data-from="0" data-to="100" data-aos="" data-aos-id="countup:in" class="aos-init aos-animate counted">100</span>k+
                </h3>
                <p class="text-gray-700 mb-0">
                  Sales
                </p>
              </div>
            </div>

          </div>
        </div> <!-- / .row -->
      </div> <!-- / .container -->
    </section>
  </v-layout>
</template>

<script>
// @ is an alias to /src
import VLayout from '@/layouts/Default.vue'

export default {
  /**
  * The name of the page.
  */
  name: 'about',

  /**
  * The components that the page can use.
  */
  components: {
    VLayout
  }
}
</script>
