<template>
  <v-layout>

    <section class="mg-t-70">
      <!-- @@attribute [Authorize(Roles = "finance") .container -->
      <div class="container">
        <bread-crumbs />
        <!-- .row -->
        <div class="row align-items-center">
          <!-- .col-md-6 -->
          <div class="col-12 col-md-6 order-md-2">
            <img class="img-fluid mb-4 mb-md-0" src="https://uselooper.com/assets/images/illustration/testimony.svg" alt="">
          </div><!-- /.col-md-6 -->
          <!-- .col-md-6 -->
          <div class="col-12 col-md-6 order-md-1 text-center text-sm-left">
            <h1 class="mb-4">You will improve your <strong>response, reactivity and time</strong> </h1>
            <p class="lead text-muted mb-4"> will get accurate request in demand and response from seller /lessor. The same way for properties matching you needs </p>
          </div><!-- /.col-md-6 -->
        </div><!-- /.row -->
      </div><!-- /.container -->
    </section>
    <section class="pt-5">
      <!-- .container -->
      <div class="container position-relative">
        <h2 class="text-center text-sm-left"> Get more benefits </h2>
        <p class="lead text-muted text-center text-sm-left mb-5"> Scaffold your theme and start developing quickly. </p><!-- .card-deck -->
        <div class="card-deck-lg">
          <!-- .card -->
          <div class="card shadow aos-init aos-animate" data-aos="fade-up" data-aos-delay="0">
            <!-- .card-body -->
            <div class="card-body p-4">
              <div class="d-sm-flex align-items-start text-center text-sm-left">
                <img src="https://uselooper.com/assets/images/illustration/rocket.svg" class="mr-sm-4 mb-3 mb-sm-0" alt="" width="72">
                <div class="flex-fill">
                  <h5 class="mt-0"> Ready-to-go </h5>
                  <p class="text-muted font-size-lg"> Provides a tons of useful Components and Pages that allow you to focus on your application logic rather than re-touching pixels. </p>
                </div>
              </div>
            </div><!-- /.card-body -->
          </div><!-- /.card -->
          <!-- .card -->
          <div class="card shadow aos-init aos-animate" data-aos="fade-up" data-aos-delay="100">
            <!-- .card-body -->
            <div class="card-body p-4">
              <div class="d-sm-flex align-items-start text-center text-sm-left">
                <img src="https://uselooper.com/assets/images/illustration/setting.svg" class="mr-sm-4 mb-3 mb-sm-0" alt="" width="72">
                <div class="flex-fill">
                  <h5 class="mt-0"> Highly functionality </h5>
                  <p class="text-muted font-size-lg"> Looper is not 1001 in 1 shit theme, there's not an obscene amount of wasted space, and we are carefully in adding useful features without going overboard. </p>
                </div>
              </div>
            </div><!-- /.card-body -->
          </div><!-- /.card -->
        </div><!-- /.card-deck -->
        <!-- .card-deck -->
        <div class="card-deck-lg">
          <!-- .card -->
          <div class="card shadow aos-init aos-animate" data-aos="fade-up" data-aos-delay="200">
            <!-- .card-body -->
            <div class="card-body p-4">
              <div class="d-sm-flex align-items-start text-center text-sm-left">
                <img src="https://uselooper.com/assets/images/illustration/brain.svg" class="mr-sm-4 mb-3 mb-sm-0" alt="" width="72">
                <div class="flex-fill">
                  <h5 class="mt-0"> Boost your creativity </h5>
                  <p class="text-muted font-size-lg"> The design is clean, simple, modern, and essential, with Lots of refined graphics and tons of 3rd party support. </p>
                </div>
              </div>
            </div><!-- /.card-body -->
          </div><!-- /.card -->
          <!-- .card -->
          <div class="card shadow aos-init aos-animate" data-aos="fade-up" data-aos-delay="300">
            <!-- .card-body -->
            <div class="card-body p-4">
              <div class="d-sm-flex align-items-start text-center text-sm-left">
                <img src="https://uselooper.com/assets/images/illustration/horse.svg" class="mr-sm-4 mb-3 mb-sm-0" alt="" width="72">
                <div class="flex-fill">
                  <h5 class="mt-0"> Simple workflow </h5>
                  <p class="text-muted font-size-lg"> We make sure you can make a magic by running just two command. It was very easy, extremely powerful, and modern. </p>
                </div>
              </div>
            </div><!-- /.card-body -->
          </div><!-- /.card -->
        </div><!-- /.card-deck -->
        <!-- .card-deck -->
        <div class="card-deck-lg">
          <!-- .card -->
          <div class="card shadow aos-init aos-animate" data-aos="fade-up" data-aos-delay="400">
            <!-- .card-body -->
            <div class="card-body p-4">
              <div class="d-sm-flex align-items-start text-center text-sm-left">
                <img src="https://uselooper.com/assets/images/illustration/savings.svg" class="mr-sm-4 mb-3 mb-sm-0" alt="" width="72">
                <div class="flex-fill">
                  <h5 class="mt-0"> One time payment </h5>
                  <p class="text-muted font-size-lg"> After you make a purchase you will get a free update forever. We will make Looper better and better again for you. </p>
                </div>
              </div>
            </div><!-- /.card-body -->
          </div><!-- /.card -->
          <!-- .card -->
          <div class="card shadow aos-init aos-animate" data-aos="fade-up" data-aos-delay="500">
            <!-- .card-body -->
            <div class="card-body p-4">
              <div class="d-sm-flex align-items-start text-center text-sm-left">
                <img src="https://uselooper.com/assets/images/illustration/document.svg" class="mr-sm-4 mb-3 mb-sm-0" alt="" width="72">
                <div class="flex-fill">
                  <h5 class="mt-0"> Well Documented </h5>
                  <p class="text-muted font-size-lg"> Each component is well explained with example, code block and best practices. We also provide extensive information about customizing Looper. </p>
                </div>
              </div>
            </div><!-- /.card-body -->
          </div><!-- /.card -->
        </div><!-- /.card-deck -->
      </div><!-- /.container -->
    </section>
    <section class="pt-5 py-md-11">
      <div class="container">
        <div class="row align-items-center justify-content-between">
          <div class="col-12 col-md-5 order-md-2">

            <!-- Badge -->
            <span class="badge badge-success-soft badge-pill mb-3">
              <span class="h6 text-uppercase">
                Benefits
              </span>
            </span>

            <!-- Heading -->
            <h2>
              We'll take of you with <br>
              <span class="text-success">a great benefits package</span>.
            </h2>

            <!-- Text -->
            <p class="font-size-lg text-muted mb-6 mb-md-0">
              We put our money where our mouthes are. Once you're part of our team, we're going to take the best possible care of you with tons of benefits and perks unavailable anywhere else.
            </p>

          </div>
          <div class="col-12 col-md-6 order-md-1">

            <!-- Card -->
            <div class="card card-border border-success shadow-lg">
              <div class="card-body">

                <!-- List group -->
                <div class="list-group list-group-flush">
                  <div class="list-group-item d-flex align-items-center">

                    <!-- Text -->
                    <div class="mr-auto">

                      <!-- Heading -->
                      <p class="font-weight-bold mb-1">
                        Comprehensive benefits
                      </p>

                      <!-- Text -->
                      <p class="font-size-sm text-muted mb-0">
                        Health, dental, vision, 401k, and more.
                      </p>

                    </div>

                    <!-- Check -->
                    <div class="badge badge-rounded-circle badge-success-soft ml-4">
                      <i class="fe fe-check"></i>
                    </div>

                  </div>
                  <div class="list-group-item d-flex align-items-center">

                    <!-- Text -->
                    <div class="mr-auto">

                      <!-- Heading -->
                      <p class="font-weight-bold mb-1">
                        Unlimited time off
                      </p>

                      <!-- Text -->
                      <p class="font-size-sm text-muted mb-0">
                        Vacation on your own terms.
                      </p>

                    </div>

                    <!-- Check -->
                    <div class="badge badge-rounded-circle badge-success-soft ml-4">
                      <i class="fe fe-check"></i>
                    </div>

                  </div>
                  <div class="list-group-item d-flex align-items-center">

                    <!-- Text -->
                    <div class="mr-auto">

                      <!-- Heading -->
                      <p class="font-weight-bold mb-1">
                        Cutting edge hardware
                      </p>

                      <!-- Text -->
                      <p class="font-size-sm text-muted mb-0">
                        We provide brand new computers and phones.
                      </p>

                    </div>

                    <!-- Check -->
                    <div class="badge badge-rounded-circle badge-success-soft ml-4">
                      <i class="fe fe-check"></i>
                    </div>

                  </div>
                  <div class="list-group-item d-flex align-items-center">

                    <!-- Text -->
                    <div class="mr-auto">

                      <!-- Heading -->
                      <p class="font-weight-bold mb-1">
                        Moving assistance
                      </p>

                      <!-- Text -->
                      <p class="font-size-sm text-muted mb-0">
                        We will help you get here to work with us!
                      </p>

                    </div>

                    <!-- Check -->
                    <div class="badge badge-rounded-circle badge-success-soft ml-4">
                      <i class="fe fe-check"></i>
                    </div>

                  </div>
                </div>

              </div>
            </div>

          </div>
        </div> <!-- / .row -->
      </div> <!-- / .container -->
    </section>
  </v-layout>
</template>

<script>
// @ is an alias to /src
import VLayout from '@/layouts/Default.vue'

export default {
  /**
  * The name of the page.
  */
  name: 'advantage',

  /**
  * The components that the page can use.
  */
  components: {
    VLayout
  }
}
</script>
