<template>
  <v-layout>
    <section class="mg-t-70">
      <!-- @@attribute [Authorize(Roles = "finance") .container -->
      <div class="container">
        <bread-crumbs />
          <div class="row align-items-center">
            <div class="col-12 col-md-6 text-center text-sm-left">
              <div class="col-fix ml-auto text-center text-sm-left">
                <h1 class="mb-4">No need of <strong>worrying</strong> about when your home will be <strong>in demand</strong></h1>
                <p class="lead text-muted font-size-lg mb-4">
                  We put proposal from client on the map so that just share your availability and we will price based on popularity of your listing, seasonal factors, nearby events, and more.
                </p>
              </div>
            </div>
            <div class="col-12 col-md-6">

              <!-- Image -->
              <img src="@/assets/images/illustration-3.png" alt="..." class="img-fluid mw-md-130">

            </div>
          </div> <!-- / .row -->
        </div> <!-- / .container -->
    </section>
    <section class="pt-5" id="about">
      <div class="container">
        <div class="row justify-content-center">
          <div class="col-12 col-md-10 col-lg-8 text-center">

            <!-- Heading -->
            <h2 class="font-weight-bold">
              The hub for all your <span class="text-primary">communication and work</span>.
            </h2>

            <!-- Text -->
            <p class="font-size-lg text-muted mb-9">
              Landkit is where your team can come together to get stuff done. Chat, files, wikis, documentation, and more.
            </p>

          </div>
        </div> <!-- / .row -->
        <div class="row">
          <div class="col-12 col-lg-6">

            <!-- Item -->
            <div class="row align-items-center mb-8 aos-init aos-animate" data-aos="fade-up">
              <div class="col-4 col-lg-5">

                <!-- Image -->
                <img src="@/assets/images/illustration-4.png" alt="..." class="img-fluid">

              </div>
              <div class="col-8 col-lg-7">

                <!-- Heading -->
                <h3 class="font-weight-bold mb-2">
                  Conversations
                </h3>

                <!-- Text -->
                <p class="text-gray-700 mb-0">
                  Communicate with your team in public or private chats with individuals or groups.
                </p>

              </div>
            </div> <!-- / .row -->
            <!-- Item -->
            <div class="row align-items-center mb-8 aos-init aos-animate" data-aos="fade-up">
              <div class="col-4 col-lg-5">

                <!-- Image -->
                <img src="@/assets/images/illustration-8.png" alt="..." class="img-fluid">

              </div>
              <div class="col-8 col-lg-7">

                <!-- Heading -->
                <h3 class="font-weight-bold mb-2">
                  Unified
                </h3>

                <!-- Text -->
                <p class="text-gray-700 mb-0">
                  Keep everything in one place and feel at peace and organized rather than scattered.
                </p>

              </div>
            </div> <!-- / .row -->

          </div>
          <div class="col-12 col-lg-6">
            <!-- Item -->
            <div class="row align-items-center mb-8 aos-init aos-animate" data-aos="fade-up">
              <div class="col-4 col-lg-5">

                <!-- Image -->
                <img src="@/assets/images/illustration-7.png" alt="..." class="img-fluid">

              </div>
              <div class="col-8 col-lg-7">

                <!-- Heading -->
                <h3 class="font-weight-bold mb-2">
                  Analytics
                </h3>

                <!-- Text -->
                <p class="text-gray-700 mb-0">
                  Keep track of what's happening in your company from a centralized dashboard.
                </p>

              </div>
            </div> <!-- / .row -->
            <!-- Item -->
            <div class="row align-items-center mb-8 aos-init aos-animate" data-aos="fade-up">
              <div class="col-4 col-lg-5">

                <!-- Image -->
                <img src="@/assets/images/illustration-6.png" alt="..." class="img-fluid">

              </div>
              <div class="col-8 col-lg-7">

                <!-- Heading -->
                <h3 class="font-weight-bold mb-2">
                  Permissions
                </h3>

                <!-- Text -->
                <p class="text-gray-700 mb-0">
                  Control who has access to which projects and data through our control panel.
                </p>

              </div>
            </div> <!-- / .row -->

          </div>
        </div> <!-- / .row -->
      </div> <!-- / .container -->
    </section>
    <section>
      <div id="aboutSection" class="container space-2 space-lg-3 active">
        <!-- Title -->
        <div class="w-lg-65 text-center mx-auto mb-5 mb-sm-9">
          <h2 class="h1">What we do?</h2>
          <p>A flexible theme for modern SaaS businesses</p>
        </div>
        <!-- End Title -->

        <div class="row">
          <div class="col-md-4 mb-7">
            <!-- Icon Blocks -->
            <div class="text-center px-lg-3">
              <figure class="max-w-8rem mx-auto mb-4">
                <img class="img-fluid" src="@/assets/images/svg/icon-45.svg" alt="SVG">
              </figure>
              <h3>Industry-leading designs</h3>
              <p>Achieve virtually any design and layout from within the one template.</p>
            </div>
            <!-- End Icon Blocks -->
          </div>

          <div class="col-md-4 mb-7">
            <!-- Icon Blocks -->
            <div class="text-center px-lg-3">
              <figure class="max-w-8rem mx-auto mb-4">
                <img class="img-fluid" src="@/assets/images/svg/icon-14.svg" alt="SVG">
              </figure>
              <h3>Learn from the docs</h3>
              <p>Whether you're a startup or a global enterprise, learn how to integrate with Front.</p>
            </div>
            <!-- End Icon Blocks -->
          </div>

          <div class="col-md-4 mb-7">
            <!-- Icon Blocks -->
            <div class="text-center px-lg-3">
              <figure class="max-w-8rem mx-auto mb-4">
                <img class="img-fluid" src="@/assets/images/svg/icon-23.svg" alt="SVG">
              </figure>
              <h3>Accelerate your business</h3>
              <p>We help power millions of businesses to built and run smoothly.</p>
            </div>
            <!-- End Icon Blocks -->
          </div>
        </div>

        <div class="w-50 w-md-40 w-lg-30 text-center mx-auto">
          <p class="small">We are launching soon. Join the priority list for information and early access.</p>
        </div>
      </div>
    </section>
    <section>
      <div class="container space-top-md-2 space-top-lg-3 text-center">
        <div class="mb-9">
          <h2 class="h1">What can you do with Front?</h2>
        </div>

        <div class="position-relative pt-5 pb-3 pt-md-11 pb-md-7">
          <div class="position-relative z-index-2 p-2 p-sm-0">
            <!-- News Carousel -->
            <div class="js-slick-carousel slick slick-equal-height slick-gutters-3 mb-5 slick-initialized slick-slider slick-dotted" data-hs-slick-carousel-options="{
                 &quot;slidesToShow&quot;: 3,
                 &quot;dots&quot;: true,
                 &quot;dotsClass&quot;: &quot;slick-pagination slick-pagination-white d-lg-none mt-5&quot;,
                 &quot;responsive&quot;: [{
                   &quot;breakpoint&quot;: 1200,
                     &quot;settings&quot;: {
                       &quot;slidesToShow&quot;: 3
                     }
                   }, {
                   &quot;breakpoint&quot;: 992,
                   &quot;settings&quot;: {
                     &quot;slidesToShow&quot;: 2
                    }
                   }, {
                   &quot;breakpoint&quot;: 768,
                   &quot;settings&quot;: {
                     &quot;slidesToShow&quot;: 2
                    }
                   }, {
                   &quot;breakpoint&quot;: 554,
                   &quot;settings&quot;: {
                     &quot;slidesToShow&quot;: 1
                   }
                 }]
               }">
              <!-- Card Block -->
              <div class="slick-list draggable">
                <div class="slick-track" style="opacity: 1; width: 1140px; transform: translate3d(0px, 0px, 0px);">
                  <div class="js-slide mt-1 mb-3 slick-slide slick-current slick-active" data-slick-index="0" aria-hidden="false" style="width: 350px; height: auto;" tabindex="0" role="tabpanel" id="slick-slide00" aria-describedby="slick-slide-control00">
                    <div class="card flex-wrap flex-row">
                      <div class="card-body py-6">
                        <h3 class="mb-5">Channels</h3>
                        <figure class="max-w-27rem w-100 mx-auto mb-4">
                          <img class="img-fluid" src="@/assets/images/svg/server-woman.svg" alt="Image Description">
                        </figure>
                        <p>Communication in Front happens in channels, organized by project, topic, team, or whatever makes sense for you.</p>
                      </div>
                    </div>
                  </div><div class="js-slide mt-1 mb-3 slick-slide slick-active" data-slick-index="1" aria-hidden="false" style="width: 350px; height: auto;" tabindex="0" role="tabpanel" id="slick-slide01" aria-describedby="slick-slide-control01">
                    <div class="card flex-wrap flex-row">
                      <div class="card-body py-6">
                        <h3 class="mb-5">Integrations</h3>
                        <figure class="max-w-27rem w-100 mx-auto mb-4">
                          <img class="img-fluid" src="@/assets/images/svg/full-stack.svg" alt="Image Description">
                        </figure>
                        <p>Front works with the tools and services you already use every day. Pipe in information or take action without leaving Front.</p>
                      </div>
                    </div>
                  </div><div class="js-slide mt-1 mb-3 slick-slide slick-active" data-slick-index="2" aria-hidden="false" style="width: 350px; height: auto;" tabindex="0" role="tabpanel" id="slick-slide02" aria-describedby="slick-slide-control02">
                    <div class="card flex-wrap flex-row">
                      <div class="card-body py-6">
                        <h3 class="mb-5">Security</h3>
                        <figure class="max-w-27rem w-100 mx-auto mb-4">
                          <img class="img-fluid" src="@/assets/images/svg/business-woman.svg" alt="Image Description">
                        </figure>
                        <p>We take security seriously at Slack. We offer measures like 2FA and SSO to ensure the safety of your data and protect your organization.</p>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <!-- End Card Block -->
              <!-- Card Block -->
              <ul class="slick-pagination slick-pagination-white d-lg-none mt-5" role="tablist"><li class="slick-active" role="presentation"><span></span></li></ul>
            </div>

            <!-- Info -->
            <p class="text-white">
              See Help Front in action.
              <a class="text-warning font-weight-bold" href="#">
                Get a Demo
                <span class="btn btn-xs btn-icon btn-light rounded-circle ml-2">
                  <i class="fas fa-arrow-right"></i>
                </span>
              </a>
            </p>
            <!-- End Info -->
          </div>

          <!-- Background -->
          <div class="bg-navy position-absolute top-0 right-0 bottom-0 left-0 rounded-lg mx-sm-7" style="background-image: url(/images/svg/abstract-shapes-20.svg);"></div>
        </div>
      </div>
    </section>
    <section>
      <div class="container">
        <div class="row">
          <div class="col-lg-6 mb-3 mb-lg-0">
            <!-- Card -->
            <div class="card bg-primary text-white h-100 overflow-hidden p-5">
              <div class="w-65 pr-2">
                <h2 class="text-white">Front process</h2>
                <p class="text-white">Once you are invited to Front Agency, you company will be set within days.</p>
                <a class="btn btn-sm btn-light transition-3d-hover" href="#">Find Out More <i class="fas fa-angle-right ml-1"></i></a>
              </div>
              <div class="position-absolute right-0 bottom-0 w-50 mb-n3 mr-n4">
                <img class="img-fluid" src="@/assets/images/img15.png" alt="Image Description">
              </div>
            </div>
            <!-- End Card -->
          </div>

          <div class="col-lg-6">
            <!-- Card -->
            <div class="card bg-warning text-white h-100 overflow-hidden p-5">
              <div class="w-65 pr-2">
                <h2 class="text-white">Product design</h2>
                <p class="text-white">Easy and fast adjustments of elements are possible with Front template.</p>
                <a class="btn btn-sm btn-light transition-3d-hover" href="#">Find Out More <i class="fas fa-angle-right ml-1"></i></a>
              </div>
              <div class="position-absolute right-0 bottom-0 w-50 mb-n3 mr-n4">
                <img class="img-fluid" src="@/assets/images/img12.png" alt="Image Description">
              </div>
            </div>
            <!-- End Card -->
          </div>
        </div>
      </div>
    </section>
  </v-layout>
</template>

<script>
// @ is an alias to /src
import VLayout from '@/layouts/Default.vue'

export default {
  /**
  * The name of the page.
  */
  name: 'concept',

  /**
  * The components that the page can use.
  */
  components: {
    VLayout
  }
}
</script>
