<template>
  <v-layout>
    <section class="mg-t-70">
      <!-- Page Content -->
      <div class="container">

        <bread-crumbs />

        <!-- Content Row -->
        <div class="row">
          <!-- Map Column -->
          <div class="col-lg-8 mb-4">
            <!-- Embedded Google Map -->
            <iframe style="width: 100%; height: 400px; border: 0;" src="http://maps.google.com/maps?hl=en&amp;ie=UTF8&amp;ll=37.0625,-95.677068&amp;spn=56.506174,79.013672&amp;t=m&amp;z=4&amp;output=embed"></iframe>
          </div>
          <!-- Contact Details Column -->
          <div class="col-lg-4 mb-4">
            <h3>Contact Details</h3>
            <p>
              3481 Melrose Place
              <br>Beverly Hills, CA 90210
              <br>
            </p>
            <p>
              <abbr title="Phone">P</abbr>: (123) 456-7890
            </p>
            <p>
              <abbr title="Email">E</abbr>:
              <a href="mailto:name@example.com">
                name@example.com
              </a>
            </p>
            <p>
              <abbr title="Hours">H</abbr>: Monday - Friday: 9:00 AM to 5:00 PM
            </p>
          </div>
        </div>
        <!-- /.row -->
        <!-- Contact Form -->
        <!-- In order to set the email address and subject line for the contact form go to the bin/contact_me.php file. -->
        <div class="row">
          <div class="col-lg-8 mb-4">
            <h3>Send us a Message</h3>
            <form name="sentMessage" id="contactForm" novalidate="">
              <div class="control-group form-group">
                <div class="controls">
                  <label>Full Name:</label>
                  <input type="text" class="form-control" id="name" required="" data-validation-required-message="Please enter your name.">
                  <p class="help-block"></p>
                </div>
              </div>
              <div class="control-group form-group">
                <div class="controls">
                  <label>Phone Number:</label>
                  <input type="tel" class="form-control" id="phone" required="" data-validation-required-message="Please enter your phone number.">
                  <div class="help-block"></div>
                </div>
              </div>
              <div class="control-group form-group">
                <div class="controls">
                  <label>Email Address:</label>
                  <input type="email" class="form-control" id="email" required="" data-validation-required-message="Please enter your email address.">
                  <div class="help-block"></div>
                </div>
              </div>
              <div class="control-group form-group">
                <div class="controls">
                  <label>Message:</label>
                  <textarea rows="10" cols="100" class="form-control" id="message" required="" data-validation-required-message="Please enter your message" maxlength="999" style="resize:none"></textarea>
                  <div class="help-block"></div>
                </div>
              </div>
              <div id="success"></div>
              <!-- For success/fail messages -->
              <button type="submit" class="btn btn-primary" id="sendMessageButton">Send Message</button>
            </form>
          </div>

        </div>
        <!-- /.row -->

      </div>
      <!-- /.container -->
      </section>
  </v-layout>
</template>

<script>
// @ is an alias to /src
import VLayout from '@/layouts/Default.vue'

export default {
  /**
  * The name of the page.
  */
  name: 'contact',

  /**
  * The components that the page can use.
  */
  components: {
    VLayout
  }
}
</script>
