<template>
  <v-layout>
    <section class="mg-t-100">
      <!-- .container -->
      <div class="container">
        <!-- .row -->
        <div class="row align-items-center">
          <!-- .col-md-6 -->
          <div class="col-12 col-md-6 order-md-2">
            <img class="img-fluid mb-5 mb-md-0" src="@/assets/images/svg/launch.svg" alt="">
          </div><!-- /.col-md-6 -->
          <!-- .col-md-6 -->
          <div class="col-12 col-md-6 order-md-1">
            <div class="col-fix ml-auto text-center text-sm-left">
              <h1 class="mb-4"> At<strong> Vone +</strong> we build <strong>an amazing experience</strong>! </h1>
              <p class="lead text-muted mb-5"> Between seller or lessor and buyer or tenant. Helping you to find match accurately your needs in terms of real estates. </p><a href="/auth/register" class="btn btn-lg btn-primary d-block d-sm-inline-block mr-sm-2 my-3">Let's Try <i class="fa fa-angle-right ml-2"></i></a>
            </div>
          </div><!-- /.col-md-6 -->
        </div><!-- /.row -->
      </div><!-- /.container -->
    </section>

    <section class="py-5">
      <div class="container">
        <!-- Title -->
        <div class="wd-md-80p wd-lg-60p text-center mx-md-auto mg-b-80">
          <h2>Trusted by Ngo, enterprise, and more than 33,000 of you</h2>
        </div>
        <!-- End Title -->
        <!-- Clients -->
        <div class="row justify-content-sm-center tx-center">
          <div class="col-4 col-sm-2 mg-b-50">
            <img class="mx-wd-90 mx-wd-md-110 mg-x-auto" src="@/assets/images/svg/slack.svg" alt="Image Description">
          </div>
          <div class="col-4 col-sm-2 mg-b-50">
            <img class="mx-wd-90 mx-wd-md-110 mg-x-auto" src="@/assets/images/svg/stripe.svg" alt="Image Description">
          </div>
          <div class="col-4 col-sm-2 mg-b-50">
            <img class="mx-wd-90 mx-wd-md-110 mg-x-auto" src="@/assets/images/svg/airbnb.svg" alt="Image Description">
          </div>
          <div class="col-4 col-sm-2 mg-b-50">
            <img class="mx-wd-90 mx-wd-md-110 mg-x-auto" src="@/assets/images/svg/weebly.svg" alt="Image Description">
          </div>
          <div class="col-4 col-sm-2 mg-b-50">
            <img class="mx-wd-90 mx-wd-md-110 mg-x-auto" src="@/assets/images/svg/spotify.svg" alt="Image Description">
          </div>
          <div class="col-4 col-sm-2 mg-b-50">
            <img class="mx-wd-90 mx-wd-md-110 mg-x-auto" src="@/assets/images/svg/uber.svg" alt="Image Description">
          </div>
          <div class="d-none d-sm-block wd-100p"></div>
          <div class="col-4 col-sm-2 mg-b-50 mb-sm-0">
            <img class="mx-wd-90 mx-wd-md-110 mg-x-auto" src="@/assets/images/svg/shopify.svg" alt="Image Description">
          </div>
          <div class="col-4 col-sm-2 mg-b-50 mb-sm-0">
            <img class="mx-wd-90 mx-wd-md-110 mg-x-auto" src="@/assets/images/svg/fitbit.svg" alt="Image Description">
          </div>
          <div class="col-4 col-sm-2 mg-b-50 mb-sm-0">
            <img class="mx-wd-90 mx-wd-md-110 mg-x-auto" src="@/assets/images/svg/hubspot.svg" alt="Image Description">
          </div>
          <div class="col-4 col-sm-2">
            <img class="mx-wd-90 mx-wd-md-110 mg-x-auto" src="@/assets/images/svg/kaplan.svg" alt="Image Description">
          </div>
          <div class="col-4 col-sm-2">
            <img class="mx-wd-90 mx-wd-md-110 mg-x-auto" src="@/assets/images/svg/paypal.svg" alt="Image Description">
          </div>
        </div>
        <!-- End Clients -->
      </div>
    </section>

    <section class="py-5">
      <div class="container">
        <div class="w-md-80 w-lg-60 text-center mx-md-auto mb-5">
          <h2>Our featured properties by area</h2>
          <p>We've helped some great companies brand, design and get to market.</p>
        </div>
        <div class="row">

          <div class="order-lg-2 col-sm-12 col-lg-4 mb-3 mb-sm-7">
            <!-- Blog -->
            <article class="card mg-b-20 align-items-start flex-wrap flex-row ht-lg-180 gradient-y-overlay-sm-dark bg-img-hero rounded transition-3d-hover" :style="{'background-image': 'url(' + require('@/assets/images/img/tnt.jpg') + ')'}">
              <div class="card-header bd-0 bg-transparent wd-100p">
                <a class="small tx-white tx-bold tx-uppercase mr-2" href="/property/p/list/">Toronto</a>
              </div>

              <div class="card-footer bd-0 bg-transparent mt-auto">
                <a href="/property/p/list/">
                  <h3 class="tx-white">80,789</h3>
                  <span class="tx-white-70">See more <i class="fas fa-angle-right fa-sm ml-1"></i></span>
                </a>
              </div>
            </article>
            <!-- End Blog -->
            <!-- Blog -->
            <article class="card align-items-start flex-wrap flex-row ht-lg-180 gradient-y-overlay-sm-dark bg-img-hero rounded transition-3d-hover" :style="{'background-image': 'url(' + require('@/assets/images/img/tnt.jpg') + ')'}">
              <div class="card-header bd-0 bg-transparent wd-100p">
                <a class="small tx-white tx-bold tx-uppercase mr-2" href="/property/p/list/">Quebec city</a>
              </div>

              <div class="card-footer bd-0 bg-transparent mt-auto">
                <a href="/property/p/list/">
                  <h3 class="tx-white">34,897</h3>
                  <span class="tx-white-70">See more <i class="fas fa-angle-right fa-sm ml-1"></i></span>
                </a>
              </div>
            </article>
            <!-- End Blog -->
          </div>

          <div class="order-lg-5 col-sm-12 col-lg-4 mb-3 mb-sm-7">
            <!-- Blog -->
            <article class="card align-items-start flex-wrap flex-row ht-lg-380 gradient-y-overlay-sm-dark bg-img-hero rounded transition-3d-hover" :style="{'background-image': 'url(' + require('@/assets/images/img/mtl.jpg') + ')'}">
              <div class="card-header bd-0 bg-transparent wd-100p">
                <a class="small tx-white tx-bold tx-uppercase mr-2" href="#">Montréal</a>
              </div>

              <div class="card-footer bd-0 bg-transparent mt-auto">
                <a href="#">
                  <h3 class="tx-white">146,534 properties</h3>
                  <span class="tx-white-70">See more <i class="fas fa-angle-right fa-sm ml-1"></i></span>
                </a>
              </div>
            </article>
            <!-- End Blog -->
          </div>

          <div class="order-lg-7 col-sm col-lg-4 mb-3 mb-sm-7">
            <!-- Blog -->
            <article class="card mg-b-20 align-items-start flex-wrap flex-row ht-lg-180 gradient-y-overlay-sm-dark bg-img-hero rounded transition-3d-hover" :style="{'background-image': 'url(' + require('@/assets/images/img/wnp.jpg') + ')'}">
              <div class="card-header bd-0 bg-transparent wd-100p">
                <a class="small tx-white tx-bold tx-uppercase mr-2" href="#">Vancouver</a>
              </div>

              <div class="card-footer bd-0 bg-transparent mt-auto">
                <a href="#">
                  <h3 class="tx-white">101,365 properties</h3>
                  <span class="tx-white-70">See more <i class="fas fa-angle-right fa-sm ml-1"></i></span>
                </a>
              </div>
            </article>
            <!-- End Blog -->
            <!-- Blog -->
            <article class="card align-items-start flex-wrap flex-row ht-lg-180 gradient-y-overlay-sm-dark bg-img-hero rounded transition-3d-hover" :style="{'background-image': 'url(' + require('@/assets/images/img/vnc.jpg') + ')'}">
              <div class="card-header bd-0 bg-transparent wd-100p">
                <a class="small tx-white tx-bold tx-uppercase mr-2" href="#">Winnipeg</a>
              </div>

              <div class="card-footer bd-0 bg-transparent mt-auto">
                <a href="#">
                  <h3 class="tx-white">47,987 properties</h3>
                  <span class="tx-white-70">See more <i class="fas fa-angle-right fa-sm ml-1"></i></span>
                </a>
              </div>
            </article>
            <!-- End Blog -->
          </div>
        </div>
      </div>
    </section>

    <section>
      <div class="container">
        <div class="wd-md-80p wd-lg-60p text-center mg-md-x-auto mb-5">
          <h2>Most proposals by cities</h2>
          <p>We've helped some great companies brand, design and get to market.</p>
        </div>
        <div class="row">
          <article class="col-md-4 mb-3">
            <a class="card card-frame p-3" href="#">
              <div class="media align-items-center">
                <div class="media-body mr-2">
                  <h4 class="h6 mb-0">Toronto's proposals</h4>
                  <span class="d-block font-size-1 text-body">34,082,020</span>
                </div>
                <i class="fas fa-angle-right"></i>
              </div>
            </a>
          </article>
          <article class="col-md-4 mb-3">
            <a class="card card-frame p-3" href="#">
              <div class="media align-items-center">
                <div class="media-body mr-2">
                  <h4 class="h6 mb-0">Vancouver's proposals</h4>
                  <span class="d-block font-size-1 text-body">24,087,786</span>
                </div>
                <i class="fas fa-angle-right"></i>
              </div>
            </a>
          </article>
          <article class="col-md-4 mb-3">
            <a class="card card-frame p-3" href="#">
              <div class="media align-items-center">
                <div class="media-body mr-2">
                  <h4 class="h6 mb-0">Montréal's proposals</h4>
                  <span class="d-block font-size-1 text-body">27,798,543</span>
                </div>
                <i class="fas fa-angle-right"></i>
              </div>
            </a>
          </article>
          <article class="col-md-4 mb-3">
            <a class="card card-frame p-3" href="#">
              <div class="media align-items-center">
                <div class="media-body mr-2">
                  <h4 class="h6 mb-0">Ottawa's proposals</h4>
                  <span class="d-block font-size-1 text-body">10,889,020</span>
                </div>
                <i class="fas fa-angle-right"></i>
              </div>
            </a>
          </article>
          <article class="col-md-4 mb-3">
            <a class="card card-frame p-3" href="#">
              <div class="media align-items-center">
                <div class="media-body mr-2">
                  <h4 class="h6 mb-0">Calgary's proposals</h4>
                  <span class="d-block font-size-1 text-body">23,408,090</span>
                </div>
                <i class="fas fa-angle-right"></i>
              </div>
            </a>
          </article>
          <article class="col-md-4 mb-3">
            <a class="card card-frame p-3" href="#">
              <div class="media align-items-center">
                <div class="media-body mr-2">
                  <h4 class="h6 mb-0">Quebec city's proposals</h4>
                  <span class="d-block font-size-1 text-body">12,765,789</span>
                </div>
                <i class="fas fa-angle-right"></i>
              </div>
            </a>
          </article>
          <article class="col-md-4 mb-3">
            <a class="card card-frame p-3" href="#">
              <div class="media align-items-center">
                <div class="media-body mr-2">
                  <h4 class="h6 mb-0">Victorias's proposals</h4>
                  <span class="d-block font-size-1 text-body">396,540</span>
                </div>
                <i class="fas fa-angle-right"></i>
              </div>
            </a>
          </article>
          <article class="col-md-4 mb-3">
            <a class="card card-frame p-3" href="#">
              <div class="media align-items-center">
                <div class="media-body mr-2">
                  <h4 class="h6 mb-0">Edmonto's proposals</h4>
                  <span class="d-block font-size-1 text-body">49,020</span>
                </div>
                <i class="fas fa-angle-right"></i>
              </div>
            </a>
          </article>
          <article class="col-md-4 mb-3">
            <a class="card card-frame p-3" href="#">
              <div class="media align-items-center">
                <div class="media-body mr-2">
                  <h4 class="h6 mb-0">Winnipeg's proposals</h4>
                  <span class="d-block font-size-1 text-body">78,530</span>
                </div>
                <i class="fas fa-angle-right"></i>
              </div>
            </a>
          </article>
        </div>
      </div>
    </section>
    <section class="py-2">
      <div class="container">
        <!-- Title -->
        <div class="w-md-80 w-lg-50 text-center mx-md-auto mb-5 mb-md-9">
          <h2 class="h1">Read our latest news</h2>
          <p>We've helped some great companies brand, design and get to market.</p>
        </div>
        <!-- End Title -->

        <div class="row mx-n2 mb-5 mb-md-9">
          <div class="col-sm-6 col-lg-3 px-2 mb-3 mb-lg-0">
            <!-- Card -->
            <a class="card h-100 transition-3d-hover" href="#">
              <img class="card-img-top" src="@/assets/images/img/img9.jpg" alt="Image Description">
              <div class="card-body">
                <span class="d-block small tx-bold tx-uppercase mb-2">Product</span>
                <h5 class="mb-0">Better is when everything works together</h5>
              </div>
            </a>
            <!-- End Card -->
          </div>

          <div class="col-sm-6 col-lg-3 px-2 mb-3 mb-lg-0">
            <!-- Card -->
            <a class="card h-100 transition-3d-hover" href="#">
              <img class="card-img-top" src="@/assets/images/img/img10.jpg" alt="Image Description">
              <div class="card-body">
                <span class="d-block small tx-bold tx-uppercase mb-2">Business</span>
                <h5 class="mb-0">What CFR really is about</h5>
              </div>
            </a>
            <!-- End Card -->
          </div>

          <div class="col-sm-6 col-lg-3 px-2 mb-3 mb-sm-0">
            <!-- Card -->
            <a class="card h-100 transition-3d-hover" href="#">
              <img class="card-img-top" src="@/assets/images/img/img11.jpg" alt="Image Description">
              <div class="card-body">
                <span class="d-block small tx-bold tx-uppercase mb-2">Business</span>
                <h5 class="mb-0">Should Product Owners think like entrepreneurs?</h5>
              </div>
            </a>
            <!-- End Card -->
          </div>

          <div class="col-sm-6 col-lg-3 px-2">
            <!-- Card -->
            <a class="card h-100 transition-3d-hover" href="#">
              <img class="card-img-top" src="@/assets/images/img/img12.jpg" alt="Image Description">
              <div class="card-body">
                <span class="d-block small tx-bold tx-uppercase mb-2">Facilitate</span>
                <h5 class="mb-0">Announcing Front Strategies: Ready-to-use rules</h5>
              </div>
            </a>
            <!-- End Card -->
          </div>
        </div>

        <!-- Info -->
        <div class="position-relative z-index-2 text-center">
          <div class="d-inline-block font-size-1 border bg-white text-center rounded-pill py-3 px-4">
            Check the latest blogs stories? <a class="tx-bold ml-3" href="/blogs/">Go here <span class="fas fa-angle-right ml-1"></span></a>
          </div>
        </div>
        <!-- End Info -->
      </div>

    </section>
    <section>
      <div class="container py-5">
        <!-- Title -->
        <div class="w-md-80 w-lg-50 text-center mx-md-auto mb-5 mb-md-9">
          <span class="d-block small tx-bold tx-uppercase mb-2">What we do?</span>
          <h2>Front makes designing easy and performance fast</h2>
        </div>
        <!-- End Title -->

        <div class="row">
          <div class="col-sm-4 mb-3 mb-sm-5">
            <!-- Icon Blocks -->
            <div class="pr-lg-6">
              <figure class="mx-wd-45 wd-100p mb-3">
                <img class="img-fluid" src="@/assets/images/svg/icon-45.svg" alt="SVG">
              </figure>
              <h4>More creativity</h4>
              <p>This is where we really begin to visualize your napkin sketches and make them into beautiful pixels.</p>
            </div>
            <!-- End Icon Blocks -->
          </div>

          <div class="col-sm-4 mb-3 mb-sm-5">
            <!-- Icon Blocks -->
            <div class="pr-lg-6">
              <figure class="mx-wd-45 wd-100p mb-3">
                <img class="img-fluid" src="@/assets/images/svg/icon-5.svg" alt="SVG">
              </figure>
              <h4>Scale budgets efficiently</h4>
              <p>Now that we've aligned the details, it's time to get things mapped out and organized.</p>
            </div>
            <!-- End Icon Blocks -->
          </div>

          <div class="col-sm-4 mb-3 mb-sm-5">
            <!-- Icon Blocks -->
            <div class="pr-lg-6">
              <figure class="mx-wd-45 wd-100p mb-3">
                <img class="img-fluid" src="@/assets/images/svg/icon-2.svg" alt="SVG">
              </figure>
              <h4>Smart Dashboards</h4>
              <p>This is where we really begin to visualize your napkin sketches and make them into beautiful pixels.</p>
            </div>
            <!-- End Icon Blocks -->
          </div>

          <div class="col-sm-4 mb-3 mb-sm-5 mb-sm-0">
            <!-- Icon Blocks -->
            <div class="pr-lg-6">
              <figure class="mx-wd-45 wd-100p mb-3">
                <img class="img-fluid" src="@/assets/images/svg/icon-1.svg" alt="SVG">
              </figure>
              <h4>Control Center</h4>
              <p>Now that we've aligned the details, it's time to get things mapped out and organized.</p>
            </div>
            <!-- End Icon Blocks -->
          </div>

          <div class="col-sm-4 mb-3 mb-sm-0">
            <!-- Icon Blocks -->
            <div class="pr-lg-6">
              <figure class="mx-wd-45 wd-100p mb-3">
                <img class="img-fluid" src="@/assets/images/svg/icon-15.svg" alt="SVG">
              </figure>
              <h4>Email Reports</h4>
              <p>We strive to embrace and drive change in our industry which allows us to keep our clients relevant.</p>
            </div>
            <!-- End Icon Blocks -->
          </div>

          <div class="col-sm-4">
            <!-- Icon Blocks -->
            <div class="pr-lg-6">
              <figure class="mx-wd-45 wd-100p mb-3">
                <img class="img-fluid" src="@/assets/images/svg/icon-26.svg" alt="SVG">
              </figure>
              <h4>Forecasting</h4>
              <p>Staying focused allows us to turn every project we complete into something we love.</p>
            </div>
            <!-- End Icon Blocks -->
          </div>
        </div>
      </div>
    </section>
    <section>
      <div class="container">
        <div class="row">
          <div class="col-12">

            <!-- Card -->
            <div class="card-group card-border card-border-lg border-primary shadow-light-lg">
              <div class="card">
                <div class="card-body">

                  <!-- Heading -->
                  <h2 class="tx-bold text-center mb-0">
                    <span data-toggle="countup" class="counted">15</span>M+
                  </h2>

                  <!-- Text -->
                  <p class="text-center text-muted mb-0">
                    Active users
                  </p>

                </div>
              </div>
              <div class="card border-left-md">
                <div class="card-body">

                  <!-- Heading -->
                  <h2 class="tx-bold text-center mb-0">
                    0
                  </h2>

                  <!-- Text -->
                  <p class="text-center text-muted mb-0">
                    Data breaches
                  </p>

                </div>
              </div>
              <div class="card border-left-md">
                <div class="card-body">

                  <!-- Heading -->
                  <h2 class="tx-bold text-center mb-0">
                    <span class="counted">99.99</span>%
                  </h2>

                  <!-- Text -->
                  <p class="text-center text-muted mb-0">
                    Global uptime
                  </p>

                </div>
              </div>
              <div class="card border-left-md">
                <div class="card-body">

                  <!-- Heading -->
                  <h2 class="tx-bold text-center mb-0">
                    <span class="counted">95</span>M+
                  </h2>

                  <!-- Text -->
                  <p class="text-center text-muted mb-0">
                    Terabytes
                  </p>

                </div>
              </div>
            </div>

          </div>
        </div> <!-- / .row -->
      </div> <!-- / .container -->
    </section>

  </v-layout>
</template>

<script>
// @ is an alias to /src
import VLayout from '@/layouts/Default.vue'

export default {
  /**
  * The name of the page.
  */
  name: 'home',

  /**
  * The components that the page can use.
  */
  components: {
    VLayout
  }
}
</script>
