<template>
  <v-layout>
    <section class="mg-t-70">
      <!-- .container -->
      <div class="container">
        <bread-crumbs />
        <!-- .row -->
        <div class="row align-items-center">
          <!-- .col-md-6 -->
          <div class="col-12 col-md-6">
            <img class="img-fluid mb-4 mb-md-0" src="@/assets/images/illustration-113.png" alt="">
          </div><!-- /.col-md-6 -->
          <!-- .col-md-6 -->
          <div class="col-12 col-md-6 tx-center text-sm-left">
            <h1 class="mb-4"> We enjoy<strong> the journey</strong> and we are grateful for the <strong>trust</strong>  </h1>
            <p class="lead text-muted font-size-lg mb-4"> Create stunning UI with tons of our components. Our build system allows you to save a lot of time as well. </p>
          </div><!-- /.col-md-6 -->
        </div><!-- /.row -->
      </div><!-- /.container -->
    </section>
    <section>
      <div class="bg-light rounded mg-x-15 mg-md-x-65">
        <div class="container pd-y-100 pd-md-y-100">
          <div class="card bg-transparent shadow-none">
            <div class="row">
              <div class="col-lg-3 d-none d-lg-block">
                <div class="dzsparallaxer auto-init height-is-based-on-content use-loading mode-scroll bg-light animation-engine-js under-760 under-500 loaded dzsprx-readyall" data-options="{direction: &quot;reverse&quot;}" style="overflow: visible;">
                  <div style="transform: translate3d(0px, 1.93077rem, 0px);">
                    <img class="img-fluid rounded shadow-lg" src="@/assets/images/img/img31.jpg" alt="Image Description">
                  </div>
                </div>
              </div>

              <div class="col-lg-9">
                <!-- Card Body -->
                <div class="card-body h-100 rounded p-0 p-md-4">
                  <!-- SVG Quote -->
                  <figure class="mb-3">
                    <svg xmlns="http://www.w3.org/2000/svg" x="0px" y="0px" width="36" height="36" viewBox="0 0 8 8">
                      <path fill="#377dff" d="M3,1.3C2,1.7,1.2,2.7,1.2,3.6c0,0.2,0,0.4,0.1,0.5c0.2-0.2,0.5-0.3,0.9-0.3c0.8,0,1.5,0.6,1.5,1.5c0,0.9-0.7,1.5-1.5,1.5
                      C1.4,6.9,1,6.6,0.7,6.1C0.4,5.6,0.3,4.9,0.3,4.5c0-1.6,0.8-2.9,2.5-3.7L3,1.3z M7.1,1.3c-1,0.4-1.8,1.4-1.8,2.3
                      c0,0.2,0,0.4,0.1,0.5c0.2-0.2,0.5-0.3,0.9-0.3c0.8,0,1.5,0.6,1.5,1.5c0,0.9-0.7,1.5-1.5,1.5c-0.7,0-1.1-0.3-1.4-0.8
                      C4.4,5.6,4.4,4.9,4.4,4.5c0-1.6,0.8-2.9,2.5-3.7L7.1,1.3z"></path>
                    </svg>
                  </figure>
                  <!-- End SVG Quote -->

                  <div class="row">
                    <div class="col-lg-8 mb-3 mb-lg-0">
                      <div class="pr-lg-5">
                        <blockquote class="h3 font-weight-normal mb-4">I'm absolutely floored by the level of care and attention to detail the team at Htmlstream have put into this theme and for one can guarantee that I will be a return customer.</blockquote>
                        <div class="media">
                          <div class="avatar avatar-xs avatar-circle d-lg-none mr-2">
                            <img class="avatar-img" src="https://streamlabs.nyc3.cdn.digitaloceanspaces.com/assets/img/100x100/img19.jpg" alt="Image Description">
                          </div>
                          <div class="media-body">
                            <span class="text-dark font-weight-bold">Lewis</span>
                            <span class="font-size-1">— happy customer</span>
                          </div>
                        </div>
                      </div>
                    </div>

                    <div class="col-lg-4 column-divider-lg">
                      <hr class="d-lg-none">

                      <div class="pl-lg-5">
                        <span class="h1 text-primary">3,500+</span>
                        <p class="font-size-1">Leaders use Front to build a startup, ecommerce, portfolio and many more websites.</p>
                        <a class="font-size-1 text-nowrap" href="#">Read the case studies <i class="fas fa-angle-right fa-sm ml-1"></i></a>
                      </div>
                    </div>
                  </div>
                </div>
                <!-- End Card Body -->
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
    <section class="mg-y-100">
      <div class="container">
        <!-- Title -->
        <div class="wd-md-80p wd-lg-50p tx-center mg-md-x-auto mb-5 mb-md-9">
          <span class="d-block small font-weight-bold text-cap mb-2">Success stories</span>
          <h2>See how Front is helping teams get organized and work smarter</h2>
        </div>
        <!-- End Title -->

        <div class="row">
          <div class="col-sm-6 col-md-4 mb-5">
            <!-- Card Info -->
            <div class="card h-100">
              <img class="card-img-top" src="@/assets/images/img/img13.jpg" alt="Image Description">
              <div class="card-body">
                <div class="mx-wd-150 w-100p mb-3">
                  <img class="img-fluid" src="@/assets/images/svg/amazon-original.svg" alt="Logo">
                </div>
                <p class="mb-0">Amazon launched their enterprise platform and built a powerful user experience.</p>
              </div>
              <div class="card-footer">
                <a class="font-weight-bold" href="customer-story.html">Read story <i class="fas fa-angle-right fa-sm ml-1"></i></a>
              </div>
            </div>
            <!-- End Card Info -->
          </div>

          <div class="col-sm-6 col-md-4 mb-5">
            <!-- Card Info -->
            <div class="card h-100">
              <img class="card-img-top" src="@/assets/images/img/img14.jpg" alt="Image Description">
              <div class="card-body">
                <div class="mx-wd-150 w-100p mb-3">
                  <img class="img-fluid" src="@/assets/images/svg/paypal-original.svg" alt="Logo">
                </div>
                <p class="mb-0">Front Projects has proved to be most efficient cloud based project tracking and bug tracking tool.</p>
              </div>
              <div class="card-footer">
                <a class="font-weight-bold" href="customer-story.html">Read story <i class="fas fa-angle-right fa-sm ml-1"></i></a>
              </div>
            </div>
            <!-- End Card Info -->
          </div>

          <div class="col-sm-6 col-md-4 mb-5">
            <!-- Card Info -->
            <div class="card h-100">
              <img class="card-img-top" src="@/assets/images/img/img27.jpg" alt="Image Description">
              <div class="card-body">
                <div class="mx-wd-150 w-100p mb-3">
                  <img class="img-fluid" src="@/assets/images/svg/hubspot-original.svg" alt="Logo">
                </div>
                <p class="mb-0">Visitors can build a form or survey before signing up, but in order to save and share it, they need to create an account.</p>
              </div>
              <div class="card-footer">
                <a class="font-weight-bold" href="customer-story.html">Read story <i class="fas fa-angle-right fa-sm ml-1"></i></a>
              </div>
            </div>
            <!-- End Card Info -->
          </div>
        </div>
      </div>
    </section>
    <section class="mg-y-100">
      <div class="container">
        <!-- Title -->
        <div class="wd-md-80p w-lg-60 tx-center mg-md-x-auto mb-6">
          <h2>Trusted by Open Source, enterprise, and more than 33,000 of you</h2>
        </div>
        <!-- End Title -->
        <!-- Clients -->
        <div class="row justify-content-sm-center tx-center">
          <div class="col-4 col-sm-2 mg-b-50">
            <img class="mx-wd-90 mx-wd-md-110 mg-x-auto" src="@/assets/images/svg/slack.svg" alt="Image Description">
          </div>
          <div class="col-4 col-sm-2 mg-b-50">
            <img class="mx-wd-90 mx-wd-md-110 mg-x-auto" src="@/assets/images/svg/stripe.svg" alt="Image Description">
          </div>
          <div class="col-4 col-sm-2 mg-b-50">
            <img class="mx-wd-90 mx-wd-md-110 mg-x-auto" src="@/assets/images/svg/airbnb.svg" alt="Image Description">
          </div>
          <div class="col-4 col-sm-2 mg-b-50">
            <img class="mx-wd-90 mx-wd-md-110 mg-x-auto" src="@/assets/images/svg/weebly.svg" alt="Image Description">
          </div>
          <div class="col-4 col-sm-2 mg-b-50">
            <img class="mx-wd-90 mx-wd-md-110 mg-x-auto" src="@/assets/images/svg/spotify.svg" alt="Image Description">
          </div>
          <div class="col-4 col-sm-2 mg-b-50">
            <img class="mx-wd-90 mx-wd-md-110 mg-x-auto" src="@/assets/images/svg/uber.svg" alt="Image Description">
          </div>
          <div class="d-none d-sm-block wd-100p"></div>
          <div class="col-4 col-sm-2 mg-b-50 mb-sm-0">
            <img class="mx-wd-90 mx-wd-md-110 mg-x-auto" src="@/assets/images/svg/shopify.svg" alt="Image Description">
          </div>
          <div class="col-4 col-sm-2 mg-b-50 mb-sm-0">
            <img class="mx-wd-90 mx-wd-md-110 mg-x-auto" src="@/assets/images/svg/fitbit.svg" alt="Image Description">
          </div>
          <div class="col-4 col-sm-2 mg-b-50 mb-sm-0">
            <img class="mx-wd-90 mx-wd-md-110 mg-x-auto" src="@/assets/images/svg/hubspot.svg" alt="Image Description">
          </div>
          <div class="col-4 col-sm-2">
            <img class="mx-wd-90 mx-wd-md-110 mg-x-auto" src="@/assets/images/svg/kaplan.svg" alt="Image Description">
          </div>
          <div class="col-4 col-sm-2">
            <img class="mx-wd-90 mx-wd-md-110 mg-x-auto" src="@/assets/images/svg/paypal.svg" alt="Image Description">
          </div>
        </div>
        <!-- End Clients -->
      </div>
    </section>
    <section class="mg-y-100">
      <div id="featuresSection" class="container">
        <!-- Title -->
        <div class="w-md-75 wd-lg-50p tx-center mg-md-x-auto mb-5 mb-md-9">
          <h2 class="h1">Key benefits</h2>
          <p>Design faster with a growing array of beautiful templates.</p>
        </div>
        <!-- End Title -->

        <div class="row mx-n2">
          <div class="col-sm-6 col-lg-3 px-2 mb-3 mb-lg-0">
            <!-- Icon Blocks -->
            <a class="card h-100 transition-3d-hover" href="#">
              <div class="card-body">
                <figure class="mx-wd-45 wd-100p mb-3">
                  <img class="img-fluid" src="@/assets/images/svg/icon-9.svg" alt="SVG">
                </figure>
                <h4>Responsive</h4>
                <p class="font-size-1 text-body mb-0">Front is an incredibly beautiful, fully responsive, and mobile-first projects on the web.</p>
              </div>
              <div class="card-footer border-0 pt-0">
                <span class="font-size-1">Learn more <i class="fas fa-angle-right fa-sm ml-1"></i></span>
              </div>
            </a>
            <!-- End Icon Blocks -->
          </div>

          <div class="col-sm-6 col-lg-3 px-2 mb-3 mb-lg-0">
            <!-- Icon Blocks -->
            <a class="card h-100 transition-3d-hover" href="#">
              <div class="card-body">
                <figure class="mx-wd-45 wd-100p mb-3">
                  <img class="img-fluid" src="@/assets/images/svg/icon-3.svg" alt="SVG">
                </figure>
                <h4>Customizable</h4>
                <p class="font-size-1 text-body mb-0">Front template can be easily customized with its cutting-edge components and features.</p>
              </div>
              <div class="card-footer border-0 pt-0">
                <span class="font-size-1">Learn more <i class="fas fa-angle-right fa-sm ml-1"></i></span>
              </div>
            </a>
            <!-- End Icon Blocks -->
          </div>

          <div class="col-sm-6 col-lg-3 px-2 mb-3 mb-sm-0">
            <!-- Icon Blocks -->
            <a class="card h-100 transition-3d-hover" href="#">
              <div class="card-body">
                <figure class="mx-wd-45 wd-100p mb-3">
                  <img class="img-fluid" src="@/assets/images/svg/icon-5.svg" alt="SVG">
                </figure>
                <h4>Premium <span class="badge badge-success badge-pill ml-1">sketch</span></h4>
                <p class="font-size-1 text-body mb-0">Front is not only for developers but also for designers, and includes a Sketch file.</p>
              </div>
              <div class="card-footer border-0 pt-0">
                <span class="font-size-1">Learn more <i class="fas fa-angle-right fa-sm ml-1"></i></span>
              </div>
            </a>
            <!-- End Icon Blocks -->
          </div>

          <div class="col-sm-6 col-lg-3 px-2">
            <!-- Icon Blocks -->
            <a class="card h-100 transition-3d-hover" href="#">
              <div class="card-body">
                <figure class="mx-wd-45 wd-100p mb-3">
                  <img class="img-fluid" src="@/assets/images/svg/icon-2.svg" alt="SVG">
                </figure>
                <h4>Documentation</h4>
                <p class="font-size-1 text-body mb-0">Every component and plugin is well documented with live examples.</p>
              </div>
              <div class="card-footer border-0 pt-0">
                <span class="font-size-1">Learn more <i class="fas fa-angle-right fa-sm ml-1"></i></span>
              </div>
            </a>
            <!-- End Icon Blocks -->
          </div>
        </div>
      </div>
    </section>
    <section class="mg-b-80">
      <div class="container">
        <!-- Title -->
        <div class="wd-lg-50p mb-5 mb-md-9 mg-x-auto tx-center">
          <h2 class="h1">Front worklfow is loved by users worldwide</h2>
        </div>
        <!-- End Title -->
        <!-- Testimonials Section -->
        <div class="row">
          <!-- Testimonials -->
          <div class="col-md-6 col-lg-4 mb-3 mb-md-5 mb-lg-0">
            <div class="card h-100">
              <div class="card-body">
                <ul class="list-inline text-warning">
                  <li class="list-inline-item mx-0">
                    <i class="fas fa-star"></i>
                  </li>
                  <li class="list-inline-item mx-0">
                    <i class="fas fa-star"></i>
                  </li>
                  <li class="list-inline-item mx-0">
                    <i class="fas fa-star"></i>
                  </li>
                  <li class="list-inline-item mx-0">
                    <i class="fas fa-star"></i>
                  </li>
                  <li class="list-inline-item mx-0">
                    <i class="fas fa-star"></i>
                  </li>
                </ul>
                <div class="mb-auto">
                  <p class="text-dark mb-0">With Front Pay, you can check out across the web and in apps without having to enter any payment information.</p>
                </div>
              </div>

              <div class="card-footer border-0 bg-transparent pt-0 px-5 pb-5">
                <div class="media align-items-center">
                  <div class="avatar avatar-circle mr-3">
                    <img class="avatar-img" src="@/assets/images/img/img2.jpg" alt="Image Description">
                  </div>
                  <div class="media-body">
                    <h4 class="mb-0">Christina Kray</h4>
                    <small class="d-block text-body">Business Manager</small>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <!-- End Testimonials -->
          <!-- Testimonials -->
          <div class="col-md-6 col-lg-4 mb-3 mb-md-5 mb-lg-0">
            <div class="card h-100">
              <div class="card-body">
                <ul class="list-inline text-warning">
                  <li class="list-inline-item mx-0">
                    <i class="fas fa-star"></i>
                  </li>
                  <li class="list-inline-item mx-0">
                    <i class="fas fa-star"></i>
                  </li>
                  <li class="list-inline-item mx-0">
                    <i class="fas fa-star"></i>
                  </li>
                  <li class="list-inline-item mx-0">
                    <i class="fas fa-star"></i>
                  </li>
                  <li class="list-inline-item mx-0">
                    <i class="fas fa-star"></i>
                  </li>
                </ul>
                <div class="mb-auto">
                  <p class="text-dark mb-0">From boarding passes to transit and movie tickets, there's pretty much nothing you can't store with Front Pay.</p>
                </div>
              </div>

              <div class="card-footer border-0 bg-transparent pt-0 px-5 pb-5">
                <div class="media align-items-center">
                  <div class="avatar avatar-circle mr-3">
                    <img class="avatar-img" src="@/assets/images/img/img111.jpg" alt="Image Description">
                  </div>
                  <div class="media-body">
                    <h4 class="mb-0">Massalha Shady</h4>
                    <small class="d-block text-body">CEO at Slack</small>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <!-- End Testimonials -->
          <!-- Testimonials -->
          <div class="col-md-6 col-lg-4">
            <div class="card h-100">
              <div class="card-body">
                <ul class="list-inline text-warning">
                  <li class="list-inline-item mx-0">
                    <i class="fas fa-star"></i>
                  </li>
                  <li class="list-inline-item mx-0">
                    <i class="fas fa-star"></i>
                  </li>
                  <li class="list-inline-item mx-0">
                    <i class="fas fa-star"></i>
                  </li>
                  <li class="list-inline-item mx-0">
                    <i class="fas fa-star"></i>
                  </li>
                  <li class="list-inline-item mx-0">
                    <i class="fas fa-star"></i>
                  </li>
                </ul>
                <div class="mb-auto">
                  <p class="text-dark mb-0">I love Front Pay for cash back, reward points and fraud protection – just like when you're swiping your card.</p>
                </div>
              </div>

              <div class="card-footer border-0 bg-transparent pt-0 px-5 pb-5">
                <div class="media align-items-center">
                  <div class="avatar avatar-circle mr-3">
                    <img class="avatar-img" src="@/assets/images/img/img4.jpg" alt="Image Description">
                  </div>
                  <div class="media-body">
                    <h4 class="mb-0">Mark McManus</h4>
                    <small class="d-block text-body">Front Pay user</small>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <!-- End Testimonials -->
        </div>
      </div>
    </section>
    <!-- /.container -->
  </v-layout>
</template>

<script>
// @ is an alias to /src
import VLayout from '@/layouts/Default.vue'

export default {
  /**
  * The name of the page.
  */
  name: 'relationship',

  /**
  * The components that the page can use.
  */
  components: {
    VLayout
  }
}
</script>
