<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="robots" content="noindex">
    <meta name="googlebot" content="noindex">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <link rel="icon" href="/favicon.ico">
    <title>@ViewData["Title"]</title>
    
    <link rel="stylesheet" href="~/css/main.451e4672d71b670bcc70.css">
    
</head>
<body>
    <noscript>
        <strong>We're sorry but doesn't work properly without JavaScript enabled. Please enable it to continue.</strong>
    </noscript>
    @RenderBody()
    
    <script src="~/js/chunk-vendors.js" asp-append-version="true" data-turbolinks-track="reload" data-turbolinks-suppress-warning=""></script>
    
    <script src="~/js/main.451e4672d71b670bcc70.js" asp-append-version="true" data-turbolinks-track="reload" data-turbolinks-suppress-warning=""></script>
    
    @RenderSection("Scripts", required: false)
</body>
</html>