﻿@layout WebBlazorApp.Pages.Account.Setting.SideBar
@page "/account/setting/language/"

<div class="col-lg-9 mb-4">
    <div class="card mb-4">
        <div class="card-header">Change Language</div>
        <div class="card-body">
            <form>
                <!-- form row -->
                <div class="form-row">
                    <!-- form column -->
                    <label for="language" class="col-md-3">Language</label> <!-- /form column -->
                    <!-- form column -->
                    <div class="col-md-9 mb-3">
                        <select class="form-control" value="_profileModel.Language" id="language">
                            <option value="">select your default language</option>
                            <option value="en">Anglais</option>
                            <option value="fr">Français</option>
                        </select>
                        
                    </div><!-- /form column -->
                </div><!-- /form row -->
                <!-- form row -->
                <hr>
                <!-- .form-actions -->
                <div class="form-actions">
                    <button type="submit" class="btn btn-primary ml-auto">Update Language settings</button>
                </div><!-- /.form-actions -->
            </form><!-- /form -->
        </div>
    </div>
</div>

@code {

}