﻿@layout WebBlazorApp.Pages.Account.Setting.SideBar
@page "/account/setting/notification/"

<div class="col-lg-9 mb-4">
    <div class="container mt-4">
        <!-- Account page navigation-->
        <nav class="nav nav-borders">
            <a class="nav-link ml-0" href="account-profile.html">Profile</a>
            <a class="nav-link" href="account-billing.html">Billing</a>
            <a class="nav-link" href="account-security.html">Security</a>
            <a class="nav-link active" href="account-notifications.html">Notifications</a>
        </nav>
        <hr class="mt-0 mb-4">
        <!-- Email notifications preferences card-->
        <div class="card card-header-actions mb-4">
            <div class="card-header">
                Email Notifications
                <div class="custom-control custom-switch mt-n2">
                    <input class="custom-control-input" id="emailToggleSwitch" type="checkbox" checked="">
                    <label class="custom-control-label" for="emailToggleSwitch"></label>
                </div>
            </div>
            <div class="card-body">
                <form>
                    <!-- Form Group (default email)-->
                    <div class="form-group">
                        <label class="small mb-1" for="inputNotificationEmail">Default notification email</label>
                        <input class="form-control" id="inputNotificationEmail" type="email" value="name@example.com" disabled="">
                    </div>
                    <!-- Form Group (email updates checkboxes)-->
                    <div class="form-group mb-0">
                        <label class="small mb-1">Choose which types of email updates you receive</label>
                        <div class="custom-control custom-checkbox">
                            <input class="custom-control-input" id="checkAccountChanges" type="checkbox" checked="">
                            <label class="custom-control-label" for="checkAccountChanges">Changes made to your account</label>
                        </div>
                        <div class="custom-control custom-checkbox">
                            <input class="custom-control-input" id="checkAccountGroups" type="checkbox" checked="">
                            <label class="custom-control-label" for="checkAccountGroups">Changes are made to groups you're part of</label>
                        </div>
                        <div class="custom-control custom-checkbox">
                            <input class="custom-control-input" id="checkProductUpdates" type="checkbox" checked="">
                            <label class="custom-control-label" for="checkProductUpdates">Product updates for products you've purchased or starred</label>
                        </div>
                        <div class="custom-control custom-checkbox">
                            <input class="custom-control-input" id="checkProductNew" type="checkbox" checked="">
                            <label class="custom-control-label" for="checkProductNew">Information on new products and services</label>
                        </div>
                        <div class="custom-control custom-checkbox">
                            <input class="custom-control-input" id="checkPromotional" type="checkbox">
                            <label class="custom-control-label" for="checkPromotional">Marketing and promotional offers</label>
                        </div>
                        <div class="custom-control custom-checkbox">
                            <input class="custom-control-input" id="checkSecurity" type="checkbox" checked="" disabled="">
                            <label class="custom-control-label" for="checkSecurity">Security alerts</label>
                        </div>
                    </div>
                </form>
            </div>
        </div>
        <!-- SMS push notifications card-->
        <div class="card card-header-actions mb-4">
            <div class="card-header">
                Push Notifications
                <div class="custom-control custom-switch mt-n2">
                    <input class="custom-control-input" id="smsToggleSwitch" type="checkbox" checked="">
                    <label class="custom-control-label" for="smsToggleSwitch"></label>
                </div>
            </div>
            <div class="card-body">
                <form>
                    <!-- Form Group (default SMS number)-->
                    <div class="form-group">
                        <label class="small mb-1" for="inputNotificationSms">Default SMS number</label>
                        <input class="form-control" id="inputNotificationSms" type="tel" value="123-456-7890" disabled="">
                    </div>
                    <!-- Form Group (SMS updates checkboxes)-->
                    <div class="form-group mb-0">
                        <label class="small mb-1">Choose which types of push notifications you receive</label>
                        <div class="custom-control custom-checkbox">
                            <input class="custom-control-input" id="checkSmsComment" type="checkbox" checked="">
                            <label class="custom-control-label" for="checkSmsComment">Someone comments on your post</label>
                        </div>
                        <div class="custom-control custom-checkbox">
                            <input class="custom-control-input" id="checkSmsShare" type="checkbox">
                            <label class="custom-control-label" for="checkSmsShare">Someone shares your post</label>
                        </div>
                        <div class="custom-control custom-checkbox">
                            <input class="custom-control-input" id="checkSmsFollow" type="checkbox" checked="">
                            <label class="custom-control-label" for="checkSmsFollow">A user follows your account</label>
                        </div>
                        <div class="custom-control custom-checkbox">
                            <input class="custom-control-input" id="checkSmsGroup" type="checkbox">
                            <label class="custom-control-label" for="checkSmsGroup">New posts are made in groups you're part of</label>
                        </div>
                        <div class="custom-control custom-checkbox">
                            <input class="custom-control-input" id="checkSmsPrivateMessage" type="checkbox" checked="">
                            <label class="custom-control-label" for="checkSmsPrivateMessage">You receive a private message</label>
                        </div>
                    </div>
                </form>
            </div>
        </div>
        <div class="card">
            <div class="card-header">Notification Preferences</div>
            <div class="card-body">
                <form>
                    <!-- Form Group (notification preference checkboxes)-->
                    <div class="form-group">
                        <div class="custom-control custom-checkbox">
                            <input class="custom-control-input" id="checkAutoGroup" type="checkbox" checked="">
                            <label class="custom-control-label" for="checkAutoGroup">Automatically subscribe to group notifications</label>
                        </div>
                        <div class="custom-control custom-checkbox">
                            <input class="custom-control-input" id="checkAutoProduct" type="checkbox">
                            <label class="custom-control-label" for="checkAutoProduct">Automatically subscribe to new product notifications</label>
                        </div>
                    </div>
                    <!-- Submit button-->
                    <button class="btn btn-danger-soft text-danger">Unsubscribe from all notifications</button>
                </form>
            </div>
        </div>
    </div>
</div>

@code {

}
