﻿@layout WebBlazorApp.Pages.Account.Setting.SideBar
@page "/account/setting/role/"

<div class="col-lg-9 mb-4">
    <h2>Section Heading</h2>
    <p>Lorem ipsum dolor sitd amet, consectetur adipisicing elit. Soluta, et temporibus, facere perferendis veniam beatae non debitis, numquam blanditiis necessitatibus vel mollitia dolorum laudantium, voluptate dolores iure maxime ducimus fugit.</p>
</div>

@code {

}
