﻿@layout DashBoardLayout
@inherits LayoutComponentBase


        <!-- Page Heading/Breadcrumbs -->
        <h1 class="mt-4 mb-3">
            Sidebar Page
            <small>Subheading</small>
        </h1>

        <ol class="breadcrumb">
            <li class="breadcrumb-item">
                <a href="index.html">Home</a>
            </li>
            <li class="breadcrumb-item active">About</li>
        </ol>

        <!-- Content Row -->
        <div class="row">
            <!-- Sidebar Column -->
            <div class="col-lg-3 mb-4">
                <div class="list-group">
                    <NavLink class="list-group-item" href="/account/setting/information/">Information</NavLink>
                    <NavLink class="list-group-item" href="/account/setting/password/">Password</NavLink>
                    <NavLink class="list-group-item" href="/account/setting/twofactor/">Two Factor</NavLink>
                    <NavLink class="list-group-item" href="/account/setting/role/">Role</NavLink>
                    <NavLink class="list-group-item" href="/account/setting/language/">Language</NavLink>
                    <NavLink class="list-group-item" href="/account/setting/notification/">Notification</NavLink>
                    <NavLink class="list-group-item" href="/account/setting/billing/">Billing</NavLink>
                </div>
            </div>
            <!-- Content Column -->
            @Body
        </div>
        <!-- /.row -->
