﻿@layout WebBlazorApp.Pages.Account.Setting.SideBar
@page "/account/setting/twofactor/"

<div class="col-lg-9 mb-4">
    <div class="row justify-content-between align-items-center mb-5">
        <div class="col-12 col-md-9 col-xl-7">

            <!-- Heading -->
            <h2 class="mb-2">
                Two factor security
            </h2>

            <!-- Text -->
            <p class="text-muted mb-md-0">
                Two-factor authentication adds an additional layer of security to your account by requiring more than just a password to log in.
            </p>

        </div>
        <div class="col-12 col-md-auto">

            <!-- Button -->
            <button class="btn btn-primary">
                Enable
            </button>

        </div>
    </div> <!-- / .row -->
    <!-- Card -->
    <div class="card">
        <div class="card-body">

            <!-- List group -->
            <div class="list-group list-group-flush my-n3">
                <div class="list-group-item">
                    <div class="row align-items-center">
                        <div class="col">

                            <!-- Heading -->
                            <h4 class="mb-1">
                                Authenticator app
                            </h4>

                            <!-- Text -->
                            <small class="text-muted">
                                Google auth or 1Password
                            </small>

                        </div>
                        <div class="col-auto">

                            <!-- Button -->
                            <button class="btn btn-sm btn-white">
                                Setup
                            </button>

                        </div>
                    </div> <!-- / .row -->
                </div>
                <div class="list-group-item">
                    <div class="row align-items-center">
                        <div class="col">

                            <!-- Heading -->
                            <h4 class="mb-1">
                                SMS Recovery <i class="fe fe-info text-muted ml-1" data-toggle="tooltip" data-title="We use the the phone number you provide in General" data-original-title="" title=""></i>
                            </h4>

                            <!-- Text -->
                            <small class="text-muted">
                                Standard messaging rates apply
                            </small>

                        </div>
                        <div class="col-auto">

                            <!-- Button -->
                            <button class="btn btn-sm btn-danger">
                                Disable
                            </button>

                        </div>
                    </div> <!-- / .row -->
                </div>
                <div class="list-group-item">
                    <div class="row align-items-center">
                        <div class="col">

                            <!-- Heading -->
                            <h4 class="mb-1">
                                Recovery codes <i class="fe fe-info text-muted ml-1" data-toggle="tooltip" data-title="We use the the phone number you provide in General" data-original-title="" title=""></i>
                            </h4>

                            <!-- Text -->
                            <small class="text-muted">
                                Standard messaging rates apply
                            </small>

                        </div>
                        <div class="col-auto">

                            <!-- Button -->
                            <button class="btn btn-sm btn-white">
                                Reveal
                            </button>

                        </div>
                    </div> <!-- / .row -->
                </div>
            </div>

        </div>
    </div>
</div>

@code {

}